Repository contentful/field-editors, changes with the owners that .github/CODEOWNERS names for each.
All owners: @contentful/team-bauhaus, @contentful/team-extensibility, @contentful/team-shelley

feat: use new Modal
  apps/entry-app-collapsible/package.json
  apps/entry-app-collapsible/src/FieldGroupsEditor.tsx
  apps/entry-app-collapsible/src/index.tsx
  packages/_shared/src/ModalDialogLauncher.tsx
  packages/markdown/src/dialogs/CheatsheetModalDialog.tsx
  packages/markdown/src/dialogs/ConfirmInsertAssetModalDialog.tsx
  packages/markdown/src/dialogs/EmdebExternalContentDialog.tsx
  packages/markdown/src/dialogs/InsertLinkModalDialog.tsx
  packages/markdown/src/dialogs/InsertTableModalDialog.tsx
  packages/markdown/src/dialogs/SpecialCharacterModalDialog.tsx
  packages/rich-text/src/dialogs/HypelinkDialog/HyperlinkDialog.jsx
  yarn.lock
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

chore: use controls
  packages/markdown/src/dialogs/InsertLinkModalDialog.tsx
Owners: @contentful/team-bauhaus

fix: revert code with focuses first table cell
  packages/rich-text/src/plugins/EmbeddedEntityBlock/Util.ts
  packages/rich-text/src/plugins/Table/helpers.ts
  packages/rich-text/src/plugins/Table/index.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

test: fix some headings tests
  cypress/integration/RichTextEditor.spec.ts
Owners: @contentful/team-bauhaus

test: remove .only
  cypress/integration/RichTextEditor.spec.ts
Owners: @contentful/team-bauhaus

fix: last adjustments
  package.json
  packages/_shared/src/ModalDialogLauncher.tsx
  packages/markdown/src/components/MarkdownToolbar.tsx
  packages/markdown/src/dialogs/CheatsheetModalDialog.tsx
  packages/markdown/src/dialogs/ConfirmInsertAssetModalDialog.tsx
  packages/markdown/src/dialogs/EmdebExternalContentDialog.tsx
  packages/markdown/src/dialogs/InsertLinkModalDialog.tsx
  packages/markdown/src/dialogs/InsertTableModalDialog.tsx
  packages/markdown/src/dialogs/SpecialCharacterModalDialog.tsx
  packages/markdown/src/utils/userAgent.ts
  packages/reference/src/components/CreateEntryLinkButton/CreateEntryLinkButton.spec.tsx
  packages/rich-text/src/RichTextEditor.jsx
  yarn.lock
Owners: @contentful/team-bauhaus, @contentful/team-shelley

test: fix HR tests
  cypress/integration/RichTextEditor.spec.ts
  packages/rich-text/src/plugins/Hr/index.tsx
  packages/rich-text/src/plugins/Quote/index.tsx
Owners: @contentful/team-bauhaus, @contentful/team-shelley

test: fix headings tests
  cypress/integration/RichTextEditor.spec.ts
Owners: @contentful/team-bauhaus

fix(rich-text): keep lists when toggling quotes (#834)
  packages/rich-text/src/helpers/editor.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

test: fix all tests except hyperlink
  cypress/integration/RichTextEditor.spec.ts
Owners: @contentful/team-bauhaus

chore: downgrade ts-loader
  package.json
  yarn.lock
Owners: @contentful/team-bauhaus

chore: remove commented code
  packages/rich-text/src/plugins/Quote/index.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix(rich-text): force trailing paragraph (#833)
  cypress/integration/RichTextEditor.spec.ts
  packages/rich-text/package.json
  packages/rich-text/src/RichTextEditor.tsx
  packages/rich-text/src/plugins/EmbeddedEntityBlock/Util.ts
  packages/rich-text/src/plugins/Hr/index.tsx
  packages/rich-text/src/plugins/Quote/index.tsx
  packages/rich-text/src/plugins/Table/helpers.ts
  packages/rich-text/src/plugins/Table/index.tsx
  packages/rich-text/src/plugins/TrailingParagraph/index.ts
  yarn.lock
Owners: @contentful/team-bauhaus, @contentful/team-shelley

feat: Integrate Modal v4 (#835)
  apps/entry-app-collapsible/package.json
  apps/entry-app-collapsible/src/FieldGroupsEditor.tsx
  apps/entry-app-collapsible/src/index.tsx
  package.json
  packages/_shared/src/ModalDialogLauncher.tsx
  packages/markdown/src/components/MarkdownToolbar.tsx
  packages/markdown/src/dialogs/CheatsheetModalDialog.tsx
  packages/markdown/src/dialogs/ConfirmInsertAssetModalDialog.tsx
  packages/markdown/src/dialogs/EmdebExternalContentDialog.tsx
  packages/markdown/src/dialogs/InsertLinkModalDialog.tsx
  packages/markdown/src/dialogs/InsertTableModalDialog.tsx
  packages/markdown/src/dialogs/SpecialCharacterModalDialog.tsx
  packages/markdown/src/utils/userAgent.ts
  packages/reference/src/components/CreateEntryLinkButton/CreateEntryLinkButton.spec.tsx
  packages/rich-text/src/RichTextEditor.jsx
  packages/rich-text/src/dialogs/HypelinkDialog/HyperlinkDialog.jsx
  yarn.lock
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

chore: bump @contentful/rich-text version [skip ci]
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

chore: bump @contentful/rich-text version [skip ci] (#836)
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

chore: create insert before first void block global plugin (#831)
  cypress/integration/RichTextEditor.spec.ts
  packages/rich-text/src/RichTextEditor.tsx
  packages/rich-text/src/helpers/editor.ts
  packages/rich-text/src/plugins/InsertBeforeFirstVoidBlock/index.tsx
Owners: @contentful/team-bauhaus, @contentful/team-shelley

chore: upgrade to Cypress v8
  package.json
  yarn.lock
Owners: @contentful/team-bauhaus

test: fix DateEditor tests and enable disabled ones
  cypress/integration/DateEditor.spec.ts
Owners: @contentful/team-bauhaus

test: fix most tests
  cypress/integration/MarkdownEditorCheatsheet.spec.ts
  cypress/integration/MarkdownEditorInsertLink.spec.ts
  cypress/integration/MarkdownEditorInsertTable.spec.ts
  cypress/integration/MarkdownEditorSpecialCharacter.spec.ts
  cypress/integration/MarkdownEmbedExternal.spec.ts
  cypress/integration/MultipleMediaEditor.spec.ts
  cypress/integration/MultipleReferenceEditor.spec.ts
  cypress/support/commands.js
Owners: @contentful/team-bauhaus

chore(ci): upgrade cypress images
  .circleci/config.yml
Owners: @contentful/team-bauhaus

chore: yarn-deduplicate
  yarn.lock
Owners: @contentful/team-bauhaus

chore: fix cypress image version
  .circleci/config.yml
Owners: @contentful/team-bauhaus

refactor: render Table Header
  packages/rich-text/src/plugins/Table/helpers.ts
  packages/rich-text/src/plugins/Table/index.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: respect header on addColumn
  packages/rich-text/src/plugins/Table/TableActions.tsx
  packages/rich-text/src/plugins/Table/actions/addColumn.ts
  packages/rich-text/src/plugins/Table/actions/addRow.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

refactor: disallow adding row above header
  packages/rich-text/src/plugins/Table/TableActions.tsx
  packages/rich-text/src/plugins/Table/helpers.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

style: fix header styling
  packages/rich-text/src/plugins/Table/index.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

refactor: toggle table header
  packages/rich-text/src/plugins/Table/TableActions.tsx
  packages/rich-text/src/plugins/Table/actions/index.ts
  packages/rich-text/src/plugins/Table/actions/setHeader.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: jump to next header cell on TAB
  packages/rich-text/src/plugins/Table/helpers.ts
  packages/rich-text/src/plugins/Table/index.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

test: update integration tests
  cypress/integration/RichTextEditor.spec.ts
  yarn.lock
Owners: @contentful/team-bauhaus

chore: remove console.log
  packages/rich-text/src/plugins/Table/index.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

style: use a heavier font weight for headers
  packages/rich-text/src/plugins/Table/index.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: ignore ts error
  packages/rich-text/src/plugins/Table/index.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

refactor: disable option instead of removing it
  cypress/integration/RichTextEditor.spec.ts
  packages/rich-text/src/plugins/Table/TableActions.tsx
  packages/rich-text/src/plugins/Table/actions/setHeader.ts
  packages/rich-text/src/plugins/Table/index.tsx
Owners: @contentful/team-bauhaus, @contentful/team-shelley

refactor: more consistent code
  packages/rich-text/src/plugins/Table/helpers.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore: use exit break plugin instead
  packages/rich-text/package.json
  packages/rich-text/src/plugins/InsertBeforeFirstVoidBlock/index.tsx
  yarn.lock
Owners: @contentful/team-shelley, @contentful/team-bauhaus

refactor: use exit break plugin instead (#839)
  packages/rich-text/package.json
  packages/rich-text/src/plugins/InsertBeforeFirstVoidBlock/index.tsx
  yarn.lock
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore: fix cypress image version
  .circleci/config.yml
Owners: @contentful/team-bauhaus

chore: upgrade to Cypress v8
  package.json
  yarn.lock
Owners: @contentful/team-bauhaus

test: fix most tests
  cypress/integration/MarkdownEditorCheatsheet.spec.ts
  cypress/integration/MarkdownEditorInsertLink.spec.ts
  cypress/integration/MarkdownEditorInsertTable.spec.ts
  cypress/integration/MarkdownEditorSpecialCharacter.spec.ts
  cypress/integration/MarkdownEmbedExternal.spec.ts
  cypress/integration/MultipleMediaEditor.spec.ts
  cypress/integration/MultipleReferenceEditor.spec.ts
  cypress/support/commands.js
Owners: @contentful/team-bauhaus

.github/CODEOWNERS:

*                      @contentful/team-bauhaus

apps/                  @contentful/team-extensibility
packages/rich-text/    @contentful/team-shelley @contentful/team-bauhaus
packages/reference/    @contentful/team-shelley @contentful/team-bauhaus
