Repository contentful/field-editors, changes with the owners that .github/CODEOWNERS names for each.
All owners: @contentful/team-bauhaus, @contentful/team-extensibility, @contentful/team-shelley

chore: bump rte next to 2.0.0-next.0
  apps/entry-app-collapsible/package.json
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
  yarn.lock
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

test: adjust entity widget selectors
  packages/rich-text/src/plugins/EmbeddedEntity/index.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore: update selector
  cypress/integration/RichTextEditor.spec.ts
Owners: @contentful/team-bauhaus

fix: updated dropdown selector
  cypress/integration/RichTextEditor.spec.ts
Owners: @contentful/team-bauhaus

WIP revert recent connector changes that might cause issues with Cypress RT tests
  cypress/integration/RichTextEditor.spec.ts
  packages/_shared/src/FieldConnector.ts
Owners: @contentful/team-bauhaus

chore: upgrade Cypress back to v8 as before merge PR
  package.json
  yarn.lock
Owners: @contentful/team-bauhaus

fix: update selectors
  cypress/integration/RichTextEditor.spec.ts
  packages/rich-text/src/dialogs/HypelinkDialog/HyperlinkDialog.jsx
  packages/rich-text/src/plugins/EmbeddedEntity/index.tsx
  packages/rich-text/src/plugins/Hyperlink/HyperlinkModal.tsx
  packages/rich-text/src/plugins/Table/TableActions.tsx
  packages/rich-text/src/plugins/shared/FetchingWrappedEntryCard.tsx
Owners: @contentful/team-bauhaus, @contentful/team-shelley

fix(wip): workaround with normalization
  packages/rich-text/package.json
  packages/rich-text/src/ContentfulEditorProvider.ts
  packages/rich-text/src/RichTextEditor.tsx
  packages/rich-text/src/plugins/List/index.tsx
  yarn.lock
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: failing embed tests
  cypress/integration/RichTextEditor.spec.ts
  packages/rich-text/src/plugins/EmbeddedEntityInline/FetchingWrappedInlineEntryCard.tsx
Owners: @contentful/team-bauhaus, @contentful/team-shelley

fix: editor not selected after inserting heading
  cypress/integration/RichTextEditor.spec.ts
  packages/rich-text/src/plugins/Heading/index.tsx
Owners: @contentful/team-bauhaus, @contentful/team-shelley

chore: bump rte next to 2.0.0-next.0 (#912)
  apps/entry-app-collapsible/package.json
  apps/rich-text-app/package.json
  cypress/integration/RichTextEditor.spec.ts
  package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
  packages/rich-text/src/dialogs/HypelinkDialog/HyperlinkDialog.jsx
  packages/rich-text/src/plugins/EmbeddedEntity/index.tsx
  packages/rich-text/src/plugins/EmbeddedEntityInline/FetchingWrappedInlineEntryCard.tsx
  packages/rich-text/src/plugins/Heading/index.tsx
  packages/rich-text/src/plugins/Hyperlink/HyperlinkModal.tsx
  packages/rich-text/src/plugins/Table/TableActions.tsx
  packages/rich-text/src/plugins/shared/FetchingWrappedEntryCard.tsx
  yarn.lock
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

chore: bring yarn.lock back
  lerna.json
Owners: @contentful/team-bauhaus

chore: 🤖 use yarn for lerna
  lerna.json
Owners: @contentful/team-bauhaus

chore: add wait for markdown editor
  cypress/integration/MarkdownEditorInsertLink.spec.ts
Owners: @contentful/team-bauhaus

chore: update expectation
  cypress/integration/MarkdownEditorInsertLink.spec.ts
Owners: @contentful/team-bauhaus

chore: fix e2e test
  cypress/integration/MarkdownEditorInsertLink.spec.ts
Owners: @contentful/team-bauhaus

fix: mitigate flaky cypress tests
  cypress/integration/RichTextEditor.spec.ts
  cypress/support/commands.js
Owners: @contentful/team-bauhaus

chore: retry failed tests
  cypress.json
Owners: @contentful/team-bauhaus

fix: mitigate flaky cypress tests (#917)
  cypress.json
  cypress/integration/RichTextEditor.spec.ts
  cypress/support/commands.js
Owners: @contentful/team-bauhaus

refactor: turn ToolbarButton into function component
  packages/rich-text/src/plugins/Bold/index.tsx
  packages/rich-text/src/plugins/Code/index.tsx
  packages/rich-text/src/plugins/Hr/index.tsx
  packages/rich-text/src/plugins/Hyperlink/index.tsx
  packages/rich-text/src/plugins/Italic/index.tsx
  packages/rich-text/src/plugins/List/index.tsx
  packages/rich-text/src/plugins/Quote/index.tsx
  packages/rich-text/src/plugins/Table/index.tsx
  packages/rich-text/src/plugins/Underline/index.tsx
  packages/rich-text/src/plugins/shared/ToolbarButton.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: overwrite getListInsertFragment
  packages/rich-text/package.json
  packages/rich-text/src/RichTextEditor.tsx
  packages/rich-text/src/helpers/deserializer.ts
  packages/rich-text/src/helpers/editor.ts
  packages/rich-text/src/plugins/EmbeddedEntityBlock/index.tsx
  packages/rich-text/src/plugins/EmbeddedEntityInline/FetchingWrappedInlineEntryCard.tsx
  packages/rich-text/src/plugins/Heading/index.tsx
  packages/rich-text/src/plugins/Hr/index.tsx
  packages/rich-text/src/plugins/Hyperlink/HyperlinkModal.tsx
  packages/rich-text/src/plugins/List/getListInsertFragment.ts
  packages/rich-text/src/plugins/List/index.tsx
  packages/rich-text/src/plugins/NewLine/index.tsx
  packages/rich-text/src/plugins/Paste/index.tsx
  packages/rich-text/src/plugins/Paste/sanitizers/helpers.tsx
  packages/rich-text/src/plugins/Quote/index.tsx
  packages/rich-text/src/plugins/Table/TableActions.tsx
  packages/rich-text/src/plugins/Table/actions/addColumn.ts
  packages/rich-text/src/plugins/Table/actions/addRow.ts
  packages/rich-text/src/plugins/Table/actions/setHeader.ts
  packages/rich-text/src/plugins/Table/helpers.ts
  packages/rich-text/src/plugins/Table/index.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: paste text content of paste buffer
  packages/rich-text/src/plugins/List/getListInsertFragment.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore: add a note
  packages/rich-text/src/plugins/List/getListInsertFragment.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore: remove relative-deps
  packages/rich-text/package.json
  yarn.lock
Owners: @contentful/team-shelley, @contentful/team-bauhaus

ci: build via matrix
  .circleci/config.yml
Owners: @contentful/team-bauhaus

ci: build via matrix (#920)
  .circleci/config.yml
Owners: @contentful/team-bauhaus

test: groundwork to test pasting
  cypress/integration/rich-text/RichTextEditor.Pasting.spec.ts
  cypress/integration/rich-text/RichTextEditor.spec.ts
  cypress/integration/rich-text/utils.ts
  cypress/tsconfig.json
  package.json
  packages/rich-text/src/ClipboardCapture.mdx
  packages/rich-text/src/RichTextEditor.mdx
  patches/slate-react+0.69.0.patch
  yarn.lock
Owners: @contentful/team-bauhaus, @contentful/team-shelley

refactor: move paste command
  cypress/integration/rich-text/RichTextEditor.Pasting.spec.ts
  cypress/support/commands.js
  cypress/support/index.d.ts
Owners: @contentful/team-bauhaus

docs: add explanation on how to get clipboard data
  cypress/integration/rich-text/README.md
  cypress/integration/rich-text/RichTextEditor.Pasting.spec.ts
  cypress/integration/rich-text/getting-clipboard-data.gif
  cypress/integration/rich-text/pasting-into-test.gif
  packages/rich-text/src/ClipboardCapture.mdx
Owners: @contentful/team-bauhaus, @contentful/team-shelley

fix: disable embedding inline entries in hyperlinks
  packages/rich-text/src/Toolbar/EmbedEntityWidget.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: respect non textual divs
  packages/rich-text/src/plugins/Paragraph/index.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: no nested paragraphs
  packages/rich-text/src/plugins/Paragraph/index.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: deserialize div as paragraph
  packages/rich-text/src/plugins/Paragraph/index.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: disable embedding inline entries in hyperlinks (#913)
  packages/rich-text/src/Toolbar/EmbedEntityWidget.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore: update rich-text packages
  package.json
  packages/rich-text/package.json
  yarn.lock
Owners: @contentful/team-bauhaus, @contentful/team-shelley

test: basic pasting test (#921)
  cypress/integration/rich-text/README.md
  cypress/integration/rich-text/RichTextEditor.Pasting.spec.ts
  cypress/integration/rich-text/RichTextEditor.spec.ts
  cypress/integration/rich-text/getting-clipboard-data.gif
  cypress/integration/rich-text/pasting-into-test.gif
  cypress/integration/rich-text/utils.ts
  cypress/support/commands.js
  cypress/support/index.d.ts
  cypress/tsconfig.json
  package.json
  packages/rich-text/src/ClipboardCapture.mdx
  packages/rich-text/src/RichTextEditor.mdx
  patches/slate-react+0.69.0.patch
  yarn.lock
Owners: @contentful/team-bauhaus, @contentful/team-shelley

test: if paragraphs for embedded blocks are being added correctly
  cypress/integration/rich-text/RichTextEditor.spec.ts
Owners: @contentful/team-bauhaus

feat: add empty paragraph between embedded blocks
  packages/rich-text/src/plugins/InsertBeforeFirstVoidBlock/index.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

refactor: move trigger keys to a variable
  cypress/integration/rich-text/RichTextEditor.spec.ts
Owners: @contentful/team-bauhaus

test(refactor): change editor focus and name to be more accurate
  cypress/integration/rich-text/RichTextEditor.spec.ts
Owners: @contentful/team-bauhaus

.github/CODEOWNERS:

*                      @contentful/team-bauhaus

apps/                  @contentful/team-extensibility
packages/rich-text/    @contentful/team-shelley @contentful/team-bauhaus
packages/reference/    @contentful/team-shelley @contentful/team-bauhaus
