Repository contentful/field-editors, changes with the owners that .github/CODEOWNERS names for each.
All owners: @contentful/team-bauhaus, @contentful/team-extensibility, @contentful/team-shelley

build: boostrap
  .circleci/config.yml
Owners: @contentful/team-bauhaus

build: revert changes in circle configs
  .circleci/config.yml
Owners: @contentful/team-bauhaus

refactor: remove sanitizeSlateDoc helper
  packages/rich-text/src/RichTextEditor.tsx
  packages/rich-text/src/helpers/sanitizeSlateDoc.ts
  packages/rich-text/src/plugins/Normalizer/types.ts
  packages/rich-text/src/plugins/Normalizer/utils.ts
  packages/rich-text/src/plugins/Normalizer/withNormalizer.ts
  packages/rich-text/src/plugins/Paragraph/__tests__/createParagraphPlugin.test.tsx
  packages/rich-text/src/plugins/Paragraph/createParagraphPlugin.ts
  packages/rich-text/src/plugins/Paragraph/utils.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

test: add typescript auto-completion
  packages/rich-text/src/plugins/List/__tests__/normalization.test.tsx
  packages/rich-text/src/plugins/Normalizer/createNormalizerPlugin.test.tsx
  packages/rich-text/src/plugins/Paragraph/__tests__/createParagraphPlugin.test.tsx
  packages/rich-text/src/plugins/Quote/__test__/createQuotePlugin.test.tsx
  packages/rich-text/src/plugins/Table/__tests__/createTablePlugin.test.tsx
  packages/rich-text/src/test-utils/hyperscript.d.ts
  packages/rich-text/src/test-utils/jsx.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

refactor: group toolbar components
  packages/rich-text/src/RichTextEditor.tsx
  packages/rich-text/src/Toolbar/components/EmbedEntityWidget.tsx
  packages/rich-text/src/Toolbar/components/EmbeddedEntityDropdownButton.tsx
  packages/rich-text/src/Toolbar/components/StickyToolbarWrapper.tsx
  packages/rich-text/src/Toolbar/index.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

refactor: use is-hotkey
  packages/rich-text/src/plugins/EmbeddedEntityInline/index.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

refactor: fix import
  packages/rich-text/src/helpers/sanitizeSlateDoc.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

refactor: fix a typo
  packages/rich-text/src/plugins/Normalizer/withNormalizer.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

refactor: remove sanitizeSlateDoc helper (#972)
  packages/rich-text/src/RichTextEditor.tsx
  packages/rich-text/src/Toolbar/components/EmbedEntityWidget.tsx
  packages/rich-text/src/Toolbar/components/EmbeddedEntityDropdownButton.tsx
  packages/rich-text/src/Toolbar/components/StickyToolbarWrapper.tsx
  packages/rich-text/src/Toolbar/index.tsx
  packages/rich-text/src/helpers/sanitizeSlateDoc.ts
  packages/rich-text/src/plugins/EmbeddedEntityInline/index.tsx
  packages/rich-text/src/plugins/List/__tests__/normalization.test.tsx
  packages/rich-text/src/plugins/Normalizer/createNormalizerPlugin.test.tsx
  packages/rich-text/src/plugins/Normalizer/types.ts
  packages/rich-text/src/plugins/Normalizer/utils.ts
  packages/rich-text/src/plugins/Normalizer/withNormalizer.ts
  packages/rich-text/src/plugins/Paragraph/__tests__/createParagraphPlugin.test.tsx
  packages/rich-text/src/plugins/Paragraph/createParagraphPlugin.ts
  packages/rich-text/src/plugins/Paragraph/utils.ts
  packages/rich-text/src/plugins/Quote/__test__/createQuotePlugin.test.tsx
  packages/rich-text/src/plugins/Table/__tests__/createTablePlugin.test.tsx
  packages/rich-text/src/test-utils/hyperscript.d.ts
  packages/rich-text/src/test-utils/jsx.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

build: use turborepo
  .gitignore
  package.json
  yarn.lock
Owners: @contentful/team-bauhaus

build: let's try something stupid
  .circleci/config.yml
Owners: @contentful/team-bauhaus

build: use xlarge build containers
  .circleci/config.yml
Owners: @contentful/team-bauhaus

build: limit concurrency
  package.json
Owners: @contentful/team-bauhaus

build: temporarily disable turbo cache
  .circleci/config.yml
Owners: @contentful/team-bauhaus

build: limit concurrency again
  package.json
Owners: @contentful/team-bauhaus

build: oops wrong machine
  .circleci/config.yml
  package.json
Owners: @contentful/team-bauhaus

build: more ram for everyone
  .circleci/config.yml
Owners: @contentful/team-bauhaus

build: re-enable build caching
  .circleci/config.yml
  .gitignore
  package.json
Owners: @contentful/team-bauhaus

build: different cache key
  .circleci/config.yml
Owners: @contentful/team-bauhaus

build: caching was a terrible idea
  .circleci/config.yml
Owners: @contentful/team-bauhaus

build: use default cache dir
  .gitignore
  package.json
Owners: @contentful/team-bauhaus

build: use turborepo (#973)
  .circleci/config.yml
  .gitignore
  package.json
  yarn.lock
Owners: @contentful/team-bauhaus

fix: normalize Paragraph nodes
  packages/rich-text/src/helpers/transformers.ts
  packages/rich-text/src/plugins/Paragraph/__tests__/createParagraphPlugin.test.tsx
  packages/rich-text/src/plugins/Paragraph/createParagraphPlugin.ts
  packages/rich-text/src/plugins/Quote/__test__/createQuotePlugin.test.tsx
  packages/rich-text/src/plugins/Table/__tests__/createTablePlugin.test.tsx
  packages/rich-text/src/test-utils/hyperscript.d.ts
  packages/rich-text/src/test-utils/jsx.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

refactor: normalize Heading nodes
  packages/rich-text/src/helpers/__tests__/extractNodes.test.ts
  packages/rich-text/src/helpers/editor.ts
  packages/rich-text/src/helpers/extractNodes.ts
  packages/rich-text/src/helpers/transformers.ts
  packages/rich-text/src/plugins/Heading/__tests__/createHeadingPlugin.test.tsx
  packages/rich-text/src/plugins/Heading/components/Heading.tsx
  packages/rich-text/src/plugins/Heading/components/ToolbarHeadingButton.tsx
  packages/rich-text/src/plugins/Heading/createHeadingPlugin.ts
  packages/rich-text/src/plugins/Heading/index.tsx
  packages/rich-text/src/plugins/Hyperlink/EntryAssetTooltip.tsx
  packages/rich-text/src/plugins/Hyperlink/truncate.ts
  packages/rich-text/src/plugins/List/createListPlugin.ts
  packages/rich-text/src/plugins/List/utils.ts
  packages/rich-text/src/plugins/Paragraph/createParagraphPlugin.ts
  packages/rich-text/src/plugins/Paragraph/utils.ts
  packages/rich-text/src/plugins/Table/createTablePlugin.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

refactor: support conditional transformations
  packages/rich-text/package.json
  packages/rich-text/src/plugins/Heading/createHeadingPlugin.ts
  packages/rich-text/src/plugins/Normalizer/createNormalizerPlugin.test.tsx
  packages/rich-text/src/plugins/Normalizer/types.ts
  packages/rich-text/src/plugins/Normalizer/utils.ts
  packages/rich-text/src/plugins/Normalizer/withNormalizer.ts
  yarn.lock
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: unwrap nested paragraphs
  packages/rich-text/src/helpers/extractNodes.ts
  packages/rich-text/src/helpers/transformers.ts
  packages/rich-text/src/plugins/Heading/__tests__/createHeadingPlugin.test.tsx
  packages/rich-text/src/plugins/Heading/createHeadingPlugin.ts
  packages/rich-text/src/plugins/Paragraph/__tests__/createParagraphPlugin.test.tsx
  packages/rich-text/src/plugins/Paragraph/createParagraphPlugin.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

refactor: lift tables to root level
  packages/rich-text/src/plugins/List/__tests__/createListPlugin.test.tsx
  packages/rich-text/src/plugins/Table/__tests__/createTablePlugin.test.tsx
  packages/rich-text/src/plugins/Table/createTablePlugin.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

refactor: normalize void elements
  packages/rich-text/src/plugins/Break/createExitBreakPlugin.test.tsx
  packages/rich-text/src/plugins/Break/createExitBreakPlugin.ts
  packages/rich-text/src/plugins/Voids/__tests__/createVoidsPlugin.test.tsx
  packages/rich-text/src/plugins/Voids/createVoidsPlugin.ts
  packages/rich-text/src/plugins/Voids/index.ts
  packages/rich-text/src/plugins/Voids/transformVoid.ts
  packages/rich-text/src/plugins/index.ts
  packages/rich-text/src/test-utils/hyperscript.d.ts
  packages/rich-text/src/test-utils/jsx.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

refactor: normalize blockquotes
  packages/rich-text/src/plugins/Heading/__tests__/createHeadingPlugin.test.tsx
  packages/rich-text/src/plugins/Paragraph/__tests__/createParagraphPlugin.test.tsx
  packages/rich-text/src/plugins/Quote/__test__/createQuotePlugin.test.tsx
  packages/rich-text/src/plugins/Quote/createQuotePlugin.ts
  packages/rich-text/src/plugins/Table/__tests__/createTablePlugin.test.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

refactor: normalize table rows
  packages/rich-text/src/plugins/Table/__tests__/createTablePlugin.test.tsx
  packages/rich-text/src/plugins/Table/createTablePlugin.ts
  packages/rich-text/src/plugins/Table/helpers.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: adding a fix to the eslint configuration
  .eslintrc.js
Owners: @contentful/team-bauhaus

refactor: normalize inline elements
  packages/rich-text/src/plugins/Break/createExitBreakPlugin.test.tsx
  packages/rich-text/src/plugins/Normalizer/baseRules.ts
  packages/rich-text/src/plugins/Normalizer/createNormalizerPlugin.test.tsx
  packages/rich-text/src/plugins/Normalizer/utils.ts
  packages/rich-text/src/plugins/Normalizer/withNormalizer.ts
  packages/rich-text/src/plugins/Paragraph/createParagraphPlugin.ts
  packages/rich-text/src/plugins/Paragraph/utils.ts
  packages/rich-text/src/plugins/Voids/__tests__/createVoidsPlugin.test.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

test: fix integration tests
  cypress/integration/rich-text/RichTextEditor.spec.ts
  packages/rich-text/src/plugins/Table/components/TableActions.tsx
Owners: @contentful/team-bauhaus, @contentful/team-shelley

chore(rich-text): update f36 packages
  packages/rich-text/package.json
  yarn.lock
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore(rich-text): update f36 packages (#976)
  packages/rich-text/package.json
  yarn.lock
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore(rich-text): use ajv directly for validation
  package.json
  packages/rich-text/package.json
  packages/rich-text/src/RichTextEditor.mdx
  packages/rich-text/src/test-utils/validation.ts
  yarn.lock
Owners: @contentful/team-bauhaus, @contentful/team-shelley

perf(rich-text): strip empty spreadsheet cols/rows
  cypress/integration/rich-text/RichTextEditor.Pasting.spec.ts
  cypress/integration/rich-text/__snapshots__/RichTextEditor.Pasting.spec.ts.snap
  packages/rich-text/src/plugins/Paste/index.tsx
  packages/rich-text/src/plugins/Paste/sanitizers/helpers.tsx
  packages/rich-text/src/plugins/Paste/sanitizers/index.tsx
  packages/rich-text/src/plugins/Paste/sanitizers/removeComments.tsx
  packages/rich-text/src/plugins/Paste/sanitizers/sanitizeEntityBlocks.tsx
  packages/rich-text/src/plugins/Paste/sanitizers/sanitizeTables.tsx
  packages/rich-text/src/plugins/PasteHTML/createPasteHTMLPlugin.ts
  packages/rich-text/src/plugins/PasteHTML/index.tsx
  packages/rich-text/src/plugins/PasteHTML/utils/sanitizeHTML.ts
  packages/rich-text/src/plugins/PasteHTML/utils/sanitizeSheets.ts
  packages/rich-text/src/plugins/index.ts
Owners: @contentful/team-bauhaus, @contentful/team-shelley

chore: collapse table cell border
  packages/rich-text/src/plugins/Table/components/Cell.tsx
  packages/rich-text/src/plugins/Table/components/HeaderCell.tsx
  packages/rich-text/src/plugins/Table/components/Row.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

test: tables from Google Docs
  cypress/integration/rich-text/RichTextEditor.Pasting.spec.ts
  cypress/integration/rich-text/__snapshots__/RichTextEditor.Pasting.spec.ts.snap
Owners: @contentful/team-bauhaus

refactor: set withoutChildren flag
  packages/rich-text/src/plugins/EmbeddedEntityBlock/index.tsx
  packages/rich-text/src/plugins/EmbeddedEntityInline/index.tsx
  packages/rich-text/src/plugins/Hr/index.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

.github/CODEOWNERS:

*                      @contentful/team-bauhaus

apps/                  @contentful/team-extensibility
packages/rich-text/    @contentful/team-shelley @contentful/team-bauhaus
packages/reference/    @contentful/team-shelley @contentful/team-bauhaus
