Repository contentful/field-editors, changes with the owners that .github/CODEOWNERS names for each.
All owners: @contentful/team-bauhaus, @contentful/team-extensibility, @contentful/team-shelley

.github/CODEOWNERS:

*                      @contentful/team-bauhaus

apps/                  @contentful/team-extensibility
packages/rich-text/    @contentful/team-shelley @contentful/team-bauhaus
packages/reference/    @contentful/team-shelley @contentful/team-bauhaus

chore(note): import only Note
  packages/_shared/package.json
  packages/_shared/src/PredefinedValuesError.tsx
  yarn.lock
Owners: @contentful/team-bauhaus

chore(Note): v4 Note adoption
  packages/_shared/package.json
  packages/_shared/src/PredefinedValuesError.tsx
Owners: @contentful/team-bauhaus

chore: skip focus on Table actions dropdown
  packages/rich-text/src/plugins/Table/TableActions.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore: upgrade to plate-table
  packages/rich-text/package.json
  packages/rich-text/src/plugins/Table/TableActions.tsx
  packages/rich-text/src/plugins/Table/actions/addColumn.ts
  packages/rich-text/src/plugins/Table/actions/addRow.ts
  packages/rich-text/src/plugins/Table/helpers.ts
  packages/rich-text/src/plugins/Table/index.tsx
  yarn.lock
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore(Note): v4 Note adoption (#823)
  packages/_shared/package.json
  packages/_shared/src/PredefinedValuesError.tsx
  yarn.lock
Owners: @contentful/team-bauhaus

refactor: clean up ts-expect-errors
  packages/rich-text/src/RichTextEditor.tsx
  packages/rich-text/src/plugins/Bold/index.tsx
  packages/rich-text/src/plugins/Code/index.tsx
  packages/rich-text/src/plugins/EmbeddedEntityBlock/index.tsx
  packages/rich-text/src/plugins/EmbeddedEntityInline/index.tsx
  packages/rich-text/src/plugins/Heading/index.tsx
  packages/rich-text/src/plugins/Hr/index.tsx
  packages/rich-text/src/plugins/Hyperlink/index.tsx
  packages/rich-text/src/plugins/Italic/index.tsx
  packages/rich-text/src/plugins/List/index.tsx
  packages/rich-text/src/plugins/Paragraph/index.tsx
  packages/rich-text/src/plugins/Quote/index.tsx
  packages/rich-text/src/plugins/Table/index.tsx
  packages/rich-text/src/plugins/Underline/index.tsx
  packages/rich-text/src/types.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

test: fix google maps location address
  cypress/integration/LocationEditor.spec.ts
Owners: @contentful/team-bauhaus

test: fix google maps location address (#825)
  cypress/integration/LocationEditor.spec.ts
Owners: @contentful/team-bauhaus

test: move blockquote assertions to a helper
  cypress/integration/RichTextEditor.spec.ts
Owners: @contentful/team-bauhaus

fix: hr within blockquote
  cypress/integration/RichTextEditor.spec.ts
  packages/rich-text/src/helpers/editor.ts
  packages/rich-text/src/plugins/Hr/index.tsx
Owners: @contentful/team-bauhaus, @contentful/team-shelley

fix: heading on blockquote
  cypress/integration/RichTextEditor.spec.ts
  packages/rich-text/src/helpers/editor.ts
  packages/rich-text/src/plugins/Heading/index.tsx
Owners: @contentful/team-bauhaus, @contentful/team-shelley

chore: rename rich text blockquote variable names
  cypress/integration/RichTextEditor.spec.ts
Owners: @contentful/team-bauhaus

fix: lists within blockquote
  cypress/integration/RichTextEditor.spec.ts
  packages/rich-text/src/helpers/editor.ts
  packages/rich-text/src/plugins/Heading/index.tsx
  packages/rich-text/src/plugins/List/index.tsx
Owners: @contentful/team-bauhaus, @contentful/team-shelley

fix: blockquote wrapping/unwrapping buggy (#824)
  cypress/integration/RichTextEditor.spec.ts
  packages/rich-text/src/helpers/editor.ts
  packages/rich-text/src/plugins/Heading/index.tsx
  packages/rich-text/src/plugins/Hr/index.tsx
  packages/rich-text/src/plugins/List/index.tsx
Owners: @contentful/team-bauhaus, @contentful/team-shelley

refactor: use createPlateOptions
  packages/rich-text/package.json
  packages/rich-text/src/RichTextEditor.tsx
  packages/rich-text/src/plugins/Paragraph/index.tsx
  packages/rich-text/src/types.ts
  yarn.lock
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: plugin hotkeys
  packages/rich-text/src/plugins/NewLine/index.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

refactor: fix most of TS issues
  packages/rich-text/src/RichTextEditor.tsx
  packages/rich-text/src/plugins/EmbeddedEntityBlock/LinkedEntityBlock.tsx
  packages/rich-text/src/plugins/EmbeddedEntityBlock/index.tsx
  packages/rich-text/src/plugins/EmbeddedEntityInline/index.tsx
  packages/rich-text/src/plugins/Heading/index.tsx
  packages/rich-text/src/plugins/Hr/index.tsx
  packages/rich-text/src/plugins/Hyperlink/index.tsx
  packages/rich-text/src/plugins/List/index.tsx
  packages/rich-text/src/plugins/Paragraph/index.tsx
  packages/rich-text/src/plugins/Quote/index.tsx
  packages/rich-text/src/plugins/Table/index.tsx
  packages/rich-text/src/types.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

refactor: upgrade the rest of plate plugins
  packages/rich-text/package.json
  packages/rich-text/src/RichTextEditor.tsx
  packages/rich-text/src/helpers/deserializer.ts
  packages/rich-text/src/plugins/Bold/index.tsx
  packages/rich-text/src/plugins/Code/index.tsx
  packages/rich-text/src/plugins/EmbeddedEntityBlock/Util.ts
  packages/rich-text/src/plugins/Heading/index.tsx
  packages/rich-text/src/plugins/Hr/index.tsx
  packages/rich-text/src/plugins/Italic/index.tsx
  packages/rich-text/src/plugins/List/index.tsx
  packages/rich-text/src/plugins/Paragraph/index.tsx
  packages/rich-text/src/plugins/Table/actions/addColumn.ts
  packages/rich-text/src/plugins/Table/actions/addRow.ts
  packages/rich-text/src/plugins/Underline/index.tsx
  yarn.lock
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: correct import
  packages/rich-text/src/helpers/editor.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

refactor: upgrade to Plate (#822)
  packages/rich-text/package.json
  packages/rich-text/src/RichTextEditor.tsx
  packages/rich-text/src/Toolbar/index.tsx
  packages/rich-text/src/helpers/deserializer.ts
  packages/rich-text/src/helpers/editor.ts
  packages/rich-text/src/plugins/Bold/index.tsx
  packages/rich-text/src/plugins/Code/index.tsx
  packages/rich-text/src/plugins/EmbeddedEntityBlock/LinkedEntityBlock.tsx
  packages/rich-text/src/plugins/EmbeddedEntityBlock/ToolbarIcon.tsx
  packages/rich-text/src/plugins/EmbeddedEntityBlock/Util.ts
  packages/rich-text/src/plugins/EmbeddedEntityBlock/index.tsx
  packages/rich-text/src/plugins/EmbeddedEntityInline/index.tsx
  packages/rich-text/src/plugins/Heading/index.tsx
  packages/rich-text/src/plugins/Hr/index.tsx
  packages/rich-text/src/plugins/Hyperlink/HyperlinkModal.tsx
  packages/rich-text/src/plugins/Hyperlink/index.tsx
  packages/rich-text/src/plugins/Italic/index.tsx
  packages/rich-text/src/plugins/List/index.tsx
  packages/rich-text/src/plugins/NewLine/index.tsx
  packages/rich-text/src/plugins/Paragraph/index.tsx
  packages/rich-text/src/plugins/Quote/index.tsx
  packages/rich-text/src/plugins/Table/TableActions.tsx
  packages/rich-text/src/plugins/Table/actions/addColumn.ts
  packages/rich-text/src/plugins/Table/actions/addRow.ts
  packages/rich-text/src/plugins/Table/helpers.ts
  packages/rich-text/src/plugins/Table/index.tsx
  packages/rich-text/src/plugins/Underline/index.tsx
  packages/rich-text/src/types.ts
  yarn.lock
Owners: @contentful/team-shelley, @contentful/team-bauhaus

feat: add contentful editor provider and remove editor key
  packages/rich-text/src/ContentfulEditorProvider.ts
  packages/rich-text/src/RichTextEditor.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore: get contentful editor id
  packages/rich-text/src/RichTextEditor.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore: use contentful editor hook
  packages/rich-text/src/Toolbar/index.tsx
  packages/rich-text/src/plugins/Bold/index.tsx
  packages/rich-text/src/plugins/Code/index.tsx
  packages/rich-text/src/plugins/EmbeddedEntityBlock/LinkedEntityBlock.tsx
  packages/rich-text/src/plugins/EmbeddedEntityBlock/ToolbarIcon.tsx
  packages/rich-text/src/plugins/EmbeddedEntityInline/index.tsx
  packages/rich-text/src/plugins/Heading/index.tsx
  packages/rich-text/src/plugins/Hr/index.tsx
  packages/rich-text/src/plugins/Hyperlink/index.tsx
  packages/rich-text/src/plugins/Italic/index.tsx
  packages/rich-text/src/plugins/List/index.tsx
  packages/rich-text/src/plugins/Quote/index.tsx
  packages/rich-text/src/plugins/Table/TableActions.tsx
  packages/rich-text/src/plugins/Table/index.tsx
  packages/rich-text/src/plugins/Underline/index.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: module not found types
  packages/rich-text/src/ContentfulEditorProvider.ts
  packages/rich-text/src/RichTextEditor.tsx
  packages/rich-text/src/SdkProvider.tsx
  packages/rich-text/src/Toolbar/index.tsx
  packages/rich-text/src/plugins/EmbeddedEntityBlock/ToolbarIcon.tsx
  packages/rich-text/src/plugins/EmbeddedEntityBlock/index.tsx
  packages/rich-text/src/plugins/EmbeddedEntityInline/index.tsx
  packages/rich-text/src/plugins/Hyperlink/index.tsx
  packages/rich-text/src/plugins/shared/FetchingWrappedAssetCard.tsx
  packages/rich-text/src/plugins/shared/FetchingWrappedEntryCard.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore: return key prop to rich text editor component
  packages/rich-text/src/RichTextEditor.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

feat: add contentful editor provider and remove editor key (#828)
  packages/rich-text/src/ContentfulEditorProvider.ts
  packages/rich-text/src/RichTextEditor.tsx
  packages/rich-text/src/SdkProvider.tsx
  packages/rich-text/src/Toolbar/index.tsx
  packages/rich-text/src/plugins/Bold/index.tsx
  packages/rich-text/src/plugins/Code/index.tsx
  packages/rich-text/src/plugins/EmbeddedEntityBlock/LinkedEntityBlock.tsx
  packages/rich-text/src/plugins/EmbeddedEntityBlock/ToolbarIcon.tsx
  packages/rich-text/src/plugins/EmbeddedEntityBlock/index.tsx
  packages/rich-text/src/plugins/EmbeddedEntityInline/index.tsx
  packages/rich-text/src/plugins/Heading/index.tsx
  packages/rich-text/src/plugins/Hr/index.tsx
  packages/rich-text/src/plugins/Hyperlink/index.tsx
  packages/rich-text/src/plugins/Italic/index.tsx
  packages/rich-text/src/plugins/List/index.tsx
  packages/rich-text/src/plugins/Quote/index.tsx
  packages/rich-text/src/plugins/Table/TableActions.tsx
  packages/rich-text/src/plugins/Table/index.tsx
  packages/rich-text/src/plugins/Underline/index.tsx
  packages/rich-text/src/plugins/shared/FetchingWrappedAssetCard.tsx
  packages/rich-text/src/plugins/shared/FetchingWrappedEntryCard.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore: bump rich text field package
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

chore: add tag next as publish config
  packages/rich-text/package.json
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore: bump rich text field package (#829)
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

chore: add prepublishOnly hook and bump a patch to next
  packages/rich-text/package.json
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore: add prepublishOnly hook and bump a patch to next
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
Owners: @contentful/team-extensibility, @contentful/team-bauhaus

chore: add prepublishOnly hook and bump a patch to next (#830)
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

chore: create insert before first void block global plugin
  packages/rich-text/src/plugins/InsertBeforeFirstVoidBlock/index.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

feat: implement insert before first void block plugin
  packages/rich-text/src/RichTextEditor.tsx
  packages/rich-text/src/helpers/editor.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

test(todo): add first test for hr and first void blocks
  cypress/integration/RichTextEditor.spec.ts
Owners: @contentful/team-bauhaus

chore: bump rich text types
  packages/rich-text/package.json
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore: bump rich text types
  yarn.lock
Owners: @contentful/team-bauhaus

chore: bump rich text (#832)
  packages/rich-text/package.json
  yarn.lock
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix(rich-text): force trailing paragraph
  packages/rich-text/package.json
  packages/rich-text/src/RichTextEditor.tsx
  packages/rich-text/src/plugins/Table/helpers.ts
  packages/rich-text/src/plugins/Table/index.tsx
  packages/rich-text/src/plugins/TrailingParagraph/index.ts
  yarn.lock
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix(rich-text): keep lists when toggling quotes
  packages/rich-text/src/helpers/editor.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus
