Repository contentful/field-editors, changes with the owners that .github/CODEOWNERS names for each.
All owners: @contentful/team-bauhaus, @contentful/team-extensibility, @contentful/team-shelley

.github/CODEOWNERS:

*                      @contentful/team-bauhaus

apps/                  @contentful/team-extensibility
packages/rich-text/    @contentful/team-shelley @contentful/team-bauhaus
packages/reference/    @contentful/team-shelley @contentful/team-bauhaus

test(rte): add tests for hr into blockquote:
  cypress/integration/rich-text/RichTextEditor.spec.ts
Owners: @contentful/team-bauhaus

fix(rte): split blockquote when pasting hr inside (#1044)
  cypress/integration/rich-text/RichTextEditor.spec.ts
  packages/rich-text/src/plugins/Hr/index.tsx
Owners: @contentful/team-bauhaus, @contentful/team-shelley

test(rte-tracking): add tests when cancelling embeds [] (#1042)
  cypress/integration/rich-text/RichTextEditor.Tracking.spec.ts
  cypress/integration/rich-text/RichTextPage.ts
Owners: @contentful/team-bauhaus

fix: slate fragment not copied in safari
  cypress/integration/rich-text/RichTextEditor.Pasting.spec.ts
  cypress/integration/rich-text/__snapshots__/RichTextEditor.Pasting.spec.ts.snap
  packages/rich-text/src/plugins/PasteHTML/createPasteHTMLPlugin.ts
Owners: @contentful/team-bauhaus, @contentful/team-shelley

fix: slate fragment not copied in safari (#1040)
  cypress/integration/rich-text/RichTextEditor.Pasting.spec.ts
  cypress/integration/rich-text/__snapshots__/RichTextEditor.Pasting.spec.ts.snap
  packages/rich-text/src/plugins/PasteHTML/createPasteHTMLPlugin.ts
Owners: @contentful/team-bauhaus, @contentful/team-shelley

chore: increase rte-next version
  apps/entry-app-collapsible/package.json
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

chore: increase rte-next version (#1045)
  apps/entry-app-collapsible/package.json
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

fix: get rid of legacy shouldUnwrapBlockquote util
  packages/rich-text/src/helpers/editor.ts
  packages/rich-text/src/plugins/Heading/components/ToolbarHeadingButton.tsx
  packages/rich-text/src/plugins/List/components/ToolbarListButton.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: linting
  packages/rich-text/src/helpers/editor.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: links color inside quotes
  packages/rich-text/src/plugins/Quote/components/Quote.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: list type check
  packages/rich-text/src/plugins/List/components/ToolbarListButton.tsx
  packages/rich-text/src/plugins/List/utils.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: lift headings inside quotes
  packages/rich-text/src/plugins/Quote/__test__/createQuotePlugin.test.tsx
  packages/rich-text/src/plugins/Quote/createQuotePlugin.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix(rich-text): quick fixes (#1047)
  packages/rich-text/src/helpers/editor.ts
  packages/rich-text/src/plugins/Heading/components/ToolbarHeadingButton.tsx
  packages/rich-text/src/plugins/List/components/ToolbarListButton.tsx
  packages/rich-text/src/plugins/List/utils.ts
  packages/rich-text/src/plugins/Quote/__test__/createQuotePlugin.test.tsx
  packages/rich-text/src/plugins/Quote/components/Quote.tsx
  packages/rich-text/src/plugins/Quote/createQuotePlugin.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore(rich-text): publish v2.0.0-next.16
  apps/entry-app-collapsible/package.json
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

chore: update f36 & release v17
  packages/rich-text/package.json
  yarn.lock
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore: update other packge.json's
  apps/entry-app-collapsible/package.json
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
Owners: @contentful/team-extensibility, @contentful/team-bauhaus

chore(rich-text): publish v2.0.0-next.17 (#1048)
  apps/entry-app-collapsible/package.json
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
  yarn.lock
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

test: copy unit tests over
  packages/rich-text/src/plugins/List/__tests__/insertListFragment.test.tsx
  packages/rich-text/src/plugins/List/transforms/toggleList.spec.tsx
  packages/rich-text/src/test-utils/assertOutput.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: include version number in rte editor id
  packages/rich-text/src/ContentfulEditorProvider.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

test: update cursor position
  packages/rich-text/src/plugins/List/transforms/toggleList.spec.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

test: add cypress test
  cypress/integration/rich-text/RichTextLists.spec.ts
  cypress/integration/rich-text/__snapshots__/RichTextLists.spec.ts.snap
Owners: @contentful/team-bauhaus

chore: add credits section
  packages/rich-text/README.md
Owners: @contentful/team-shelley, @contentful/team-bauhaus

refactor: effect on initialvalue change
  packages/rich-text/src/ContentfulEditorProvider.ts
  packages/rich-text/src/RichTextEditor.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix(rte): reset data when adding headings and paragraphs
  packages/rich-text/src/plugins/Heading/components/ToolbarHeadingButton.tsx
  packages/rich-text/src/plugins/Heading/createHeadingPlugin.ts
  packages/rich-text/src/plugins/Paragraph/createParagraphPlugin.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

refactor(rte): polish toggleNodeType and data reset
  packages/rich-text/src/helpers/editor.ts
  packages/rich-text/src/plugins/Heading/components/ToolbarHeadingButton.tsx
  packages/rich-text/src/plugins/Heading/createHeadingPlugin.ts
  packages/rich-text/src/plugins/Paragraph/createParagraphPlugin.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

test(rte): prevent data property from being carried over
  cypress/integration/rich-text/RichTextEditor.spec.ts
  cypress/integration/rich-text/RichTextPage.ts
Owners: @contentful/team-bauhaus

fix(rich-text): use sdk provider in ConnectedRichTextEditor
  packages/rich-text/src/ContentfulEditorProvider.ts
  packages/rich-text/src/RichTextEditor.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix(rich-text): use sdk provider in ConnectedRichTextEditor (#1052)
  packages/rich-text/src/ContentfulEditorProvider.ts
  packages/rich-text/src/RichTextEditor.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: clear rte state on unmount (#1049)
  packages/rich-text/src/RichTextEditor.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: move selection after inserting embedded entity
  packages/rich-text/src/helpers/editor.ts
  packages/rich-text/src/plugins/EmbeddedEntityBlock/ToolbarIcon.tsx
  packages/rich-text/src/plugins/EmbeddedEntityInline/index.tsx
  packages/rich-text/src/plugins/Table/createTablePlugin.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

feat: support onclick on wrappedentrycard components
  packages/reference/src/entries/WrappedEntryCard/WrappedEntryCard.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

test: paragraph after embed in list
  cypress/integration/rich-text/RichTextLists.spec.ts
Owners: @contentful/team-bauhaus

feat: support onclick on wrappedentrycard components (#1053)
  packages/reference/src/entries/WrappedEntryCard/WrappedEntryCard.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore(release): updated release notes and package versions [ci skip]
  packages/default-field-editors/CHANGELOG.md
  packages/default-field-editors/package.json
  packages/reference/CHANGELOG.md
  packages/reference/package.json
  packages/rich-text/CHANGELOG.md
  packages/rich-text/package.json
Owners: @contentful/team-bauhaus, @contentful/team-shelley

fix(rich-text): handle list unwrapping (#1041)
  cypress/integration/rich-text/RichTextLists.spec.ts
  cypress/integration/rich-text/__snapshots__/RichTextLists.spec.ts.snap
  packages/rich-text/README.md
  packages/rich-text/src/plugins/List/__tests__/insertListFragment.test.tsx
  packages/rich-text/src/plugins/List/components/ToolbarListButton.tsx
  packages/rich-text/src/plugins/List/transforms/toggleList.spec.tsx
  packages/rich-text/src/plugins/List/transforms/toggleList.ts
  packages/rich-text/src/test-utils/assertOutput.ts
Owners: @contentful/team-bauhaus, @contentful/team-shelley

fix: avoid double empty paragraphs
  packages/rich-text/src/plugins/EmbeddedEntityBlock/ToolbarIcon.tsx
  packages/rich-text/src/plugins/EmbeddedEntityBlock/Util.ts
  packages/rich-text/src/plugins/TrailingParagraph/index.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix(rte): reset data when adding headings and paragraphs (#1051)
  cypress/integration/rich-text/RichTextEditor.spec.ts
  cypress/integration/rich-text/RichTextPage.ts
  packages/rich-text/src/helpers/editor.ts
  packages/rich-text/src/plugins/Heading/components/ToolbarHeadingButton.tsx
  packages/rich-text/src/plugins/Heading/createHeadingPlugin.ts
  packages/rich-text/src/plugins/Paragraph/createParagraphPlugin.ts
Owners: @contentful/team-bauhaus, @contentful/team-shelley

fix: delete list backward
  packages/rich-text/package.json
  packages/rich-text/src/plugins/List/transforms/deleteBackwardList.ts
  packages/rich-text/src/plugins/List/transforms/toggleList.ts
  packages/rich-text/src/plugins/List/transforms/unwrapList.ts
  packages/rich-text/src/plugins/List/withList.ts
  yarn.lock
Owners: @contentful/team-shelley, @contentful/team-bauhaus

refactor: restore trailing paragraph plugin
  packages/rich-text/src/plugins/EmbeddedEntityBlock/Util.ts
  packages/rich-text/src/plugins/TrailingParagraph/index.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore: increment next version to 2.0.0-next.18
  apps/entry-app-collapsible/package.json
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley
