Repository contentful/field-editors, changes with the owners that .github/CODEOWNERS names for each.
All owners: @contentful/team-bauhaus, @contentful/team-extensibility, @contentful/team-shelley

.github/CODEOWNERS:

*                      @contentful/team-bauhaus

apps/                  @contentful/team-extensibility
packages/rich-text/    @contentful/team-shelley @contentful/team-bauhaus
packages/reference/    @contentful/team-shelley @contentful/team-bauhaus

fix: table cell normalization
  packages/rich-text/src/plugins/Table/index.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix(rich-text): corrupted tables on paste
  packages/rich-text/package.json
  yarn.lock
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix(rich-text): corrupted tables on paste (#850)
  packages/rich-text/package.json
  yarn.lock
Owners: @contentful/team-shelley, @contentful/team-bauhaus

refactor: use util from shared package to validate image type (#848)
  packages/reference/src/entries/WrappedEntryCard/WrappedEntryCard.tsx
  packages/reference/src/utils/isValidImage.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore(release): updated release notes and package versions [ci skip]
  packages/default-field-editors/CHANGELOG.md
  packages/default-field-editors/package.json
  packages/reference/CHANGELOG.md
  packages/reference/package.json
  packages/rich-text/CHANGELOG.md
  packages/rich-text/package.json
Owners: @contentful/team-bauhaus, @contentful/team-shelley

chore: bump field-editor-rich-text-next [skip ci]
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

chore: bump field-editor-rich-text-next [skip ci] (#851)
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

fix: table cell normalization (#849)
  packages/rich-text/src/plugins/Table/index.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

feat: add shortenStorageUnit util to shared
  packages/_shared/src/index.tsx
  packages/_shared/src/utils/shortenStorageUnit.ts
Owners: @contentful/team-bauhaus

feat: add shortenStorageUnit util to shared (#852)
  packages/_shared/src/index.tsx
  packages/_shared/src/utils/shortenStorageUnit.ts
Owners: @contentful/team-bauhaus

refactor: implement entry card for rich text
  packages/rich-text/src/plugins/EmbeddedEntityBlock/LinkedEntityBlock.tsx
  packages/rich-text/src/plugins/shared/FetchingWrappedEntryCard.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

test: if embedded entry blocks can be deleted
  cypress/integration/RichTextEditor.spec.ts
Owners: @contentful/team-bauhaus

chore: update shared package
  packages/rich-text/package.json
  yarn.lock
Owners: @contentful/team-shelley, @contentful/team-bauhaus

test: if embedded asset blocks can be deleted
  cypress/integration/RichTextEditor.spec.ts
Owners: @contentful/team-bauhaus

refactor: implement asset card for rich text
  packages/rich-text/src/plugins/EmbeddedEntityBlock/LinkedEntityBlock.tsx
  packages/rich-text/src/plugins/shared/EntityStatusIcon.tsx
  packages/rich-text/src/plugins/shared/FetchingWrappedAssetCard.tsx
  packages/rich-text/src/plugins/shared/FetchingWrappedEntryCard.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore: update shared package
  packages/rich-text/package.json
  yarn.lock
Owners: @contentful/team-shelley, @contentful/team-bauhaus

refactor: use shortenStorageUnit from shared
  packages/reference/src/assets/WrappedAssetCard/AssetCardActions.tsx
  packages/reference/src/assets/WrappedAssetCard/shortenStorageUnit.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: new embedded cards to be used on hyperlink modal
  packages/rich-text/src/plugins/shared/FetchingWrappedAssetCard.tsx
  packages/rich-text/src/plugins/shared/FetchingWrappedEntryCard.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

test: fix test ids for new embedded cards
  cypress/integration/RichTextEditor.spec.ts
  packages/rich-text/src/plugins/shared/FetchingWrappedAssetCard.tsx
  packages/rich-text/src/plugins/shared/FetchingWrappedEntryCard.tsx
Owners: @contentful/team-bauhaus, @contentful/team-shelley

fix: paste issues
  packages/rich-text/src/RichTextEditor.tsx
  packages/rich-text/src/plugins/Paste/index.tsx
  packages/rich-text/src/plugins/Paste/sanitizers/helpers.tsx
  packages/rich-text/src/plugins/Paste/sanitizers/index.tsx
  packages/rich-text/src/plugins/Paste/sanitizers/removeComments.tsx
  packages/rich-text/src/plugins/Paste/sanitizers/sanitizeTables.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: paste issues (#854)
  packages/rich-text/src/RichTextEditor.tsx
  packages/rich-text/src/plugins/Paste/index.tsx
  packages/rich-text/src/plugins/Paste/sanitizers/helpers.tsx
  packages/rich-text/src/plugins/Paste/sanitizers/index.tsx
  packages/rich-text/src/plugins/Paste/sanitizers/removeComments.tsx
  packages/rich-text/src/plugins/Paste/sanitizers/sanitizeTables.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore: 🤖 bump f36-components version on yarn.lock
  yarn.lock
Owners: @contentful/team-bauhaus

refactor: use shortenStorageUnit from shared (#855)
  packages/reference/src/assets/WrappedAssetCard/AssetCardActions.tsx
  packages/reference/src/assets/WrappedAssetCard/shortenStorageUnit.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

feat: 🎸 adopt button v4 (#844)
  apps/entry-app-collapsible/src/FieldGroupsEditor.tsx
  packages/json/src/JsonEditorToobar.tsx
  packages/markdown/src/components/InsertLinkSelector.tsx
  packages/markdown/src/dialogs/ConfirmInsertAssetModalDialog.tsx
  packages/markdown/src/dialogs/EmdebExternalContentDialog.tsx
  packages/markdown/src/dialogs/InsertLinkModalDialog.tsx
  packages/markdown/src/dialogs/InsertTableModalDialog.tsx
  packages/markdown/src/dialogs/SpecialCharacterModalDialog.tsx
  packages/reference/src/components/CreateEntryLinkButton/CreateEntryLinkButton.tsx
  packages/reference/src/components/LinkActions/CombinedLinkActions.tsx
  packages/reference/src/components/LinkActions/LinkActions.tsx
  yarn.lock
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

chore(release): updated release notes and package versions [ci skip]
  packages/default-field-editors/CHANGELOG.md
  packages/default-field-editors/package.json
  packages/reference/CHANGELOG.md
  packages/reference/package.json
  packages/rich-text/CHANGELOG.md
  packages/rich-text/package.json
Owners: @contentful/team-bauhaus, @contentful/team-shelley

refactor(help-text): refactor HelpText to Text
  apps/entry-app-collapsible/src/CollapsibleFieldGroup.tsx
  apps/entry-app-collapsible/src/FieldGroupsEditor.tsx
  packages/default-field-editors/package.json
  packages/default-field-editors/src/DefaultFieldEditors.mdx
  packages/default-field-editors/src/FieldWrapper.tsx
  packages/markdown/src/dialogs/EmdebExternalContentDialog.tsx
Owners: @contentful/team-extensibility, @contentful/team-bauhaus

chore(help-text): todo to replace with FormControl
  packages/default-field-editors/src/FieldWrapper.tsx
Owners: @contentful/team-bauhaus

refactor(validation-message): adopt v4 ValidationMessage
  packages/json/package.json
  packages/json/src/JsonInvalidStatus.tsx
  packages/location/src/LocationSearchInput.tsx
  packages/slug/src/SlugEditorField.tsx
Owners: @contentful/team-bauhaus

refactor: 💡 tooltip-v4
  packages/markdown/src/components/MarkdownToolbar.tsx
  packages/markdown/src/dialogs/SpecialCharacterModalDialog.tsx
  packages/reference/src/components/ScheduledIconWithTooltip/ScheduleTooltip.tsx
  packages/reference/src/components/index.ts
  packages/reference/src/index.tsx
  packages/rich-text/src/plugins/Hyperlink/EntityHyperlinkTootip.js
  packages/rich-text/src/plugins/Hyperlink/Hyperlink.js
  packages/rich-text/src/plugins/Hyperlink/useRequestStatus.js
Owners: @contentful/team-bauhaus, @contentful/team-shelley

refactor(validation-message): adopt v4 ValidationMessage (#858)
  packages/json/package.json
  packages/json/src/JsonInvalidStatus.tsx
  packages/location/src/LocationSearchInput.tsx
  packages/slug/src/SlugEditorField.tsx
Owners: @contentful/team-bauhaus

refactor: implement entry card for rich text (#853)
  cypress/integration/RichTextEditor.spec.ts
  packages/rich-text/package.json
  packages/rich-text/src/plugins/EmbeddedEntityBlock/LinkedEntityBlock.tsx
  packages/rich-text/src/plugins/shared/EntityStatusIcon.tsx
  packages/rich-text/src/plugins/shared/FetchingWrappedAssetCard.tsx
  packages/rich-text/src/plugins/shared/FetchingWrappedEntryCard.tsx
  yarn.lock
Owners: @contentful/team-bauhaus, @contentful/team-shelley

chore: bump rich-text-next [skip ci]
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

chore: add missing dependency
  apps/entry-app-collapsible/package.json
Owners: @contentful/team-extensibility

refactor: refactor HelpText to Text from Forma36 v4 [BAU-104] (#856)
  apps/entry-app-collapsible/src/CollapsibleFieldGroup.tsx
  apps/entry-app-collapsible/src/FieldGroupsEditor.tsx
  packages/default-field-editors/package.json
  packages/default-field-editors/src/DefaultFieldEditors.mdx
  packages/default-field-editors/src/FieldWrapper.tsx
  packages/markdown/src/dialogs/EmdebExternalContentDialog.tsx
Owners: @contentful/team-extensibility, @contentful/team-bauhaus

chore: update deps
  apps/entry-app-collapsible/package.json
Owners: @contentful/team-extensibility

chore: bump rich-text-next [skip ci] (#860)
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

fix: safari lost of editor selection
  packages/rich-text/src/ContentfulEditorProvider.ts
  packages/rich-text/src/RichTextEditor.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

refactor: 💡 tooltip-v4 (#857)
  apps/entry-app-collapsible/package.json
  packages/markdown/src/components/MarkdownToolbar.tsx
  packages/markdown/src/dialogs/SpecialCharacterModalDialog.tsx
  packages/reference/src/components/ScheduledIconWithTooltip/ScheduleTooltip.tsx
  packages/reference/src/components/index.ts
  packages/reference/src/index.tsx
  packages/rich-text/src/plugins/Hyperlink/EntityHyperlinkTootip.js
  packages/rich-text/src/plugins/Hyperlink/Hyperlink.js
  packages/rich-text/src/plugins/Hyperlink/useRequestStatus.js
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

chore: temp commit
  packages/rich-text/README.md
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore: adopt icon
  packages/rich-text/src/plugins/EmbeddedEntityBlock/ToolbarIcon.js
  packages/rich-text/src/plugins/EmbeddedEntryInline/FetchingWrappedInlineEntryCard.js
  packages/rich-text/src/plugins/EmbeddedEntryInline/ToolbarIcon.js
Owners: @contentful/team-shelley, @contentful/team-bauhaus
