Repository contentful/field-editors, changes with the owners that .github/CODEOWNERS names for each.
All owners: @contentful/team-bauhaus, @contentful/team-extensibility, @contentful/team-shelley

chore: update icon
  packages/rich-text/src/plugins/CommandPalette/CommandPanel/CommandPanelMenu.js
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore: adopt Icon in typescript files
  apps/entry-app-collapsible/src/CollapsibleFieldGroup.tsx
  packages/markdown/src/components/MarkdownToolbar.tsx
  packages/markdown/src/dialogs/ZenModeModalDialog.tsx
  packages/reference/package.json
  packages/reference/src/assets/WrappedAssetCard/WrappedAssetCard.tsx
  packages/reference/src/assets/WrappedAssetCard/WrappedAssetLink.tsx
  packages/reference/src/components/CreateEntryLinkButton/CreateEntryMenuTrigger.tsx
  packages/reference/src/entries/WrappedEntryCard/WrappedEntryCard.tsx
  packages/slug/package.json
  packages/slug/src/SlugEditorField.tsx
  packages/tags/package.json
  packages/tags/src/TagsEditor.tsx
  packages/validation-errors/src/ValidationErrors.tsx
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

chore: prettier
  packages/slug/src/SlugEditorField.tsx
Owners: @contentful/team-bauhaus

chore: update
  apps/entry-app-collapsible/src/CollapsibleFieldGroup.tsx
  packages/markdown/src/dialogs/ZenModeModalDialog.tsx
  packages/reference/src/assets/WrappedAssetCard/WrappedAssetCard.tsx
  yarn.lock
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

chore: update
  packages/reference/src/assets/WrappedAssetCard/WrappedAssetLink.tsx
  packages/reference/src/components/CreateEntryLinkButton/CreateEntryMenuTrigger.tsx
  packages/reference/src/entries/WrappedEntryCard/WrappedEntryCard.tsx
  packages/rich-text/src/plugins/CommandPalette/CommandPanel/CommandPanelMenu.js
  packages/rich-text/src/plugins/EmbeddedEntityBlock/ToolbarIcon.js
  packages/rich-text/src/plugins/EmbeddedEntryInline/FetchingWrappedInlineEntryCard.js
  packages/rich-text/src/plugins/EmbeddedEntryInline/ToolbarIcon.js
  packages/slug/src/SlugEditorField.tsx
  packages/tags/src/TagsEditor.tsx
  packages/validation-errors/src/ValidationErrors.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore: prettier
  apps/entry-app-collapsible/src/FieldGroupsEditor.tsx
  packages/json/src/JsonEditorToobar.tsx
  packages/markdown/src/components/InsertLinkSelector.tsx
  packages/markdown/src/dialogs/ConfirmInsertAssetModalDialog.tsx
  packages/markdown/src/dialogs/EmdebExternalContentDialog.tsx
  packages/markdown/src/dialogs/InsertLinkModalDialog.tsx
  packages/markdown/src/dialogs/InsertTableModalDialog.tsx
  packages/markdown/src/dialogs/SpecialCharacterModalDialog.tsx
  packages/reference/src/assets/WrappedAssetCard/WrappedAssetLink.tsx
  packages/reference/src/components/CreateEntryLinkButton/CreateEntryLinkButton.tsx
  packages/reference/src/components/CreateEntryLinkButton/CreateEntryMenuTrigger.tsx
  packages/reference/src/components/LinkActions/CombinedLinkActions.tsx
  packages/reference/src/components/LinkActions/LinkActions.tsx
  packages/reference/src/entries/WrappedEntryCard/WrappedEntryCard.tsx
  packages/slug/src/SlugEditorField.tsx
  packages/tags/src/TagsEditor.tsx
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

chore: convert button in javascript files
  packages/rich-text/src/dialogs/HypelinkDialog/HyperlinkDialog.jsx
  packages/rich-text/src/plugins/EmbeddedEntityBlock/ToolbarIcon.js
  packages/rich-text/src/plugins/EmbeddedEntryInline/ToolbarIcon.js
  packages/rich-text/src/plugins/EntryEmbedDropdown/index.js
  packages/rich-text/src/plugins/Heading/HeadingDropdown.js
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore: fix lint
  packages/reference/src/assets/WrappedAssetCard/WrappedAssetCard.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore: prettier
  packages/markdown/src/dialogs/SpecialCharacterModalDialog.tsx
  packages/reference/src/components/ScheduledIconWithTooltip/ScheduleTooltip.tsx
Owners: @contentful/team-bauhaus, @contentful/team-shelley

chore: update to latest
  yarn.lock
Owners: @contentful/team-bauhaus

fix: disallow table captions
  packages/rich-text/src/plugins/Paste/sanitizers/sanitizeTables.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

feat: track tables with headers outside first row
  packages/rich-text/src/plugins/Table/index.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: paste embedded block first void paragraph
  packages/rich-text/src/plugins/EmbeddedEntityBlock/index.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: use onMouseDown for toolbar actions
  packages/rich-text/src/plugins/Bold/index.tsx
  packages/rich-text/src/plugins/Code/index.tsx
  packages/rich-text/src/plugins/EmbeddedEntityBlock/ToolbarIcon.tsx
  packages/rich-text/src/plugins/Heading/index.tsx
  packages/rich-text/src/plugins/Hr/index.tsx
  packages/rich-text/src/plugins/Hyperlink/index.tsx
  packages/rich-text/src/plugins/Italic/index.tsx
  packages/rich-text/src/plugins/List/index.tsx
  packages/rich-text/src/plugins/Quote/index.tsx
  packages/rich-text/src/plugins/Table/index.tsx
  packages/rich-text/src/plugins/Underline/index.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: disallow table captions (#864)
  packages/rich-text/src/plugins/Paste/sanitizers/sanitizeTables.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

feat: track tables with headers outside first row (#865)
  packages/rich-text/src/plugins/Table/index.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore: update toolbar icon
  packages/rich-text/src/plugins/EntryEmbedDropdown/index.js
  packages/rich-text/src/plugins/shared/ToolbarIcon.js
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore: Icon v4 adoption (#861)
  apps/entry-app-collapsible/src/CollapsibleFieldGroup.tsx
  apps/entry-app-collapsible/src/FieldGroupsEditor.tsx
  packages/json/src/JsonEditorToobar.tsx
  packages/markdown/src/components/InsertLinkSelector.tsx
  packages/markdown/src/components/MarkdownToolbar.tsx
  packages/markdown/src/dialogs/ConfirmInsertAssetModalDialog.tsx
  packages/markdown/src/dialogs/EmdebExternalContentDialog.tsx
  packages/markdown/src/dialogs/InsertLinkModalDialog.tsx
  packages/markdown/src/dialogs/InsertTableModalDialog.tsx
  packages/markdown/src/dialogs/SpecialCharacterModalDialog.tsx
  packages/markdown/src/dialogs/ZenModeModalDialog.tsx
  packages/reference/package.json
  packages/reference/src/assets/WrappedAssetCard/WrappedAssetCard.tsx
  packages/reference/src/assets/WrappedAssetCard/WrappedAssetLink.tsx
  packages/reference/src/components/CreateEntryLinkButton/CreateEntryLinkButton.tsx
  packages/reference/src/components/CreateEntryLinkButton/CreateEntryMenuTrigger.tsx
  packages/reference/src/components/LinkActions/CombinedLinkActions.tsx
  packages/reference/src/components/LinkActions/LinkActions.tsx
  packages/reference/src/components/ScheduledIconWithTooltip/ScheduleTooltip.tsx
  packages/reference/src/entries/WrappedEntryCard/WrappedEntryCard.tsx
  packages/rich-text/src/dialogs/HypelinkDialog/HyperlinkDialog.jsx
  packages/rich-text/src/plugins/CommandPalette/CommandPanel/CommandPanelMenu.js
  packages/rich-text/src/plugins/EmbeddedEntityBlock/ToolbarIcon.js
  packages/rich-text/src/plugins/EmbeddedEntryInline/FetchingWrappedInlineEntryCard.js
  packages/rich-text/src/plugins/EmbeddedEntryInline/ToolbarIcon.js
  packages/rich-text/src/plugins/EntryEmbedDropdown/index.js
  packages/rich-text/src/plugins/Heading/HeadingDropdown.js
  packages/rich-text/src/plugins/shared/ToolbarIcon.js
  packages/slug/package.json
  packages/slug/src/SlugEditorField.tsx
  packages/tags/package.json
  packages/tags/src/TagsEditor.tsx
  packages/validation-errors/src/ValidationErrors.tsx
  yarn.lock
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

chore: small adjustments
  packages/default-field-editors/src/DefaultFieldEditors.mdx
  packages/markdown/src/MarkdownEditor.mdx
  packages/reference/src/assets/MultipleMediaEditor.mdx
  packages/reference/src/assets/SingleMediaEditor.mdx
  packages/reference/src/entries/MultipleEntryReferenceEditor.mdx
  packages/reference/src/entries/SingleEntryReferenceEditor.mdx
  packages/rich-text/src/plugins/Hyperlink/Hyperlink.js
Owners: @contentful/team-bauhaus, @contentful/team-shelley

chore: small adjustments (#866)
  packages/default-field-editors/src/DefaultFieldEditors.mdx
  packages/markdown/src/MarkdownEditor.mdx
  packages/reference/src/assets/MultipleMediaEditor.mdx
  packages/reference/src/assets/SingleMediaEditor.mdx
  packages/reference/src/entries/MultipleEntryReferenceEditor.mdx
  packages/reference/src/entries/SingleEntryReferenceEditor.mdx
  packages/rich-text/src/plugins/Hyperlink/Hyperlink.js
Owners: @contentful/team-bauhaus, @contentful/team-shelley

feat: codemod for TextInput and Textarea
  packages/date/src/DatepickerInput.tsx
  packages/date/src/TimepickerInput.tsx
  packages/list/src/ListEditor.tsx
  packages/location/src/LocationSearchInput.tsx
  packages/location/src/LocationSelector.tsx
  packages/multiple-line/src/MultipleLineEditor.tsx
  packages/number/src/NumberEditor.tsx
  packages/reference/src/components/CreateEntryLinkButton/CreateEntryMenuTrigger.tsx
  packages/single-line/src/SingleLineEditor.tsx
  packages/slug/src/SlugEditorField.tsx
  packages/tags/src/TagsEditor.tsx
  packages/url/src/UrlEditor.tsx
Owners: @contentful/team-bauhaus, @contentful/team-shelley

chore: bump udecode packages to fix list normalizing
  packages/rich-text/package.json
  yarn.lock
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore: update to latest
  yarn.lock
Owners: @contentful/team-bauhaus

chore: update to latest
  yarn.lock
Owners: @contentful/team-bauhaus

chore: update
  packages/reference/src/assets/MultipleMediaEditor.mdx
  packages/reference/src/entries/SingleEntryReferenceEditor.mdx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore: bump udecode packages to fix list normalizing (#868)
  packages/rich-text/package.json
  yarn.lock
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: safari lost of editor selection (#862)
  packages/rich-text/src/ContentfulEditorProvider.ts
  packages/rich-text/src/RichTextEditor.tsx
  packages/rich-text/src/plugins/Bold/index.tsx
  packages/rich-text/src/plugins/Code/index.tsx
  packages/rich-text/src/plugins/EmbeddedEntityBlock/ToolbarIcon.tsx
  packages/rich-text/src/plugins/EmbeddedEntityBlock/index.tsx
  packages/rich-text/src/plugins/Heading/index.tsx
  packages/rich-text/src/plugins/Hr/index.tsx
  packages/rich-text/src/plugins/Hyperlink/index.tsx
  packages/rich-text/src/plugins/Italic/index.tsx
  packages/rich-text/src/plugins/List/index.tsx
  packages/rich-text/src/plugins/Quote/index.tsx
  packages/rich-text/src/plugins/Table/index.tsx
  packages/rich-text/src/plugins/Underline/index.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore: bump rich-text-next [skip ci]
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

chore: bump rich-text-next [skip ci] (#869)
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

chore: use latest
  yarn.lock
Owners: @contentful/team-bauhaus

fix: ignore divs to deserialize paragraphs
  packages/rich-text/src/plugins/Paragraph/index.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore: update to latest
  yarn.lock
Owners: @contentful/team-bauhaus

fix: delayed ref init
  packages/date/src/DatepickerInput.tsx
Owners: @contentful/team-bauhaus

chore: adjust test
  cypress/integration/DateEditor.spec.ts
Owners: @contentful/team-bauhaus

chore: adjust value
  cypress/integration/DateEditor.spec.ts
Owners: @contentful/team-bauhaus

fix: ignore divs to deserialize paragraphs (#870)
  packages/rich-text/src/plugins/Paragraph/index.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore: update to latest
  cypress/integration/DateEditor.spec.ts
  packages/date/src/DatepickerInput.tsx
  yarn.lock
Owners: @contentful/team-bauhaus

feat: codemod for TextInput and Textarea (#867)
  packages/date/src/DatepickerInput.tsx
  packages/date/src/TimepickerInput.tsx
  packages/list/src/ListEditor.tsx
  packages/location/src/LocationSearchInput.tsx
  packages/location/src/LocationSelector.tsx
  packages/multiple-line/src/MultipleLineEditor.tsx
  packages/number/src/NumberEditor.tsx
  packages/reference/src/assets/MultipleMediaEditor.mdx
  packages/reference/src/components/CreateEntryLinkButton/CreateEntryMenuTrigger.tsx
  packages/reference/src/entries/SingleEntryReferenceEditor.mdx
  packages/single-line/src/SingleLineEditor.tsx
  packages/slug/src/SlugEditorField.tsx
  packages/tags/src/TagsEditor.tsx
  packages/url/src/UrlEditor.tsx
  yarn.lock
Owners: @contentful/team-bauhaus, @contentful/team-shelley

feat: 🎸 adopt IconButton component from forma V4
  apps/entry-app-collapsible/src/FieldGroupsEditor.tsx
  packages/rating/src/RatingRibbon.tsx
  packages/reference/src/components/MissingEntityCard/MissingEntityCard.tsx
  yarn.lock
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

feat: 🎸 adopt IconButton component from forma V4 (#871)
  apps/entry-app-collapsible/src/FieldGroupsEditor.tsx
  packages/rating/src/RatingRibbon.tsx
  packages/reference/src/components/MissingEntityCard/MissingEntityCard.tsx
  yarn.lock
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

.github/CODEOWNERS:

*                      @contentful/team-bauhaus

apps/                  @contentful/team-extensibility
packages/rich-text/    @contentful/team-shelley @contentful/team-bauhaus
packages/reference/    @contentful/team-shelley @contentful/team-bauhaus
