Repository contentful/field-editors, changes with the owners that .github/CODEOWNERS names for each.
All owners: @contentful/team-bauhaus, @contentful/team-extensibility, @contentful/team-shelley

.github/CODEOWNERS:

*                      @contentful/team-bauhaus

apps/                  @contentful/team-extensibility
packages/rich-text/    @contentful/team-shelley @contentful/team-bauhaus
packages/reference/    @contentful/team-shelley @contentful/team-bauhaus

chore(rich-text): use ajv directly for validation (#977)
  package.json
  packages/rich-text/package.json
  packages/rich-text/src/RichTextEditor.mdx
  packages/rich-text/src/test-utils/validation.ts
  yarn.lock
Owners: @contentful/team-bauhaus, @contentful/team-shelley

fix: normalize empty links
  packages/rich-text/src/plugins/Hyperlink/index.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

test: normalization for empty links
  cypress/integration/rich-text/RichTextEditor.spec.ts
  packages/rich-text/src/plugins/Hyperlink/__tests__/createHyperlinkPlugin.test.tsx
  packages/rich-text/src/plugins/Hyperlink/utils.ts
Owners: @contentful/team-bauhaus, @contentful/team-shelley

perf(rich-text): strip empty spreadsheet cols/rows (#978)
  cypress/integration/rich-text/RichTextEditor.Pasting.spec.ts
  cypress/integration/rich-text/__snapshots__/RichTextEditor.Pasting.spec.ts.snap
  packages/rich-text/src/plugins/EmbeddedEntityBlock/index.tsx
  packages/rich-text/src/plugins/EmbeddedEntityInline/index.tsx
  packages/rich-text/src/plugins/Hr/index.tsx
  packages/rich-text/src/plugins/Paste/index.tsx
  packages/rich-text/src/plugins/Paste/sanitizers/helpers.tsx
  packages/rich-text/src/plugins/Paste/sanitizers/index.tsx
  packages/rich-text/src/plugins/Paste/sanitizers/removeComments.tsx
  packages/rich-text/src/plugins/Paste/sanitizers/sanitizeEntityBlocks.tsx
  packages/rich-text/src/plugins/Paste/sanitizers/sanitizeTables.tsx
  packages/rich-text/src/plugins/PasteHTML/createPasteHTMLPlugin.ts
  packages/rich-text/src/plugins/PasteHTML/index.tsx
  packages/rich-text/src/plugins/PasteHTML/utils/sanitizeHTML.ts
  packages/rich-text/src/plugins/PasteHTML/utils/sanitizeSheets.ts
  packages/rich-text/src/plugins/Table/components/Cell.tsx
  packages/rich-text/src/plugins/Table/components/HeaderCell.tsx
  packages/rich-text/src/plugins/Table/components/Row.tsx
  packages/rich-text/src/plugins/index.ts
Owners: @contentful/team-bauhaus, @contentful/team-shelley

refactor: wrap inline types into a single array
  packages/rich-text/src/plugins/Hyperlink/index.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: call without normalize when adding links
  packages/rich-text/src/plugins/Hyperlink/HyperlinkModal.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: empty links with space
  packages/rich-text/src/plugins/Hyperlink/__tests__/createHyperlinkPlugin.test.tsx
  packages/rich-text/src/plugins/Hyperlink/utils.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: basic marks deserialization
  cypress/integration/rich-text/RichTextEditor.Pasting.spec.ts
  cypress/integration/rich-text/__snapshots__/RichTextEditor.Pasting.spec.ts.snap
  packages/rich-text/src/RichTextEditor.tsx
  packages/rich-text/src/plugins/index.ts
Owners: @contentful/team-bauhaus, @contentful/team-shelley

fix(rich-text): basic marks deserialization (#980)
  cypress/integration/rich-text/RichTextEditor.Pasting.spec.ts
  cypress/integration/rich-text/__snapshots__/RichTextEditor.Pasting.spec.ts.snap
  packages/rich-text/src/RichTextEditor.tsx
  packages/rich-text/src/plugins/index.ts
Owners: @contentful/team-bauhaus, @contentful/team-shelley

feat: add docx deserialize plugin
  packages/rich-text/package.json
  packages/rich-text/src/plugins/index.ts
  yarn.lock
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: select embedded blocks & HR on backspace
  cypress/integration/rich-text/RichTextEditor.spec.ts
  packages/rich-text/package.json
  packages/rich-text/src/plugins/SelectOnBackspace/createSelectOnBackspacePlugin.ts
  packages/rich-text/src/plugins/SelectOnBackspace/index.ts
  packages/rich-text/src/plugins/index.ts
  packages/rich-text/src/test-utils/assertOutput.ts
  yarn.lock
Owners: @contentful/team-bauhaus, @contentful/team-shelley

fix: allow LIST_ITEM_BLOCKS inside list items
  cypress/integration/rich-text/RichTextEditor.spec.ts
  packages/rich-text/src/plugins/List/createListPlugin.ts
  packages/rich-text/src/plugins/List/withList.ts
  packages/rich-text/src/plugins/Quote/utils.ts
Owners: @contentful/team-bauhaus, @contentful/team-shelley

fix: allow LIST_ITEM_BLOCKS inside list items (#983)
  cypress/integration/rich-text/RichTextEditor.spec.ts
  packages/rich-text/src/plugins/List/createListPlugin.ts
  packages/rich-text/src/plugins/List/withList.ts
  packages/rich-text/src/plugins/Quote/utils.ts
Owners: @contentful/team-bauhaus, @contentful/team-shelley

refactor: simplify toggleQuote
  packages/rich-text/src/plugins/Quote/components/ToolbarQuoteButton.tsx
  packages/rich-text/src/plugins/Quote/toggleQuote.ts
  packages/rich-text/src/plugins/Quote/utils.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

refactor: simplify toggleQuote implementation (#984)
  packages/rich-text/src/plugins/Quote/components/ToolbarQuoteButton.tsx
  packages/rich-text/src/plugins/Quote/toggleQuote.ts
  packages/rich-text/src/plugins/Quote/utils.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: normalize empty links (#979)
  cypress/integration/rich-text/RichTextEditor.spec.ts
  packages/rich-text/src/plugins/Hyperlink/HyperlinkModal.tsx
  packages/rich-text/src/plugins/Hyperlink/__tests__/createHyperlinkPlugin.test.tsx
  packages/rich-text/src/plugins/Hyperlink/index.tsx
  packages/rich-text/src/plugins/Hyperlink/utils.ts
Owners: @contentful/team-bauhaus, @contentful/team-shelley

style: top align table cell content
  packages/rich-text/src/plugins/Table/components/Cell.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

style: top align table cell content (#985)
  packages/rich-text/src/plugins/Table/components/Cell.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: include inline entries as well
  packages/rich-text/src/plugins/SelectOnBackspace/createSelectOnBackspacePlugin.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

test: add tests for .docx deserializer
  cypress/integration/rich-text/RichTextEditor.Pasting.spec.ts
  cypress/integration/rich-text/__snapshots__/RichTextEditor.Pasting.spec.ts.snap
Owners: @contentful/team-bauhaus

fix: pressing enter on multi-item list
  packages/rich-text/src/helpers/editor.ts
  packages/rich-text/src/plugins/List/createListPlugin.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

feat: add docx deserialize plugin (#981)
  cypress/integration/rich-text/RichTextEditor.Pasting.spec.ts
  cypress/integration/rich-text/__snapshots__/RichTextEditor.Pasting.spec.ts.snap
  packages/rich-text/package.json
  packages/rich-text/src/plugins/index.ts
  yarn.lock
Owners: @contentful/team-bauhaus, @contentful/team-shelley

fix: select embedded blocks & HR on backspace (#982)
  cypress/integration/rich-text/RichTextEditor.spec.ts
  packages/rich-text/package.json
  packages/rich-text/src/plugins/SelectOnBackspace/createSelectOnBackspacePlugin.ts
  packages/rich-text/src/plugins/SelectOnBackspace/index.ts
  packages/rich-text/src/plugins/index.ts
  packages/rich-text/src/test-utils/assertOutput.ts
  yarn.lock
Owners: @contentful/team-bauhaus, @contentful/team-shelley

chore(rich-text): bump to version 2.0.0-next.4
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Owners: @contentful/team-bauhaus, @contentful/team-shelley

chore(rich-text): bump to version 2.0.0-next.4 (#987)
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Owners: @contentful/team-bauhaus, @contentful/team-shelley

feat: bump f36 packages to stable v4
  apps/entry-app-collapsible/package.json
  apps/markdown-app/package.json
  apps/multiple-references-app/package.json
  apps/rich-text-app/package.json
  apps/singleline-app/package.json
  package.json
  packages/_shared/package.json
  packages/_test/package.json
  packages/boolean/package.json
  packages/checkbox/package.json
  packages/date/package.json
  packages/default-field-editors/package.json
  packages/dropdown/package.json
  packages/json/package.json
  packages/list/package.json
  packages/location/package.json
  packages/markdown/package.json
  packages/multiple-line/package.json
  packages/number/package.json
  packages/radio/package.json
  packages/rating/package.json
  packages/reference/package.json
  packages/rich-text/package.json
  packages/single-line/package.json
  packages/slug/package.json
  packages/tags/package.json
  packages/url/package.json
  packages/validation-errors/package.json
  yarn.lock
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

chore: adjust versions
  apps/entry-app-collapsible/package.json
  apps/markdown-app/package.json
  apps/multiple-references-app/package.json
  apps/rich-text-app/package.json
  apps/singleline-app/package.json
  package.json
  packages/boolean/package.json
  packages/checkbox/package.json
  packages/date/package.json
  packages/default-field-editors/package.json
  packages/dropdown/package.json
  packages/json/package.json
  packages/list/package.json
  packages/location/package.json
  packages/markdown/package.json
  packages/multiple-line/package.json
  packages/number/package.json
  packages/radio/package.json
  packages/rating/package.json
  packages/reference/package.json
  packages/rich-text/package.json
  packages/single-line/package.json
  packages/slug/package.json
  packages/tags/package.json
  packages/url/package.json
  packages/validation-errors/package.json
  yarn.lock
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

feat: bump f36 packages to stable v4 [BAU-521] (#988)
  apps/entry-app-collapsible/package.json
  apps/markdown-app/package.json
  apps/multiple-references-app/package.json
  apps/rich-text-app/package.json
  apps/singleline-app/package.json
  package.json
  packages/_shared/package.json
  packages/_test/package.json
  packages/boolean/package.json
  packages/checkbox/package.json
  packages/date/package.json
  packages/default-field-editors/package.json
  packages/dropdown/package.json
  packages/json/package.json
  packages/list/package.json
  packages/location/package.json
  packages/markdown/package.json
  packages/multiple-line/package.json
  packages/number/package.json
  packages/radio/package.json
  packages/rating/package.json
  packages/reference/package.json
  packages/rich-text/package.json
  packages/single-line/package.json
  packages/slug/package.json
  packages/tags/package.json
  packages/url/package.json
  packages/validation-errors/package.json
  yarn.lock
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

fix(rich-text): correctly handle quotes hotkey
  packages/rich-text/src/plugins/Quote/createQuotePlugin.ts
  packages/rich-text/src/plugins/Quote/toggleQuote.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: prevent data corruption when toggling quotes
  packages/rich-text/src/plugins/Quote/toggleQuote.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

test: add tests
  cypress/integration/rich-text/RichTextEditor.spec.ts
  cypress/integration/rich-text/__snapshots__/RichTextEditor.spec.ts.snap
Owners: @contentful/team-bauhaus

chore: remove unnecessary return statement
  packages/rich-text/src/plugins/Quote/toggleQuote.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore: convert table to multi-block
  packages/rich-text/src/ClipboardCapture.mdx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

wip: new approach
  packages/rich-text/src/plugins/List/createListPlugin.ts
  packages/rich-text/src/plugins/List/getListInsertBreak.ts
  packages/rich-text/src/plugins/List/handleKeyDown.ts
  packages/rich-text/src/plugins/List/withList.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix(rich-text): correctly toggle blockquotes (#989)
  cypress/integration/rich-text/RichTextEditor.spec.ts
  cypress/integration/rich-text/__snapshots__/RichTextEditor.spec.ts.snap
  packages/rich-text/src/ClipboardCapture.mdx
  packages/rich-text/src/plugins/Quote/createQuotePlugin.ts
  packages/rich-text/src/plugins/Quote/toggleQuote.ts
Owners: @contentful/team-bauhaus, @contentful/team-shelley

fix: rewrite list's insertBlock
  packages/rich-text/src/plugins/List/__tests__/createListPlugin.test.tsx
  packages/rich-text/src/plugins/List/getListInsertBreak.ts
  packages/rich-text/src/plugins/List/getListInsertFragment.ts
  packages/rich-text/src/plugins/List/transforms/insertListItem.ts
  packages/rich-text/src/plugins/List/withList.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

test: add a test for preserving marks
  cypress/integration/rich-text/RichTextEditor.spec.ts
  cypress/integration/rich-text/RichTextLists.spec.ts
  cypress/integration/rich-text/__snapshots__/RichTextLists.spec.ts.snap
  packages/rich-text/src/plugins/Voids/createVoidsPlugin.ts
Owners: @contentful/team-bauhaus, @contentful/team-shelley

fix: render entity links as Anchors
  packages/rich-text/src/plugins/Hyperlink/index.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

perf(rich-text): avoid using Editor.nodes
  packages/rich-text/src/helpers/editor.ts
  packages/rich-text/src/plugins/Table/helpers.ts
  packages/rich-text/src/plugins/Text/index.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: render entity links as Anchors (#993)
  packages/rich-text/src/plugins/Hyperlink/index.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus
