Repository contentful/field-editors, changes with the owners that .github/CODEOWNERS names for each.
All owners: @contentful/team-bauhaus, @contentful/team-extensibility, @contentful/team-shelley

chore(release): publish rich-text v2.0.0-next.27 (#1088)
  apps/entry-app-collapsible/package.json
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

fix: pass already known entry link id to onAction
  packages/reference/src/entries/WrappedEntryCard/FetchingWrappedEntryCard.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: pass already known entry link id to onAction (#1089)
  packages/reference/src/entries/WrappedEntryCard/FetchingWrappedEntryCard.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore(release): updated release notes and package versions [ci skip]
  packages/default-field-editors/CHANGELOG.md
  packages/default-field-editors/package.json
  packages/reference/CHANGELOG.md
  packages/reference/package.json
  packages/rich-text/CHANGELOG.md
  packages/rich-text/package.json
Owners: @contentful/team-bauhaus, @contentful/team-shelley

fix(rte): delete devent handles after implementing plates methods
  packages/rich-text/src/helpers/editor.ts
  packages/rich-text/src/plugins/Table/createTablePlugin.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

test(rte): keeps table headers cells when deleting content inside table
  cypress/integration/rich-text/RichTextEditor.spec.ts
Owners: @contentful/team-bauhaus

test(rte): multiple lines deletion inside table
  cypress/integration/rich-text/RichTextEditor.spec.ts
Owners: @contentful/team-bauhaus

fix(rte): delete event handler for tables after implementing plates methods (#1090)
  cypress/integration/rich-text/RichTextEditor.spec.ts
  packages/rich-text/src/helpers/editor.ts
  packages/rich-text/src/plugins/Table/createTablePlugin.ts
Owners: @contentful/team-bauhaus, @contentful/team-shelley

chore(bump): rte 2.0.0-next.28
  apps/entry-app-collapsible/package.json
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

chore(bump): rte 2.0.0-next.28 (#1091)
  apps/entry-app-collapsible/package.json
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

chore: bump apps-scripts to v0.15.8
  apps/rich-text-app/package.json
  apps/singleline-app/package.json
  yarn.lock
Owners: @contentful/team-extensibility, @contentful/team-bauhaus

chore: bump node version support to 14 it is required by @contentful/apps-scripts
  .nvmrc
  CONTRIBUTING.md
  README.md
  package.json
Owners: @contentful/team-bauhaus

chore: bump apps-scripts to v0.15.8 (#1092)
  .nvmrc
  CONTRIBUTING.md
  README.md
  apps/rich-text-app/package.json
  apps/singleline-app/package.json
  package.json
  yarn.lock
Owners: @contentful/team-bauhaus, @contentful/team-extensibility

fix(rich-text): unwrap pasting of single table cells
  packages/rich-text/src/plugins/Table/createTablePlugin.ts
  packages/rich-text/src/plugins/Table/insertTableFragment.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

test: add a cypress test
  cypress/integration/rich-text/RichTextEditor.Pasting.spec.ts
  cypress/integration/rich-text/__snapshots__/RichTextEditor.Pasting.spec.ts.snap
Owners: @contentful/team-bauhaus

fix(rich-text): unwrap pasting of single table cells (#1094)
  cypress/integration/rich-text/RichTextEditor.Pasting.spec.ts
  cypress/integration/rich-text/__snapshots__/RichTextEditor.Pasting.spec.ts.snap
  packages/rich-text/src/plugins/Table/createTablePlugin.ts
  packages/rich-text/src/plugins/Table/insertTableFragment.ts
Owners: @contentful/team-bauhaus, @contentful/team-shelley

feat: tab key at the last table cell creates a row
  packages/rich-text/src/plugins/Table/createTablePlugin.ts
  packages/rich-text/src/plugins/Table/onKeyDownTable.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

test: add cypress test
  cypress/integration/rich-text/RichTextEditor.spec.ts
  cypress/support/index.js
  package.json
  yarn.lock
Owners: @contentful/team-bauhaus

feat: tab key at the last table cell creates a row (#1095)
  cypress/integration/rich-text/RichTextEditor.spec.ts
  cypress/support/index.js
  package.json
  packages/rich-text/src/plugins/Table/createTablePlugin.ts
  packages/rich-text/src/plugins/Table/onKeyDownTable.ts
  yarn.lock
Owners: @contentful/team-bauhaus, @contentful/team-shelley

chore(release): publish rich-text@2.0.0-next.29
  apps/entry-app-collapsible/package.json
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

chore(release): publish rich-text@2.0.0-next.29 (#1096)
  apps/entry-app-collapsible/package.json
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

feat: create SlashCommands plugin
  packages/rich-text/src/plugins/SlashCommands/SlashCommandsPalette.tsx
  packages/rich-text/src/plugins/SlashCommands/createSlashCommandsPlugin.tsx
  packages/rich-text/src/plugins/SlashCommands/helpers.ts
  packages/rich-text/src/plugins/SlashCommands/index.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

feat: implement SlashCommands plugin
  packages/rich-text/src/RichTextEditor.tsx
  packages/rich-text/src/plugins/index.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

test: slash commands panel
  packages/rich-text/src/plugins/SlashCommands/SlashCommandsPalette.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

style(rich-text): remove semi-bold <th> style
  packages/rich-text/src/plugins/Table/components/HeaderCell.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

feat(rich-text): log pasting of invalid table content
  packages/rich-text/src/plugins/Table/addTableTrackingEvents.ts
  packages/rich-text/src/plugins/Tracking/createTrackingPlugin.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

feat: create SlashCommands plugin [] (#1097)
  packages/rich-text/src/RichTextEditor.tsx
  packages/rich-text/src/plugins/SlashCommands/SlashCommandsPalette.tsx
  packages/rich-text/src/plugins/SlashCommands/createSlashCommandsPlugin.tsx
  packages/rich-text/src/plugins/SlashCommands/helpers.ts
  packages/rich-text/src/plugins/SlashCommands/index.tsx
  packages/rich-text/src/plugins/index.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

style(rich-text): remove semi-bold <th> style (#1099)
  packages/rich-text/src/plugins/Table/components/HeaderCell.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

feat(rich-text): log pasting of invalid table content (#1100)
  packages/rich-text/src/plugins/Table/addTableTrackingEvents.ts
  packages/rich-text/src/plugins/Tracking/createTrackingPlugin.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore(release): publish rich-text v2.0.0-next.30
  apps/entry-app-collapsible/package.json
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

chore(release): publish rich-text v2.0.0-next.30 (#1101)
  apps/entry-app-collapsible/package.json
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

fix: soft breaks (shift + enter) doesn't work
  packages/rich-text/package.json
  packages/rich-text/src/plugins/Table/insertTableFragment.ts
  yarn.lock
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore: fix yarn.lock
  yarn.lock
Owners: @contentful/team-bauhaus

fix(rich-text): soft breaks (shift + enter) doesn't work (#1102)
  packages/rich-text/package.json
  packages/rich-text/src/plugins/Table/insertTableFragment.ts
  yarn.lock
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore(release): publish rich-text v2.0.0-next.31
  apps/entry-app-collapsible/package.json
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

chore(release): publish rich-text v2.0.0-next.31 (#1103)
  apps/entry-app-collapsible/package.json
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

style: add th borders on firefox
  packages/rich-text/src/plugins/Table/components/HeaderCell.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

style: add th borders on firefox (#1105)
  packages/rich-text/src/plugins/Table/components/HeaderCell.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: better way to track invalid table cell paste
  packages/rich-text/src/plugins/Table/addTableTrackingEvents.ts
  packages/rich-text/src/plugins/Table/createTablePlugin.ts
  packages/rich-text/src/plugins/Table/tableTracking.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

test(tracking): add test to identify pasting source
  cypress/integration/rich-text/RichTextEditor.Tracking.spec.ts
Owners: @contentful/team-bauhaus

.github/CODEOWNERS:

*                      @contentful/team-bauhaus

apps/                  @contentful/team-extensibility
packages/rich-text/    @contentful/team-shelley @contentful/team-bauhaus
packages/reference/    @contentful/team-shelley @contentful/team-bauhaus
