Repository contentful/field-editors, changes with the owners that .github/CODEOWNERS names for each.
All owners: @contentful/team-bauhaus, @contentful/team-extensibility, @contentful/team-shelley

.github/CODEOWNERS:

*                      @contentful/team-bauhaus

apps/                  @contentful/team-extensibility
packages/rich-text/    @contentful/team-shelley @contentful/team-bauhaus
packages/reference/    @contentful/team-shelley @contentful/team-bauhaus

chore(docz): validate against Rich Text schema
  cypress/integration/rich-text/RichTextEditor.spec.ts
  cypress/integration/rich-text/RichTextPage.ts
  packages/rich-text/package.json
  packages/rich-text/src/RichTextEditor.mdx
  packages/rich-text/src/test-utils/toContentfulError.ts
  packages/rich-text/src/test-utils/validation.ts
  yarn.lock
Owners: @contentful/team-bauhaus, @contentful/team-shelley

fix: remove extra ")"
  packages/rich-text/src/RichTextEditor.mdx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore(rich-text): release v2.0.0-next.2 [skip ci]
  apps/entry-app-collapsible/package.json
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

test(rich-text): add a test for pasting hyperlinks
  cypress/integration/rich-text/RichTextEditor.Pasting.spec.ts
Owners: @contentful/team-bauhaus

test: add drag&drop to cypress and test for history
  cypress/integration/rich-text/RichTextEditor.spec.ts
  cypress/support/commands.js
  cypress/support/index.d.ts
Owners: @contentful/team-bauhaus

test: cypress snapshot poc
  .eslintignore
  cypress.json
  cypress/integration/rich-text/RichTextEditor.Pasting.spec.ts
  cypress/integration/rich-text/RichTextPage.ts
  cypress/snapshots.js
  cypress/support/commands.js
  package.json
Owners: @contentful/team-bauhaus

test(rich-text): add a test for pasting hyperlinks (#956)
  cypress/integration/rich-text/RichTextEditor.Pasting.spec.ts
Owners: @contentful/team-bauhaus

test: inconsistent test
  cypress/integration/rich-text/RichTextEditor.spec.ts
Owners: @contentful/team-bauhaus

test: rollback test
  cypress/integration/rich-text/RichTextEditor.spec.ts
Owners: @contentful/team-bauhaus

refactor: remove unnecessary errors
  packages/rich-text/src/test-utils/toContentfulError.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore(docz): validate against Rich Text schema (#953)
  cypress/integration/rich-text/RichTextEditor.spec.ts
  cypress/integration/rich-text/RichTextPage.ts
  packages/rich-text/package.json
  packages/rich-text/src/RichTextEditor.mdx
  packages/rich-text/src/test-utils/toContentfulError.ts
  packages/rich-text/src/test-utils/validation.ts
  yarn.lock
Owners: @contentful/team-bauhaus, @contentful/team-shelley

test: cypress snapshot poc with relative snapshot file directory
  .eslintignore
  .gitignore
  cypress.json
  cypress/integration/rich-text/RichTextEditor.Pasting.spec.ts
  cypress/plugins/index.js
  cypress/snapshots.js
  cypress/support/index.js
  yarn.lock
Owners: @contentful/team-bauhaus

chore(rich-text): update @contentful/rich-text-types
  packages/rich-text/package.json
  packages/rich-text/src/RichTextEditor.mdx
  packages/rich-text/src/test-utils/toContentfulError.ts
  packages/rich-text/src/test-utils/validation.ts
  yarn.lock
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore: 🤖 bump @contentful/f36-components version
  apps/entry-app-collapsible/package.json
  apps/markdown-app/package.json
  apps/multiple-references-app/package.json
  apps/rich-text-app/package.json
  apps/singleline-app/package.json
  package.json
  packages/boolean/package.json
  packages/checkbox/package.json
  packages/date/package.json
  packages/default-field-editors/package.json
  packages/dropdown/package.json
  packages/json/package.json
  packages/list/package.json
  packages/location/package.json
  packages/markdown/package.json
  packages/multiple-line/package.json
  packages/number/package.json
  packages/radio/package.json
  packages/rating/package.json
  packages/reference/package.json
  packages/rich-text/package.json
  packages/single-line/package.json
  packages/slug/package.json
  packages/tags/package.json
  packages/url/package.json
  packages/validation-errors/package.json
  yarn.lock
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

test: adding the snapshot file to the repo
  .eslintignore
  .gitignore
  cypress/integration/rich-text/snapshots.js
Owners: @contentful/team-bauhaus

test: fixing lint
  .eslintignore
Owners: @contentful/team-bauhaus

fix: infinite asset loading in rte
  packages/rich-text/src/plugins/shared/FetchingWrappedEntryCard.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: infinite asset loading in rte (#959)
  packages/rich-text/src/plugins/shared/FetchingWrappedEntryCard.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

refactor: use individual plate packages
  packages/rich-text/package.json
  packages/rich-text/src/ContentfulEditorProvider.ts
  packages/rich-text/src/RichTextEditor.tsx
  packages/rich-text/src/helpers/deserializer.ts
  packages/rich-text/src/helpers/editor.spec.ts
  packages/rich-text/src/helpers/editor.ts
  packages/rich-text/src/plugins/Bold/index.tsx
  packages/rich-text/src/plugins/Code/index.tsx
  packages/rich-text/src/plugins/DragAndDrop/index.tsx
  packages/rich-text/src/plugins/EmbeddedEntityBlock/Util.ts
  packages/rich-text/src/plugins/EmbeddedEntityBlock/index.tsx
  packages/rich-text/src/plugins/EmbeddedEntityInline/index.tsx
  packages/rich-text/src/plugins/Heading/index.tsx
  packages/rich-text/src/plugins/Hr/index.tsx
  packages/rich-text/src/plugins/Hyperlink/HyperlinkModal.tsx
  packages/rich-text/src/plugins/Hyperlink/index.tsx
  packages/rich-text/src/plugins/InsertBeforeFirstVoidBlock/index.tsx
  packages/rich-text/src/plugins/Italic/index.tsx
  packages/rich-text/src/plugins/List/getListInsertFragment.ts
  packages/rich-text/src/plugins/List/index.tsx
  packages/rich-text/src/plugins/NewLine/index.tsx
  packages/rich-text/src/plugins/Paragraph/index.tsx
  packages/rich-text/src/plugins/Paste/index.tsx
  packages/rich-text/src/plugins/Paste/sanitizers/helpers.tsx
  packages/rich-text/src/plugins/Quote/index.tsx
  packages/rich-text/src/plugins/Table/TableActions.tsx
  packages/rich-text/src/plugins/Table/actions/addColumn.ts
  packages/rich-text/src/plugins/Table/actions/addRow.ts
  packages/rich-text/src/plugins/Table/actions/setHeader.ts
  packages/rich-text/src/plugins/Table/helpers.ts
  packages/rich-text/src/plugins/Table/index.tsx
  packages/rich-text/src/plugins/Table/normalizers.ts
  packages/rich-text/src/plugins/Text/index.ts
  packages/rich-text/src/plugins/TrailingParagraph/index.ts
  packages/rich-text/src/plugins/Underline/index.tsx
  packages/rich-text/src/plugins/index.ts
  packages/rich-text/src/test-utils/createEditor.ts
  packages/rich-text/src/types.ts
  yarn.lock
Owners: @contentful/team-shelley, @contentful/team-bauhaus

test: use cypress-plugin-snapshots
  .eslintignore
  cypress.json
  cypress/integration/rich-text/RichTextPage.ts
  cypress/integration/rich-text/__snapshots__/RichTextEditor.Pasting.spec.ts.snap
  cypress/integration/rich-text/snapshots.js
  cypress/plugins/index.js
  cypress/support/commands.js
  cypress/support/index.js
  package.json
  yarn.lock
Owners: @contentful/team-bauhaus

test: d&d
  cypress/integration/rich-text/RichTextEditor.spec.ts
Owners: @contentful/team-bauhaus

test: extract to a variable
  cypress/integration/rich-text/RichTextEditor.spec.ts
Owners: @contentful/team-bauhaus

test: use snapshots in rte pasting tests (#955)
  cypress.json
  cypress/integration/rich-text/RichTextEditor.Pasting.spec.ts
  cypress/integration/rich-text/RichTextPage.ts
  cypress/integration/rich-text/__snapshots__/RichTextEditor.Pasting.spec.ts.snap
  cypress/plugins/index.js
  cypress/support/index.js
  package.json
  yarn.lock
Owners: @contentful/team-bauhaus

test: adjust for firefox
  cypress/integration/rich-text/RichTextEditor.spec.ts
Owners: @contentful/team-bauhaus

fix: separate dnd action in a separate history batch (#947)
  cypress/integration/rich-text/RichTextEditor.spec.ts
  cypress/support/commands.js
  cypress/support/index.d.ts
  packages/rich-text/src/plugins/DragAndDrop/index.tsx
Owners: @contentful/team-bauhaus, @contentful/team-shelley

chore(rich-text): update @contentful/rich-text-types (#957)
  packages/rich-text/package.json
  packages/rich-text/src/RichTextEditor.mdx
  packages/rich-text/src/test-utils/toContentfulError.ts
  packages/rich-text/src/test-utils/validation.ts
  yarn.lock
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore(rich-text): release v2.0.0-next.2 [skip ci] (#954)
  apps/entry-app-collapsible/package.json
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

test: fix unit tests setup
  packages/rich-text/src/test-utils/createEditor.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

refactor: use individual plate packages (#960)
  packages/rich-text/package.json
  packages/rich-text/src/ContentfulEditorProvider.ts
  packages/rich-text/src/RichTextEditor.tsx
  packages/rich-text/src/helpers/deserializer.ts
  packages/rich-text/src/helpers/editor.spec.ts
  packages/rich-text/src/helpers/editor.ts
  packages/rich-text/src/plugins/Bold/index.tsx
  packages/rich-text/src/plugins/Code/index.tsx
  packages/rich-text/src/plugins/DragAndDrop/index.tsx
  packages/rich-text/src/plugins/EmbeddedEntityBlock/Util.ts
  packages/rich-text/src/plugins/EmbeddedEntityBlock/index.tsx
  packages/rich-text/src/plugins/EmbeddedEntityInline/index.tsx
  packages/rich-text/src/plugins/Heading/index.tsx
  packages/rich-text/src/plugins/Hr/index.tsx
  packages/rich-text/src/plugins/Hyperlink/HyperlinkModal.tsx
  packages/rich-text/src/plugins/Hyperlink/index.tsx
  packages/rich-text/src/plugins/InsertBeforeFirstVoidBlock/index.tsx
  packages/rich-text/src/plugins/Italic/index.tsx
  packages/rich-text/src/plugins/List/getListInsertFragment.ts
  packages/rich-text/src/plugins/List/index.tsx
  packages/rich-text/src/plugins/NewLine/index.tsx
  packages/rich-text/src/plugins/Paragraph/index.tsx
  packages/rich-text/src/plugins/Paste/index.tsx
  packages/rich-text/src/plugins/Paste/sanitizers/helpers.tsx
  packages/rich-text/src/plugins/Quote/index.tsx
  packages/rich-text/src/plugins/Table/TableActions.tsx
  packages/rich-text/src/plugins/Table/actions/addColumn.ts
  packages/rich-text/src/plugins/Table/actions/addRow.ts
  packages/rich-text/src/plugins/Table/actions/setHeader.ts
  packages/rich-text/src/plugins/Table/helpers.ts
  packages/rich-text/src/plugins/Table/index.tsx
  packages/rich-text/src/plugins/Table/normalizers.ts
  packages/rich-text/src/plugins/Text/index.ts
  packages/rich-text/src/plugins/TrailingParagraph/index.ts
  packages/rich-text/src/plugins/Underline/index.tsx
  packages/rich-text/src/plugins/index.ts
  packages/rich-text/src/test-utils/createEditor.ts
  packages/rich-text/src/types.ts
  yarn.lock
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: enter on void elements only on root level
  packages/rich-text/src/helpers/editor.ts
  packages/rich-text/src/plugins/InsertBeforeFirstVoidBlock/index.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: remove unnecessary code in favor of inser before void plugin
  packages/rich-text/src/plugins/Hr/index.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

feat: add drag and copy & paste for HR
  packages/rich-text/src/plugins/DragAndDrop/index.tsx
  packages/rich-text/src/plugins/Hr/index.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

test: copy & paste for HR
  cypress/integration/rich-text/RichTextEditor.Pasting.spec.ts
  cypress/integration/rich-text/__snapshots__/RichTextEditor.Pasting.spec.ts.snap
Owners: @contentful/team-bauhaus

fix: hr not being selecting when being the first element
  packages/rich-text/src/plugins/Hr/index.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore(release): rich-text v2.0.0-next.3
  apps/entry-app-collapsible/package.json
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

test: selecting everything when hr is the first void block
  cypress/integration/rich-text/RichTextEditor.spec.ts
  packages/rich-text/src/plugins/Hr/index.tsx
Owners: @contentful/team-bauhaus, @contentful/team-shelley

chore(release): rich-text v2.0.0-next.3 (#962)
  apps/entry-app-collapsible/package.json
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

feat: add copy & paste and drag & drop for HR (#961)
  cypress/integration/rich-text/RichTextEditor.Pasting.spec.ts
  cypress/integration/rich-text/RichTextEditor.spec.ts
  cypress/integration/rich-text/__snapshots__/RichTextEditor.Pasting.spec.ts.snap
  packages/rich-text/src/helpers/editor.ts
  packages/rich-text/src/plugins/DragAndDrop/index.tsx
  packages/rich-text/src/plugins/Hr/index.tsx
  packages/rich-text/src/plugins/InsertBeforeFirstVoidBlock/index.tsx
Owners: @contentful/team-bauhaus, @contentful/team-shelley

fix: disable edit/remove actions on readonly mode
  packages/rich-text/src/Toolbar/EmbedEntityWidget.tsx
  packages/rich-text/src/plugins/EmbeddedEntityInline/FetchingWrappedInlineEntryCard.tsx
  packages/rich-text/src/plugins/Heading/index.tsx
  packages/rich-text/src/plugins/Hyperlink/index.tsx
  packages/rich-text/src/plugins/Table/TableActions.tsx
  packages/rich-text/src/plugins/shared/FetchingWrappedAssetCard.tsx
  packages/rich-text/src/plugins/shared/FetchingWrappedEntryCard.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

test: add unit tests
  packages/rich-text/src/plugins/shared/__fixtures__/published_asset.json
  packages/rich-text/src/plugins/shared/__fixtures__/published_content_type.json
  packages/rich-text/src/plugins/shared/__fixtures__/published_entry.json
  packages/rich-text/src/plugins/shared/__tests__/FetchingWrappedAssetCard.test.tsx
  packages/rich-text/src/plugins/shared/__tests__/FetchingWrappedEntryCard.test.tsx
  packages/rich-text/tsconfig.json
Owners: @contentful/team-shelley, @contentful/team-bauhaus
