Repository contentful/field-editors, changes with the owners that .github/CODEOWNERS names for each.
All owners: @contentful/team-bauhaus, @contentful/team-extensibility, @contentful/team-shelley

.github/CODEOWNERS:

*                      @contentful/team-bauhaus

apps/                  @contentful/team-extensibility
packages/rich-text/    @contentful/team-shelley @contentful/team-bauhaus
packages/reference/    @contentful/team-shelley @contentful/team-bauhaus

feat: bump f36 packages
  apps/entry-app-collapsible/package.json
  apps/markdown-app/package.json
  apps/multiple-references-app/package.json
  apps/rich-text-app/package.json
  apps/singleline-app/package.json
  package.json
  packages/_shared/package.json
  packages/_test/package.json
  packages/boolean/package.json
  packages/checkbox/package.json
  packages/date/package.json
  packages/default-field-editors/package.json
  packages/dropdown/package.json
  packages/json/package.json
  packages/list/package.json
  packages/location/package.json
  packages/markdown/package.json
  packages/multiple-line/package.json
  packages/number/package.json
  packages/radio/package.json
  packages/rating/package.json
  packages/reference/package.json
  packages/rich-text/package.json
  packages/single-line/package.json
  packages/slug/package.json
  packages/tags/package.json
  packages/url/package.json
  packages/validation-errors/package.json
  yarn.lock
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

fix: markdownToolbar buttons
  packages/markdown/src/components/MarkdownToolbar.tsx
Owners: @contentful/team-bauhaus

fix: markdown buttons (#968)
  apps/entry-app-collapsible/package.json
  apps/markdown-app/package.json
  apps/multiple-references-app/package.json
  apps/rich-text-app/package.json
  apps/singleline-app/package.json
  package.json
  packages/_shared/package.json
  packages/_test/package.json
  packages/boolean/package.json
  packages/checkbox/package.json
  packages/date/package.json
  packages/default-field-editors/package.json
  packages/dropdown/package.json
  packages/json/package.json
  packages/list/package.json
  packages/location/package.json
  packages/markdown/package.json
  packages/markdown/src/components/MarkdownToolbar.tsx
  packages/multiple-line/package.json
  packages/number/package.json
  packages/radio/package.json
  packages/rating/package.json
  packages/reference/package.json
  packages/rich-text/package.json
  packages/single-line/package.json
  packages/slug/package.json
  packages/tags/package.json
  packages/url/package.json
  packages/validation-errors/package.json
  yarn.lock
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

test: fix unit tests
  packages/rich-text/src/plugins/List/__tests__/normalization.test.tsx
  packages/rich-text/src/plugins/Table/__tests__/normalization.test.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

test: improve unit tests
  packages/rich-text/src/plugins/List/__tests__/normalization.test.tsx
  packages/rich-text/src/plugins/Table/__tests__/normalization.test.tsx
  packages/rich-text/src/test-utils/createEditor.ts
  packages/rich-text/src/test-utils/jsx.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

test: fix cypress testFiles pattern
  cypress.json
Owners: @contentful/team-bauhaus

refactor: update plate dependencies again
  packages/rich-text/package.json
  packages/rich-text/src/plugins/List/getListInsertFragment.ts
  packages/rich-text/src/plugins/Paragraph/index.tsx
  yarn.lock
Owners: @contentful/team-shelley, @contentful/team-bauhaus

test: adding cypress test for downloading assets
  cypress/integration/rich-text/RichTextEditor.spec.ts
  packages/rich-text/src/plugins/shared/FetchingWrappedAssetCard.tsx
Owners: @contentful/team-bauhaus, @contentful/team-shelley

test: upgrade Cypress
  package.json
  yarn.lock
Owners: @contentful/team-bauhaus

fix: disable even-editor plugin
  cypress/integration/rich-text/RichTextPage.ts
  packages/rich-text/src/RichTextEditor.tsx
Owners: @contentful/team-bauhaus, @contentful/team-shelley

fix: enable heading hotkeys & exit rules
  packages/rich-text/src/plugins/Break/exit.ts
  packages/rich-text/src/plugins/Heading/index.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: handle hyperlink keyboard events
  packages/rich-text/package.json
  packages/rich-text/src/plugins/Hyperlink/index.tsx
  yarn.lock
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: handle entity blocks keyboard events
  cypress/integration/rich-text/RichTextEditor.spec.ts
  packages/rich-text/src/plugins/EmbeddedEntityBlock/index.tsx
Owners: @contentful/team-bauhaus, @contentful/team-shelley

fix: soft break headings on shift+enter
  packages/rich-text/src/plugins/Break/soft.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore: add @types/is-hotkey
  packages/rich-text/package.json
  yarn.lock
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: set table onkeydown handler correctly
  packages/rich-text/src/plugins/EmbeddedEntityBlock/index.tsx
  packages/rich-text/src/plugins/Hyperlink/index.tsx
  packages/rich-text/src/plugins/Table/index.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: disable insertData core plugin
  packages/rich-text/src/RichTextEditor.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

refactor: remove unused types
  packages/rich-text/src/types.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: re-enable isnertData plugin
  packages/rich-text/src/RichTextEditor.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

refactor: remove unused helpers
  packages/rich-text/src/helpers/editor.ts
  packages/rich-text/src/helpers/sanitizeSlateDoc.ts
  packages/rich-text/src/plugins/Break/exit.ts
  packages/rich-text/src/types.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

refactor: fix import
  packages/rich-text/src/plugins/List/index.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore: fix typo
  packages/rich-text/src/plugins/shared/FetchingWrappedAssetCard.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: download image no longer opens a new tab (#966)
  cypress/integration/rich-text/RichTextEditor.spec.ts
  packages/rich-text/src/plugins/shared/FetchingWrappedAssetCard.tsx
Owners: @contentful/team-bauhaus, @contentful/team-shelley

refactor: drive soft-break plugin's configurations from other plugins
  packages/rich-text/package.json
  packages/rich-text/src/RichTextEditor.tsx
  packages/rich-text/src/plugins/Break/createExitBreakPlugin.ts
  packages/rich-text/src/plugins/Break/createSoftBreakPlugin.test.tsx
  packages/rich-text/src/plugins/Break/createSoftBreakPlugin.ts
  packages/rich-text/src/plugins/Break/index.ts
  packages/rich-text/src/plugins/Break/soft.ts
  packages/rich-text/src/plugins/DragAndDrop/index.tsx
  packages/rich-text/src/plugins/EmbeddedEntityBlock/index.tsx
  packages/rich-text/src/plugins/EmbeddedEntityInline/index.tsx
  packages/rich-text/src/plugins/Heading/index.tsx
  packages/rich-text/src/plugins/Hr/index.tsx
  packages/rich-text/src/plugins/Hyperlink/index.tsx
  packages/rich-text/src/plugins/List/getListInsertFragment.ts
  packages/rich-text/src/plugins/List/index.tsx
  packages/rich-text/src/plugins/Marks/Bold.tsx
  packages/rich-text/src/plugins/Marks/Code.tsx
  packages/rich-text/src/plugins/Marks/Italic.tsx
  packages/rich-text/src/plugins/Marks/Underline.tsx
  packages/rich-text/src/plugins/Marks/index.ts
  packages/rich-text/src/plugins/Paragraph/Paragraph.tsx
  packages/rich-text/src/plugins/Paragraph/createParagraphPlugin.tsx
  packages/rich-text/src/plugins/Paragraph/index.tsx
  packages/rich-text/src/plugins/Paste/index.tsx
  packages/rich-text/src/plugins/Quote/index.tsx
  packages/rich-text/src/plugins/Table/index.tsx
  packages/rich-text/src/plugins/Text/index.ts
  packages/rich-text/src/plugins/index.ts
  packages/rich-text/src/plugins/types.ts
  packages/rich-text/src/test-utils/createEditor.ts
  yarn.lock
Owners: @contentful/team-shelley, @contentful/team-bauhaus

test: fix selectors
  cypress/integration/rich-text/RichTextEditor.spec.ts
Owners: @contentful/team-bauhaus

refactor: drive soft-break plugin's configurations from other plugins (#969)
  cypress/integration/rich-text/RichTextEditor.spec.ts
  packages/rich-text/package.json
  packages/rich-text/src/RichTextEditor.tsx
  packages/rich-text/src/plugins/Break/createExitBreakPlugin.ts
  packages/rich-text/src/plugins/Break/createSoftBreakPlugin.test.tsx
  packages/rich-text/src/plugins/Break/createSoftBreakPlugin.ts
  packages/rich-text/src/plugins/Break/index.ts
  packages/rich-text/src/plugins/Break/soft.ts
  packages/rich-text/src/plugins/DragAndDrop/index.tsx
  packages/rich-text/src/plugins/EmbeddedEntityBlock/index.tsx
  packages/rich-text/src/plugins/EmbeddedEntityInline/index.tsx
  packages/rich-text/src/plugins/Heading/index.tsx
  packages/rich-text/src/plugins/Hr/index.tsx
  packages/rich-text/src/plugins/Hyperlink/index.tsx
  packages/rich-text/src/plugins/List/getListInsertFragment.ts
  packages/rich-text/src/plugins/List/index.tsx
  packages/rich-text/src/plugins/Marks/Bold.tsx
  packages/rich-text/src/plugins/Marks/Code.tsx
  packages/rich-text/src/plugins/Marks/Italic.tsx
  packages/rich-text/src/plugins/Marks/Underline.tsx
  packages/rich-text/src/plugins/Marks/index.ts
  packages/rich-text/src/plugins/Paragraph/Paragraph.tsx
  packages/rich-text/src/plugins/Paragraph/createParagraphPlugin.tsx
  packages/rich-text/src/plugins/Paragraph/index.tsx
  packages/rich-text/src/plugins/Paste/index.tsx
  packages/rich-text/src/plugins/Quote/index.tsx
  packages/rich-text/src/plugins/Table/index.tsx
  packages/rich-text/src/plugins/Text/index.ts
  packages/rich-text/src/plugins/index.ts
  packages/rich-text/src/plugins/types.ts
  packages/rich-text/src/test-utils/createEditor.ts
  yarn.lock
Owners: @contentful/team-bauhaus, @contentful/team-shelley

refactor: remove unused code
  packages/rich-text/src/helpers/editor.ts
  packages/rich-text/src/helpers/normalizers.ts
  packages/rich-text/src/helpers/sanitizeSlateDoc.ts
  packages/rich-text/src/plugins/Break/createExitBreakPlugin.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

refactor: use normalizer in the paragraph plugin
  packages/rich-text/src/helpers/transformers.ts
  packages/rich-text/src/plugins/List/createListPlugin.ts
  packages/rich-text/src/plugins/Normalizer/types.ts
  packages/rich-text/src/plugins/Paragraph/createParagraphPlugin.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

refactor: replace more classic normalization
  packages/rich-text/src/helpers/transformers.ts
  packages/rich-text/src/plugins/Normalizer/utils.ts
  packages/rich-text/src/plugins/Normalizer/withNormalizer.ts
  packages/rich-text/src/plugins/Paragraph/createParagraphPlugin.tsx
  packages/rich-text/src/plugins/Text/index.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

refactor: cleaning the exitBreak plugin code
  packages/rich-text/src/plugins/Break/createExitBreakPlugin.ts
  packages/rich-text/src/plugins/Heading/index.tsx
  packages/rich-text/src/plugins/types.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

refactor: clean up quote plugin
  packages/rich-text/src/helpers/editor.ts
  packages/rich-text/src/plugins/Quote/components/Quote.tsx
  packages/rich-text/src/plugins/Quote/components/ToolbarQuoteButton.tsx
  packages/rich-text/src/plugins/Quote/createQuotePlugin.ts
  packages/rich-text/src/plugins/Quote/index.tsx
  packages/rich-text/src/plugins/Quote/utils.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

refactor: get rid of DragAndDrop plugin
  packages/rich-text/src/RichTextEditor.mdx
  packages/rich-text/src/helpers/editor.ts
  packages/rich-text/src/helpers/transformers.ts
  packages/rich-text/src/helpers/withOnDrop.ts
  packages/rich-text/src/plugins/DragAndDrop/index.tsx
  packages/rich-text/src/plugins/Quote/__tests__/createQuotePlugin.test.tsx
  packages/rich-text/src/plugins/Quote/createQuotePlugin.ts
  packages/rich-text/src/plugins/Quote/utils.ts
  packages/rich-text/src/plugins/Table/createTablePlugin.ts
  packages/rich-text/src/plugins/TrailingParagraph/index.ts
  packages/rich-text/src/plugins/index.ts
  packages/rich-text/src/test-utils/createEditor.ts
  packages/rich-text/src/test-utils/jsx.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

Revert "refactor: get rid of DragAndDrop plugin"
  packages/rich-text/src/RichTextEditor.mdx
  packages/rich-text/src/helpers/editor.ts
  packages/rich-text/src/helpers/transformers.ts
  packages/rich-text/src/helpers/withOnDrop.ts
  packages/rich-text/src/plugins/DragAndDrop/index.tsx
  packages/rich-text/src/plugins/Quote/__tests__/createQuotePlugin.test.tsx
  packages/rich-text/src/plugins/Quote/createQuotePlugin.ts
  packages/rich-text/src/plugins/Quote/utils.ts
  packages/rich-text/src/plugins/Table/createTablePlugin.ts
  packages/rich-text/src/plugins/TrailingParagraph/index.ts
  packages/rich-text/src/plugins/index.ts
  packages/rich-text/src/test-utils/createEditor.ts
  packages/rich-text/src/test-utils/jsx.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

refactor: adjust DragAndDrop plugin
  packages/rich-text/src/RichTextEditor.mdx
  packages/rich-text/src/helpers/editor.ts
  packages/rich-text/src/helpers/transformers.ts
  packages/rich-text/src/plugins/DragAndDrop/index.tsx
  packages/rich-text/src/plugins/Quote/__test__/createQuotePlugin.test.tsx
  packages/rich-text/src/plugins/Quote/createQuotePlugin.ts
  packages/rich-text/src/plugins/Quote/utils.ts
  packages/rich-text/src/plugins/TrailingParagraph/index.ts
  packages/rich-text/src/test-utils/createEditor.ts
  packages/rich-text/src/test-utils/jsx.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

test: adding unit test for createExitBreakPlugin
  packages/rich-text/src/plugins/Break/createExitBreakPlugin.test.tsx
  packages/rich-text/src/plugins/Break/createExitBreakPlugin.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

refactor: cleaning the exitBreak plugin code (#971)
  packages/rich-text/src/plugins/Break/createExitBreakPlugin.test.tsx
  packages/rich-text/src/plugins/Break/createExitBreakPlugin.ts
  packages/rich-text/src/plugins/Heading/index.tsx
  packages/rich-text/src/plugins/types.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

test: add unit tests for the Normalizer plugin
  packages/rich-text/src/helpers/editor.ts
  packages/rich-text/src/plugins/Break/createSoftBreakPlugin.test.tsx
  packages/rich-text/src/plugins/List/__tests__/normalization.test.tsx
  packages/rich-text/src/plugins/Normalizer/createNormalizerPlugin.test.tsx
  packages/rich-text/src/plugins/Normalizer/withNormalizer.ts
  packages/rich-text/src/plugins/Quote/__test__/createQuotePlugin.test.tsx
  packages/rich-text/src/plugins/Table/__tests__/normalization.test.tsx
  packages/rich-text/src/test-utils/createEditor.ts
  packages/rich-text/src/test-utils/index.ts
  packages/rich-text/src/test-utils/jsx.ts
  packages/rich-text/src/test-utils/mockPlugin.ts
  packages/rich-text/src/test-utils/randomId.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

refactor: clean up list plugin
  packages/rich-text/src/plugins/List/createListPlugin.ts
  packages/rich-text/src/plugins/List/utils.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

test: add more unit tests
  packages/rich-text/src/plugins/List/__tests__/normalization.test.tsx
  packages/rich-text/src/plugins/Normalizer/createNormalizerPlugin.test.tsx
  packages/rich-text/src/plugins/Quote/__test__/createQuotePlugin.test.tsx
  packages/rich-text/src/plugins/Table/__tests__/createTablePlugin.test.tsx
  packages/rich-text/src/plugins/Table/__tests__/helpers.test.tsx
  packages/rich-text/src/test-utils/assertOutput.ts
  packages/rich-text/src/test-utils/createEditor.ts
  packages/rich-text/src/test-utils/index.ts
  packages/rich-text/src/test-utils/setEmptyDataAttribute.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

build: skip build on "lint" and "unit-test" steps
  .circleci/config.yml
Owners: @contentful/team-bauhaus
