Repository contentful/field-editors, changes with the owners that .github/CODEOWNERS names for each.
All owners: @contentful/team-bauhaus, @contentful/team-extensibility, @contentful/team-shelley

chore: increment version
  apps/entry-app-collapsible/package.json
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
  yarn.lock
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

fix: show the disable state on fields
  packages/_shared/src/FieldConnector.ts
  packages/json/src/JsonEditoField.tsx
  packages/location/src/GoogleMapView.tsx
  packages/markdown/src/components/MarkdownTextarea/MarkdownTextarea.tsx
  packages/radio/src/RadioEditor.tsx
  packages/rich-text/src/RichTextEditor.styles.ts
Owners: @contentful/team-bauhaus, @contentful/team-shelley

chore: increment version (#1070)
  apps/entry-app-collapsible/package.json
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
  yarn.lock
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

fix: show the disable state on fields
  packages/json/src/JsonEditoField.tsx
  packages/location/src/GoogleMapView.tsx
  packages/markdown/src/components/MarkdownTextarea/MarkdownTextarea.tsx
  packages/radio/src/RadioEditor.tsx
  packages/rich-text/src/RichTextEditor.jsx
  yarn.lock
Owners: @contentful/team-bauhaus, @contentful/team-shelley

fix(rich-text): fix entity cards alignment in <li>
  packages/rich-text/src/plugins/EmbeddedEntityBlock/LinkedEntityBlock.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix(rich-text): fix entity cards alignment in <li> (#1073)
  packages/rich-text/src/plugins/EmbeddedEntityBlock/LinkedEntityBlock.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore(release): publish rich-text v2.0.0-next.23
  apps/entry-app-collapsible/package.json
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

fix: link data in safari
  packages/rich-text/src/helpers/editor.ts
  packages/rich-text/src/plugins/Hyperlink/HyperlinkModal.tsx
  packages/rich-text/src/plugins/Hyperlink/components/EntityHyperlink.tsx
  packages/rich-text/src/plugins/Hyperlink/components/UrlHyperlink.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore(release): publish rich-text v2.0.0-next.23 (#1074)
  apps/entry-app-collapsible/package.json
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

feat: introduce isDisabled prop to the field editors
  packages/_shared/src/FieldConnector.ts
  packages/boolean/src/BooleanEditor.tsx
  packages/checkbox/src/CheckboxEditor.tsx
  packages/date/src/DateEditor.tsx
  packages/default-field-editors/src/Field.tsx
  packages/dropdown/src/DropdownEditor.tsx
  packages/json/src/JsonEditoField.tsx
  packages/json/src/JsonEditor.tsx
  packages/list/src/ListEditor.tsx
  packages/location/src/GoogleMapView.tsx
  packages/location/src/LocationEditor.tsx
  packages/markdown/src/MarkdownEditor.tsx
  packages/markdown/src/components/MarkdownTextarea/MarkdownTextarea.tsx
  packages/multiple-line/src/MultipleLineEditor.tsx
  packages/number/src/NumberEditor.tsx
  packages/radio/src/RadioEditor.tsx
  packages/rating/src/RatingEditor.tsx
  packages/reference/src/assets/SingleMediaEditor.tsx
  packages/reference/src/common/ReferenceEditor.tsx
  packages/reference/src/common/SingleReferenceEditor.tsx
  packages/reference/src/components/LinkActions/LinkActions.tsx
  packages/reference/src/components/LinkActions/LinkEntityActions.tsx
  packages/reference/src/components/MissingEntityCard/MissingEntityCard.tsx
  packages/reference/src/entries/SortableElements.tsx
  packages/reference/src/entries/WrappedEntryCard/FetchingWrappedEntryCard.tsx
  packages/reference/src/entries/WrappedEntryCard/WrappedEntryCard.tsx
  packages/rich-text/src/RichTextEditor.jsx
  packages/single-line/src/SingleLineEditor.tsx
  packages/slug/src/SlugEditor.tsx
  packages/slug/src/SlugEditorField.tsx
  packages/tags/src/TagsEditor.tsx
  packages/tags/src/TagsEditorContainer.tsx
  packages/url/src/UrlEditor.tsx
Owners: @contentful/team-bauhaus, @contentful/team-shelley

fix: list toolbar state when selection is a range
  packages/rich-text/src/plugins/List/utils.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: link data in safari (#1069)
  packages/rich-text/src/helpers/editor.ts
  packages/rich-text/src/plugins/Hyperlink/HyperlinkModal.tsx
  packages/rich-text/src/plugins/Hyperlink/components/EntityHyperlink.tsx
  packages/rich-text/src/plugins/Hyperlink/components/UrlHyperlink.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: list toolbar state when selection is a range (#1076)
  packages/rich-text/src/plugins/List/utils.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: style block elements as CSS blocks
  packages/rich-text/src/plugins/EmbeddedEntityBlock/LinkedEntityBlock.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: style block elements as CSS blocks (#1077)
  packages/rich-text/src/plugins/EmbeddedEntityBlock/LinkedEntityBlock.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore(release): publish rich-text v2.0.0-next.24
  apps/entry-app-collapsible/package.json
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

chore(release): publish rich-text v2.0.0-next.24 (#1078)
  apps/entry-app-collapsible/package.json
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

fix(rte): pasting tables with containers
  packages/rich-text/src/plugins/PasteHTML/utils/sanitizeHTML.ts
  packages/rich-text/src/plugins/Table/createTablePlugin.ts
  packages/rich-text/src/plugins/Table/helpers.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

test(rte): update tests after table fix
  cypress/integration/rich-text/RichTextEditor.Pasting.spec.ts
  cypress/integration/rich-text/__snapshots__/RichTextEditor.Pasting.spec.ts.snap
  packages/rich-text/src/plugins/Table/createTablePlugin.ts
Owners: @contentful/team-bauhaus, @contentful/team-shelley

fix(rte): initial empty paragraph when editor is empty on inserting tables
  cypress/integration/rich-text/__snapshots__/RichTextEditor.Pasting.spec.ts.snap
  packages/rich-text/src/plugins/Table/createTablePlugin.ts
Owners: @contentful/team-bauhaus, @contentful/team-shelley

fix(rte): pasting tables with containers [] (#1079)
  cypress/integration/rich-text/RichTextEditor.Pasting.spec.ts
  cypress/integration/rich-text/__snapshots__/RichTextEditor.Pasting.spec.ts.snap
  packages/rich-text/src/plugins/PasteHTML/utils/sanitizeHTML.ts
  packages/rich-text/src/plugins/Table/createTablePlugin.ts
  packages/rich-text/src/plugins/Table/helpers.ts
Owners: @contentful/team-bauhaus, @contentful/team-shelley

chore(release): publish rich-text v2.0.0-next.25
  apps/entry-app-collapsible/package.json
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

chore(release): publish rich-text v2.0.0-next.25 (#1080)
  apps/entry-app-collapsible/package.json
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

fix: list items unwrapping
  packages/rich-text/src/plugins/List/transforms/toggleList.ts
  packages/rich-text/src/plugins/List/transforms/unwrapList.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

test: untoggling list
  cypress/integration/rich-text/RichTextLists.spec.ts
  cypress/integration/rich-text/__snapshots__/RichTextLists.spec.ts.snap
Owners: @contentful/team-bauhaus

fix: untoggling list (#1082)
  cypress/integration/rich-text/RichTextLists.spec.ts
  cypress/integration/rich-text/__snapshots__/RichTextLists.spec.ts.snap
  packages/rich-text/src/plugins/List/transforms/toggleList.ts
  packages/rich-text/src/plugins/List/transforms/unwrapList.ts
Owners: @contentful/team-bauhaus, @contentful/team-shelley

chore: increase rich-text version to 2.0.0-next.26
  apps/entry-app-collapsible/package.json
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

refactor: add data attribute used on auto resize
  packages/location/src/LocationSearchInput.tsx
Owners: @contentful/team-bauhaus

chore: increase rich-text version to 2.0.0-next.26 (#1083)
  apps/entry-app-collapsible/package.json
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

fix: allow linking assets on permission rule with tags
  packages/reference/src/common/useEditorPermissions.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: allow linking assets on permission rule with tags (#1085)
  packages/reference/src/common/useEditorPermissions.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore(release): updated release notes and package versions [ci skip]
  packages/default-field-editors/CHANGELOG.md
  packages/default-field-editors/package.json
  packages/reference/CHANGELOG.md
  packages/reference/package.json
  packages/rich-text/CHANGELOG.md
  packages/rich-text/package.json
Owners: @contentful/team-bauhaus, @contentful/team-shelley

fix(rte): delete table cell with backspace
  packages/rich-text/src/plugins/Table/createTablePlugin.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix(rte): delete table cell with backspace (#1087)
  packages/rich-text/src/plugins/Table/createTablePlugin.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix(rte): error when typing with the cursor before table
  packages/rich-text/src/plugins/Table/createTablePlugin.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix(rte): pressing enter before a table
  packages/rich-text/src/helpers/editor.ts
  packages/rich-text/src/plugins/Table/components/Table.tsx
  packages/rich-text/src/plugins/Table/createTablePlugin.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

test: insert new line before table when pressing enter
  cypress/integration/rich-text/RichTextEditor.spec.ts
Owners: @contentful/team-bauhaus

test: skip test for firefox
  cypress/integration/rich-text/RichTextEditor.spec.ts
Owners: @contentful/team-bauhaus

fix(rte): pressing enter before a table (#1086)
  cypress/integration/rich-text/RichTextEditor.spec.ts
  packages/rich-text/src/helpers/editor.ts
  packages/rich-text/src/plugins/Table/components/Table.tsx
  packages/rich-text/src/plugins/Table/createTablePlugin.ts
Owners: @contentful/team-bauhaus, @contentful/team-shelley

chore(release): publish rich-text v2.0.0-next.27
  apps/entry-app-collapsible/package.json
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

.github/CODEOWNERS:

*                      @contentful/team-bauhaus

apps/                  @contentful/team-extensibility
packages/rich-text/    @contentful/team-shelley @contentful/team-bauhaus
packages/reference/    @contentful/team-shelley @contentful/team-bauhaus
