Repository contentful/field-editors, changes with the owners that .github/CODEOWNERS names for each.
All owners: @contentful/team-bauhaus, @contentful/team-extensibility, @contentful/team-shelley

fix(rich-text): revert back id change
  packages/rich-text/src/ContentfulEditorProvider.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix(rich-text): revert back id change (#1009)
  packages/rich-text/src/ContentfulEditorProvider.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore(release): publish v2.0.0-beta.7 [skip ci]
  apps/entry-app-collapsible/package.json
  apps/rich-text-app/package.json
  packages/rich-text/package.json
Owners: @contentful/team-extensibility, @contentful/team-shelley, @contentful/team-bauhaus

chore(release): publish v2.0.0-beta.7 [skip ci] (#1010)
  apps/entry-app-collapsible/package.json
  apps/rich-text-app/package.json
  packages/rich-text/package.json
Owners: @contentful/team-extensibility, @contentful/team-shelley, @contentful/team-bauhaus

fix: table focus
  packages/rich-text/src/plugins/Table/components/TableActions.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

refactor: css
  packages/rich-text/src/RichTextEditor.styles.ts
  packages/rich-text/src/plugins/EmbeddedEntityBlock/LinkedEntityBlock.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: enter new line in list item after entity block (#1007)
  cypress/integration/rich-text/RichTextEditor.spec.ts
  cypress/integration/rich-text/__snapshots__/RichTextEditor.spec.ts.snap
  packages/rich-text/src/plugins/EmbeddedEntityBlock/LinkedEntityBlock.tsx
  packages/rich-text/src/plugins/Voids/createVoidsPlugin.ts
Owners: @contentful/team-bauhaus, @contentful/team-shelley

test: adding unit tests for deleteForward and deleteBackward functions in createTextPlugin
  packages/rich-text/src/plugins/Text/__tests__/createTextPlugin.test.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: scroll focus issue on safari (#1006)
  packages/rich-text/src/helpers/editor.ts
  packages/rich-text/src/helpers/environment.ts
  packages/rich-text/src/plugins/EmbeddedEntityBlock/Util.ts
  packages/rich-text/src/plugins/EmbeddedEntityInline/index.tsx
  packages/rich-text/src/plugins/Heading/components/ToolbarHeadingButton.tsx
  packages/rich-text/src/plugins/Hr/index.tsx
  packages/rich-text/src/plugins/Hyperlink/HyperlinkModal.tsx
  packages/rich-text/src/plugins/List/components/ToolbarListButton.tsx
  packages/rich-text/src/plugins/Marks/Bold.tsx
  packages/rich-text/src/plugins/Marks/Code.tsx
  packages/rich-text/src/plugins/Marks/Italic.tsx
  packages/rich-text/src/plugins/Marks/Underline.tsx
  packages/rich-text/src/plugins/Quote/components/ToolbarQuoteButton.tsx
  packages/rich-text/src/plugins/Table/components/TableActions.tsx
  packages/rich-text/src/plugins/Table/components/ToolbarButton.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore(release): publish v2.0.0-beta.8 [skip ci]
  apps/entry-app-collapsible/package.json
  apps/rich-text-app/package.json
  packages/rich-text/package.json
Owners: @contentful/team-extensibility, @contentful/team-shelley, @contentful/team-bauhaus

chore(release): publish v2.0.0-beta.8 [skip ci] (#1011)
  apps/entry-app-collapsible/package.json
  apps/rich-text-app/package.json
  packages/rich-text/package.json
Owners: @contentful/team-extensibility, @contentful/team-shelley, @contentful/team-bauhaus

test: removing test cases for tables
  packages/rich-text/src/plugins/Text/__tests__/createTextPlugin.test.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: remove empty paragraph at rte start (#1002)
  packages/rich-text/src/plugins/Text/__tests__/createTextPlugin.test.tsx
  packages/rich-text/src/plugins/Text/createTextPlugin.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

refactor: 💡 improve help text on link title field
  packages/markdown/src/dialogs/InsertLinkModalDialog.tsx
Owners: @contentful/team-bauhaus

refactor: 💡 improve help text on link title field (#1012)
  packages/markdown/src/dialogs/InsertLinkModalDialog.tsx
Owners: @contentful/team-bauhaus

chore(release): updated release notes and package versions [ci skip]
  packages/default-field-editors/CHANGELOG.md
  packages/default-field-editors/package.json
  packages/markdown/CHANGELOG.md
  packages/markdown/package.json
Owners: @contentful/team-bauhaus

chore: bumping rich text next package version 8
  packages/rich-text/package.json
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore: bumping rich text next package version 8 (#1013)
  packages/rich-text/package.json
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix(rte-list): backspace with multiple list items
  packages/rich-text/src/plugins/List/__tests__/createListPlugin.test.tsx
  packages/rich-text/src/plugins/List/createListPlugin.ts
  packages/rich-text/src/plugins/List/utils.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

test: rename test
  packages/rich-text/src/plugins/List/__tests__/createListPlugin.test.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore(rte-list): change logic to check if first node is list
  packages/rich-text/src/plugins/List/utils.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix(rte-list): backspace with multiple list items [] (#1014)
  packages/rich-text/src/plugins/List/__tests__/createListPlugin.test.tsx
  packages/rich-text/src/plugins/List/createListPlugin.ts
  packages/rich-text/src/plugins/List/utils.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore(bump): rte 2.0.0-next.10
  apps/entry-app-collapsible/package.json
  apps/rich-text-app/package.json
  packages/rich-text/package.json
Owners: @contentful/team-extensibility, @contentful/team-shelley, @contentful/team-bauhaus

chore(bump): rte 2.0.0-next.10 [skip-ci] (#1018)
  apps/entry-app-collapsible/package.json
  apps/rich-text-app/package.json
  packages/rich-text/package.json
Owners: @contentful/team-extensibility, @contentful/team-shelley, @contentful/team-bauhaus

test(list): cypress tests for list items without paragraphs
  cypress/integration/rich-text/RichTextLists.spec.ts
  cypress/integration/rich-text/__snapshots__/RichTextLists.spec.ts.snap
Owners: @contentful/team-bauhaus

test(list): cypress tests for list items without paragraphs [] (#1019)
  cypress/integration/rich-text/RichTextLists.spec.ts
  cypress/integration/rich-text/__snapshots__/RichTextLists.spec.ts.snap
Owners: @contentful/team-bauhaus

fix(number-editor): use "text" input that syncs numeric value when valid
  packages/_shared/src/index.tsx
  packages/number/src/NumberEditor.tsx
  packages/number/src/parseNumber.ts
Owners: @contentful/team-bauhaus

fix(rte): triple selection selecting the next element instead
  packages/rich-text/src/helpers/editor.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

test(number-editor): fix tests
  packages/number/package.json
  packages/number/src/NumberEditor.spec.tsx
  yarn.lock
Owners: @contentful/team-bauhaus

fix(parse-number): allow negative decimal numbers
  packages/number/src/parseNumber.ts
Owners: @contentful/team-bauhaus

chore: remove local dev test
  packages/number/src/NumberEditor.tsx
Owners: @contentful/team-bauhaus

fix(rte-blockquote): toggling next elements when triple selected
  packages/rich-text/src/plugins/Quote/toggleQuote.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

test(location): fix latitude value
  cypress/integration/LocationEditor.spec.ts
Owners: @contentful/team-bauhaus

chore: better naming
  packages/number/src/NumberEditor.tsx
Owners: @contentful/team-bauhaus

fix(number-editor): use "text" input that syncs numeric value when valid (#1020)
  packages/_shared/src/index.tsx
  packages/number/package.json
  packages/number/src/NumberEditor.spec.tsx
  packages/number/src/NumberEditor.tsx
  packages/number/src/parseNumber.ts
  yarn.lock
Owners: @contentful/team-bauhaus

feat: logging viewport actions for hyperlinks add or edit links
  packages/rich-text/src/TrackingProvider.tsx
  packages/rich-text/src/plugins/Hyperlink/HyperlinkModal.tsx
  packages/rich-text/src/plugins/Hyperlink/index.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: delegate initial normalization work to Plate
  packages/rich-text/src/RichTextEditor.tsx
  packages/rich-text/src/helpers/sanitizeSlateDoc.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: bump f36 packages
  apps/entry-app-collapsible/package.json
  apps/markdown-app/package.json
  apps/multiple-references-app/package.json
  apps/rich-text-app/package.json
  apps/singleline-app/package.json
  packages/_shared/package.json
  packages/boolean/package.json
  packages/checkbox/package.json
  packages/date/package.json
  packages/default-field-editors/package.json
  packages/dropdown/package.json
  packages/json/package.json
  packages/list/package.json
  packages/location/package.json
  packages/markdown/package.json
  packages/multiple-line/package.json
  packages/number/package.json
  packages/radio/package.json
  packages/rating/package.json
  packages/reference/package.json
  packages/rich-text/package.json
  packages/single-line/package.json
  packages/slug/package.json
  packages/tags/package.json
  packages/url/package.json
  packages/validation-errors/package.json
  yarn.lock
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

chore: add learnings
  packages/rich-text/src/helpers/editor.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: links within safari
  packages/rich-text/src/plugins/Hyperlink/index.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

.github/CODEOWNERS:

*                      @contentful/team-bauhaus

apps/                  @contentful/team-extensibility
packages/rich-text/    @contentful/team-shelley @contentful/team-bauhaus
packages/reference/    @contentful/team-shelley @contentful/team-bauhaus
