Repository contentful/field-editors, changes with the owners that .github/CODEOWNERS names for each.
All owners: @contentful/team-bauhaus, @contentful/team-extensibility, @contentful/team-shelley

fix: adding the version to the contentfulEditorId
  packages/rich-text/src/ContentfulEditorProvider.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: adding the version to the contentfulEditorId (#995)
  packages/rich-text/src/ContentfulEditorProvider.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore: bumping rich text next package version
  packages/rich-text/package.json
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore: bumping rich text next package version (#996)
  packages/rich-text/package.json
Owners: @contentful/team-shelley, @contentful/team-bauhaus

Update packages/rich-text/src/plugins/List/__tests__/createListPlugin.test.tsx
  packages/rich-text/src/plugins/List/__tests__/createListPlugin.test.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: handle headings
  packages/rich-text/src/plugins/Heading/createHeadingPlugin.ts
  packages/rich-text/src/plugins/List/__tests__/createListPlugin.test.tsx
  packages/rich-text/src/plugins/List/getListInsertBreak.ts
  packages/rich-text/src/plugins/List/transforms/insertListItem.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix(rich-text): rewrite insertListItem to handle multiple <li> children (#991)
  cypress/integration/rich-text/RichTextEditor.spec.ts
  cypress/integration/rich-text/RichTextLists.spec.ts
  cypress/integration/rich-text/__snapshots__/RichTextLists.spec.ts.snap
  packages/rich-text/src/plugins/Heading/createHeadingPlugin.ts
  packages/rich-text/src/plugins/List/__tests__/createListPlugin.test.tsx
  packages/rich-text/src/plugins/List/getListInsertBreak.ts
  packages/rich-text/src/plugins/List/getListInsertFragment.ts
  packages/rich-text/src/plugins/List/transforms/insertListItem.ts
  packages/rich-text/src/plugins/List/withList.ts
  packages/rich-text/src/plugins/Voids/createVoidsPlugin.ts
Owners: @contentful/team-bauhaus, @contentful/team-shelley

fix: remove empty text hyperlinks
  packages/rich-text/src/plugins/Hyperlink/index.js
Owners: @contentful/team-shelley, @contentful/team-bauhaus

feat: add link rendering callback to new rte
  cypress/integration/rich-text/RichTextEditor.spec.ts
  cypress/integration/rich-text/documentWithLinks.js
  cypress/support/commands.js
  cypress/support/index.d.ts
  packages/rich-text/src/RichTextEditor.mdx
  packages/rich-text/src/TrackingProvider.tsx
  packages/rich-text/src/plugins/EmbeddedEntityBlock/LinkedEntityBlock.tsx
  packages/rich-text/src/plugins/EmbeddedEntityBlock/index.tsx
  packages/rich-text/src/plugins/EmbeddedEntityInline/FetchingWrappedInlineEntryCard.tsx
  packages/rich-text/src/plugins/EmbeddedEntityInline/index.tsx
  packages/rich-text/src/plugins/Hyperlink/index.tsx
  packages/rich-text/src/plugins/index.ts
  packages/rich-text/src/plugins/links-tracking.tsx
  packages/rich-text/src/plugins/shared/FetchingWrappedAssetCard.tsx
  packages/rich-text/src/plugins/shared/FetchingWrappedEntryCard.tsx
Owners: @contentful/team-bauhaus, @contentful/team-shelley

fix: remove empty text hyperlinks (#997)
  packages/rich-text/src/plugins/Hyperlink/index.js
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore(release): updated release notes and package versions [ci skip]
  packages/default-field-editors/CHANGELOG.md
  packages/default-field-editors/package.json
  packages/rich-text/CHANGELOG.md
  packages/rich-text/package.json
Owners: @contentful/team-bauhaus, @contentful/team-shelley

feat: add link rendering callback to new rte (#992)
  cypress/integration/rich-text/RichTextEditor.spec.ts
  cypress/integration/rich-text/documentWithLinks.js
  cypress/support/commands.js
  cypress/support/index.d.ts
  packages/rich-text/src/RichTextEditor.mdx
  packages/rich-text/src/TrackingProvider.tsx
  packages/rich-text/src/plugins/EmbeddedEntityBlock/LinkedEntityBlock.tsx
  packages/rich-text/src/plugins/EmbeddedEntityBlock/index.tsx
  packages/rich-text/src/plugins/EmbeddedEntityInline/FetchingWrappedInlineEntryCard.tsx
  packages/rich-text/src/plugins/EmbeddedEntityInline/index.tsx
  packages/rich-text/src/plugins/Hyperlink/index.tsx
  packages/rich-text/src/plugins/index.ts
  packages/rich-text/src/plugins/links-tracking.tsx
  packages/rich-text/src/plugins/shared/FetchingWrappedAssetCard.tsx
  packages/rich-text/src/plugins/shared/FetchingWrappedEntryCard.tsx
Owners: @contentful/team-bauhaus, @contentful/team-shelley

fix: escape hyperlinks when typing at the end
  cypress/integration/rich-text/RichTextEditor.spec.ts
  cypress/integration/rich-text/RichTextEscapeInlines.spec.ts
  cypress/integration/rich-text/RichTextPage.ts
  cypress/integration/rich-text/__snapshots__/RichTextEscapeInlines.spec.ts.snap
  packages/rich-text/src/plugins/Text/createTextPlugin.ts
  packages/rich-text/src/plugins/Text/index.ts
Owners: @contentful/team-bauhaus, @contentful/team-shelley

fix: move cursor to previous point after heading choice
  packages/rich-text/src/plugins/Heading/components/ToolbarHeadingButton.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: escape hyperlinks when typing at the end (#1000)
  cypress/integration/rich-text/RichTextEditor.spec.ts
  cypress/integration/rich-text/RichTextEscapeInlines.spec.ts
  cypress/integration/rich-text/RichTextPage.ts
  cypress/integration/rich-text/__snapshots__/RichTextEscapeInlines.spec.ts.snap
  packages/rich-text/src/plugins/Text/createTextPlugin.ts
  packages/rich-text/src/plugins/Text/index.ts
Owners: @contentful/team-bauhaus, @contentful/team-shelley

fix: move cursor to previous point after heading choice (#999)
  packages/rich-text/src/plugins/Heading/components/ToolbarHeadingButton.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: normalize initial rte value
  cypress/integration/rich-text/RichTextEditor.spec.ts
  cypress/integration/rich-text/document-mocks/documentWithLinks.js
  cypress/integration/rich-text/document-mocks/invalidDocumentNormalizable.js
  packages/rich-text/src/RichTextEditor.tsx
Owners: @contentful/team-bauhaus, @contentful/team-shelley

test: use snapshot
  cypress/integration/rich-text/RichTextEditor.spec.ts
  cypress/integration/rich-text/__snapshots__/RichTextEditor.spec.ts.snap
Owners: @contentful/team-bauhaus

fix: normalize initial rte value (#1001)
  cypress/integration/rich-text/RichTextEditor.spec.ts
  cypress/integration/rich-text/__snapshots__/RichTextEditor.spec.ts.snap
  cypress/integration/rich-text/document-mocks/documentWithLinks.js
  cypress/integration/rich-text/document-mocks/invalidDocumentNormalizable.js
  packages/rich-text/src/RichTextEditor.tsx
Owners: @contentful/team-bauhaus, @contentful/team-shelley

fix: remove leading li when pasting inside a list
  packages/rich-text/package.json
  packages/rich-text/src/plugins/EmbeddedEntityInline/index.tsx
  packages/rich-text/src/plugins/List/__tests__/createListPlugin.test.tsx
  packages/rich-text/src/plugins/List/__tests__/insertListBreak.test.tsx
  packages/rich-text/src/plugins/List/__tests__/insertListFragment.test.tsx
  packages/rich-text/src/plugins/List/components/List.tsx
  packages/rich-text/src/plugins/List/components/ListItem.tsx
  packages/rich-text/src/plugins/List/getListInsertFragment.ts
  packages/rich-text/src/plugins/List/insertListBreak.ts
  packages/rich-text/src/plugins/List/insertListFragment.ts
  packages/rich-text/src/plugins/List/transforms/insertListItem.ts
  packages/rich-text/src/plugins/List/withList.ts
  packages/rich-text/src/test-utils/assertOutput.ts
  yarn.lock
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore: fix lock
  apps/entry-app-collapsible/package.json
  apps/rich-text-app/package.json
  yarn.lock
Owners: @contentful/team-extensibility, @contentful/team-bauhaus

fix: enable delete with backspace of empty paragraphs at start of rte
  packages/rich-text/src/plugins/Text/createTextPlugin.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

style: fix list top margin
  packages/rich-text/src/plugins/List/components/List.tsx
  packages/rich-text/src/plugins/List/components/ListItem.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

test: update snapshots
  cypress/integration/rich-text/RichTextEditor.Pasting.spec.ts
  cypress/integration/rich-text/__snapshots__/RichTextEditor.Pasting.spec.ts.snap
Owners: @contentful/team-bauhaus

chore: remove a typo
  cypress/integration/rich-text/RichTextEditor.Pasting.spec.ts
Owners: @contentful/team-bauhaus

fix: scroll issue on focus on safari
  packages/rich-text/src/helpers/editor.ts
  packages/rich-text/src/helpers/environment.ts
  packages/rich-text/src/plugins/EmbeddedEntityBlock/Util.ts
  packages/rich-text/src/plugins/EmbeddedEntityInline/index.tsx
  packages/rich-text/src/plugins/Heading/components/ToolbarHeadingButton.tsx
  packages/rich-text/src/plugins/Hr/index.tsx
  packages/rich-text/src/plugins/Hyperlink/HyperlinkModal.tsx
  packages/rich-text/src/plugins/List/components/ToolbarListButton.tsx
  packages/rich-text/src/plugins/Marks/Bold.tsx
  packages/rich-text/src/plugins/Marks/Code.tsx
  packages/rich-text/src/plugins/Marks/Italic.tsx
  packages/rich-text/src/plugins/Marks/Underline.tsx
  packages/rich-text/src/plugins/Quote/components/ToolbarQuoteButton.tsx
  packages/rich-text/src/plugins/Table/components/TableActions.tsx
  packages/rich-text/src/plugins/Table/components/ToolbarButton.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: scroll back to original position on safari
  packages/rich-text/src/helpers/editor.ts
  packages/rich-text/src/plugins/EmbeddedEntityBlock/Util.ts
  packages/rich-text/src/plugins/EmbeddedEntityInline/index.tsx
  packages/rich-text/src/plugins/Heading/components/ToolbarHeadingButton.tsx
  packages/rich-text/src/plugins/Hr/index.tsx
  packages/rich-text/src/plugins/Hyperlink/HyperlinkModal.tsx
  packages/rich-text/src/plugins/List/components/ToolbarListButton.tsx
  packages/rich-text/src/plugins/Marks/Bold.tsx
  packages/rich-text/src/plugins/Marks/Code.tsx
  packages/rich-text/src/plugins/Marks/Italic.tsx
  packages/rich-text/src/plugins/Marks/Underline.tsx
  packages/rich-text/src/plugins/Quote/components/ToolbarQuoteButton.tsx
  packages/rich-text/src/plugins/Table/components/TableActions.tsx
  packages/rich-text/src/plugins/Table/components/ToolbarButton.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: remove leading li when pasting inside a list (#1004)
  apps/entry-app-collapsible/package.json
  apps/rich-text-app/package.json
  cypress/integration/rich-text/RichTextEditor.Pasting.spec.ts
  cypress/integration/rich-text/__snapshots__/RichTextEditor.Pasting.spec.ts.snap
  packages/rich-text/package.json
  packages/rich-text/src/plugins/EmbeddedEntityInline/index.tsx
  packages/rich-text/src/plugins/List/__tests__/createListPlugin.test.tsx
  packages/rich-text/src/plugins/List/__tests__/insertListBreak.test.tsx
  packages/rich-text/src/plugins/List/__tests__/insertListFragment.test.tsx
  packages/rich-text/src/plugins/List/components/List.tsx
  packages/rich-text/src/plugins/List/components/ListItem.tsx
  packages/rich-text/src/plugins/List/getListInsertFragment.ts
  packages/rich-text/src/plugins/List/insertListBreak.ts
  packages/rich-text/src/plugins/List/insertListFragment.ts
  packages/rich-text/src/plugins/List/transforms/insertListItem.ts
  packages/rich-text/src/plugins/List/withList.ts
  packages/rich-text/src/test-utils/assertOutput.ts
  yarn.lock
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

fix: handle more edge cases in insertListItem
  packages/rich-text/src/plugins/List/__tests__/insertListBreak.test.tsx
  packages/rich-text/src/plugins/List/insertListBreak.ts
  packages/rich-text/src/plugins/List/transforms/insertListItem.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: remove leading li when pasting inside a list
  packages/rich-text/src/plugins/List/components/List.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

refactor: a little refactor
  packages/rich-text/src/plugins/List/transforms/insertListItem.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore: remove a typo
  cypress/integration/rich-text/RichTextEditor.Pasting.spec.ts
Owners: @contentful/team-bauhaus

style: fix list top margin
  packages/rich-text/src/plugins/List/components/List.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore: better wording
  packages/rich-text/src/plugins/List/transforms/insertListItem.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: correctly check if a list item is empty
  packages/rich-text/src/plugins/List/insertListBreak.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

test: update snapshots
  cypress/integration/rich-text/RichTextEditor.Pasting.spec.ts
Owners: @contentful/team-bauhaus

fix: handle more edge cases in insertListItem (#1005)
  packages/rich-text/src/plugins/List/__tests__/insertListBreak.test.tsx
  packages/rich-text/src/plugins/List/insertListBreak.ts
  packages/rich-text/src/plugins/List/transforms/insertListItem.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: line break in parent
  cypress/integration/rich-text/RichTextEditor.spec.ts
  cypress/integration/rich-text/__snapshots__/RichTextEditor.spec.ts.snap
  packages/rich-text/src/RichTextEditor.styles.ts
  packages/rich-text/src/plugins/Voids/createVoidsPlugin.ts
Owners: @contentful/team-bauhaus, @contentful/team-shelley

chore(release): publish v2.0.0-next.6 [skip ci]
  apps/entry-app-collapsible/package.json
  apps/rich-text-app/package.json
  packages/rich-text/package.json
Owners: @contentful/team-extensibility, @contentful/team-shelley, @contentful/team-bauhaus

chore(release): publish v2.0.0-next.6 [skip ci] (#1008)
  apps/entry-app-collapsible/package.json
  apps/rich-text-app/package.json
  packages/rich-text/package.json
Owners: @contentful/team-extensibility, @contentful/team-shelley, @contentful/team-bauhaus

.github/CODEOWNERS:

*                      @contentful/team-bauhaus

apps/                  @contentful/team-extensibility
packages/rich-text/    @contentful/team-shelley @contentful/team-bauhaus
packages/reference/    @contentful/team-shelley @contentful/team-bauhaus
