Repository contentful/field-editors, changes with the owners that .github/CODEOWNERS names for each.
All owners: @contentful/team-bauhaus, @contentful/team-extensibility, @contentful/team-shelley

fix: embedded block between paragraphs [] (#911)
  cypress/integration/rich-text/RichTextEditor.spec.ts
  packages/rich-text/src/plugins/InsertBeforeFirstVoidBlock/index.tsx
Owners: @contentful/team-bauhaus, @contentful/team-shelley

test: add a few tests
  cypress/integration/rich-text/RichTextEditor.Pasting.spec.ts
  cypress/integration/rich-text/RichTextEditor.spec.ts
  cypress/integration/rich-text/RichTextPage.ts
Owners: @contentful/team-bauhaus

test: merge utils into RichTextPage
  cypress/integration/rich-text/RichTextPage.ts
  cypress/integration/rich-text/utils.ts
Owners: @contentful/team-bauhaus

test: more shared helpers for toolbar items
  cypress/integration/rich-text/RichTextEditor.spec.ts
  cypress/integration/rich-text/RichTextPage.ts
Owners: @contentful/team-bauhaus

chore: update rich-text packages (#923)
  package.json
  packages/rich-text/package.json
  yarn.lock
Owners: @contentful/team-bauhaus, @contentful/team-shelley

refactor: turn ToolbarButton into function component (#918)
  packages/rich-text/src/plugins/Bold/index.tsx
  packages/rich-text/src/plugins/Code/index.tsx
  packages/rich-text/src/plugins/Hr/index.tsx
  packages/rich-text/src/plugins/Hyperlink/index.tsx
  packages/rich-text/src/plugins/Italic/index.tsx
  packages/rich-text/src/plugins/List/index.tsx
  packages/rich-text/src/plugins/Quote/index.tsx
  packages/rich-text/src/plugins/Table/index.tsx
  packages/rich-text/src/plugins/Underline/index.tsx
  packages/rich-text/src/plugins/shared/ToolbarButton.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

refactor: use normalization
  packages/rich-text/src/plugins/Paragraph/index.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: no cell deletion via keyboard
  cypress/integration/rich-text/RichTextEditor.spec.ts
  packages/rich-text/src/helpers/editor.ts
  packages/rich-text/src/plugins/Table/index.tsx
Owners: @contentful/team-bauhaus, @contentful/team-shelley

fix: no cell deletion via keyboard (#922)
  cypress/integration/rich-text/RichTextEditor.spec.ts
  packages/rich-text/src/helpers/editor.ts
  packages/rich-text/src/plugins/Table/index.tsx
Owners: @contentful/team-bauhaus, @contentful/team-shelley

fix: deserialize different lines as multiple paragraphs (#915)
  packages/rich-text/src/plugins/Paragraph/index.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

{wip} fix: table markup paste
  packages/rich-text/src/RichTextEditor.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: different dragging elements for the same drop target
  packages/rich-text/src/plugins/DragAndDrop/index.tsx
  packages/rich-text/src/plugins/EmbeddedEntityInline/index.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: drag n drop for firefox and safari
  packages/rich-text/src/plugins/DragAndDrop/index.tsx
  packages/rich-text/src/plugins/EmbeddedEntityBlock/LinkedEntityBlock.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

feat: make embedded blocks draggable
  packages/rich-text/src/plugins/EmbeddedEntityBlock/LinkedEntityBlock.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

feat: add drag and drop plugin
  packages/rich-text/src/RichTextEditor.tsx
  packages/rich-text/src/plugins/DragAndDrop/index.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

test: fix new tests
  cypress/integration/rich-text/RichTextEditor.spec.ts
Owners: @contentful/team-bauhaus

fix: replace SPEditor with PlateEditor
  packages/rich-text/src/helpers/editor.ts
  packages/rich-text/src/plugins/Paragraph/index.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: replace PEditor with PlateEditor
  packages/rich-text/src/helpers/editor.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

test: fix pasting test
  cypress/integration/rich-text/RichTextEditor.Pasting.spec.ts
Owners: @contentful/team-bauhaus

test: add test for pasting basic Gdoc
  cypress/integration/rich-text/RichTextEditor.Pasting.spec.ts
  packages/rich-text/src/ClipboardCapture.mdx
Owners: @contentful/team-bauhaus, @contentful/team-shelley

fix(card-actions): update forma 36 to fix card actions click issue
  apps/entry-app-collapsible/package.json
  apps/markdown-app/package.json
  apps/multiple-references-app/package.json
  apps/rich-text-app/package.json
  apps/singleline-app/package.json
  package.json
  packages/_shared/package.json
  packages/_test/package.json
  packages/boolean/package.json
  packages/checkbox/package.json
  packages/date/package.json
  packages/default-field-editors/package.json
  packages/dropdown/package.json
  packages/json/package.json
  packages/list/package.json
  packages/location/package.json
  packages/markdown/package.json
  packages/multiple-line/package.json
  packages/number/package.json
  packages/radio/package.json
  packages/rating/package.json
  packages/reference/package.json
  packages/rich-text/package.json
  packages/single-line/package.json
  packages/slug/package.json
  packages/tags/package.json
  packages/url/package.json
  packages/validation-errors/package.json
  yarn.lock
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

test: workaround for failing insert paragraph test
  cypress/integration/rich-text/RichTextEditor.spec.ts
Owners: @contentful/team-bauhaus

fixup! test: workaround for failing insert paragraph test
  cypress/integration/rich-text/RichTextEditor.spec.ts
Owners: @contentful/team-bauhaus

feat: make embedded blocks draggable [] (#916)
  cypress/integration/rich-text/RichTextEditor.spec.ts
  packages/rich-text/src/RichTextEditor.tsx
  packages/rich-text/src/plugins/DragAndDrop/index.tsx
  packages/rich-text/src/plugins/EmbeddedEntityBlock/LinkedEntityBlock.tsx
  packages/rich-text/src/plugins/EmbeddedEntityInline/index.tsx
Owners: @contentful/team-bauhaus, @contentful/team-shelley

fix(card-actions): update forma 36 to fix card actions click issue (#927)
  apps/entry-app-collapsible/package.json
  apps/markdown-app/package.json
  apps/multiple-references-app/package.json
  apps/rich-text-app/package.json
  apps/singleline-app/package.json
  package.json
  packages/_shared/package.json
  packages/_test/package.json
  packages/boolean/package.json
  packages/checkbox/package.json
  packages/date/package.json
  packages/default-field-editors/package.json
  packages/dropdown/package.json
  packages/json/package.json
  packages/list/package.json
  packages/location/package.json
  packages/markdown/package.json
  packages/multiple-line/package.json
  packages/number/package.json
  packages/radio/package.json
  packages/rating/package.json
  packages/reference/package.json
  packages/rich-text/package.json
  packages/single-line/package.json
  packages/slug/package.json
  packages/tags/package.json
  packages/url/package.json
  packages/validation-errors/package.json
  yarn.lock
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

refactor: simplify withCustomList
  packages/rich-text/src/plugins/List/index.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: pasting text content inside lists (#919)
  cypress/integration/rich-text/RichTextEditor.Pasting.spec.ts
  cypress/integration/rich-text/RichTextEditor.spec.ts
  cypress/integration/rich-text/RichTextPage.ts
  cypress/integration/rich-text/utils.ts
  packages/rich-text/package.json
  packages/rich-text/src/ContentfulEditorProvider.ts
  packages/rich-text/src/RichTextEditor.tsx
  packages/rich-text/src/helpers/deserializer.ts
  packages/rich-text/src/helpers/editor.ts
  packages/rich-text/src/plugins/EmbeddedEntityBlock/index.tsx
  packages/rich-text/src/plugins/EmbeddedEntityInline/FetchingWrappedInlineEntryCard.tsx
  packages/rich-text/src/plugins/Heading/index.tsx
  packages/rich-text/src/plugins/Hr/index.tsx
  packages/rich-text/src/plugins/Hyperlink/HyperlinkModal.tsx
  packages/rich-text/src/plugins/List/getListInsertFragment.ts
  packages/rich-text/src/plugins/List/index.tsx
  packages/rich-text/src/plugins/NewLine/index.tsx
  packages/rich-text/src/plugins/Paragraph/index.tsx
  packages/rich-text/src/plugins/Paste/index.tsx
  packages/rich-text/src/plugins/Paste/sanitizers/helpers.tsx
  packages/rich-text/src/plugins/Quote/index.tsx
  packages/rich-text/src/plugins/Table/TableActions.tsx
  packages/rich-text/src/plugins/Table/actions/addColumn.ts
  packages/rich-text/src/plugins/Table/actions/addRow.ts
  packages/rich-text/src/plugins/Table/actions/setHeader.ts
  packages/rich-text/src/plugins/Table/helpers.ts
  packages/rich-text/src/plugins/Table/index.tsx
  yarn.lock
Owners: @contentful/team-bauhaus, @contentful/team-shelley

fix: fix list field preventing commas after forma36 v4
  packages/list/src/ListEditor.tsx
Owners: @contentful/team-bauhaus

fix: Be able to use SingleMediaEditor with JSON object field
  packages/reference/src/common/SingleReferenceEditor.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: internal copy and paste for firefox, chromium and safari
  packages/rich-text/src/helpers/environment.ts
  packages/rich-text/src/plugins/EmbeddedEntityBlock/LinkedEntityBlock.tsx
  packages/rich-text/src/plugins/EmbeddedEntityInline/index.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: same behavior as old editor
  packages/list/src/ListEditor.spec.tsx
  packages/list/src/ListEditor.tsx
Owners: @contentful/team-bauhaus

fix: internal copy and paste for firefox, chromium and safari [] (#928)
  packages/rich-text/src/helpers/environment.ts
  packages/rich-text/src/plugins/EmbeddedEntityBlock/LinkedEntityBlock.tsx
  packages/rich-text/src/plugins/EmbeddedEntityInline/index.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: fix list field preventing commas after forma36 v4 (#930)
  packages/list/src/ListEditor.spec.tsx
  packages/list/src/ListEditor.tsx
Owners: @contentful/team-bauhaus

chore(release): updated release notes and package versions [ci skip]
  packages/default-field-editors/CHANGELOG.md
  packages/default-field-editors/package.json
  packages/list/CHANGELOG.md
  packages/list/package.json
Owners: @contentful/team-bauhaus

chore: bump next version to 2.0.0-next.1
  apps/entry-app-collapsible/package.json
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

chore: bump next version to 2.0.0-next.1 [] (#932)
  apps/entry-app-collapsible/package.json
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

fix: h5 & h6 are incorrectly marked as h1
  packages/rich-text/src/plugins/Heading/index.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: h5 & h6 are incorrectly marked as h1 (#933)
  packages/rich-text/src/plugins/Heading/index.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore(deps): bump slate & slate-react to v0.70.x
  packages/rich-text/package.json
  patches/slate-react+0.69.0.patch
  yarn.lock
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore(deps): bump slate & slate-react to v0.70.x (#935)
  packages/rich-text/package.json
  patches/slate-react+0.69.0.patch
  yarn.lock
Owners: @contentful/team-shelley, @contentful/team-bauhaus

.github/CODEOWNERS:

*                      @contentful/team-bauhaus

apps/                  @contentful/team-extensibility
packages/rich-text/    @contentful/team-shelley @contentful/team-bauhaus
packages/reference/    @contentful/team-shelley @contentful/team-bauhaus
