Repository contentful/field-editors, changes with the owners that .github/CODEOWNERS names for each.
All owners: @contentful/team-bauhaus, @contentful/team-extensibility, @contentful/team-shelley

fix(rich-text): editor can be undefined on first render (#1036)
  packages/rich-text/src/helpers/editor.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore(release): publish rich-text@2.0.0-next.13
  apps/entry-app-collapsible/package.json
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

fix: restore blockquote pasting
  packages/rich-text/src/plugins/Quote/createQuotePlugin.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

refactor: remove unnecessary voids normalization
  packages/rich-text/src/plugins/Voids/__tests__/createVoidsPlugin.test.tsx
  packages/rich-text/src/plugins/Voids/createVoidsPlugin.ts
  packages/rich-text/src/plugins/Voids/transformVoid.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

refactor: remove unnecessary voids normalization (#1038)
  packages/rich-text/src/plugins/Voids/__tests__/createVoidsPlugin.test.tsx
  packages/rich-text/src/plugins/Voids/createVoidsPlugin.ts
  packages/rich-text/src/plugins/Voids/transformVoid.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

test: blockquote pasting
  cypress/integration/rich-text/RichTextEditor.Pasting.spec.ts
  cypress/integration/rich-text/__snapshots__/RichTextEditor.Pasting.spec.ts.snap
Owners: @contentful/team-bauhaus

perf(rich-text): debounce value changes (#1031)
  cypress/integration/rich-text/RichTextEditor.spec.ts
  cypress/integration/rich-text/RichTextLists.spec.ts
  cypress/integration/rich-text/RichTextPage.ts
  packages/rich-text/src/ContentfulEditorProvider.ts
  packages/rich-text/src/RichTextEditor.tsx
  packages/rich-text/src/Toolbar/_tests_/toolbar.test.tsx
  packages/rich-text/src/plugins/Marks/Bold.tsx
  packages/rich-text/src/plugins/Marks/Code.tsx
  packages/rich-text/src/plugins/Marks/Italic.tsx
  packages/rich-text/src/plugins/Marks/Underline.tsx
  packages/rich-text/src/plugins/Marks/components/MarkToolbarButton.tsx
  packages/rich-text/src/useOnValueChanged.ts
Owners: @contentful/team-bauhaus, @contentful/team-shelley

chore(release): publish rich-text@2.0.0-next.13 (#1037)
  apps/entry-app-collapsible/package.json
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

chore(tracking): add tracking for blockquote
  packages/rich-text/src/TrackingProvider.tsx
  packages/rich-text/src/plugins/Quote/components/ToolbarQuoteButton.tsx
  packages/rich-text/src/plugins/Quote/createQuotePlugin.ts
  packages/rich-text/src/plugins/Quote/toggleQuote.ts
  packages/rich-text/src/plugins/index.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore(tracking): add tracking plugin and track text pasting
  packages/rich-text/src/TrackingProvider.tsx
  packages/rich-text/src/plugins/Tracking/createTrackingPlugin.ts
  packages/rich-text/src/plugins/Tracking/index.tsx
  packages/rich-text/src/plugins/index.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore(tracking): add tracking for hyperlinks
  packages/rich-text/src/TrackingProvider.tsx
  packages/rich-text/src/plugins/Hyperlink/HyperlinkModal.tsx
  packages/rich-text/src/plugins/Hyperlink/index.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore(tracking): add tracking for embedded inlines
  packages/rich-text/src/TrackingProvider.tsx
  packages/rich-text/src/plugins/EmbeddedEntityBlock/ToolbarIcon.tsx
  packages/rich-text/src/plugins/EmbeddedEntityBlock/Util.ts
  packages/rich-text/src/plugins/EmbeddedEntityBlock/index.tsx
  packages/rich-text/src/plugins/EmbeddedEntityInline/index.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore(tracking): add tracking for headings
  packages/rich-text/src/plugins/Heading/components/ToolbarHeadingButton.tsx
  packages/rich-text/src/plugins/Heading/createHeadingPlugin.ts
  packages/rich-text/src/plugins/index.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore(tracking): add tracking for marks
  packages/rich-text/src/TrackingProvider.tsx
  packages/rich-text/src/plugins/Marks/Bold.tsx
  packages/rich-text/src/plugins/Marks/Code.tsx
  packages/rich-text/src/plugins/Marks/Italic.tsx
  packages/rich-text/src/plugins/Marks/Underline.tsx
  packages/rich-text/src/plugins/Marks/components/MarkToolbarButton.tsx
  packages/rich-text/src/plugins/Marks/helpers.ts
  packages/rich-text/src/plugins/Marks/index.ts
  packages/rich-text/src/plugins/index.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

test(rte): add tests for rte tracking actions
  cypress/integration/rich-text/RichTextEditor.Tracking.spec.ts
  cypress/integration/rich-text/RichTextPage.ts
  cypress/support/index.d.ts
  packages/rich-text/src/plugins/Table/components/ToolbarButton.tsx
Owners: @contentful/team-bauhaus, @contentful/team-shelley

fix(tracking): typescript issue with tracking provider
  packages/rich-text/src/test-utils/createEditor.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix(marks): onkeydown prevent default
  packages/rich-text/src/plugins/Marks/helpers.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

refactor(rte-tracking): use editor.tracking
  packages/rich-text/src/plugins/EmbeddedEntityBlock/index.tsx
  packages/rich-text/src/plugins/EmbeddedEntityInline/index.tsx
  packages/rich-text/src/plugins/Heading/createHeadingPlugin.ts
  packages/rich-text/src/plugins/Hyperlink/index.tsx
  packages/rich-text/src/plugins/Marks/Bold.tsx
  packages/rich-text/src/plugins/Marks/Code.tsx
  packages/rich-text/src/plugins/Marks/Italic.tsx
  packages/rich-text/src/plugins/Marks/Underline.tsx
  packages/rich-text/src/plugins/Marks/helpers.ts
  packages/rich-text/src/plugins/Marks/index.ts
  packages/rich-text/src/plugins/Quote/createQuotePlugin.ts
  packages/rich-text/src/plugins/Quote/toggleQuote.ts
  packages/rich-text/src/plugins/Table/addTableTrackingEvents.ts
  packages/rich-text/src/plugins/Table/createTablePlugin.ts
  packages/rich-text/src/plugins/Tracking/createTrackingPlugin.ts
  packages/rich-text/src/plugins/index.ts
  packages/rich-text/src/plugins/links-tracking.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

test(rte-tracking): improve test stability
  cypress/integration/rich-text/RichTextEditor.Tracking.spec.ts
  cypress/integration/rich-text/RichTextPage.ts
Owners: @contentful/team-bauhaus

chore(rte-types): use RichTextEditor with tracking
  packages/rich-text/src/helpers/editor.ts
  packages/rich-text/src/helpers/extractNodes.ts
  packages/rich-text/src/helpers/transformers.ts
  packages/rich-text/src/plugins/Hr/index.tsx
  packages/rich-text/src/plugins/Hyperlink/utils.ts
  packages/rich-text/src/plugins/List/insertListBreak.ts
  packages/rich-text/src/plugins/List/insertListFragment.ts
  packages/rich-text/src/plugins/List/transforms/insertListItem.ts
  packages/rich-text/src/plugins/List/utils.ts
  packages/rich-text/src/plugins/Normalizer/types.ts
  packages/rich-text/src/plugins/Normalizer/utils.ts
  packages/rich-text/src/plugins/Quote/toggleQuote.ts
  packages/rich-text/src/plugins/Table/actions/addColumn.ts
  packages/rich-text/src/plugins/Table/actions/addRow.ts
  packages/rich-text/src/plugins/Table/actions/setHeader.ts
  packages/rich-text/src/plugins/Table/addTableTrackingEvents.ts
  packages/rich-text/src/plugins/Table/components/TableActions.tsx
  packages/rich-text/src/plugins/Table/helpers.ts
  packages/rich-text/src/plugins/Tracking/createTrackingPlugin.ts
  packages/rich-text/src/plugins/Voids/transformVoid.ts
  packages/rich-text/src/test-utils/assertOutput.ts
  packages/rich-text/src/test-utils/createEditor.ts
  packages/rich-text/src/test-utils/setEmptyDataAttribute.ts
  packages/rich-text/src/types.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore(rte-types): improve rte types
  cypress/integration/rich-text/RichTextEditor.Tracking.spec.ts
  cypress/integration/rich-text/RichTextPage.ts
  packages/rich-text/src/ContentfulEditorProvider.ts
  packages/rich-text/src/plugins/EmbeddedEntityBlock/Util.ts
  packages/rich-text/src/plugins/EmbeddedEntityBlock/index.tsx
  packages/rich-text/src/plugins/Heading/createHeadingPlugin.ts
  packages/rich-text/src/plugins/Quote/components/ToolbarQuoteButton.tsx
  packages/rich-text/src/plugins/Quote/toggleQuote.ts
Owners: @contentful/team-bauhaus, @contentful/team-shelley

refactor(rte-tracking): use editor.tracking instead of TrackingProvider
  cypress/integration/rich-text/RichTextPage.ts
  packages/rich-text/src/RichTextEditor.tsx
  packages/rich-text/src/Toolbar/_tests_/toolbar.test.tsx
  packages/rich-text/src/TrackingProvider.tsx
  packages/rich-text/src/helpers/editor.ts
  packages/rich-text/src/plugins/EmbeddedEntityBlock/ToolbarIcon.tsx
  packages/rich-text/src/plugins/EmbeddedEntityBlock/Util.ts
  packages/rich-text/src/plugins/EmbeddedEntityBlock/index.tsx
  packages/rich-text/src/plugins/EmbeddedEntityInline/index.tsx
  packages/rich-text/src/plugins/Heading/components/ToolbarHeadingButton.tsx
  packages/rich-text/src/plugins/Heading/createHeadingPlugin.ts
  packages/rich-text/src/plugins/Hr/index.tsx
  packages/rich-text/src/plugins/Hyperlink/HyperlinkModal.tsx
  packages/rich-text/src/plugins/Hyperlink/index.tsx
  packages/rich-text/src/plugins/Marks/helpers.ts
  packages/rich-text/src/plugins/Quote/components/ToolbarQuoteButton.tsx
  packages/rich-text/src/plugins/Quote/toggleQuote.ts
  packages/rich-text/src/plugins/Table/addTableTrackingEvents.ts
  packages/rich-text/src/plugins/Table/components/TableActions.tsx
  packages/rich-text/src/plugins/Table/components/ToolbarButton.tsx
  packages/rich-text/src/plugins/Table/createTablePlugin.ts
  packages/rich-text/src/plugins/Tracking/createTrackingPlugin.ts
  packages/rich-text/src/plugins/Tracking/utils.ts
  packages/rich-text/src/plugins/index.ts
  packages/rich-text/src/plugins/links-tracking.tsx
  packages/rich-text/src/test-utils/createEditor.ts
  packages/rich-text/src/types.ts
Owners: @contentful/team-bauhaus, @contentful/team-shelley

chore(rte-types): fix RichTextEditor type issues
  packages/rich-text/src/helpers/__tests__/extractNodes.test.ts
  packages/rich-text/src/plugins/EmbeddedEntityBlock/index.tsx
  packages/rich-text/src/plugins/EmbeddedEntityInline/index.tsx
  packages/rich-text/src/plugins/Heading/createHeadingPlugin.ts
  packages/rich-text/src/plugins/Hr/index.tsx
  packages/rich-text/src/plugins/Hyperlink/index.tsx
  packages/rich-text/src/plugins/List/createListPlugin.ts
  packages/rich-text/src/plugins/List/withList.ts
  packages/rich-text/src/plugins/Marks/helpers.ts
  packages/rich-text/src/plugins/Normalizer/createNormalizerPlugin.ts
  packages/rich-text/src/plugins/Normalizer/withNormalizer.ts
  packages/rich-text/src/plugins/Quote/toggleQuote.ts
  packages/rich-text/src/plugins/Table/createTablePlugin.ts
  packages/rich-text/src/plugins/Tracking/createTrackingPlugin.ts
  packages/rich-text/src/plugins/Tracking/utils.ts
  packages/rich-text/src/plugins/TrailingParagraph/index.ts
  packages/rich-text/src/test-utils/mockPlugin.ts
  packages/rich-text/src/types.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

refactor: use matcher with getAabove
  packages/rich-text/src/plugins/Quote/createQuotePlugin.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore(rte): adjustments after rebasing conflicts
  packages/rich-text/src/ContentfulEditorProvider.ts
  packages/rich-text/src/RichTextEditor.tsx
  packages/rich-text/src/Toolbar/_tests_/toolbar.test.tsx
  packages/rich-text/src/plugins/Hr/index.tsx
  packages/rich-text/src/plugins/List/insertListBreak.ts
  packages/rich-text/src/plugins/Marks/Bold.tsx
  packages/rich-text/src/plugins/Marks/Code.tsx
  packages/rich-text/src/plugins/Marks/Italic.tsx
  packages/rich-text/src/plugins/Marks/Underline.tsx
  packages/rich-text/src/plugins/Marks/components/MarkToolbarButton.tsx
  packages/rich-text/src/plugins/Quote/toggleQuote.ts
  packages/rich-text/src/test-utils/createEditor.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: pasting blockquote (#1035)
  cypress/integration/rich-text/RichTextEditor.Pasting.spec.ts
  cypress/integration/rich-text/__snapshots__/RichTextEditor.Pasting.spec.ts.snap
  packages/rich-text/src/plugins/Quote/createQuotePlugin.ts
Owners: @contentful/team-bauhaus, @contentful/team-shelley

fix(rte-tracking): re-render of entity hyperlink
  packages/rich-text/src/ContentfulEditorProvider.ts
  packages/rich-text/src/plugins/Marks/components/MarkToolbarButton.tsx
  packages/rich-text/src/plugins/links-tracking.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

test(rte-tracking): fix hyperlink test actions
  cypress/integration/rich-text/RichTextEditor.Tracking.spec.ts
Owners: @contentful/team-bauhaus

test: fix non-passing test in ci
  cypress/integration/rich-text/RichTextEditor.Pasting.spec.ts
Owners: @contentful/team-bauhaus

chore: fix typos
  packages/rich-text/src/ContentfulEditorProvider.ts
  packages/rich-text/src/plugins/Tracking/createTrackingPlugin.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore(rte): remove optinal chaining operator
  packages/rich-text/src/plugins/EmbeddedEntityBlock/Util.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

test(rte-tracking): add test case when the modal is canceled
  cypress/integration/rich-text/RichTextEditor.Tracking.spec.ts
  cypress/integration/rich-text/RichTextPage.ts
Owners: @contentful/team-bauhaus

test: log spec files
  cypress/integration/rich-text/RichTextEditor.Pasting.spec.ts
Owners: @contentful/team-bauhaus

test: fix non-passing test in ci (#1039)
  cypress/integration/rich-text/RichTextEditor.Pasting.spec.ts
Owners: @contentful/team-bauhaus

fix(rte-tracking): documentation mocks for selecting assets
  packages/rich-text/src/RichTextEditor.mdx
  packages/rich-text/src/plugins/EmbeddedEntityBlock/Util.ts
  packages/rich-text/src/plugins/EmbeddedEntityInline/index.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix(rich-text): handle list unwrapping
  packages/rich-text/src/plugins/List/components/ToolbarListButton.tsx
  packages/rich-text/src/plugins/List/transforms/toggleList.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

test(rte-tracking): add tests when cancelling embeds
  cypress/integration/rich-text/RichTextEditor.Tracking.spec.ts
  cypress/integration/rich-text/RichTextPage.ts
Owners: @contentful/team-bauhaus

chore(release): publish rich-text@2.0.0-next.14
  apps/entry-app-collapsible/package.json
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

chore(release): publish rich-text@2.0.0-next.14 (#1043)
  apps/entry-app-collapsible/package.json
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

fix(rte): split blockquote when pasting hr inside
  packages/rich-text/src/plugins/Hr/index.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

.github/CODEOWNERS:

*                      @contentful/team-bauhaus

apps/                  @contentful/team-extensibility
packages/rich-text/    @contentful/team-shelley @contentful/team-bauhaus
packages/reference/    @contentful/team-shelley @contentful/team-bauhaus
