Repository contentful/field-editors, changes with the owners that .github/CODEOWNERS names for each.
All owners: @contentful/team-bauhaus, @contentful/team-extensibility, @contentful/team-shelley

.github/CODEOWNERS:

*                      @contentful/team-bauhaus

apps/                  @contentful/team-extensibility
packages/rich-text/    @contentful/team-shelley @contentful/team-bauhaus
packages/reference/    @contentful/team-shelley @contentful/team-bauhaus

fix: render unrenderable child nodes as text
  packages/rich-text/src/plugins/Paste/sanitizers/sanitizeTables.tsx
  packages/rich-text/src/plugins/Table/index.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: tables pasting on elements with content
  packages/rich-text/src/plugins/Table/index.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: tables pasting on elements with content (#873)
  packages/rich-text/src/plugins/Table/index.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore: bump rich-text@next
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

fix: fix imports
  packages/markdown/src/dialogs/EmdebExternalContentDialog.tsx
Owners: @contentful/team-bauhaus

feat: replace CheckboxField with Checkbox from v4
  packages/checkbox/src/CheckboxEditor.tsx
  packages/markdown/src/dialogs/EmdebExternalContentDialog.tsx
Owners: @contentful/team-bauhaus

fix: fix
  packages/checkbox/src/CheckboxEditor.tsx
Owners: @contentful/team-bauhaus

feat: 🎸 Run Select v4 codemod
  packages/date/src/TimezonePickerInput.tsx
  packages/dropdown/src/DropdownEditor.tsx
  packages/rich-text/src/dialogs/HypelinkDialog/HyperlinkDialog.jsx
Owners: @contentful/team-bauhaus, @contentful/team-shelley

fix: fix spec
  packages/checkbox/src/CheckboxEditor.spec.tsx
Owners: @contentful/team-bauhaus

fix: render unrenderable child nodes as text (#872)
  packages/rich-text/src/plugins/Paste/sanitizers/sanitizeTables.tsx
  packages/rich-text/src/plugins/Table/index.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

feat: 🎸 Remove size from Select
  packages/date/src/TimezonePickerInput.tsx
Owners: @contentful/team-bauhaus

chore: bump rich-text@next (#875)
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

fix: use validLiChildrenTypes for block elements, patch list plugin
  package.json
  packages/rich-text/src/RichTextEditor.tsx
  patches/@udecode+plate-list+3.5.1.patch
  yarn.lock
Owners: @contentful/team-bauhaus, @contentful/team-shelley

fix: extract plugin
  packages/rich-text/src/RichTextEditor.tsx
  packages/rich-text/src/plugins/List/index.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

feat: 🎸 Run Select v4 codemod (#874)
  packages/date/src/TimezonePickerInput.tsx
  packages/dropdown/src/DropdownEditor.tsx
  packages/rich-text/src/dialogs/HypelinkDialog/HyperlinkDialog.jsx
Owners: @contentful/team-bauhaus, @contentful/team-shelley

fix: happy & pretty
  packages/checkbox/src/CheckboxEditor.tsx
  packages/markdown/src/dialogs/EmdebExternalContentDialog.tsx
Owners: @contentful/team-bauhaus

feat: Checkbox v4 adoption (#876)
  packages/checkbox/src/CheckboxEditor.spec.tsx
  packages/checkbox/src/CheckboxEditor.tsx
  packages/markdown/src/dialogs/EmdebExternalContentDialog.tsx
Owners: @contentful/team-bauhaus

feat: 🎸 run Radio codemod
  packages/boolean/src/BooleanEditor.tsx
  packages/location/src/LocationSelector.tsx
  packages/markdown/src/dialogs/EmdebExternalContentDialog.tsx
  packages/radio/src/RadioEditor.tsx
Owners: @contentful/team-bauhaus

test: 💍 Update selector on cypress to get input correctly
  cypress/integration/LocationEditor.spec.ts
Owners: @contentful/team-bauhaus

feat: 🎸 run Radio codemod (#878)
  cypress/integration/LocationEditor.spec.ts
  packages/boolean/src/BooleanEditor.tsx
  packages/location/src/LocationSelector.tsx
  packages/markdown/src/dialogs/EmdebExternalContentDialog.tsx
  packages/radio/src/RadioEditor.tsx
Owners: @contentful/team-bauhaus

feat: v4 Form component adoption
  packages/checkbox/src/CheckboxEditor.tsx
  packages/markdown/src/dialogs/EmdebExternalContentDialog.tsx
  packages/markdown/src/dialogs/InsertLinkModalDialog.tsx
  packages/markdown/src/dialogs/InsertTableModalDialog.tsx
  packages/radio/src/RadioEditor.tsx
Owners: @contentful/team-bauhaus

fix: fix return
  packages/markdown/src/dialogs/EmdebExternalContentDialog.tsx
  packages/markdown/src/dialogs/InsertLinkModalDialog.tsx
  packages/markdown/src/dialogs/InsertTableModalDialog.tsx
Owners: @contentful/team-bauhaus

feat: enable block elements in list items (#877)
  package.json
  packages/rich-text/src/RichTextEditor.tsx
  packages/rich-text/src/plugins/List/index.tsx
  patches/@udecode+plate-list+3.5.1.patch
  yarn.lock
Owners: @contentful/team-bauhaus, @contentful/team-shelley

chore: bump rich-text@next
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

chore: add patch-package to rich-text
  packages/rich-text/package.json
  packages/rich-text/patches/@udecode+plate-list+3.5.1.patch
Owners: @contentful/team-shelley, @contentful/team-bauhaus

feat: v4 Form component adoption (#879)
  packages/checkbox/src/CheckboxEditor.tsx
  packages/markdown/src/dialogs/EmdebExternalContentDialog.tsx
  packages/markdown/src/dialogs/InsertLinkModalDialog.tsx
  packages/markdown/src/dialogs/InsertTableModalDialog.tsx
  packages/radio/src/RadioEditor.tsx
Owners: @contentful/team-bauhaus

fix: handle 'failed' entity state
  packages/reference/src/common/EntityStore.ts
  packages/rich-text/src/plugins/EmbeddedEntityInline/FetchingWrappedInlineEntryCard.tsx
  packages/rich-text/src/plugins/shared/FetchingWrappedAssetCard.tsx
  packages/rich-text/src/plugins/shared/FetchingWrappedEntryCard.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

feat: 🎸 migrate FieldGroup to forma-v4
  apps/entry-app-collapsible/src/FieldGroupsEditor.tsx
  packages/default-field-editors/src/FieldWrapper.tsx
  packages/location/src/LocationSelector.tsx
Owners: @contentful/team-extensibility, @contentful/team-bauhaus

fix: handle 'failed' entity state (#882)
  packages/reference/src/common/EntityStore.ts
  packages/rich-text/src/plugins/EmbeddedEntityInline/FetchingWrappedInlineEntryCard.tsx
  packages/rich-text/src/plugins/shared/FetchingWrappedAssetCard.tsx
  packages/rich-text/src/plugins/shared/FetchingWrappedEntryCard.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

feat: [] bump app-sdk to v4
  apps/entry-app-collapsible/package.json
  apps/entry-app-collapsible/src/Field.tsx
  apps/entry-app-collapsible/src/FieldGroupsEditor.tsx
  apps/markdown-app/package.json
  apps/multiple-references-app/package.json
  apps/rich-text-app/package.json
  apps/singleline-app/package.json
  packages/_shared/package.json
  packages/_shared/src/FieldConnector.ts
  packages/_shared/src/typesEntity.ts
  packages/_shared/src/utils/entityHelpers.ts
  packages/_test/package.json
  packages/_test/src/createFakeFieldAPI.ts
  packages/_test/src/createFakeSpaceAPI.ts
  packages/default-field-editors/src/Field.spec.tsx
  packages/default-field-editors/src/Field.tsx
  packages/json/src/JsonEditoField.tsx
  packages/location/src/LocationSearchInput.tsx
  packages/markdown/package.json
  packages/markdown/src/dialogs/openMarkdownDialog.tsx
  packages/multiple-line/src/MultipleLineEditor.tsx
  packages/reference/package.json
  packages/reference/src/assets/WrappedAssetCard/AssetCardActions.tsx
  packages/reference/src/assets/WrappedAssetCard/WrappedAssetCard.tsx
  packages/reference/src/common/EntityStore.ts
  packages/reference/src/common/MultipleReferenceEditor.tsx
  packages/reference/src/common/SingleReferenceEditor.tsx
  packages/reference/src/common/useAccessApi.ts
  packages/reference/src/common/useContentTypePermissions.ts
  packages/reference/src/common/useEditorPermissions.ts
  packages/reference/src/components/CreateEntryLinkButton/CreateEntryMenuTrigger.tsx
  packages/reference/src/components/LinkActions/LinkActions.tsx
  packages/reference/src/components/LinkActions/LinkEntityActions.tsx
  packages/reference/src/components/LinkActions/helpers.ts
  packages/reference/src/components/MissingEntityCard/MissingEntityCard.tsx
  packages/reference/src/types.ts
  packages/slug/package.json
  packages/slug/src/SlugEditor.tsx
  packages/validation-errors/src/ValidationErrors.tsx
  yarn.lock
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

Update packages/reference/package.json
  packages/reference/package.json
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix(reference): consistent order of link actions
  packages/reference/src/components/LinkActions/CombinedLinkActions.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix(reference): consistent ordering of link actions (#884)
  packages/reference/src/components/LinkActions/CombinedLinkActions.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore(release): updated release notes and package versions [ci skip]
  packages/default-field-editors/CHANGELOG.md
  packages/default-field-editors/package.json
  packages/reference/CHANGELOG.md
  packages/reference/package.json
  packages/rich-text/CHANGELOG.md
  packages/rich-text/package.json
Owners: @contentful/team-bauhaus, @contentful/team-shelley

feat: [EXT-3161] resolve remaining type issues
  apps/entry-app-collapsible/package.json
  apps/markdown-app/package.json
  apps/multiple-references-app/package.json
  apps/rich-text-app/package.json
  apps/singleline-app/package.json
  packages/_shared/package.json
  packages/_test/package.json
  packages/dropdown/package.json
  packages/markdown/package.json
  packages/radio/package.json
  packages/reference/package.json
  packages/slug/package.json
  packages/validation-errors/src/ValidationErrors.test.tsx
  packages/validation-errors/src/ValidationErrors.tsx
  yarn.lock
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

chore: [] run prettier
  packages/reference/src/assets/WrappedAssetCard/AssetCardActions.tsx
  packages/validation-errors/src/ValidationErrors.test.tsx
  packages/validation-errors/src/ValidationErrors.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

feat: use crud types from app sdk
  apps/entry-app-collapsible/package.json
  apps/markdown-app/package.json
  apps/multiple-references-app/package.json
  apps/rich-text-app/package.json
  apps/singleline-app/package.json
  packages/_shared/package.json
  packages/_test/package.json
  packages/markdown/package.json
  packages/reference/package.json
  packages/reference/src/common/useAccessApi.ts
  packages/slug/package.json
  yarn.lock
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

chore: bump plate, remove patch
  package.json
  packages/rich-text/package.json
  patches/@udecode+plate-list+3.5.1.patch
  yarn.lock
Owners: @contentful/team-bauhaus, @contentful/team-shelley

chore: bump plate, remove patch (#885)
  package.json
  packages/rich-text/package.json
  patches/@udecode+plate-list+3.5.1.patch
  yarn.lock
Owners: @contentful/team-bauhaus, @contentful/team-shelley

feat: 🎸 migrate FieldGroup to forma-v4 (#883)
  apps/entry-app-collapsible/src/FieldGroupsEditor.tsx
  packages/default-field-editors/src/FieldWrapper.tsx
  packages/location/src/LocationSelector.tsx
Owners: @contentful/team-extensibility, @contentful/team-bauhaus
