Repository contentful/field-editors, changes with the owners that .github/CODEOWNERS names for each.
All owners: @contentful/team-bauhaus, @contentful/team-extensibility, @contentful/team-shelley

chore(rich-text): bump @contentful/field-editor-rich-text to 0.21.5-next
  packages/rich-text/package.json
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore(rich-text): bump @contentful/field-editor-rich-text to 0.21.6-next
  packages/rich-text/package.json
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore(rich-text): v0.19.10 as latest
  packages/rich-text/package.json
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore(rich-text): bump @contentful/field-editor-rich-text to 0.21.6-next (#815)
  packages/rich-text/package.json
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix(rich-text): set tooltip placement to bottom (#814)
  packages/rich-text/package.json
  packages/rich-text/src/plugins/Bold/index.tsx
  packages/rich-text/src/plugins/Code/index.tsx
  packages/rich-text/src/plugins/Hr/index.tsx
  packages/rich-text/src/plugins/Hyperlink/index.tsx
  packages/rich-text/src/plugins/Italic/index.tsx
  packages/rich-text/src/plugins/List/index.tsx
  packages/rich-text/src/plugins/Quote/index.tsx
  packages/rich-text/src/plugins/Table/index.tsx
  packages/rich-text/src/plugins/Underline/index.tsx
  yarn.lock
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore(release): updated release notes and package versions [ci skip]
  packages/default-field-editors/CHANGELOG.md
  packages/default-field-editors/package.json
  packages/rich-text/CHANGELOG.md
  packages/rich-text/package.json
Owners: @contentful/team-bauhaus, @contentful/team-shelley

chore: use React >=16.14.0
  package.json
  packages/rich-text/package.json
  yarn.lock
Owners: @contentful/team-bauhaus, @contentful/team-shelley

chore: update dependencies on RT by other packages
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
Owners: @contentful/team-extensibility, @contentful/team-bauhaus

chore: update dependencies on RT by other packages (#816)
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
Owners: @contentful/team-extensibility, @contentful/team-bauhaus

refactor: upgrade to Plate
  package.json
  packages/rich-text/package.json
  packages/rich-text/src/RichTextEditor.tsx
  packages/rich-text/src/Toolbar/index.tsx
  packages/rich-text/src/helpers/deserializer.ts
  packages/rich-text/src/plugins/Bold/index.tsx
  packages/rich-text/src/plugins/Code/index.tsx
  packages/rich-text/src/plugins/EmbeddedEntityBlock/LinkedEntityBlock.tsx
  packages/rich-text/src/plugins/EmbeddedEntityBlock/ToolbarIcon.tsx
  packages/rich-text/src/plugins/EmbeddedEntityBlock/Util.ts
  packages/rich-text/src/plugins/EmbeddedEntityBlock/index.tsx
  packages/rich-text/src/plugins/EmbeddedEntityInline/index.tsx
  packages/rich-text/src/plugins/Heading/index.tsx
  packages/rich-text/src/plugins/Hr/index.tsx
  packages/rich-text/src/plugins/Hyperlink/HyperlinkModal.tsx
  packages/rich-text/src/plugins/Hyperlink/index.tsx
  packages/rich-text/src/plugins/Italic/index.tsx
  packages/rich-text/src/plugins/List/index.tsx
  packages/rich-text/src/plugins/NewLine/index.tsx
  packages/rich-text/src/plugins/Paragraph/index.tsx
  packages/rich-text/src/plugins/Quote/index.tsx
  packages/rich-text/src/plugins/Table/TableActions.tsx
  packages/rich-text/src/plugins/Table/actions/addColumn.ts
  packages/rich-text/src/plugins/Table/actions/addRow.ts
  packages/rich-text/src/plugins/Table/helpers.ts
  packages/rich-text/src/plugins/Table/index.tsx
  packages/rich-text/src/plugins/Underline/index.tsx
  packages/rich-text/src/types.ts
  yarn.lock
Owners: @contentful/team-bauhaus, @contentful/team-shelley

build(ci): upgrade cypress docker image
  .circleci/config.yml
Owners: @contentful/team-bauhaus

fix(rich-text): embed entity widget dropdown glitch
  packages/rich-text/src/Toolbar/EmbedEntityWidget.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix(rich-text): correct inline embeds insertion
  packages/rich-text/src/plugins/EmbeddedEntityInline/Util.ts
  packages/rich-text/src/plugins/EmbeddedEntityInline/index.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix(rich-text): embed entity widget dropdown glitch (#817)
  packages/rich-text/src/Toolbar/EmbedEntityWidget.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix(rich-text): correct inline embeds insertion (#818)
  packages/rich-text/src/plugins/EmbeddedEntityInline/Util.ts
  packages/rich-text/src/plugins/EmbeddedEntityInline/index.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore(rich-text): bump @contentful/field-editor-rich-text to 0.21.7-next
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

chore(rich-text): bump @contentful/field-editor-rich-text to 0.21.7-next (#819)
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

chore: use latest packages
  yarn.lock
Owners: @contentful/team-bauhaus

refactor: use new components in MarkdownToolbar
  packages/markdown/src/components/MarkdownToolbar.tsx
Owners: @contentful/team-bauhaus

refactor: 💡 List-v4
  packages/validation-errors/src/ValidationErrors.tsx
Owners: @contentful/team-bauhaus

refactor: replace EditorToolbar component
  packages/markdown/package.json
  packages/markdown/src/components/MarkdownToolbar.tsx
  packages/markdown/src/components/icons.tsx
  packages/rich-text/package.json
  packages/rich-text/src/Toolbar/index.js
  packages/rich-text/src/plugins/Bold/index.js
  packages/rich-text/src/plugins/Code/index.js
  packages/rich-text/src/plugins/Heading/HeadingDropdown.js
  packages/rich-text/src/plugins/Hr/index.js
  packages/rich-text/src/plugins/Hyperlink/ToolbarIcon.js
  packages/rich-text/src/plugins/Italic/index.js
  packages/rich-text/src/plugins/List/ToolbarDecorator.js
  packages/rich-text/src/plugins/List/index.js
  packages/rich-text/src/plugins/Quote/index.js
  packages/rich-text/src/plugins/Underlined/index.js
  packages/rich-text/src/plugins/shared/BlockSelectDecorator.js
  packages/rich-text/src/plugins/shared/BlockToggleDecorator.js
  packages/rich-text/src/plugins/shared/MarkToggleDecorator.js
  packages/rich-text/src/plugins/shared/ToolbarIcon.js
Owners: @contentful/team-bauhaus, @contentful/team-shelley

chore: fix tests
  packages/rich-text/src/plugins/shared/ToolbarIcon.js
Owners: @contentful/team-shelley, @contentful/team-bauhaus

refactor: downgrade to @udecode/plate-table v1
  packages/rich-text/package.json
  packages/rich-text/src/plugins/Table/actions/addColumn.ts
  yarn.lock
Owners: @contentful/team-shelley, @contentful/team-bauhaus

test: experiment with jest-expect
  cypress/integration/RichTextEditor.spec.ts
  cypress/tsconfig.json
  package.json
  yarn.lock
Owners: @contentful/team-bauhaus

Revert "test: experiment with jest-expect"
  cypress/integration/RichTextEditor.spec.ts
  cypress/tsconfig.json
  package.json
  yarn.lock
Owners: @contentful/team-bauhaus

refactor: 💡 List-v4 (#820)
  packages/validation-errors/src/ValidationErrors.tsx
Owners: @contentful/team-bauhaus

fix: do not resubscribe to errors on every render (#808)
  packages/default-field-editors/src/FieldWrapper.tsx
Owners: @contentful/team-bauhaus

chore: update flex in js files
  packages/rich-text/src/plugins/EmbeddedEntityBlock/ToolbarIcon.js
  packages/rich-text/src/plugins/EmbeddedEntryInline/ToolbarIcon.js
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore: update Flex in typescript files
  packages/boolean/src/BooleanEditor.tsx
  packages/radio/src/RadioEditor.tsx
  packages/rating/src/RatingEditor.tsx
Owners: @contentful/team-bauhaus

chore(release): updated release notes and package versions [ci skip]
  packages/default-field-editors/CHANGELOG.md
  packages/default-field-editors/package.json
Owners: @contentful/team-bauhaus

chore: prettier
  apps/entry-app-collapsible/src/Field.tsx
  apps/entry-app-collapsible/src/FieldGroupsEditor.tsx
  apps/entry-app-collapsible/src/index.tsx
  packages/boolean/src/BooleanEditor.tsx
  packages/checkbox/src/CheckboxEditor.tsx
  packages/date/src/DateEditor.tsx
  packages/default-field-editors/src/Field.spec.tsx
  packages/default-field-editors/src/Field.tsx
  packages/json/src/JsonEditoField.tsx
  packages/location/src/LocationSearchInput.tsx
  packages/location/src/LocationSelector.tsx
  packages/markdown/src/components/MarkdownBottomBar.tsx
  packages/markdown/src/dialogs/CheatsheetModalDialog.tsx
  packages/markdown/src/dialogs/EmdebExternalContentDialog.tsx
  packages/markdown/src/dialogs/openMarkdownDialog.tsx
  packages/multiple-line/src/MultipleLineEditor.tsx
  packages/radio/src/RadioEditor.tsx
  packages/rating/src/RatingEditor.tsx
  packages/reference/src/assets/WrappedAssetCard/WrappedAssetCard.tsx
  packages/reference/src/common/MultipleReferenceEditor.tsx
  packages/reference/src/components/CreateEntryLinkButton/CreateEntryMenuTrigger.tsx
  packages/reference/src/components/LinkActions/LinkActions.tsx
  packages/reference/src/components/LinkActions/LinkEntityActions.tsx
  packages/rich-text/src/dialogs/HypelinkDialog/HyperlinkDialog.jsx
  packages/tags/src/TagsEditor.tsx
  packages/validation-errors/src/ValidationErrors.tsx
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

chore(rich-text): require React v16.14.0 or higher
  package.json
  packages/rich-text/package.json
  yarn.lock
Owners: @contentful/team-bauhaus, @contentful/team-shelley

chore(rich-text): require React v16.14.0 or higher (#821)
  package.json
  packages/rich-text/package.json
  yarn.lock
Owners: @contentful/team-bauhaus, @contentful/team-shelley

chore: update Spinner in js files
  packages/rich-text/src/plugins/CommandPalette/CommandPanel/CommandPanelMenu.js
Owners: @contentful/team-shelley, @contentful/team-bauhaus

refactor: ignore known TS typing conflicts for now
  packages/rich-text/src/RichTextEditor.tsx
  packages/rich-text/src/plugins/Bold/index.tsx
  packages/rich-text/src/plugins/Code/index.tsx
  packages/rich-text/src/plugins/EmbeddedEntityBlock/index.tsx
  packages/rich-text/src/plugins/EmbeddedEntityInline/index.tsx
  packages/rich-text/src/plugins/Heading/index.tsx
  packages/rich-text/src/plugins/Hr/index.tsx
  packages/rich-text/src/plugins/Hyperlink/index.tsx
  packages/rich-text/src/plugins/Italic/index.tsx
  packages/rich-text/src/plugins/List/index.tsx
  packages/rich-text/src/plugins/NewLine/index.tsx
  packages/rich-text/src/plugins/Paragraph/index.tsx
  packages/rich-text/src/plugins/Quote/index.tsx
  packages/rich-text/src/plugins/Table/index.tsx
  packages/rich-text/src/plugins/Underline/index.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

refactor: use latest @udecode/plate-core
  packages/rich-text/package.json
  packages/rich-text/src/RichTextEditor.tsx
  packages/rich-text/src/Toolbar/index.tsx
  packages/rich-text/src/helpers/deserializer.ts
  packages/rich-text/src/plugins/Bold/index.tsx
  packages/rich-text/src/plugins/Code/index.tsx
  packages/rich-text/src/plugins/EmbeddedEntityBlock/LinkedEntityBlock.tsx
  packages/rich-text/src/plugins/EmbeddedEntityBlock/ToolbarIcon.tsx
  packages/rich-text/src/plugins/EmbeddedEntityBlock/index.tsx
  packages/rich-text/src/plugins/EmbeddedEntityInline/index.tsx
  packages/rich-text/src/plugins/Heading/index.tsx
  packages/rich-text/src/plugins/Hr/index.tsx
  packages/rich-text/src/plugins/Hyperlink/HyperlinkModal.tsx
  packages/rich-text/src/plugins/Hyperlink/index.tsx
  packages/rich-text/src/plugins/Italic/index.tsx
  packages/rich-text/src/plugins/List/index.tsx
  packages/rich-text/src/plugins/NewLine/index.tsx
  packages/rich-text/src/plugins/Paragraph/index.tsx
  packages/rich-text/src/plugins/Quote/index.tsx
  packages/rich-text/src/plugins/Table/TableActions.tsx
  packages/rich-text/src/plugins/Table/actions/addColumn.ts
  packages/rich-text/src/plugins/Table/actions/addRow.ts
  packages/rich-text/src/plugins/Table/helpers.ts
  packages/rich-text/src/plugins/Table/index.tsx
  packages/rich-text/src/plugins/Underline/index.tsx
  packages/rich-text/src/types.ts
  yarn.lock
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore: update Spinner in ts files
  packages/location/src/LocationSearchInput.tsx
  packages/reference/src/components/CreateEntryLinkButton/CreateEntryLinkButton.tsx
  packages/slug/src/SlugEditorField.tsx
Owners: @contentful/team-bauhaus, @contentful/team-shelley

chore: remove faulty size
  packages/location/src/LocationSearchInput.tsx
  yarn.lock
Owners: @contentful/team-bauhaus

WIP: Two editor instances in mdx RT example
  packages/rich-text/src/RichTextEditor.mdx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore: remove faulty size
  packages/slug/src/SlugEditorField.tsx
Owners: @contentful/team-bauhaus

.github/CODEOWNERS:

*                      @contentful/team-bauhaus

apps/                  @contentful/team-extensibility
packages/rich-text/    @contentful/team-shelley @contentful/team-bauhaus
packages/reference/    @contentful/team-shelley @contentful/team-bauhaus
