Repository contentful/field-editors, changes with the owners that .github/CODEOWNERS names for each.
All owners: @contentful/team-bauhaus, @contentful/team-extensibility, @contentful/team-shelley

.github/CODEOWNERS:

*                      @contentful/team-bauhaus

apps/                  @contentful/team-extensibility
packages/rich-text/    @contentful/team-shelley @contentful/team-bauhaus
packages/reference/    @contentful/team-shelley @contentful/team-bauhaus

chore(tracking): pasting source
  packages/rich-text/src/plugins/Tracking/createTrackingPlugin.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore(tracking): add word and excel as tracking sources
  packages/rich-text/src/plugins/Tracking/createTrackingPlugin.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: better way to track invalid table cell paste (#1106)
  packages/rich-text/src/plugins/Table/addTableTrackingEvents.ts
  packages/rich-text/src/plugins/Table/createTablePlugin.ts
  packages/rich-text/src/plugins/Table/tableTracking.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

test(tracking): add tracking tests for Word and Excel desktop apps
  cypress/integration/rich-text/RichTextEditor.Tracking.spec.ts
Owners: @contentful/team-bauhaus

chore(tracking): improve condition for ms word online
  packages/rich-text/src/plugins/Tracking/createTrackingPlugin.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: always show link existing content button to account for tag based permissions
  packages/reference/src/common/useEditorPermissions.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

refactor(rte-tracking): use dom parser and send only one paste event
  cypress/integration/rich-text/RichTextEditor.Tracking.spec.ts
  packages/rich-text/src/plugins/Tracking/createTrackingPlugin.ts
Owners: @contentful/team-bauhaus, @contentful/team-shelley

chore(tracking): pasting source (#1104)
  cypress/integration/rich-text/RichTextEditor.Tracking.spec.ts
  packages/rich-text/src/plugins/Tracking/createTrackingPlugin.ts
Owners: @contentful/team-bauhaus, @contentful/team-shelley

chore(release): publish rich-text v2.0.0-next.32
  apps/entry-app-collapsible/package.json
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

chore(release): publish rich-text v2.0.0-next.32 (#1108)
  apps/entry-app-collapsible/package.json
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

fix: skip related test
  packages/reference/src/common/useEditorPermissions.spec.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: always show link existing button to account for tag based permissions [ZEND-1864] (#1107)
  packages/reference/src/common/useEditorPermissions.spec.ts
  packages/reference/src/common/useEditorPermissions.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore(release): updated release notes and package versions [ci skip]
  packages/default-field-editors/CHANGELOG.md
  packages/default-field-editors/package.json
  packages/reference/CHANGELOG.md
  packages/reference/package.json
  packages/rich-text/CHANGELOG.md
  packages/rich-text/package.json
Owners: @contentful/team-bauhaus, @contentful/team-shelley

refactor(tracking): add source to tablePasted paste event and return Unknown
  cypress/integration/rich-text/RichTextEditor.Tracking.spec.ts
  packages/rich-text/src/plugins/Table/tableTracking.ts
  packages/rich-text/src/plugins/Tracking/createTrackingPlugin.ts
Owners: @contentful/team-bauhaus, @contentful/team-shelley

refactor(tracking): add source to tablePasted paste event and return Unknown (#1109)
  cypress/integration/rich-text/RichTextEditor.Tracking.spec.ts
  packages/rich-text/src/plugins/Table/tableTracking.ts
  packages/rich-text/src/plugins/Tracking/createTrackingPlugin.ts
Owners: @contentful/team-bauhaus, @contentful/team-shelley

chore(bump): rte 2.0.0-next.33
  apps/entry-app-collapsible/package.json
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

chore(bump): rte 2.0.0-next.33 [] (#1110)
  apps/entry-app-collapsible/package.json
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

fix: make input fields number again
  packages/number/src/NumberEditor.tsx
Owners: @contentful/team-bauhaus

fix: change input type to number
  packages/number/src/NumberEditor.tsx
Owners: @contentful/team-bauhaus

fix: update tests to use number in inputs
  packages/number/src/NumberEditor.spec.tsx
Owners: @contentful/team-bauhaus

fix: change input type to number (#1112)
  packages/number/src/NumberEditor.spec.tsx
  packages/number/src/NumberEditor.tsx
Owners: @contentful/team-bauhaus

chore(release): updated release notes and package versions [ci skip]
  packages/default-field-editors/CHANGELOG.md
  packages/default-field-editors/package.json
  packages/number/CHANGELOG.md
  packages/number/package.json
Owners: @contentful/team-bauhaus

fix: deleting paragraphs between void elements
  packages/rich-text/src/plugins/SelectOnBackspace/createSelectOnBackspacePlugin.ts
  packages/rich-text/src/plugins/Text/createTextPlugin.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

test: if paragraph can be deleted between blocks
  cypress/integration/rich-text/RichTextEditor.spec.ts
Owners: @contentful/team-bauhaus

chore: remove inline embed from plugin query
  packages/rich-text/src/plugins/Text/createTextPlugin.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: deleting paragraphs between void elements [] (#1113)
  cypress/integration/rich-text/RichTextEditor.spec.ts
  packages/rich-text/src/plugins/SelectOnBackspace/createSelectOnBackspacePlugin.ts
  packages/rich-text/src/plugins/Text/createTextPlugin.ts
Owners: @contentful/team-bauhaus, @contentful/team-shelley

chore(release): publish rich-text v2.0.0-next.34
  apps/entry-app-collapsible/package.json
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

chore(release): publish rich-text v2.0.0-next.34 (#1114)
  apps/entry-app-collapsible/package.json
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

chore(release): publish rich-text v2.0.0-next.35
  apps/entry-app-collapsible/package.json
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

chore(release): publish rich-text v2.0.0-next.35 (#1115)
  apps/entry-app-collapsible/package.json
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

fix(rich-text): treat 2 consecutive line breaks as p
  packages/rich-text/src/plugins/Text/createTextPlugin.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix(rich-text): treat 2 consecutive line breaks as p (#1116)
  packages/rich-text/src/plugins/Text/createTextPlugin.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix(rich-text): prevent editor crash on triple clicking
  packages/rich-text/package.json
  yarn.lock
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore(release): publish rich-text@2.0.0-next.36
  packages/rich-text/package.json
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore(release): publish rich-text@2.0.0-next.36 (#1118)
  packages/rich-text/package.json
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: move by offset instead of character
  packages/rich-text/src/helpers/editor.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix(rich-text): prevent editor crash on triple clicks (#1117)
  packages/rich-text/package.json
  packages/rich-text/src/helpers/editor.ts
  yarn.lock
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore(release): publish rich-text 2.0.0-next.37
  apps/entry-app-collapsible/package.json
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

fix(EmbedAsset): always assume that assets are available for linking
  packages/rich-text/src/Toolbar/components/EmbedEntityWidget.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix(EmbedAsset): still call access api for monitorin reasons
  packages/rich-text/src/Toolbar/components/EmbedEntityWidget.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus
