Repository contentful/field-editors, changes with the owners that .github/CODEOWNERS names for each.
All owners: @contentful/team-bauhaus, @contentful/team-extensibility, @contentful/team-shelley

fix: drop access call
  packages/rich-text/src/Toolbar/components/EmbedEntityWidget.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix(EmbedAsset): always assume that assets are available for linking [HOMER-829] (#1121)
  packages/rich-text/src/Toolbar/components/EmbedEntityWidget.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

feat: reference expose actions props
  packages/reference/src/common/ReferenceEditor.tsx
  packages/reference/src/entries/WrappedEntryCard/FetchingWrappedEntryCard.tsx
  packages/reference/src/entries/WrappedEntryCard/WrappedEntryCard.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore(release): publish rich-text 2.0.0-next.37 (#1119)
  apps/entry-app-collapsible/package.json
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

chore(release): publish rich-text v2.0.0-next.38
  apps/entry-app-collapsible/package.json
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

chore(release): publish rich-text v2.0.0-next.38 (#1122)
  apps/entry-app-collapsible/package.json
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

feat: expose remove prop in single reference editor
  packages/reference/src/common/SingleReferenceEditor.tsx
  packages/reference/src/entries/SingleEntryReferenceEditor.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore: rename variable
  packages/reference/src/common/ReferenceEditor.tsx
  packages/reference/src/common/SingleReferenceEditor.tsx
  packages/reference/src/entries/SingleEntryReferenceEditor.tsx
  packages/reference/src/entries/WrappedEntryCard/FetchingWrappedEntryCard.tsx
  packages/reference/src/entries/WrappedEntryCard/WrappedEntryCard.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

feat: reference hide actions prop [DANTE-488] (#1120)
  packages/reference/src/common/ReferenceEditor.tsx
  packages/reference/src/common/SingleReferenceEditor.tsx
  packages/reference/src/entries/SingleEntryReferenceEditor.tsx
  packages/reference/src/entries/WrappedEntryCard/FetchingWrappedEntryCard.tsx
  packages/reference/src/entries/WrappedEntryCard/WrappedEntryCard.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore(release): updated release notes and package versions [ci skip]
  packages/default-field-editors/CHANGELOG.md
  packages/default-field-editors/package.json
  packages/reference/CHANGELOG.md
  packages/reference/package.json
  packages/rich-text/CHANGELOG.md
  packages/rich-text/package.json
Owners: @contentful/team-bauhaus, @contentful/team-shelley

fix(rich-text): don't disable "Edit" actions on embeds
  packages/rich-text/src/plugins/EmbeddedEntityInline/FetchingWrappedInlineEntryCard.tsx
  packages/rich-text/src/plugins/shared/FetchingWrappedAssetCard.tsx
  packages/rich-text/src/plugins/shared/FetchingWrappedEntryCard.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

test: fix unit tests
  packages/rich-text/src/plugins/shared/__tests__/FetchingWrappedAssetCard.test.tsx
  packages/rich-text/src/plugins/shared/__tests__/FetchingWrappedEntryCard.test.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: always show create asset button to be save in regards of tag-based permissions
  packages/reference/src/common/useEditorPermissions.spec.ts
  packages/reference/src/common/useEditorPermissions.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: always show create asset button to be save in regards of tag-based permissions (#1124)
  packages/reference/src/common/useEditorPermissions.spec.ts
  packages/reference/src/common/useEditorPermissions.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore(release): updated release notes and package versions [ci skip]
  packages/default-field-editors/CHANGELOG.md
  packages/default-field-editors/package.json
  packages/reference/CHANGELOG.md
  packages/reference/package.json
  packages/rich-text/CHANGELOG.md
  packages/rich-text/package.json
Owners: @contentful/team-bauhaus, @contentful/team-shelley

fix: reflect disabled state on fields
  packages/json/src/JsonEditoField.tsx
  packages/location/src/GoogleMapView.tsx
  packages/markdown/src/components/MarkdownTextarea/MarkdownTextarea.tsx
  packages/radio/src/RadioEditor.tsx
  packages/rich-text/src/RichTextEditor.jsx
  packages/tags/src/TagsEditor.tsx
Owners: @contentful/team-bauhaus, @contentful/team-shelley

fix(rich-text): allow hyperlink viewing in readonly mode
  packages/rich-text/src/plugins/Hyperlink/HyperlinkModal.tsx
  packages/rich-text/src/plugins/Hyperlink/components/EntityHyperlink.tsx
  packages/rich-text/src/plugins/Hyperlink/components/UrlHyperlink.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix(rich-text): block entry cards should take full width
  packages/rich-text/src/plugins/EmbeddedEntityBlock/LinkedEntityBlock.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix(rich-text): block entry cards should take full width (#1127)
  packages/rich-text/src/plugins/EmbeddedEntityBlock/LinkedEntityBlock.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix(rich-text): allow hyperlink viewing in readonly mode (#1126)
  packages/rich-text/src/plugins/Hyperlink/HyperlinkModal.tsx
  packages/rich-text/src/plugins/Hyperlink/components/EntityHyperlink.tsx
  packages/rich-text/src/plugins/Hyperlink/components/UrlHyperlink.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: add not allowed cursor to the disabled rich text editor
  packages/rich-text/src/RichTextEditor.styles.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix(rich-text): don't disable "Edit" actions on embeds (#1123)
  packages/rich-text/src/plugins/EmbeddedEntityInline/FetchingWrappedInlineEntryCard.tsx
  packages/rich-text/src/plugins/shared/FetchingWrappedAssetCard.tsx
  packages/rich-text/src/plugins/shared/FetchingWrappedEntryCard.tsx
  packages/rich-text/src/plugins/shared/__tests__/FetchingWrappedAssetCard.test.tsx
  packages/rich-text/src/plugins/shared/__tests__/FetchingWrappedEntryCard.test.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: add not allowed cursor to the disabled rich text editor (#1128)
  packages/rich-text/src/RichTextEditor.styles.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore(deps): update rich text dependencies
  packages/rich-text/package.json
  yarn.lock
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore(release): publish rich text v2.0.0-next.39
  apps/entry-app-collapsible/package.json
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

chore(release): publish rich text v2.0.0-next.39 (#1130)
  apps/entry-app-collapsible/package.json
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

fix: use creatableContentTypes for create access check
  packages/reference/src/common/useEditorPermissions.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: use creatableContentTypes for create access check (#1131)
  packages/reference/src/common/useEditorPermissions.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore(release): updated release notes and package versions [ci skip]
  packages/default-field-editors/CHANGELOG.md
  packages/default-field-editors/package.json
  packages/reference/CHANGELOG.md
  packages/reference/package.json
  packages/rich-text/CHANGELOG.md
  packages/rich-text/package.json
Owners: @contentful/team-bauhaus, @contentful/team-shelley

fix: avoid disabling button if no creatable content type
  packages/reference/src/components/CreateEntryLinkButton/CreateEntryLinkButton.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: avoid disabling button if no creatable content type (#1132)
  packages/reference/src/components/CreateEntryLinkButton/CreateEntryLinkButton.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore(release): updated release notes and package versions [ci skip]
  packages/default-field-editors/CHANGELOG.md
  packages/default-field-editors/package.json
  packages/reference/CHANGELOG.md
  packages/reference/package.json
  packages/rich-text/CHANGELOG.md
  packages/rich-text/package.json
Owners: @contentful/team-bauhaus, @contentful/team-shelley

fix: removed inconsistent button functionality from embed dropdown in toolbar
  packages/rich-text/src/Toolbar/components/EmbedEntityWidget.tsx
  packages/rich-text/src/plugins/EmbeddedEntityBlock/ToolbarIcon.tsx
  packages/rich-text/src/plugins/EmbeddedEntityInline/index.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

refactor: address comments
  packages/json/src/JsonEditoField.tsx
  packages/radio/src/RadioEditor.tsx
  packages/tags/src/TagsEditor.tsx
Owners: @contentful/team-bauhaus

fix: updated cypress test
  cypress/integration/rich-text/RichTextEditor.spec.ts
Owners: @contentful/team-bauhaus

refactor: add comment about isSortablePillDisabled
  packages/tags/src/TagsEditor.tsx
Owners: @contentful/team-bauhaus

fix: reflect disabled state on fields (#1125)
  packages/json/src/JsonEditoField.tsx
  packages/location/src/GoogleMapView.tsx
  packages/markdown/src/components/MarkdownTextarea/MarkdownTextarea.tsx
  packages/radio/src/RadioEditor.tsx
  packages/rich-text/src/RichTextEditor.jsx
  packages/tags/src/TagsEditor.tsx
Owners: @contentful/team-bauhaus, @contentful/team-shelley

chore(release): updated release notes and package versions [ci skip]
  packages/default-field-editors/CHANGELOG.md
  packages/default-field-editors/package.json
  packages/json/CHANGELOG.md
  packages/json/package.json
  packages/location/CHANGELOG.md
  packages/location/package.json
  packages/markdown/CHANGELOG.md
  packages/markdown/package.json
  packages/radio/CHANGELOG.md
  packages/radio/package.json
  packages/rich-text/CHANGELOG.md
  packages/rich-text/package.json
  packages/tags/CHANGELOG.md
  packages/tags/package.json
Owners: @contentful/team-bauhaus, @contentful/team-shelley

fix: do not use callback
  packages/reference/src/components/LinkActions/LinkEntityActions.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: add a explanatory comment why we removed useCallback
  packages/reference/src/components/LinkActions/LinkEntityActions.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

.github/CODEOWNERS:

*                      @contentful/team-bauhaus

apps/                  @contentful/team-extensibility
packages/rich-text/    @contentful/team-shelley @contentful/team-bauhaus
packages/reference/    @contentful/team-shelley @contentful/team-bauhaus
