Repository contentful/field-editors, changes with the owners that .github/CODEOWNERS names for each.
All owners: @contentful/team-bauhaus, @contentful/team-extensibility, @contentful/team-shelley

test(rich-text): setup unit tests for RT plugins
  package.json
  packages/rich-text/package.json
  packages/rich-text/src/plugins/List/__tests__/example.test.tsx
  yarn.lock
Owners: @contentful/team-bauhaus, @contentful/team-shelley

refactor: use plate package for import plugins
  packages/rich-text/package.json
  packages/rich-text/src/ContentfulEditorProvider.ts
  packages/rich-text/src/RichTextEditor.tsx
  packages/rich-text/src/helpers/deserializer.ts
  packages/rich-text/src/helpers/editor.ts
  packages/rich-text/src/plugins/Bold/index.tsx
  packages/rich-text/src/plugins/Code/index.tsx
  packages/rich-text/src/plugins/DragAndDrop/index.tsx
  packages/rich-text/src/plugins/EmbeddedEntityBlock/Util.ts
  packages/rich-text/src/plugins/EmbeddedEntityBlock/index.tsx
  packages/rich-text/src/plugins/EmbeddedEntityInline/index.tsx
  packages/rich-text/src/plugins/Heading/index.tsx
  packages/rich-text/src/plugins/Hr/index.tsx
  packages/rich-text/src/plugins/Hyperlink/HyperlinkModal.tsx
  packages/rich-text/src/plugins/Hyperlink/index.tsx
  packages/rich-text/src/plugins/InsertBeforeFirstVoidBlock/index.tsx
  packages/rich-text/src/plugins/Italic/index.tsx
  packages/rich-text/src/plugins/List/__tests__/example.test.tsx
  packages/rich-text/src/plugins/List/getListInsertFragment.ts
  packages/rich-text/src/plugins/List/index.tsx
  packages/rich-text/src/plugins/NewLine/index.tsx
  packages/rich-text/src/plugins/Paragraph/index.tsx
  packages/rich-text/src/plugins/Paste/index.tsx
  packages/rich-text/src/plugins/Paste/sanitizers/helpers.tsx
  packages/rich-text/src/plugins/Quote/index.tsx
  packages/rich-text/src/plugins/Table/TableActions.tsx
  packages/rich-text/src/plugins/Table/actions/addColumn.ts
  packages/rich-text/src/plugins/Table/actions/addRow.ts
  packages/rich-text/src/plugins/Table/actions/setHeader.ts
  packages/rich-text/src/plugins/Table/helpers.ts
  packages/rich-text/src/plugins/Table/index.tsx
  packages/rich-text/src/plugins/TrailingParagraph/index.ts
  packages/rich-text/src/plugins/Underline/index.tsx
  packages/rich-text/src/types.ts
  yarn.lock
Owners: @contentful/team-shelley, @contentful/team-bauhaus

test(rich-text): setup unit tests for RT plugins (#936)
  package.json
  packages/rich-text/package.json
  packages/rich-text/src/ContentfulEditorProvider.ts
  packages/rich-text/src/RichTextEditor.tsx
  packages/rich-text/src/helpers/deserializer.ts
  packages/rich-text/src/helpers/editor.ts
  packages/rich-text/src/plugins/Bold/index.tsx
  packages/rich-text/src/plugins/Code/index.tsx
  packages/rich-text/src/plugins/DragAndDrop/index.tsx
  packages/rich-text/src/plugins/EmbeddedEntityBlock/Util.ts
  packages/rich-text/src/plugins/EmbeddedEntityBlock/index.tsx
  packages/rich-text/src/plugins/EmbeddedEntityInline/index.tsx
  packages/rich-text/src/plugins/Heading/index.tsx
  packages/rich-text/src/plugins/Hr/index.tsx
  packages/rich-text/src/plugins/Hyperlink/HyperlinkModal.tsx
  packages/rich-text/src/plugins/Hyperlink/index.tsx
  packages/rich-text/src/plugins/InsertBeforeFirstVoidBlock/index.tsx
  packages/rich-text/src/plugins/Italic/index.tsx
  packages/rich-text/src/plugins/List/__tests__/example.test.tsx
  packages/rich-text/src/plugins/List/getListInsertFragment.ts
  packages/rich-text/src/plugins/List/index.tsx
  packages/rich-text/src/plugins/NewLine/index.tsx
  packages/rich-text/src/plugins/Paragraph/index.tsx
  packages/rich-text/src/plugins/Paste/index.tsx
  packages/rich-text/src/plugins/Paste/sanitizers/helpers.tsx
  packages/rich-text/src/plugins/Quote/index.tsx
  packages/rich-text/src/plugins/Table/TableActions.tsx
  packages/rich-text/src/plugins/Table/actions/addColumn.ts
  packages/rich-text/src/plugins/Table/actions/addRow.ts
  packages/rich-text/src/plugins/Table/actions/setHeader.ts
  packages/rich-text/src/plugins/Table/helpers.ts
  packages/rich-text/src/plugins/Table/index.tsx
  packages/rich-text/src/plugins/TrailingParagraph/index.ts
  packages/rich-text/src/plugins/Underline/index.tsx
  packages/rich-text/src/types.ts
  yarn.lock
Owners: @contentful/team-bauhaus, @contentful/team-shelley

fix: prevent table from being inserted inside blockquotes
  packages/rich-text/src/Toolbar/index.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: prevent table from being inserted inside lists
  packages/rich-text/src/Toolbar/index.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

feat: replace empty paragraphs with tables when inserted
  packages/rich-text/src/plugins/Table/helpers.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

test: if table is being inserted correctly
  cypress/integration/rich-text/RichTextEditor.spec.ts
Owners: @contentful/team-bauhaus

test: fix table test for initial paragraph
  cypress/integration/rich-text/RichTextEditor.spec.ts
Owners: @contentful/team-bauhaus

fix: error when inserting table from non-paragraph elements
  packages/rich-text/src/plugins/Table/helpers.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

test: table button disabled in one runtime
  cypress/integration/rich-text/RichTextEditor.spec.ts
Owners: @contentful/team-bauhaus

feat: replace empty paragraphs with tables when inserted [] (#934)
  cypress/integration/rich-text/RichTextEditor.spec.ts
  packages/rich-text/src/Toolbar/index.tsx
  packages/rich-text/src/plugins/Table/helpers.ts
Owners: @contentful/team-bauhaus, @contentful/team-shelley

test: use .type for right arrow in Cypress
  cypress/integration/rich-text/RichTextEditor.spec.ts
Owners: @contentful/team-bauhaus

test: remove .only from tests
  cypress/integration/rich-text/RichTextEditor.spec.ts
Owners: @contentful/team-bauhaus

test: use click again to unfocus block embeds
  cypress/integration/rich-text/RichTextEditor.spec.ts
Owners: @contentful/team-bauhaus

chore: use cypress & mocha linting rules
  cypress/.eslintrc.js
  cypress/integration/LocationEditor.spec.ts
  cypress/integration/RichTextEditor.spec.ts
  package.json
  yarn.lock
Owners: @contentful/team-bauhaus

chore: use cypress & mocha linting rules
  cypress/.eslintrc.js
  cypress/integration/LocationEditor.spec.ts
  cypress/integration/rich-text/RichTextEditor.spec.ts
  package.json
  yarn.lock
Owners: @contentful/team-bauhaus

chore: use cypress & mocha linting rules (#939)
  cypress/.eslintrc.js
  cypress/integration/LocationEditor.spec.ts
  cypress/integration/rich-text/RichTextEditor.spec.ts
  package.json
  yarn.lock
Owners: @contentful/team-bauhaus

feat: delete empty paragraphs if empty when pressing delete
  cypress/integration/rich-text/RichTextEditor.spec.ts
  packages/rich-text/src/RichTextEditor.tsx
  packages/rich-text/src/plugins/EmbeddedEntityBlock/index.tsx
  packages/rich-text/src/plugins/Paragraph/index.tsx
  packages/rich-text/src/plugins/Text/index.ts
Owners: @contentful/team-bauhaus, @contentful/team-shelley

test: move heading tests to its own group
  cypress/integration/rich-text/RichTextEditor.spec.ts
Owners: @contentful/team-bauhaus

fix: revert block deletion code
  packages/rich-text/src/plugins/EmbeddedEntityBlock/index.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: heading delete test for firefox
  cypress/integration/rich-text/RichTextEditor.spec.ts
Owners: @contentful/team-bauhaus

test: fix location test
  cypress/integration/LocationEditor.spec.ts
Owners: @contentful/team-bauhaus

test: change heading call position
  cypress/integration/rich-text/RichTextEditor.spec.ts
Owners: @contentful/team-bauhaus

fix(references): sort content types alphabetically
  packages/reference/src/components/CreateEntryLinkButton/CreateEntryLinkButton.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

test: use click again to unfocus block embeds (#938)
  cypress/integration/rich-text/RichTextEditor.spec.ts
Owners: @contentful/team-bauhaus

chore: use cypress & mocha linting rules (#940)
  cypress/.eslintrc.js
  cypress/integration/LocationEditor.spec.ts
  cypress/integration/RichTextEditor.spec.ts
  package.json
  yarn.lock
Owners: @contentful/team-bauhaus

test: move embedded blocks to a helper function
  cypress/integration/rich-text/RichTextEditor.spec.ts
Owners: @contentful/team-bauhaus

test: replace empty paragraphs with helper
  cypress/integration/rich-text/RichTextEditor.spec.ts
Owners: @contentful/team-bauhaus

feat: remove empty paragraphs when pressing delete [] (#937)
  cypress/integration/LocationEditor.spec.ts
  cypress/integration/rich-text/RichTextEditor.spec.ts
  packages/rich-text/src/RichTextEditor.tsx
  packages/rich-text/src/plugins/EmbeddedEntityBlock/index.tsx
  packages/rich-text/src/plugins/Paragraph/index.tsx
  packages/rich-text/src/plugins/Text/index.ts
Owners: @contentful/team-bauhaus, @contentful/team-shelley

fix: correctly determine default widget
  cypress/integration/LocationEditor.spec.ts
  packages/default-field-editors/package.json
  packages/default-field-editors/src/getDefaultWidgetId.ts
  yarn.lock
Owners: @contentful/team-bauhaus

chore: increase the version range of cma.js
  packages/default-field-editors/package.json
  yarn.lock
Owners: @contentful/team-bauhaus

test: fixing the location value
  cypress/integration/LocationEditor.spec.ts
Owners: @contentful/team-bauhaus

test: skip location tests
  cypress/integration/LocationEditor.spec.ts
Owners: @contentful/team-bauhaus

fix(references): sort content types alphabetically (#942)
  cypress/integration/LocationEditor.spec.ts
  packages/reference/src/components/CreateEntryLinkButton/CreateEntryLinkButton.tsx
Owners: @contentful/team-bauhaus, @contentful/team-shelley

chore: use node v12.20 or higher
  .circleci/config.yml
  .nvmrc
  package.json
Owners: @contentful/team-bauhaus

chore(release): updated release notes and package versions [ci skip]
  packages/default-field-editors/CHANGELOG.md
  packages/default-field-editors/package.json
  packages/reference/CHANGELOG.md
  packages/reference/package.json
  packages/rich-text/CHANGELOG.md
  packages/rich-text/package.json
Owners: @contentful/team-bauhaus, @contentful/team-shelley

test: upgrade to Cypress v9
  cypress/integration/DateEditor.spec.ts
  cypress/integration/MarkdownEditorCheatsheet.spec.ts
  cypress/integration/MarkdownEditorInsertLink.spec.ts
  cypress/integration/MarkdownEditorInsertTable.spec.ts
  cypress/integration/MarkdownEditorSpecialCharacter.spec.ts
  cypress/integration/MarkdownEmbedExternal.spec.ts
  cypress/integration/MultipleMediaEditor.spec.ts
  cypress/integration/MultipleReferenceEditor.spec.ts
  package.json
  yarn.lock
Owners: @contentful/team-bauhaus

test: fix location tests
  cypress/fixtures/maps-by-address.json
  cypress/fixtures/maps-by-coordinates.json
  cypress/integration/LocationEditor.spec.ts
  cypress/support/commands.js
  cypress/support/index.d.ts
Owners: @contentful/team-bauhaus

fix: correctly determine default widget (#943)
  .circleci/config.yml
  .nvmrc
  cypress/fixtures/maps-by-address.json
  cypress/fixtures/maps-by-coordinates.json
  cypress/integration/DateEditor.spec.ts
  cypress/integration/LocationEditor.spec.ts
  cypress/integration/MarkdownEditorCheatsheet.spec.ts
  cypress/integration/MarkdownEditorInsertLink.spec.ts
  cypress/integration/MarkdownEditorInsertTable.spec.ts
  cypress/integration/MarkdownEditorSpecialCharacter.spec.ts
  cypress/integration/MarkdownEmbedExternal.spec.ts
  cypress/integration/MultipleMediaEditor.spec.ts
  cypress/integration/MultipleReferenceEditor.spec.ts
  cypress/support/commands.js
  cypress/support/index.d.ts
  package.json
  packages/default-field-editors/package.json
  packages/default-field-editors/src/getDefaultWidgetId.ts
  packages/reference/src/components/CreateEntryLinkButton/CreateEntryLinkButton.tsx
  yarn.lock
Owners: @contentful/team-bauhaus, @contentful/team-shelley

chore(release): updated release notes and package versions [ci skip]
  packages/default-field-editors/CHANGELOG.md
  packages/default-field-editors/package.json
  packages/reference/CHANGELOG.md
  packages/reference/package.json
  packages/rich-text/CHANGELOG.md
  packages/rich-text/package.json
Owners: @contentful/team-bauhaus, @contentful/team-shelley

.github/CODEOWNERS:

*                      @contentful/team-bauhaus

apps/                  @contentful/team-extensibility
packages/rich-text/    @contentful/team-shelley @contentful/team-bauhaus
packages/reference/    @contentful/team-shelley @contentful/team-bauhaus
