Repository contentful/field-editors, changes with the owners that .github/CODEOWNERS names for each.
All owners: @contentful/team-bauhaus, @contentful/team-extensibility, @contentful/team-shelley

.github/CODEOWNERS:

*                      @contentful/team-bauhaus

apps/                  @contentful/team-extensibility
packages/rich-text/    @contentful/team-shelley @contentful/team-bauhaus
packages/reference/    @contentful/team-shelley @contentful/team-bauhaus

fix: add a explanatory comment why we removed useCallback
  packages/reference/src/components/LinkActions/LinkEntityActions.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: do not use callback
  packages/reference/src/components/LinkActions/LinkEntityActions.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore(release): updated release notes and package versions [ci skip]
  packages/default-field-editors/CHANGELOG.md
  packages/default-field-editors/package.json
  packages/reference/CHANGELOG.md
  packages/reference/package.json
  packages/rich-text/CHANGELOG.md
  packages/rich-text/package.json
Owners: @contentful/team-bauhaus, @contentful/team-shelley

fix(rich-text): avoid page freeze when loading entities
  cypress/integration/rich-text/RichTextEditor.spec.ts
  packages/rich-text/package.json
  packages/rich-text/src/plugins/shared/EntityStatusIcon.tsx
  packages/rich-text/src/plugins/shared/FetchingWrappedAssetCard.tsx
  packages/rich-text/src/plugins/shared/FetchingWrappedEntryCard.tsx
  yarn.lock
Owners: @contentful/team-bauhaus, @contentful/team-shelley

fix: remove unused getAsset
  packages/rich-text/src/plugins/shared/FetchingWrappedAssetCard.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

refactor: remove optional attributes
  packages/rich-text/src/plugins/shared/FetchingWrappedAssetCard.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

test: fix selector
  cypress/integration/rich-text/RichTextEditor.spec.ts
Owners: @contentful/team-bauhaus

test: fix card action selectors
  packages/rich-text/src/plugins/EmbeddedEntityInline/FetchingWrappedInlineEntryCard.tsx
  packages/rich-text/src/plugins/shared/__tests__/FetchingWrappedAssetCard.test.tsx
  packages/rich-text/src/plugins/shared/__tests__/FetchingWrappedEntryCard.test.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

test: fix unit tests
  packages/rich-text/src/plugins/shared/FetchingWrappedAssetCard.tsx
  packages/rich-text/src/plugins/shared/FetchingWrappedEntryCard.tsx
  packages/rich-text/src/plugins/shared/__tests__/FetchingWrappedAssetCard.test.tsx
  packages/rich-text/src/plugins/shared/__tests__/FetchingWrappedEntryCard.test.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

test: fix unit tests
  packages/rich-text/src/plugins/shared/__tests__/FetchingWrappedAssetCard.test.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

test: fix asset selector
  cypress/integration/rich-text/RichTextEditor.spec.ts
Owners: @contentful/team-bauhaus

fix: Removed button version of embedded dropdown in RTE toolbar [SHE-813] (#1133)
  cypress/integration/rich-text/RichTextEditor.spec.ts
  packages/rich-text/src/Toolbar/components/EmbedEntityWidget.tsx
  packages/rich-text/src/plugins/EmbeddedEntityBlock/ToolbarIcon.tsx
  packages/rich-text/src/plugins/EmbeddedEntityInline/index.tsx
Owners: @contentful/team-bauhaus, @contentful/team-shelley

fix(rich-text): avoid page freeze when loading entities (#1135)
  cypress/integration/rich-text/RichTextEditor.spec.ts
  packages/rich-text/package.json
  packages/rich-text/src/plugins/EmbeddedEntityInline/FetchingWrappedInlineEntryCard.tsx
  packages/rich-text/src/plugins/shared/EntityStatusIcon.tsx
  packages/rich-text/src/plugins/shared/FetchingWrappedAssetCard.tsx
  packages/rich-text/src/plugins/shared/FetchingWrappedEntryCard.tsx
  packages/rich-text/src/plugins/shared/__tests__/FetchingWrappedAssetCard.test.tsx
  packages/rich-text/src/plugins/shared/__tests__/FetchingWrappedEntryCard.test.tsx
  yarn.lock
Owners: @contentful/team-bauhaus, @contentful/team-shelley

chore(release): publish rich-text v2.0.0-next.40
  packages/rich-text/package.json
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore(release): publish rich-text v2.0.0-next.40 (#1136)
  packages/rich-text/package.json
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix(date editor): added more timezone information, timezone autocomplete from webapp
  package.json
  packages/date/src/TimezonePickerInput.tsx
  packages/date/src/utils/timezones.ts
  yarn.lock
Owners: @contentful/team-bauhaus

fix: fix caching in references entity store
  packages/reference/src/common/EntityStore.ts
  packages/reference/src/components/ScheduledIconWithTooltip/ScheduledIconWithTooltip.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: fix types
  packages/reference/src/common/EntityStore.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: fix caching in references entity store (#1137)
  packages/reference/src/common/EntityStore.ts
  packages/reference/src/components/ScheduledIconWithTooltip/ScheduledIconWithTooltip.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore(release): updated release notes and package versions [ci skip]
  packages/default-field-editors/CHANGELOG.md
  packages/default-field-editors/package.json
  packages/reference/CHANGELOG.md
  packages/reference/package.json
  packages/rich-text/CHANGELOG.md
  packages/rich-text/package.json
Owners: @contentful/team-bauhaus, @contentful/team-shelley

fix(rich-text): sanitize slate content
  packages/rich-text/src/helpers/sanitizeIncomingSlateDoc.ts
  packages/rich-text/src/prepareDocument.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

test: add integration test
  cypress/integration/rich-text/RichTextEditor.spec.ts
Owners: @contentful/team-bauhaus

fix(rich-text): sanitize slate content (#1138)
  cypress/integration/rich-text/RichTextEditor.spec.ts
  packages/rich-text/src/helpers/sanitizeIncomingSlateDoc.ts
  packages/rich-text/src/prepareDocument.ts
Owners: @contentful/team-bauhaus, @contentful/team-shelley

chore(release): publish rich-text v2.0.0-next.41
  packages/rich-text/package.json
  yarn.lock
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore: update packages
  apps/entry-app-collapsible/package.json
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  yarn.lock
Owners: @contentful/team-extensibility, @contentful/team-bauhaus

chore(release): publish rich-text v2.0.0-next.41 (#1139)
  apps/entry-app-collapsible/package.json
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

fix: version bump
  packages/date/package.json
Owners: @contentful/team-bauhaus

fix: more logical version bump
  packages/date/package.json
Owners: @contentful/team-bauhaus
