Repository contentful/field-editors, changes with the owners that .github/CODEOWNERS names for each.
All owners: @contentful/team-bauhaus, @contentful/team-extensibility, @contentful/team-shelley

.github/CODEOWNERS:

*                      @contentful/team-bauhaus

apps/                  @contentful/team-extensibility
packages/rich-text/    @contentful/team-shelley @contentful/team-bauhaus
packages/reference/    @contentful/team-shelley @contentful/team-bauhaus

fix: normalize table nodes
  packages/rich-text/src/plugins/DragAndDrop/index.tsx
  packages/rich-text/src/plugins/Table/__tests__/example.test.tsx
  packages/rich-text/src/plugins/Table/index.tsx
  packages/rich-text/src/plugins/Table/normalizer.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

refactor: a little cleanup
  packages/rich-text/src/helpers/editor.ts
  packages/rich-text/src/helpers/normalizers.ts
  packages/rich-text/src/plugins/Table/index.tsx
  packages/rich-text/src/plugins/Table/normalizer.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore: push broken tests
  packages/rich-text/src/helpers/normalizers.ts
  packages/rich-text/src/plugins/Table/__tests__/normalization.test.tsx
  packages/rich-text/src/plugins/Table/index.tsx
  packages/rich-text/src/plugins/Table/normalizer.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

refactor: use text containers for the text plugin
  packages/rich-text/src/plugins/Text/index.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

feat: create helper to filter out text as paragraphs from slate entries
  packages/rich-text/src/helpers/editor.spec.ts
  packages/rich-text/src/helpers/editor.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

test: first green test
  packages/rich-text/src/helpers/normalizers.ts
  packages/rich-text/src/plugins/Table/__tests__/normalization.test.tsx
  packages/rich-text/src/plugins/Table/normalizer.ts
  packages/rich-text/src/test-utils/index.ts
  packages/rich-text/src/test-utils/jsx.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

test: remove example test
  packages/rich-text/src/plugins/Table/__tests__/example.test.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

refactor: separate normalizer by node type
  packages/rich-text/src/helpers/editor.ts
  packages/rich-text/src/helpers/normalizers.ts
  packages/rich-text/src/plugins/Table/index.tsx
  packages/rich-text/src/plugins/Table/normalizers.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

refactor: clearer naming
  packages/rich-text/src/helpers/normalizers.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

test: more tests
  packages/rich-text/src/plugins/Table/__tests__/normalization.test.tsx
  packages/rich-text/src/test-utils/jsx.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

refactor: enable existing code
  packages/rich-text/src/plugins/DragAndDrop/index.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

refactor: use path instead of node entry
  packages/rich-text/src/helpers/editor.spec.ts
  packages/rich-text/src/helpers/editor.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: markdown upload asset domain url to ctfasset.net
  packages/markdown/package.json
  packages/markdown/src/MarkdownEditor.mdx
  packages/markdown/src/utils/insertAssetLinks.ts
  packages/reference/src/__fixtures__/new_asset.json
  yarn.lock
Owners: @contentful/team-bauhaus, @contentful/team-shelley

test: markdown asset upload
  cypress/integration/MarkdownEditorInsertAssets.spec.ts
Owners: @contentful/team-bauhaus

feat: create helper to filter out text as paragraphs from slate entries (#945)
  packages/rich-text/src/helpers/editor.spec.ts
  packages/rich-text/src/helpers/editor.ts
  packages/rich-text/src/plugins/Text/index.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

feat: normalize list nodes
  cypress/integration/rich-text/RichTextEditor.Pasting.spec.ts
  packages/rich-text/src/plugins/List/getListInsertFragment.ts
  packages/rich-text/src/plugins/List/index.tsx
  packages/rich-text/src/plugins/Table/index.tsx
Owners: @contentful/team-bauhaus, @contentful/team-shelley

fix: review comments
  cypress/integration/rich-text/RichTextEditor.Pasting.spec.ts
  packages/rich-text/src/plugins/List/index.tsx
  packages/rich-text/src/plugins/Table/index.tsx
Owners: @contentful/team-bauhaus, @contentful/team-shelley

fix: split history batch on drop
  packages/rich-text/src/plugins/DragAndDrop/index.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

refactor: use slateNodeEntryToText
  packages/rich-text/src/helpers/editor.ts
  packages/rich-text/src/helpers/normalizers.ts
  packages/rich-text/src/plugins/Table/__tests__/normalization.test.tsx
  packages/rich-text/src/plugins/Table/normalizers.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

test: initialize editor with all plugins
  packages/rich-text/src/RichTextEditor.tsx
  packages/rich-text/src/helpers/editor.spec.ts
  packages/rich-text/src/helpers/editor.ts
  packages/rich-text/src/plugins/Table/__tests__/normalization.test.tsx
  packages/rich-text/src/plugins/Table/normalizers.ts
  packages/rich-text/src/plugins/index.ts
  packages/rich-text/src/test-utils/createEditor.ts
  packages/rich-text/src/test-utils/index.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

test: add failing cypress test
  cypress/integration/rich-text/RichTextEditor.Pasting.spec.ts
Owners: @contentful/team-bauhaus

test: support markups
  packages/rich-text/src/plugins/Table/__tests__/normalization.test.tsx
  packages/rich-text/src/test-utils/jsx.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

test: tests inline embeds
  packages/rich-text/src/plugins/Table/__tests__/normalization.test.tsx
  packages/rich-text/src/test-utils/jsx.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: only early-return after normalization
  packages/rich-text/src/plugins/List/index.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

feat: list node normalization (#941)
  cypress/integration/rich-text/RichTextEditor.Pasting.spec.ts
  packages/rich-text/src/plugins/List/getListInsertFragment.ts
  packages/rich-text/src/plugins/List/index.tsx
Owners: @contentful/team-bauhaus, @contentful/team-shelley

fix: correctly normalize list items
  packages/rich-text/src/plugins/List/__tests__/example.test.tsx
  packages/rich-text/src/plugins/List/__tests__/normalization.test.tsx
  packages/rich-text/src/plugins/List/index.tsx
  packages/rich-text/src/test-utils/jsx.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

refactor: use shared halper
  packages/rich-text/src/plugins/List/index.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: disable hyperlink text when editing
  cypress/integration/rich-text/RichTextEditor.spec.ts
  packages/rich-text/src/plugins/Hyperlink/HyperlinkModal.tsx
Owners: @contentful/team-bauhaus, @contentful/team-shelley

perf(rich-text): extend editor handlers once
  packages/rich-text/src/plugins/Paste/index.tsx
  packages/rich-text/src/plugins/Table/index.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: disable hyperlink text when editing [] (#948)
  cypress/integration/rich-text/RichTextEditor.spec.ts
  packages/rich-text/src/plugins/Hyperlink/HyperlinkModal.tsx
Owners: @contentful/team-bauhaus, @contentful/team-shelley

perf(rich-text): extend editor handlers once (#949)
  packages/rich-text/src/plugins/Paste/index.tsx
  packages/rich-text/src/plugins/Table/index.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: markdown upload asset domain url to ctfasset.net [] (#946)
  cypress/integration/MarkdownEditorInsertAssets.spec.ts
  packages/markdown/package.json
  packages/markdown/src/MarkdownEditor.mdx
  packages/markdown/src/utils/insertAssetLinks.ts
  packages/reference/src/__fixtures__/new_asset.json
  yarn.lock
Owners: @contentful/team-bauhaus, @contentful/team-shelley

refactor: rename getTextAt helper
  packages/rich-text/src/helpers/editor.spec.ts
  packages/rich-text/src/helpers/editor.ts
  packages/rich-text/src/plugins/List/index.tsx
  packages/rich-text/src/plugins/Table/normalizers.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore(release): updated release notes and package versions [ci skip]
  packages/default-field-editors/CHANGELOG.md
  packages/default-field-editors/package.json
  packages/markdown/CHANGELOG.md
  packages/markdown/package.json
Owners: @contentful/team-bauhaus

refactor: address comments
  packages/rich-text/src/helpers/normalizers.ts
  packages/rich-text/src/plugins/List/__tests__/normalization.test.tsx
  packages/rich-text/src/plugins/List/index.tsx
  packages/rich-text/src/plugins/Table/index.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

refactor: replace @contentful/hostname-transformer
  packages/markdown/package.json
  packages/markdown/src/utils/insertAssetLinks.spec.ts
  packages/markdown/src/utils/insertAssetLinks.ts
  yarn.lock
Owners: @contentful/team-bauhaus

fix: normalize table nodes (#944)
  cypress/integration/rich-text/RichTextEditor.Pasting.spec.ts
  packages/rich-text/src/RichTextEditor.tsx
  packages/rich-text/src/helpers/editor.spec.ts
  packages/rich-text/src/helpers/editor.ts
  packages/rich-text/src/helpers/normalizers.ts
  packages/rich-text/src/plugins/DragAndDrop/index.tsx
  packages/rich-text/src/plugins/List/__tests__/example.test.tsx
  packages/rich-text/src/plugins/List/__tests__/normalization.test.tsx
  packages/rich-text/src/plugins/List/index.tsx
  packages/rich-text/src/plugins/Table/__tests__/normalization.test.tsx
  packages/rich-text/src/plugins/Table/index.tsx
  packages/rich-text/src/plugins/Table/normalizers.ts
  packages/rich-text/src/plugins/index.ts
  packages/rich-text/src/test-utils/createEditor.ts
  packages/rich-text/src/test-utils/index.ts
  packages/rich-text/src/test-utils/jsx.ts
Owners: @contentful/team-bauhaus, @contentful/team-shelley

fix: replace @contentful/hostname-transformer (#950)
  packages/markdown/package.json
  packages/markdown/src/utils/insertAssetLinks.spec.ts
  packages/markdown/src/utils/insertAssetLinks.ts
  yarn.lock
Owners: @contentful/team-bauhaus

chore(release): updated release notes and package versions [ci skip]
  packages/default-field-editors/CHANGELOG.md
  packages/default-field-editors/package.json
  packages/markdown/CHANGELOG.md
  packages/markdown/package.json
Owners: @contentful/team-bauhaus

chore: pin yarn and node version for volta
  package.json
Owners: @contentful/team-bauhaus
