Repository contentful/field-editors, changes with the owners that .github/CODEOWNERS names for each.
All owners: @contentful/team-bauhaus, @contentful/team-extensibility, @contentful/team-shelley

.github/CODEOWNERS:

*                      @contentful/team-bauhaus

apps/                  @contentful/team-extensibility
packages/rich-text/    @contentful/team-shelley @contentful/team-bauhaus
packages/reference/    @contentful/team-shelley @contentful/team-bauhaus

fix(rich-text-editor): specify font-family (#907)
  packages/rich-text/src/RichTextEditor.jsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

build(deps): update Husky to v7 (#906)
  .husky/commit-msg
  .husky/pre-commit
  package.json
  yarn.lock
Owners: @contentful/team-bauhaus

chore(release): updated release notes and package versions [ci skip]
  packages/default-field-editors/CHANGELOG.md
  packages/default-field-editors/package.json
  packages/rich-text/CHANGELOG.md
  packages/rich-text/package.json
Owners: @contentful/team-bauhaus, @contentful/team-shelley

fix: add rich-text-plain-text-renderer as rich-text dep (#900)
  packages/rich-text/package.json
  yarn.lock
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore: update to latest
  yarn.lock
Owners: @contentful/team-bauhaus

chore: update to v4@beta
  apps/entry-app-collapsible/package.json
  apps/markdown-app/package.json
  apps/multiple-references-app/package.json
  apps/rich-text-app/package.json
  apps/singleline-app/package.json
  lerna.json
  package.json
  packages/_shared/package.json
  packages/_test/package.json
  packages/boolean/package.json
  packages/checkbox/package.json
  packages/date/package.json
  packages/default-field-editors/package.json
  packages/dropdown/package.json
  packages/json/package.json
  packages/list/package.json
  packages/location/package.json
  packages/markdown/package.json
  packages/multiple-line/package.json
  packages/number/package.json
  packages/radio/package.json
  packages/rating/package.json
  packages/reference/package.json
  packages/rich-text/package.json
  packages/single-line/package.json
  packages/slug/package.json
  packages/tags/package.json
  packages/url/package.json
  packages/validation-errors/package.json
  yarn.lock
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

chore: add missing lint dependency
  package.json
Owners: @contentful/team-bauhaus

chore: latest fixes
  packages/checkbox/src/CheckboxEditor.tsx
  packages/date/src/DatepickerInput.tsx
  packages/rating/src/RatingRibbon.tsx
  packages/slug/src/styles.ts
  yarn.lock
Owners: @contentful/team-bauhaus

chore: update deps [ci skip]
  apps/entry-app-collapsible/package.json
  yarn.lock
Owners: @contentful/team-extensibility, @contentful/team-bauhaus

fix: pass a unique form-control id
  packages/default-field-editors/src/FieldWrapper.tsx
Owners: @contentful/team-bauhaus

fix: pass a unique form-control id (#908)
  packages/default-field-editors/src/FieldWrapper.tsx
Owners: @contentful/team-bauhaus

chore(release): updated release notes and package versions [ci skip]
  packages/default-field-editors/CHANGELOG.md
  packages/default-field-editors/package.json
Owners: @contentful/team-bauhaus

fix: add content type id to field id
  packages/default-field-editors/src/FieldWrapper.spec.tsx
  packages/default-field-editors/src/FieldWrapper.tsx
Owners: @contentful/team-bauhaus

chore(release): updated release notes and package versions [ci skip]
  packages/default-field-editors/CHANGELOG.md
  packages/default-field-editors/package.json
Owners: @contentful/team-bauhaus

chore: update lock file
  yarn.lock
Owners: @contentful/team-bauhaus

fix: rich text EntityType import
  packages/rich-text/src/plugins/Hyperlink/EntryAssetTooltip.tsx
  packages/rich-text/src/plugins/Hyperlink/index.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore: auto resolved lock file
  yarn.lock
Owners: @contentful/team-bauhaus

chore: bump react
  package.json
  yarn.lock
Owners: @contentful/team-bauhaus

chore: auto resolved lock file (#910)
  package.json
  yarn.lock
Owners: @contentful/team-bauhaus

chore: bump versions
  apps/entry-app-collapsible/package.json
  apps/markdown-app/package.json
  apps/multiple-references-app/package.json
  apps/rich-text-app/package.json
  apps/singleline-app/package.json
  packages/rich-text/package.json
  yarn.lock
Owners: @contentful/team-extensibility, @contentful/team-shelley, @contentful/team-bauhaus

chore: update tokens import
  packages/rich-text/src/RichTextEditor.styles.ts
  packages/rich-text/src/plugins/EmbeddedEntityInline/FetchingWrappedInlineEntryCard.tsx
  packages/rich-text/src/plugins/Heading/index.tsx
  packages/rich-text/src/plugins/Hr/index.tsx
  packages/rich-text/src/plugins/Hyperlink/EntryAssetTooltip.tsx
  packages/rich-text/src/plugins/Hyperlink/HyperlinkModal.tsx
  packages/rich-text/src/plugins/Hyperlink/ScheduleTooltipContent.tsx
  packages/rich-text/src/plugins/Hyperlink/index.tsx
  packages/rich-text/src/plugins/List/index.tsx
  packages/rich-text/src/plugins/Paragraph/index.tsx
  packages/rich-text/src/plugins/Quote/index.tsx
  packages/rich-text/src/plugins/Table/TableActions.tsx
  packages/rich-text/src/plugins/Table/index.tsx
  packages/rich-text/src/plugins/shared/EntityStatusIcon.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore: run prettier
  packages/rich-text/src/constants/Schema.ts
  packages/rich-text/src/helpers/sanitizeSlateDoc.ts
  packages/rich-text/src/plugins/EmbeddedEntityInline/Util.ts
  packages/rich-text/src/plugins/shared/FetchingWrappedEntryCard.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore: update EditorToolbarButton
  packages/rich-text/src/plugins/Bold/index.tsx
  packages/rich-text/src/plugins/Code/index.tsx
  packages/rich-text/src/plugins/Hr/index.tsx
  packages/rich-text/src/plugins/Hyperlink/EntityStatusTag.tsx
  packages/rich-text/src/plugins/Hyperlink/ScheduleTooltipContent.tsx
  packages/rich-text/src/plugins/Hyperlink/index.tsx
  packages/rich-text/src/plugins/Italic/index.tsx
  packages/rich-text/src/plugins/List/index.tsx
  packages/rich-text/src/plugins/Quote/index.tsx
  packages/rich-text/src/plugins/Table/index.tsx
  packages/rich-text/src/plugins/Underline/index.tsx
  packages/rich-text/src/plugins/shared/ToolbarButton.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore: more migrations
  packages/rich-text/src/Toolbar/index.tsx
  packages/rich-text/src/plugins/EmbeddedEntity/index.tsx
  packages/rich-text/src/plugins/EmbeddedEntityBlock/ToolbarIcon.tsx
  packages/rich-text/src/plugins/shared/EntityStatusIcon.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore: inline entry card
  packages/rich-text/src/plugins/EmbeddedEntityInline/FetchingWrappedInlineEntryCard.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore: v4 migration
  packages/rich-text/src/plugins/EmbeddedEntityInline/index.tsx
  packages/rich-text/src/plugins/Heading/index.tsx
  packages/rich-text/src/plugins/Hyperlink/HyperlinkModal.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore: updated
  packages/rich-text/src/plugins/Hyperlink/EntryAssetTooltip.tsx
  packages/rich-text/src/plugins/Hyperlink/ScheduleTooltipContent.tsx
  packages/rich-text/src/plugins/Hyperlink/index.tsx
  packages/rich-text/src/plugins/Hyperlink/useRequestStatus.js
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore: migrate to v4
  packages/rich-text/src/plugins/shared/FetchingWrappedAssetCard.tsx
  packages/rich-text/src/plugins/shared/FetchingWrappedEntryCard.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore: update table actions
  packages/rich-text/src/plugins/Table/TableActions.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: show create-entry-menu list only when it's open
  packages/reference/src/components/CreateEntryLinkButton/CreateEntryMenuTrigger.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore: remove build:apps step
  .circleci/config.yml
Owners: @contentful/team-bauhaus

chore: fix unit test
  packages/reference/src/components/CreateEntryLinkButton/CreateEntryLinkButton.spec.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore: fix unit test
  packages/checkbox/src/CheckboxEditor.spec.tsx
Owners: @contentful/team-bauhaus

chore(release): updated release notes and package versions [ci skip]
  packages/default-field-editors/CHANGELOG.md
  packages/default-field-editors/package.json
  packages/reference/CHANGELOG.md
  packages/reference/package.json
  packages/rich-text/CHANGELOG.md
  packages/rich-text/package.json
Owners: @contentful/team-bauhaus, @contentful/team-shelley

chore: update to latest rich-text-types
  package.json
  packages/rich-text/package.json
  yarn.lock
Owners: @contentful/team-bauhaus, @contentful/team-shelley

fix: hide embedded asset card drag handle
  packages/rich-text/src/plugins/shared/FetchingWrappedAssetCard.tsx
  packages/rich-text/src/plugins/shared/FetchingWrappedEntryCard.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore: address PR comments
  packages/rich-text/src/plugins/Hyperlink/EntryAssetTooltip.tsx
  packages/rich-text/src/plugins/shared/FetchingWrappedAssetCard.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: controllable combined link actions visibility
  packages/reference/src/components/LinkActions/CombinedLinkActions.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore(release): updated release notes and package versions [ci skip]
  packages/default-field-editors/CHANGELOG.md
  packages/default-field-editors/package.json
  packages/reference/CHANGELOG.md
  packages/reference/package.json
  packages/rich-text/CHANGELOG.md
  packages/rich-text/package.json
Owners: @contentful/team-bauhaus, @contentful/team-shelley

chore: update to latest forma
  packages/rich-text/src/plugins/shared/FetchingWrappedAssetCard.tsx
  yarn.lock
Owners: @contentful/team-shelley, @contentful/team-bauhaus
