Repository contentful/field-editors, changes with the owners that .github/CODEOWNERS names for each.
All owners: @contentful/team-bauhaus, @contentful/team-extensibility, @contentful/team-shelley

chore: increment next version to 2.0.0-next.18 (#1054)
  apps/entry-app-collapsible/package.json
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

test: add tests
  cypress/integration/rich-text/RichTextLists.spec.ts
  cypress/integration/rich-text/__snapshots__/RichTextLists.spec.ts.snap
Owners: @contentful/team-bauhaus

fix: toggle off blockquotes on backspace when empty
  packages/rich-text/src/helpers/editor.ts
  packages/rich-text/src/plugins/Break/createResetNodePlugin.ts
  packages/rich-text/src/plugins/Break/index.ts
  packages/rich-text/src/plugins/Quote/createQuotePlugin.ts
  packages/rich-text/src/plugins/Quote/shouldResetQuote.ts
  packages/rich-text/src/plugins/Quote/toggleQuote.ts
  packages/rich-text/src/plugins/Quote/withQuote.ts
  packages/rich-text/src/plugins/index.ts
  packages/rich-text/src/types.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix(rich-text): unhang triple selection ranges
  packages/rich-text/src/plugins/Quote/toggleQuote.ts
  packages/rich-text/src/plugins/Text/createTextPlugin.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

test: add cypress test for quotes
  cypress/integration/rich-text/RichTextEditor.spec.ts
  cypress/integration/rich-text/__snapshots__/RichTextEditor.spec.ts.snap
Owners: @contentful/team-bauhaus

fix: always run it
  packages/rich-text/src/plugins/Text/createTextPlugin.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix(rich-text): unhang triple selection ranges (#1056)
  packages/rich-text/src/plugins/Quote/toggleQuote.ts
  packages/rich-text/src/plugins/Text/createTextPlugin.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

refactor: upgrade to Plate v10.x
  packages/rich-text/package.json
  packages/rich-text/src/ContentfulEditorProvider.ts
  packages/rich-text/src/RichTextEditor.tsx
  packages/rich-text/src/useNormalizedSlateEditor.ts
  yarn.lock
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: initial normalization failing
  packages/rich-text/src/useNormalizedSlateValue.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: initial normalization failing (#1058)
  packages/rich-text/src/useNormalizedSlateValue.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore: increase field-editor-rich-text version to 2.0.0-next.19
  apps/entry-app-collapsible/package.json
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

fix: correct selection after embedding an entity (#1050)
  cypress/integration/rich-text/RichTextLists.spec.ts
  packages/rich-text/src/helpers/editor.ts
  packages/rich-text/src/plugins/EmbeddedEntityBlock/ToolbarIcon.tsx
  packages/rich-text/src/plugins/EmbeddedEntityBlock/Util.ts
  packages/rich-text/src/plugins/EmbeddedEntityInline/index.tsx
  packages/rich-text/src/plugins/Table/createTablePlugin.ts
Owners: @contentful/team-bauhaus, @contentful/team-shelley

chore: increase field-editor-rich-text version to 2.0.0-next.19 (#1059)
  apps/entry-app-collapsible/package.json
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

test: stabilize flaky test
  cypress/integration/rich-text/RichTextEditor.Pasting.spec.ts
Owners: @contentful/team-bauhaus

fix(rte): pressing backspace on empty paragraphs
  packages/rich-text/src/plugins/Text/createTextPlugin.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix(rte): pressing backspace on empty paragraphs (#1061)
  packages/rich-text/src/plugins/Text/createTextPlugin.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: reset empty list items & quotes on backspace (#1055)
  cypress/integration/rich-text/RichTextEditor.spec.ts
  cypress/integration/rich-text/RichTextLists.spec.ts
  cypress/integration/rich-text/__snapshots__/RichTextEditor.spec.ts.snap
  cypress/integration/rich-text/__snapshots__/RichTextLists.spec.ts.snap
  packages/rich-text/package.json
  packages/rich-text/src/helpers/editor.ts
  packages/rich-text/src/plugins/Break/createResetNodePlugin.ts
  packages/rich-text/src/plugins/Break/index.ts
  packages/rich-text/src/plugins/List/transforms/deleteBackwardList.ts
  packages/rich-text/src/plugins/List/transforms/toggleList.ts
  packages/rich-text/src/plugins/List/transforms/unwrapList.ts
  packages/rich-text/src/plugins/List/withList.ts
  packages/rich-text/src/plugins/Quote/createQuotePlugin.ts
  packages/rich-text/src/plugins/Quote/shouldResetQuote.ts
  packages/rich-text/src/plugins/Quote/toggleQuote.ts
  packages/rich-text/src/plugins/Quote/withQuote.ts
  packages/rich-text/src/plugins/index.ts
  packages/rich-text/src/types.ts
  yarn.lock
Owners: @contentful/team-bauhaus, @contentful/team-shelley

chore(bump): rte 2.0.0-next.20
  apps/entry-app-collapsible/package.json
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

fix(rich-text): show inline entry CT as tooltip
  packages/rich-text/src/plugins/EmbeddedEntityInline/FetchingWrappedInlineEntryCard.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore(bump): rte 2.0.0-next.20 (#1062)
  apps/entry-app-collapsible/package.json
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

test: fix cypress
  cypress/integration/rich-text/RichTextEditor.spec.ts
Owners: @contentful/team-bauhaus

fix(rich-text): show inline entry CT as tooltip (#1063)
  cypress/integration/rich-text/RichTextEditor.spec.ts
  packages/rich-text/src/plugins/EmbeddedEntityInline/FetchingWrappedInlineEntryCard.tsx
Owners: @contentful/team-bauhaus, @contentful/team-shelley

fix: fetch hyperlink entities only once
  packages/rich-text/src/plugins/Hyperlink/EntryAssetTooltip.tsx
  packages/rich-text/src/plugins/Hyperlink/components/EntityHyperlink.tsx
  packages/rich-text/src/plugins/Hyperlink/components/ToolbarHyperlinkButton.tsx
  packages/rich-text/src/plugins/Hyperlink/components/UrlHyperlink.tsx
  packages/rich-text/src/plugins/Hyperlink/components/styles.ts
  packages/rich-text/src/plugins/Hyperlink/createHyperlinkPlugin.ts
  packages/rich-text/src/plugins/Hyperlink/index.tsx
  packages/rich-text/src/plugins/Hyperlink/truncate.ts
  packages/rich-text/src/plugins/Hyperlink/useEntityInfo.ts
  packages/rich-text/src/plugins/Hyperlink/utils.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore: remove console.log
  packages/rich-text/src/plugins/Hyperlink/useEntityInfo.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: fetch hyperlink entities only once (#1064)
  packages/rich-text/src/plugins/Hyperlink/EntryAssetTooltip.tsx
  packages/rich-text/src/plugins/Hyperlink/components/EntityHyperlink.tsx
  packages/rich-text/src/plugins/Hyperlink/components/ToolbarHyperlinkButton.tsx
  packages/rich-text/src/plugins/Hyperlink/components/UrlHyperlink.tsx
  packages/rich-text/src/plugins/Hyperlink/components/styles.ts
  packages/rich-text/src/plugins/Hyperlink/createHyperlinkPlugin.ts
  packages/rich-text/src/plugins/Hyperlink/index.tsx
  packages/rich-text/src/plugins/Hyperlink/truncate.ts
  packages/rich-text/src/plugins/Hyperlink/useEntityInfo.ts
  packages/rich-text/src/plugins/Hyperlink/utils.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: refresh displayed value upon external changes
  packages/rich-text/package.json
  packages/rich-text/src/RichTextEditor.tsx
  packages/rich-text/src/Toolbar/components/EmbedEntityWidget.tsx
  packages/rich-text/src/plugins/shared/FetchingWrappedEntryCard.tsx
  packages/rich-text/src/prepareDocument.ts
  packages/rich-text/src/useNormalizedSlateValue.ts
  packages/rich-text/src/useOnValueChanged.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

test: stabilize flaky test (#1060)
  cypress/integration/rich-text/RichTextEditor.Pasting.spec.ts
Owners: @contentful/team-bauhaus

test: add test for remote value changes
  cypress/integration/rich-text/RichTextEditor.spec.ts
Owners: @contentful/team-bauhaus

refactor: simplified parameter
  packages/rich-text/src/RichTextEditor.tsx
  packages/rich-text/src/prepareDocument.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore: todo comment
  packages/rich-text/src/prepareDocument.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

test: rte value callback not called on external updates
  cypress/integration/rich-text/RichTextEditor.spec.ts
Owners: @contentful/team-bauhaus

test: setExternalValue improvement
  cypress/integration/rich-text/RichTextEditor.spec.ts
  cypress/support/index.d.ts
  packages/_test/src/createFakeFieldAPI.ts
Owners: @contentful/team-bauhaus

fix(rich-text): moving list items up/down
  packages/rich-text/src/plugins/List/createListPlugin.ts
  packages/rich-text/src/plugins/List/onKeyDownList.ts
  packages/rich-text/src/plugins/List/transforms/moveListItemDown.ts
  packages/rich-text/src/plugins/List/transforms/moveListItemUp.ts
  packages/rich-text/src/plugins/List/transforms/moveListItems.test.tsx
  packages/rich-text/src/plugins/List/transforms/moveListItems.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore(release): publish rich-text@2.0.0-next.21
  apps/entry-app-collapsible/package.json
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

chore(release): publish rich-text@2.0.0-next.21 (#1068)
  apps/entry-app-collapsible/package.json
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

refactor: use moveListItemUp helper from Plate directly
  packages/rich-text/src/plugins/List/transforms/moveListItemUp.ts
  packages/rich-text/src/plugins/List/transforms/moveListItems.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: update rte content on external update (#1065)
  cypress/integration/rich-text/RichTextEditor.spec.ts
  cypress/support/index.d.ts
  packages/_test/src/createFakeFieldAPI.ts
  packages/rich-text/package.json
  packages/rich-text/src/RichTextEditor.tsx
  packages/rich-text/src/Toolbar/components/EmbedEntityWidget.tsx
  packages/rich-text/src/plugins/shared/FetchingWrappedEntryCard.tsx
  packages/rich-text/src/prepareDocument.ts
  packages/rich-text/src/useNormalizedSlateValue.ts
  packages/rich-text/src/useOnValueChanged.ts
Owners: @contentful/team-bauhaus, @contentful/team-shelley

chore: increment version
  apps/entry-app-collapsible/package.json
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

feat: show the disable state on fields [DANTE-505]
  packages/_shared/src/FieldConnector.ts
  packages/json/src/JsonEditoField.tsx
  packages/location/src/GoogleMapView.tsx
  packages/markdown/src/components/MarkdownTextarea/MarkdownTextarea.tsx
  packages/radio/src/RadioEditor.tsx
  packages/rich-text/src/RichTextEditor.styles.ts
Owners: @contentful/team-bauhaus, @contentful/team-shelley

fix(rich-text): moving list items down (#1067)
  packages/rich-text/src/plugins/List/createListPlugin.ts
  packages/rich-text/src/plugins/List/onKeyDownList.ts
  packages/rich-text/src/plugins/List/transforms/moveListItemDown.ts
  packages/rich-text/src/plugins/List/transforms/moveListItems.test.tsx
  packages/rich-text/src/plugins/List/transforms/moveListItems.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

.github/CODEOWNERS:

*                      @contentful/team-bauhaus

apps/                  @contentful/team-extensibility
packages/rich-text/    @contentful/team-shelley @contentful/team-bauhaus
packages/reference/    @contentful/team-shelley @contentful/team-bauhaus
