Repository contentful/field-editors, changes with the owners that .github/CODEOWNERS names for each.
All owners: @contentful/team-bauhaus, @contentful/team-extensibility, @contentful/team-shelley

.github/CODEOWNERS:

*                      @contentful/team-bauhaus

apps/                  @contentful/team-extensibility
packages/rich-text/    @contentful/team-shelley @contentful/team-bauhaus
packages/reference/    @contentful/team-shelley @contentful/team-bauhaus

feat: move InViewport code
  packages/rich-text/src/plugins/CommandPalette/CommandPanel/InViewport/InViewport.tsx
  packages/rich-text/src/plugins/CommandPalette/CommandPanel/index.js
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore: rename to js
  packages/rich-text/src/plugins/CommandPalette/CommandPanel/InViewport/InViewport.js
Owners: @contentful/team-shelley, @contentful/team-bauhaus

feat: moves InViewport (#894)
  packages/reference/src/assets/MultipleMediaEditor.mdx
  packages/reference/src/assets/SingleMediaEditor.mdx
  packages/reference/src/assets/SortableElements.tsx
  packages/reference/src/entries/SortableElements.tsx
  packages/rich-text/src/plugins/CommandPalette/CommandPanel/InViewport/InViewport.js
  packages/rich-text/src/plugins/CommandPalette/CommandPanel/index.js
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore: prettier
  packages/reference/src/components/CreateEntryLinkButton/CreateEntryLinkButton.spec.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

feat: 🎸 Migrate AssetCard from v3 to v4
  packages/reference/src/assets/WrappedAssetCard/AssetCardActions.tsx
  packages/reference/src/assets/WrappedAssetCard/FetchingWrappedAssetCard.tsx
  packages/reference/src/assets/WrappedAssetCard/WrappedAssetCard.tsx
  packages/rich-text/src/plugins/EmbeddedEntityBlock/FetchingWrappedAssetCard.js
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore: 🤖 bump f36-components version on yarn.lock
  yarn.lock
Owners: @contentful/team-bauhaus

test: 💍 Update test-id on cy tests
  cypress/integration/MultipleMediaEditor.spec.ts
Owners: @contentful/team-bauhaus

chore: 🤖 bump f36-components
  yarn.lock
Owners: @contentful/team-bauhaus

fix: text paste
  packages/rich-text/src/plugins/Paste/index.tsx
  packages/rich-text/src/plugins/Table/index.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: missing 'normal text' dropdown option
  packages/rich-text/src/helpers/validations.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: text paste (#897)
  packages/rich-text/src/plugins/Paste/index.tsx
  packages/rich-text/src/plugins/Table/index.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: missing 'normal text' dropdown option (#898)
  packages/rich-text/src/helpers/validations.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

feat: Migrate AssetCard from v3 to v4 (#895)
  cypress/integration/MultipleMediaEditor.spec.ts
  packages/reference/src/assets/WrappedAssetCard/AssetCardActions.tsx
  packages/reference/src/assets/WrappedAssetCard/FetchingWrappedAssetCard.tsx
  packages/reference/src/assets/WrappedAssetCard/WrappedAssetCard.tsx
  packages/rich-text/src/plugins/EmbeddedEntityBlock/FetchingWrappedAssetCard.js
  yarn.lock
Owners: @contentful/team-bauhaus, @contentful/team-shelley

chore: update lock
  yarn.lock
Owners: @contentful/team-bauhaus

chore: update to latest deps
  apps/entry-app-collapsible/package.json
  yarn.lock
Owners: @contentful/team-extensibility, @contentful/team-bauhaus

chore: cleanup
  apps/entry-app-collapsible/package.json
  apps/entry-app-collapsible/src/index.css
  apps/entry-app-collapsible/src/index.tsx
  apps/entry-app-collapsible/src/styles.ts
  apps/markdown-app/package.json
  apps/markdown-app/src/index.css
  apps/markdown-app/src/index.tsx
  apps/multiple-references-app/package.json
  apps/multiple-references-app/src/index.css
  apps/multiple-references-app/src/index.tsx
  apps/rich-text-app/package.json
  apps/rich-text-app/src/index.css
  apps/rich-text-app/src/index.tsx
  apps/singleline-app/package.json
  apps/singleline-app/src/index.css
  apps/singleline-app/src/index.tsx
  packages/boolean/README.md
  packages/checkbox/README.md
  packages/date/README.md
  packages/default-field-editors/README.md
  packages/dropdown/README.md
  packages/json/README.md
  packages/list/README.md
  packages/location/README.md
  packages/markdown/README.md
  packages/multiple-line/README.md
  packages/number/README.md
  packages/radio/README.md
  packages/reference/src/assets/MultipleMediaEditor.mdx
  packages/reference/src/assets/SingleMediaEditor.mdx
  packages/reference/src/common/EntityStore.ts
  packages/rich-text/README.md
  packages/single-line/README.md
  packages/slug/README.md
  packages/tags/README.md
  packages/url/README.md
  packages/validation-errors/README.md
  yarn.lock
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

better styles in the documentation
  docz.wrapper.jsx
  doczrc.js
  packages/radio/src/RadioEditor.tsx
  yarn.lock
Owners: @contentful/team-bauhaus

refactor: replace in rich text
  packages/rich-text/src/plugins/EmbeddedEntityBlock/FetchingWrappedEntryCard.js
  packages/rich-text/src/plugins/EmbeddedEntryInline/FetchingWrappedInlineEntryCard.js
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore: remove previous tokens package
  package.json
  packages/_shared/package.json
  packages/_test/package.json
  packages/boolean/package.json
  packages/checkbox/package.json
  packages/date/package.json
  packages/dropdown/package.json
  packages/json/package.json
  packages/list/package.json
  packages/location/package.json
  packages/markdown/package.json
  packages/multiple-line/package.json
  packages/number/package.json
  packages/radio/package.json
  packages/rating/package.json
  packages/reference/package.json
  packages/rich-text/package.json
  packages/single-line/package.json
  packages/slug/package.json
  packages/tags/package.json
  packages/url/package.json
  packages/validation-errors/package.json
Owners: @contentful/team-bauhaus, @contentful/team-shelley

chore: update to latest
  yarn.lock
Owners: @contentful/team-bauhaus

refactor: migrate all other components
  README.md
  apps/entry-app-collapsible/src/FieldGroupsEditor.tsx
  packages/rating/README.md
  packages/reference/src/assets/MultipleMediaEditor.mdx
  packages/reference/src/assets/SortableElements.tsx
  packages/reference/src/assets/WrappedAssetCard/AssetCardActions.tsx
  packages/reference/src/assets/WrappedAssetCard/FetchingWrappedAssetCard.tsx
  packages/reference/src/assets/WrappedAssetCard/WrappedAssetCard.tsx
  packages/reference/src/assets/WrappedAssetCard/WrappedAssetLink.tsx
  packages/reference/src/common/customCardTypes.ts
  packages/reference/src/entries/SortableElements.tsx
  packages/reference/src/entries/WrappedEntryCard/FetchingWrappedEntryCard.tsx
  packages/reference/src/entries/WrappedEntryCard/WrappedEntryCard.tsx
  packages/reference/src/types.ts
  packages/rich-text/src/plugins/EmbeddedEntryInline/FetchingWrappedInlineEntryCard.js
Owners: @contentful/team-bauhaus, @contentful/team-extensibility, @contentful/team-shelley

chore: update all imports
  package.json
  packages/boolean/package.json
  packages/checkbox/package.json
  packages/date/package.json
  packages/default-field-editors/package.json
  packages/dropdown/package.json
  packages/list/package.json
  packages/location/package.json
  packages/markdown/package.json
  packages/multiple-line/package.json
  packages/number/package.json
  packages/radio/package.json
  packages/rating/package.json
  packages/reference/package.json
  packages/rich-text/package.json
  packages/single-line/package.json
  packages/slug/package.json
  packages/tags/package.json
  packages/url/package.json
  packages/validation-errors/package.json
  yarn.lock
Owners: @contentful/team-bauhaus, @contentful/team-shelley

fix: problem
  apps/entry-app-collapsible/src/FieldGroupsEditor.tsx
Owners: @contentful/team-extensibility

chore: update to latest
  packages/reference/src/assets/WrappedAssetCard/WrappedAssetCard.tsx
  yarn.lock
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore: fix tests
  cypress/integration/JsonEditor.spec.ts
  cypress/integration/MarkdownEditorCheatsheet.spec.ts
  cypress/integration/MarkdownEditorHistory.spec.ts
  cypress/integration/MarkdownEditorInsertLink.spec.ts
  cypress/integration/MarkdownEditorSimpleActions.spec.ts
  cypress/integration/MarkdownEmbedExternal.spec.ts
  cypress/integration/MarkdownOrganizeLinks.spec.ts
  cypress/integration/MultipleMediaEditor.spec.ts
Owners: @contentful/team-bauhaus

fix: add rich-text-plain-text-renderer as rich-text dep
  packages/rich-text/package.json
  yarn.lock
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore: bump slate packages
  packages/rich-text/package.json
  yarn.lock
Owners: @contentful/team-shelley, @contentful/team-bauhaus

refactor: simplify paragraph deserialize logic
  packages/rich-text/src/plugins/Paragraph/index.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: broken editor after undo actions
  packages/rich-text/src/ContentfulEditorProvider.ts
  packages/rich-text/src/plugins/EmbeddedEntityBlock/ToolbarIcon.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: undo after pasting [] (#901)
  packages/rich-text/package.json
  packages/rich-text/src/ContentfulEditorProvider.ts
  packages/rich-text/src/plugins/EmbeddedEntityBlock/ToolbarIcon.tsx
  packages/rich-text/src/plugins/Paragraph/index.tsx
  yarn.lock
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore: bump rte next to 0.26.3-next
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

fix: entity block paste
  packages/rich-text/src/plugins/Paste/sanitizers/helpers.tsx
  packages/rich-text/src/plugins/Paste/sanitizers/index.tsx
  packages/rich-text/src/plugins/Paste/sanitizers/sanitizeEntityBlocks.tsx
  packages/rich-text/src/plugins/Paste/sanitizers/sanitizeTables.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore: bump rte next to 0.26.3-next [] (#902)
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

fix: embedded asset details for non-image assets
  packages/rich-text/src/plugins/shared/FetchingWrappedAssetCard.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: embedded asset details for non-image assets (#904)
  packages/rich-text/src/plugins/shared/FetchingWrappedAssetCard.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: entity block paste (#903)
  packages/rich-text/src/plugins/Paste/sanitizers/helpers.tsx
  packages/rich-text/src/plugins/Paste/sanitizers/index.tsx
  packages/rich-text/src/plugins/Paste/sanitizers/sanitizeEntityBlocks.tsx
  packages/rich-text/src/plugins/Paste/sanitizers/sanitizeTables.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore: bump rte next to 0.26.4-next
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

chore: bump rte next to 0.26.4-next (#905)
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

build(deps): update Husky to v7
  .husky/commit-msg
  .husky/pre-commit
  package.json
  yarn.lock
Owners: @contentful/team-bauhaus

fix(rich-text-editor): specify font-family
  packages/rich-text/src/RichTextEditor.jsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus
