Repository contentful/field-editors, changes with the owners that .github/CODEOWNERS names for each.
All owners: @contentful/team-bauhaus, @contentful/team-extensibility, @contentful/team-shelley

.github/CODEOWNERS:

*                      @contentful/team-bauhaus

apps/                  @contentful/team-extensibility
packages/rich-text/    @contentful/team-shelley @contentful/team-bauhaus
packages/reference/    @contentful/team-shelley @contentful/team-bauhaus

chore: bump rich-text@next
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

feat: 🎸 Migrate EntityList from v3 to v4
  packages/markdown/src/dialogs/ConfirmInsertAssetModalDialog.tsx
Owners: @contentful/team-bauhaus

feat: 🎸 Migrate EntityList from v3 to v4 (#886)
  packages/markdown/src/dialogs/ConfirmInsertAssetModalDialog.tsx
Owners: @contentful/team-bauhaus

refactor: 💡 exported helpers for locating specific fields
  packages/_shared/src/utils/entityHelpers.ts
Owners: @contentful/team-bauhaus

refactor: 💡 exported helpers for locating specific fields (#887)
  packages/_shared/src/utils/entityHelpers.ts
Owners: @contentful/team-bauhaus

refactor: replace TextField in FieldGroupsEditor
  apps/entry-app-collapsible/src/FieldGroupsEditor.tsx
Owners: @contentful/team-extensibility

refactor: replace TextField in EmdebExternalContentDialog
  packages/markdown/src/dialogs/EmdebExternalContentDialog.tsx
Owners: @contentful/team-bauhaus

refactor: replace TextField in InsertLinkModalDialog
  packages/markdown/src/dialogs/InsertLinkModalDialog.tsx
Owners: @contentful/team-bauhaus

refactor: replace TextField in InsertTableModalDialog
  packages/markdown/src/dialogs/InsertTableModalDialog.tsx
Owners: @contentful/team-bauhaus

refactor: replace TextField in HyperlinkDialog
  packages/rich-text/src/dialogs/HypelinkDialog/HyperlinkDialog.jsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

refactor: replace text field with v4 components (#888)
  apps/entry-app-collapsible/src/FieldGroupsEditor.tsx
  packages/markdown/src/dialogs/EmdebExternalContentDialog.tsx
  packages/markdown/src/dialogs/InsertLinkModalDialog.tsx
  packages/markdown/src/dialogs/InsertTableModalDialog.tsx
  packages/rich-text/src/dialogs/HypelinkDialog/HyperlinkDialog.jsx
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

fix: [] remove field-editor-test-utils from peer dependencies
  packages/reference/package.json
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: [] move field-editor-test-utils to devDeps
  packages/rich-text/package.json
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: [] Remove test utils from peer dependencies (#889)
  packages/reference/package.json
  packages/rich-text/package.json
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore(release): updated release notes and package versions [ci skip]
  packages/default-field-editors/CHANGELOG.md
  packages/default-field-editors/package.json
  packages/reference/CHANGELOG.md
  packages/reference/package.json
  packages/rich-text/CHANGELOG.md
  packages/rich-text/package.json
Owners: @contentful/team-bauhaus, @contentful/team-shelley

feat: rich-text package replace Dropdown to Menu
  packages/rich-text/src/Toolbar/index.js
  packages/rich-text/src/plugins/EmbeddedEntityBlock/ToolbarIcon.js
  packages/rich-text/src/plugins/EmbeddedEntryInline/ToolbarIcon.js
  packages/rich-text/src/plugins/EntryEmbedDropdown/index.js
  packages/rich-text/src/plugins/Heading/HeadingDropdown.js
  packages/rich-text/src/plugins/Heading/Paragraph.js
  packages/rich-text/src/plugins/shared/ToolbarDropdownListItem.js
Owners: @contentful/team-shelley, @contentful/team-bauhaus

feat: markdown package replace Dropdown to Menu
  packages/markdown/src/components/HeadingSelector.tsx
  packages/markdown/src/components/InsertLinkSelector.tsx
  packages/markdown/src/components/MarkdownToolbar.tsx
Owners: @contentful/team-bauhaus

chore: edit gitignore
  .gitignore
  .vscode/settings.json
Owners: @contentful/team-bauhaus

fix: integration tests
  .vscode/settings.json
  cypress/integration/MultipleMediaEditor.spec.ts
Owners: @contentful/team-bauhaus

feat: reference replace Dropdown to Menu
  packages/reference/src/components/CreateEntryLinkButton/CreateEntryLinkButton.spec.tsx
  packages/reference/src/components/CreateEntryLinkButton/CreateEntryLinkButton.tsx
  packages/reference/src/components/CreateEntryLinkButton/CreateEntryMenuTrigger.spec.tsx
  packages/reference/src/components/CreateEntryLinkButton/CreateEntryMenuTrigger.tsx
  packages/reference/src/components/LinkActions/CombinedLinkActions.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore: remove usePortal=false
  packages/markdown/src/components/HeadingSelector.tsx
  packages/markdown/src/components/InsertLinkSelector.tsx
Owners: @contentful/team-bauhaus

feat: entry-app-collapsible replace Dropdown to Menu
  apps/entry-app-collapsible/src/FieldGroupsEditor.tsx
  apps/entry-app-collapsible/src/styles.ts
Owners: @contentful/team-extensibility

feat: location remover Dropdown usage
  packages/location/src/LocationSearchInput.tsx
Owners: @contentful/team-bauhaus

fix: integration tests
  cypress/integration/MultipleMediaEditor.spec.ts
Owners: @contentful/team-bauhaus

fix: run codemod and adjust mdx
  apps/entry-app-collapsible/src/FieldGroupsEditor.tsx
  packages/location/src/LocationSearchInput.tsx
  packages/reference/src/assets/MultipleMediaEditor.mdx
  packages/reference/src/assets/SingleMediaEditor.mdx
  packages/reference/src/components/MissingEntityCard/MissingEntityCard.tsx
  packages/reference/src/entries/MultipleEntryReferenceEditor.mdx
  packages/reference/src/entries/SingleEntryReferenceEditor.mdx
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

feat: V4 adoption Popover/Menu (#890)
  .gitignore
  .vscode/settings.json
  apps/entry-app-collapsible/src/FieldGroupsEditor.tsx
  apps/entry-app-collapsible/src/styles.ts
  cypress/integration/MultipleMediaEditor.spec.ts
  packages/location/src/LocationSearchInput.tsx
  packages/markdown/src/components/HeadingSelector.tsx
  packages/markdown/src/components/InsertLinkSelector.tsx
  packages/markdown/src/components/MarkdownToolbar.tsx
  packages/reference/src/components/CreateEntryLinkButton/CreateEntryLinkButton.spec.tsx
  packages/reference/src/components/CreateEntryLinkButton/CreateEntryLinkButton.tsx
  packages/reference/src/components/CreateEntryLinkButton/CreateEntryMenuTrigger.spec.tsx
  packages/reference/src/components/CreateEntryLinkButton/CreateEntryMenuTrigger.tsx
  packages/reference/src/components/LinkActions/CombinedLinkActions.tsx
  packages/rich-text/src/Toolbar/index.js
  packages/rich-text/src/plugins/EmbeddedEntityBlock/ToolbarIcon.js
  packages/rich-text/src/plugins/EmbeddedEntryInline/ToolbarIcon.js
  packages/rich-text/src/plugins/EntryEmbedDropdown/index.js
  packages/rich-text/src/plugins/Heading/HeadingDropdown.js
  packages/rich-text/src/plugins/Heading/Paragraph.js
  packages/rich-text/src/plugins/shared/ToolbarDropdownListItem.js
Owners: @contentful/team-bauhaus, @contentful/team-extensibility, @contentful/team-shelley

refactor: use Form and IconButton
  packages/rich-text/src/dialogs/HypelinkDialog/HyperlinkDialog.jsx
  packages/rich-text/src/plugins/CommandPalette/CommandPanel/CommandPanelMenu.js
Owners: @contentful/team-shelley, @contentful/team-bauhaus

refactor: use Form and IconButton (#891)
  packages/rich-text/src/dialogs/HypelinkDialog/HyperlinkDialog.jsx
  packages/rich-text/src/plugins/CommandPalette/CommandPanel/CommandPanelMenu.js
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: migrate Card to v4
  packages/location/src/LocationSearchInput.tsx
  packages/reference/src/assets/MultipleMediaEditor.mdx
  packages/reference/src/assets/SingleMediaEditor.mdx
  packages/reference/src/components/MissingEntityCard/MissingEntityCard.tsx
  packages/reference/src/entries/MultipleEntryReferenceEditor.mdx
  packages/reference/src/entries/SingleEntryReferenceEditor.mdx
  yarn.lock
Owners: @contentful/team-bauhaus, @contentful/team-shelley

feat: using Card from v4
  apps/entry-app-collapsible/src/FieldGroupsEditor.tsx
  packages/location/src/LocationSearchInput.tsx
  packages/reference/src/assets/MultipleMediaEditor.mdx
  packages/reference/src/assets/SingleMediaEditor.mdx
  packages/reference/src/components/MissingEntityCard/MissingEntityCard.tsx
  packages/reference/src/entries/MultipleEntryReferenceEditor.mdx
  packages/reference/src/entries/SingleEntryReferenceEditor.mdx
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

fix: missing lock
  yarn.lock
Owners: @contentful/team-bauhaus

fix: fix spec
  packages/reference/src/components/CreateEntryLinkButton/CreateEntryLinkButton.spec.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: rollback
  packages/reference/src/components/CreateEntryLinkButton/CreateEntryLinkButton.spec.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore: update to latest
  yarn.lock
Owners: @contentful/team-bauhaus

fix: fix speac
  packages/reference/src/components/CreateEntryLinkButton/CreateEntryLinkButton.spec.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: remove spec that does not make much sense
  packages/reference/src/components/CreateEntryLinkButton/CreateEntryLinkButton.spec.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: fix spec
  packages/reference/src/components/CreateEntryLinkButton/CreateEntryLinkButton.spec.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

feat: using Card from v4 (#893)
  apps/entry-app-collapsible/src/FieldGroupsEditor.tsx
  packages/location/src/LocationSearchInput.tsx
  packages/reference/src/assets/MultipleMediaEditor.mdx
  packages/reference/src/assets/SingleMediaEditor.mdx
  packages/reference/src/components/CreateEntryLinkButton/CreateEntryLinkButton.spec.tsx
  packages/reference/src/components/MissingEntityCard/MissingEntityCard.tsx
  packages/reference/src/entries/MultipleEntryReferenceEditor.mdx
  packages/reference/src/entries/SingleEntryReferenceEditor.mdx
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

chore: use DragHandle component
  packages/reference/src/assets/SortableElements.tsx
  packages/reference/src/entries/SortableElements.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore: update Asset paths
  packages/reference/src/assets/MultipleMediaEditor.mdx
  packages/reference/src/assets/SingleMediaEditor.mdx
Owners: @contentful/team-shelley, @contentful/team-bauhaus
