Repository contentful/field-editors, changes with the owners that .github/CODEOWNERS names for each.
All owners: @contentful/team-bauhaus, @contentful/team-extensibility, @contentful/team-shelley

.github/CODEOWNERS:

*                      @contentful/team-bauhaus

apps/                  @contentful/team-extensibility
packages/rich-text/    @contentful/team-shelley @contentful/team-bauhaus
packages/reference/    @contentful/team-shelley @contentful/team-bauhaus

test: adding toolbar unit tests for disabled mode
  cypress/integration/rich-text/RichTextEditor.spec.ts
  packages/rich-text/src/Toolbar/_tests_/toolbar.test.tsx
Owners: @contentful/team-bauhaus, @contentful/team-shelley

test: add cypress test
  cypress/integration/rich-text/RichTextEditor.spec.ts
  cypress/integration/rich-text/RichTextPage.ts
  packages/rich-text/src/RichTextEditor.mdx
Owners: @contentful/team-bauhaus, @contentful/team-shelley

chore: bump f36 dependencies
  apps/entry-app-collapsible/package.json
  apps/markdown-app/package.json
  apps/multiple-references-app/package.json
  apps/rich-text-app/package.json
  apps/singleline-app/package.json
  package.json
  packages/_shared/package.json
  packages/_test/package.json
  packages/boolean/package.json
  packages/checkbox/package.json
  packages/date/package.json
  packages/default-field-editors/package.json
  packages/dropdown/package.json
  packages/json/package.json
  packages/list/package.json
  packages/location/package.json
  packages/markdown/package.json
  packages/multiple-line/package.json
  packages/number/package.json
  packages/radio/package.json
  packages/rating/package.json
  packages/reference/package.json
  packages/rich-text/package.json
  packages/single-line/package.json
  packages/slug/package.json
  packages/tags/package.json
  packages/url/package.json
  packages/validation-errors/package.json
  yarn.lock
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

fix: bump version
  apps/markdown-app/package.json
  apps/multiple-references-app/package.json
  apps/rich-text-app/package.json
  apps/singleline-app/package.json
  package.json
  packages/_shared/package.json
  packages/_test/package.json
  packages/boolean/package.json
  packages/checkbox/package.json
  packages/date/package.json
  packages/default-field-editors/package.json
  packages/dropdown/package.json
  packages/json/package.json
  packages/list/package.json
  packages/location/package.json
  packages/markdown/package.json
  packages/multiple-line/package.json
  packages/radio/package.json
  packages/rating/package.json
  packages/reference/package.json
  packages/rich-text/package.json
  packages/single-line/package.json
  packages/slug/package.json
  packages/tags/package.json
  packages/url/package.json
  packages/validation-errors/package.json
  yarn.lock
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

fix: fix deps
  apps/entry-app-collapsible/package.json
  packages/number/package.json
  yarn.lock
Owners: @contentful/team-extensibility, @contentful/team-bauhaus

chore: bump f36 dependencies (#964)
  apps/entry-app-collapsible/package.json
  apps/markdown-app/package.json
  apps/multiple-references-app/package.json
  apps/rich-text-app/package.json
  apps/singleline-app/package.json
  package.json
  packages/_shared/package.json
  packages/_test/package.json
  packages/boolean/package.json
  packages/checkbox/package.json
  packages/date/package.json
  packages/default-field-editors/package.json
  packages/dropdown/package.json
  packages/json/package.json
  packages/list/package.json
  packages/location/package.json
  packages/markdown/package.json
  packages/multiple-line/package.json
  packages/number/package.json
  packages/radio/package.json
  packages/rating/package.json
  packages/reference/package.json
  packages/rich-text/package.json
  packages/single-line/package.json
  packages/slug/package.json
  packages/tags/package.json
  packages/url/package.json
  packages/validation-errors/package.json
  yarn.lock
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

test: clean up
  cypress/integration/rich-text/RichTextEditor.spec.ts
  cypress/integration/rich-text/RichTextPage.ts
Owners: @contentful/team-bauhaus

test: fix typings
  cypress/integration/rich-text/RichTextEditor.spec.ts
Owners: @contentful/team-bauhaus

fix: disable edit/remove actions on readonly mode (#963)
  cypress/integration/rich-text/RichTextEditor.spec.ts
  cypress/integration/rich-text/RichTextPage.ts
  packages/rich-text/src/RichTextEditor.mdx
  packages/rich-text/src/Toolbar/EmbedEntityWidget.tsx
  packages/rich-text/src/Toolbar/_tests_/toolbar.test.tsx
  packages/rich-text/src/plugins/EmbeddedEntityInline/FetchingWrappedInlineEntryCard.tsx
  packages/rich-text/src/plugins/Heading/index.tsx
  packages/rich-text/src/plugins/Hyperlink/index.tsx
  packages/rich-text/src/plugins/Table/TableActions.tsx
  packages/rich-text/src/plugins/shared/FetchingWrappedAssetCard.tsx
  packages/rich-text/src/plugins/shared/FetchingWrappedEntryCard.tsx
  packages/rich-text/src/plugins/shared/__fixtures__/published_asset.json
  packages/rich-text/src/plugins/shared/__fixtures__/published_content_type.json
  packages/rich-text/src/plugins/shared/__fixtures__/published_entry.json
  packages/rich-text/src/plugins/shared/__tests__/FetchingWrappedAssetCard.test.tsx
  packages/rich-text/src/plugins/shared/__tests__/FetchingWrappedEntryCard.test.tsx
  packages/rich-text/tsconfig.json
Owners: @contentful/team-bauhaus, @contentful/team-shelley

chore: bump dependencies
  packages/rich-text/package.json
  yarn.lock
Owners: @contentful/team-shelley, @contentful/team-bauhaus

refactor: import from plate-core
  packages/rich-text/src/helpers/deserializer.ts
  packages/rich-text/src/helpers/editor.ts
  packages/rich-text/src/plugins/Bold/index.tsx
  packages/rich-text/src/plugins/Code/index.tsx
  packages/rich-text/src/plugins/DragAndDrop/index.tsx
  packages/rich-text/src/plugins/EmbeddedEntityBlock/Util.ts
  packages/rich-text/src/plugins/Heading/index.tsx
  packages/rich-text/src/plugins/Hr/index.tsx
  packages/rich-text/src/plugins/Italic/index.tsx
  packages/rich-text/src/plugins/List/getListInsertFragment.ts
  packages/rich-text/src/plugins/List/index.tsx
  packages/rich-text/src/plugins/Paragraph/index.tsx
  packages/rich-text/src/plugins/Table/TableActions.tsx
  packages/rich-text/src/plugins/Table/actions/addColumn.ts
  packages/rich-text/src/plugins/Table/actions/addRow.ts
  packages/rich-text/src/plugins/Table/actions/setHeader.ts
  packages/rich-text/src/plugins/Table/helpers.ts
  packages/rich-text/src/plugins/Text/index.ts
  packages/rich-text/src/plugins/Underline/index.tsx
  packages/rich-text/src/plugins/index.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore: revert to v8
  packages/rich-text/package.json
  packages/rich-text/src/helpers/deserializer.ts
  packages/rich-text/src/plugins/EmbeddedEntityBlock/index.tsx
  packages/rich-text/src/plugins/EmbeddedEntityInline/index.tsx
  packages/rich-text/src/plugins/Heading/index.tsx
  packages/rich-text/src/plugins/Hyperlink/index.tsx
  packages/rich-text/src/plugins/List/getListInsertFragment.ts
  packages/rich-text/src/plugins/Paragraph/index.tsx
  packages/rich-text/src/plugins/Table/actions/addColumn.ts
  packages/rich-text/src/plugins/Table/actions/addRow.ts
  yarn.lock
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: downloading an image no longer opens a new tab
  packages/rich-text/src/plugins/shared/FetchingWrappedAssetCard.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

refactor: migrate paragraph plugin
  packages/rich-text/package.json
  packages/rich-text/src/RichTextEditor.tsx
  packages/rich-text/src/plugins/Paragraph/index.tsx
  yarn.lock
Owners: @contentful/team-shelley, @contentful/team-bauhaus

refactor: migrate bold plugin
  packages/rich-text/package.json
  packages/rich-text/src/plugins/Bold/index.tsx
  yarn.lock
Owners: @contentful/team-shelley, @contentful/team-bauhaus

refactor: migrate basic marks
  packages/rich-text/src/plugins/Bold/index.tsx
  packages/rich-text/src/plugins/Code/index.tsx
  packages/rich-text/src/plugins/Italic/index.tsx
  packages/rich-text/src/plugins/Paragraph/index.tsx
  packages/rich-text/src/plugins/Underline/index.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

refactor: merge basic marks
  packages/rich-text/src/plugins/Marks/Bold.tsx
  packages/rich-text/src/plugins/Marks/Code.tsx
  packages/rich-text/src/plugins/Marks/Italic.tsx
  packages/rich-text/src/plugins/Marks/Underline.tsx
  packages/rich-text/src/plugins/Marks/index.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

refactor: migrate heading plugin
  packages/rich-text/src/plugins/Heading/index.tsx
  packages/rich-text/src/plugins/Marks/index.ts
  packages/rich-text/src/plugins/Paragraph/index.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

refactor: migrate HR plugin
  packages/rich-text/src/plugins/Hr/index.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

refactor: migrate trailing-pargraph plugin
  packages/rich-text/src/plugins/TrailingParagraph/index.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

refactor: migrate InsertBeforeFirstVoidBlock plugin
  packages/rich-text/src/plugins/InsertBeforeFirstVoidBlock/index.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

refactor: migrate blockquote plugin
  packages/rich-text/src/plugins/Quote/index.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

refactor: migrate hyperlink plugin
  packages/rich-text/src/plugins/Hyperlink/index.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

refactor: migrate table plugin
  packages/rich-text/src/plugins/Table/index.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

refactor: migrate EmbeddedEntityBlock plugin
  packages/rich-text/src/plugins/EmbeddedEntityBlock/index.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

refactor: migrate EmbeddedEntityInline plugin
  packages/rich-text/src/plugins/EmbeddedEntityInline/index.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

refactor: migrate Newline plugin
  packages/rich-text/src/plugins/NewLine/index.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

refactor: migrate DragAndDrop plugin
  packages/rich-text/src/plugins/DragAndDrop/index.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

refactor: migrate List plugin
  packages/rich-text/src/plugins/List/getListInsertFragment.ts
  packages/rich-text/src/plugins/List/index.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

refactor: migrate Text plugin
  packages/rich-text/src/plugins/Text/index.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

refactor: migrate Paste plugin
  packages/rich-text/src/Toolbar/index.tsx
  packages/rich-text/src/helpers/deserializer.ts
  packages/rich-text/src/plugins/Paste/index.tsx
  packages/rich-text/src/plugins/index.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

refactor: fix tsc
  packages/rich-text/src/test-utils/createEditor.ts
  packages/rich-text/src/types.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

refactor: create Break plugin
  packages/rich-text/src/plugins/Break/exit.ts
  packages/rich-text/src/plugins/Break/index.ts
  packages/rich-text/src/plugins/Break/soft.ts
  packages/rich-text/src/plugins/NewLine/index.tsx
  packages/rich-text/src/plugins/Text/index.ts
  packages/rich-text/src/plugins/index.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: cache content types for Hyperlink
  packages/rich-text/src/plugins/Hyperlink/useRequestStatus.js
Owners: @contentful/team-shelley, @contentful/team-bauhaus

refactor: set plugin types
  packages/rich-text/package.json
  packages/rich-text/src/plugins/Break/index.ts
  packages/rich-text/src/plugins/CommandPalette/CommandPanel/InViewport/InViewport.js
  packages/rich-text/src/plugins/DragAndDrop/index.tsx
  packages/rich-text/src/plugins/EmbeddedEntity/index.tsx
  packages/rich-text/src/plugins/EmbeddedEntityBlock/index.tsx
  packages/rich-text/src/plugins/EmbeddedEntityInline/index.tsx
  packages/rich-text/src/plugins/Heading/index.tsx
  packages/rich-text/src/plugins/Hr/index.tsx
  packages/rich-text/src/plugins/Hyperlink/index.tsx
  packages/rich-text/src/plugins/List/index.tsx
  packages/rich-text/src/plugins/Marks/Bold.tsx
  packages/rich-text/src/plugins/Marks/Code.tsx
  packages/rich-text/src/plugins/Marks/Italic.tsx
  packages/rich-text/src/plugins/Marks/Underline.tsx
  packages/rich-text/src/plugins/Marks/index.ts
  packages/rich-text/src/plugins/Paragraph/index.tsx
  packages/rich-text/src/plugins/Paste/index.tsx
  packages/rich-text/src/plugins/Quote/index.tsx
  packages/rich-text/src/plugins/Table/index.tsx
  packages/rich-text/src/plugins/Text/index.ts
  yarn.lock
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: cache content types for Hyperlink (#967)
  packages/rich-text/src/plugins/Hyperlink/useRequestStatus.js
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore(release): updated release notes and package versions [ci skip]
  packages/default-field-editors/CHANGELOG.md
  packages/default-field-editors/package.json
  packages/rich-text/CHANGELOG.md
  packages/rich-text/package.json
Owners: @contentful/team-bauhaus, @contentful/team-shelley

fix: correct paste hyperlink children
  packages/rich-text/src/plugins/Hyperlink/index.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: avoid conflicts with core plugins
  packages/rich-text/src/plugins/Break/soft.ts
  packages/rich-text/src/plugins/index.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: normalize stranded text nodes
  packages/rich-text/src/plugins/Text/index.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus
