Repository contentful/field-editors, changes with the owners that .github/CODEOWNERS names for each.
All owners: @contentful/team-bauhaus, @contentful/team-extensibility, @contentful/team-shelley

.github/CODEOWNERS:

*                      @contentful/team-bauhaus

apps/                  @contentful/team-extensibility
packages/rich-text/    @contentful/team-shelley @contentful/team-bauhaus
packages/reference/    @contentful/team-shelley @contentful/team-bauhaus

chore: yarn-deduplicate
  yarn.lock
Owners: @contentful/team-bauhaus

test: fix DateEditor tests and enable disabled ones
  cypress/integration/DateEditor.spec.ts
Owners: @contentful/team-bauhaus

chore(ci): upgrade cypress images
  .circleci/config.yml
Owners: @contentful/team-bauhaus

test: fix MarkdownEditorSpecialCharacter test
  cypress/integration/MarkdownEditorSpecialCharacter.spec.ts
Owners: @contentful/team-bauhaus

chore: upgrade to latest @udecode/plate-table
  packages/rich-text/package.json
  packages/rich-text/src/plugins/Table/index.tsx
  yarn.lock
Owners: @contentful/team-shelley, @contentful/team-bauhaus

refactor: use Plates's insertTable helper
  packages/rich-text/src/plugins/Table/helpers.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

feat(rich-text): Table header support (#838)
  cypress/integration/RichTextEditor.spec.ts
  packages/rich-text/package.json
  packages/rich-text/src/plugins/Table/TableActions.tsx
  packages/rich-text/src/plugins/Table/actions/addColumn.ts
  packages/rich-text/src/plugins/Table/actions/addRow.ts
  packages/rich-text/src/plugins/Table/actions/index.ts
  packages/rich-text/src/plugins/Table/actions/setHeader.ts
  packages/rich-text/src/plugins/Table/helpers.ts
  packages/rich-text/src/plugins/Table/index.tsx
  yarn.lock
Owners: @contentful/team-bauhaus, @contentful/team-shelley

test: remove typeInSlate command
  cypress/integration/RichTextEditor.spec.ts
  cypress/support/commands.js
  cypress/support/index.d.ts
Owners: @contentful/team-bauhaus

test: enable test for void blocks
  cypress/integration/RichTextEditor.spec.ts
  packages/rich-text/src/plugins/EmbeddedEntityBlock/index.tsx
Owners: @contentful/team-bauhaus, @contentful/team-shelley

test: remove .only
  cypress/integration/RichTextEditor.spec.ts
Owners: @contentful/team-bauhaus

test: 🔥
  cypress/integration/RichTextEditor.spec.ts
Owners: @contentful/team-bauhaus

test: correctly retry expectRichTextFieldValue
  cypress/integration/RichTextEditor.spec.ts
Owners: @contentful/team-bauhaus

test: fix void elements test
  cypress/integration/RichTextEditor.spec.ts
Owners: @contentful/team-bauhaus

test: fix more tests
  cypress/integration/RichTextEditor.spec.ts
Owners: @contentful/team-bauhaus

chore: bump field-editor-richt-text@next to 0.23.0
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

chore: bump field-editor-richt-text@next to 0.23.0 (#840)
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

chore: bump plate
  packages/rich-text/package.json
  yarn.lock
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: link paste
  packages/rich-text/src/plugins/Hyperlink/index.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: playground re-render
  packages/rich-text/src/RichTextEditor.mdx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

test: fix type combinations for rich text editor
  cypress/integration/RichTextEditor.spec.ts
Owners: @contentful/team-bauhaus

test: delay link modal until text is persisted
  cypress/integration/RichTextEditor.spec.ts
  package.json
  yarn.lock
Owners: @contentful/team-bauhaus

test: upgrade to Cypress v8 🔥 (#837)
  .circleci/config.yml
  cypress/integration/DateEditor.spec.ts
  cypress/integration/MarkdownEditorCheatsheet.spec.ts
  cypress/integration/MarkdownEditorInsertLink.spec.ts
  cypress/integration/MarkdownEditorInsertTable.spec.ts
  cypress/integration/MarkdownEditorSpecialCharacter.spec.ts
  cypress/integration/MarkdownEmbedExternal.spec.ts
  cypress/integration/MultipleMediaEditor.spec.ts
  cypress/integration/MultipleReferenceEditor.spec.ts
  cypress/integration/RichTextEditor.spec.ts
  cypress/support/commands.js
  cypress/support/index.d.ts
  package.json
  packages/rich-text/src/RichTextEditor.mdx
  packages/rich-text/src/plugins/EmbeddedEntityBlock/index.tsx
  yarn.lock
Owners: @contentful/team-bauhaus, @contentful/team-shelley

fix: link paste (#841)
  packages/rich-text/src/plugins/Hyperlink/index.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore: run on javascript files
  packages/rich-text/src/plugins/CommandPalette/CommandPanel/CommandPanelMenu.js
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore: typography codemod
  apps/entry-app-collapsible/src/FieldGroupsEditor.tsx
  packages/markdown/src/components/MarkdownBottomBar.tsx
  packages/markdown/src/dialogs/CheatsheetModalDialog.tsx
  packages/markdown/src/dialogs/ConfirmInsertAssetModalDialog.tsx
  packages/markdown/src/dialogs/SpecialCharacterModalDialog.tsx
  packages/reference/src/components/LinkActions/NoLinkPermissionsInfo.tsx
  packages/reference/src/components/MissingEntityCard/MissingEntityCard.tsx
  packages/reference/src/components/ScheduledIconWithTooltip/ScheduleTooltip.tsx
  packages/tags/src/TagsEditorConstraints.tsx
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

chore: prettier
  apps/entry-app-collapsible/src/FieldGroupsEditor.tsx
  packages/markdown/src/dialogs/SpecialCharacterModalDialog.tsx
  packages/reference/src/components/CreateEntryLinkButton/CreateEntryLinkButton.tsx
  packages/reference/src/components/MissingEntityCard/MissingEntityCard.tsx
  packages/reference/src/components/ScheduledIconWithTooltip/ScheduleTooltip.tsx
  packages/slug/src/SlugEditorField.tsx
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

chore: update
  packages/markdown/src/dialogs/SpecialCharacterModalDialog.tsx
Owners: @contentful/team-bauhaus

chore: change implementation in SpecialCharacterModalDialog
  packages/markdown/src/dialogs/SpecialCharacterModalDialog.tsx
Owners: @contentful/team-bauhaus

chore: bump plate and rich text types
  packages/rich-text/package.json
  yarn.lock
Owners: @contentful/team-shelley, @contentful/team-bauhaus

feat: typography v4 migration (#842)
  apps/entry-app-collapsible/src/FieldGroupsEditor.tsx
  packages/markdown/src/components/MarkdownBottomBar.tsx
  packages/markdown/src/dialogs/CheatsheetModalDialog.tsx
  packages/markdown/src/dialogs/ConfirmInsertAssetModalDialog.tsx
  packages/markdown/src/dialogs/SpecialCharacterModalDialog.tsx
  packages/reference/src/components/CreateEntryLinkButton/CreateEntryLinkButton.tsx
  packages/reference/src/components/LinkActions/NoLinkPermissionsInfo.tsx
  packages/reference/src/components/MissingEntityCard/MissingEntityCard.tsx
  packages/reference/src/components/ScheduledIconWithTooltip/ScheduleTooltip.tsx
  packages/rich-text/src/plugins/CommandPalette/CommandPanel/CommandPanelMenu.js
  packages/slug/src/SlugEditorField.tsx
  packages/tags/src/TagsEditorConstraints.tsx
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

chore: skip flaky test
  cypress/integration/LocationEditor.spec.ts
Owners: @contentful/team-bauhaus

chore: adopt skeleton in js files
  packages/rich-text/src/plugins/CommandPalette/CommandPanel/CommandPanelMenu.js
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore: upgrade all Plate & Slate dependencies
  packages/rich-text/package.json
  yarn.lock
Owners: @contentful/team-shelley, @contentful/team-bauhaus

feat: 🎸 adopt button v4
  apps/entry-app-collapsible/src/FieldGroupsEditor.tsx
  packages/json/src/JsonEditorToobar.tsx
  packages/markdown/src/components/InsertLinkSelector.tsx
  packages/markdown/src/dialogs/ConfirmInsertAssetModalDialog.tsx
  packages/markdown/src/dialogs/EmdebExternalContentDialog.tsx
  packages/markdown/src/dialogs/InsertLinkModalDialog.tsx
  packages/markdown/src/dialogs/InsertTableModalDialog.tsx
  packages/markdown/src/dialogs/SpecialCharacterModalDialog.tsx
  packages/reference/src/components/CreateEntryLinkButton/CreateEntryLinkButton.tsx
  packages/reference/src/components/LinkActions/CombinedLinkActions.tsx
  packages/reference/src/components/LinkActions/LinkActions.tsx
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

chore: export reference utils
  packages/reference/src/index.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore: bump patch reference package
  packages/reference/package.json
Owners: @contentful/team-shelley, @contentful/team-bauhaus

feat: export util to validate images
  packages/_shared/src/index.tsx
  packages/_shared/src/utils/isValidImage.ts
Owners: @contentful/team-bauhaus

test: fix google maps location test
  cypress/integration/LocationEditor.spec.ts
Owners: @contentful/team-bauhaus

feat: export shared util to validate images (#846)
  cypress/integration/LocationEditor.spec.ts
  packages/_shared/src/index.tsx
  packages/_shared/src/utils/isValidImage.ts
Owners: @contentful/team-bauhaus

refactor: use util from shared package to validate image type
  packages/reference/src/entries/WrappedEntryCard/WrappedEntryCard.tsx
  packages/reference/src/utils/isValidImage.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus
