Repository contentful/field-editors, changes with the owners that .github/CODEOWNERS names for each.
All owners: @contentful/team-bauhaus, @contentful/team-extensibility, @contentful/team-shelley

.github/CODEOWNERS:

*                      @contentful/team-bauhaus

apps/                  @contentful/team-extensibility
packages/rich-text/    @contentful/team-shelley @contentful/team-bauhaus
packages/reference/    @contentful/team-shelley @contentful/team-bauhaus

fix: restore href check for hyperlinks
  packages/rich-text/src/plugins/Hyperlink/index.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

test: safari entity hyperlink
  cypress/integration/rich-text/RichTextEditor.Pasting.spec.ts
  cypress/integration/rich-text/__snapshots__/RichTextEditor.Pasting.spec.ts.snap
  packages/rich-text/src/plugins/Hyperlink/index.tsx
Owners: @contentful/team-bauhaus, @contentful/team-shelley

fix: bump f36 packages (#1025)
  apps/entry-app-collapsible/package.json
  apps/markdown-app/package.json
  apps/multiple-references-app/package.json
  apps/rich-text-app/package.json
  apps/singleline-app/package.json
  packages/_shared/package.json
  packages/boolean/package.json
  packages/checkbox/package.json
  packages/date/package.json
  packages/default-field-editors/package.json
  packages/dropdown/package.json
  packages/json/package.json
  packages/list/package.json
  packages/location/package.json
  packages/markdown/package.json
  packages/multiple-line/package.json
  packages/number/package.json
  packages/radio/package.json
  packages/rating/package.json
  packages/reference/package.json
  packages/rich-text/package.json
  packages/single-line/package.json
  packages/slug/package.json
  packages/tags/package.json
  packages/url/package.json
  packages/validation-errors/package.json
  yarn.lock
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

test: mock maps api
  cypress/fixtures/map-search-address-reply.json
  cypress/integration/LocationEditor.spec.ts
  cypress/support/commands.js
  cypress/support/index.d.ts
Owners: @contentful/team-bauhaus

test: mock maps api
  cypress/fixtures/map-search-address-reply.json
  cypress/integration/LocationEditor.spec.ts
  cypress/support/commands.js
  cypress/support/index.d.ts
Owners: @contentful/team-bauhaus

fix: links within safari (#1026)
  cypress/fixtures/map-search-address-reply.json
  cypress/integration/LocationEditor.spec.ts
  cypress/integration/rich-text/RichTextEditor.Pasting.spec.ts
  cypress/integration/rich-text/__snapshots__/RichTextEditor.Pasting.spec.ts.snap
  cypress/support/commands.js
  cypress/support/index.d.ts
  packages/rich-text/src/plugins/Hyperlink/index.tsx
Owners: @contentful/team-bauhaus, @contentful/team-shelley

perf: desync rt doc value update
  packages/rich-text/src/RichTextEditor.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix(rte): triple selection selecting the next element instead (#1021)
  cypress/integration/LocationEditor.spec.ts
  packages/rich-text/src/helpers/editor.ts
  packages/rich-text/src/plugins/Quote/toggleQuote.ts
Owners: @contentful/team-bauhaus, @contentful/team-shelley

perf: filter selection event
  packages/rich-text/src/RichTextEditor.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

test(location): revert changes of lat and lon after mocking
  cypress/integration/LocationEditor.spec.ts
Owners: @contentful/team-bauhaus

test(location): revert changes of lat and lon after mocking (#1028)
  cypress/integration/LocationEditor.spec.ts
Owners: @contentful/team-bauhaus

perf: performance table and list normalization
  packages/rich-text/src/RichTextEditor.tsx
  packages/rich-text/src/helpers/transformers.ts
  packages/rich-text/src/plugins/Normalizer/withNormalizer.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

chore: bump rich-text-next version
  apps/entry-app-collapsible/package.json
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
  yarn.lock
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

chore: bump rich-text-next version (#1029)
  apps/entry-app-collapsible/package.json
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
  yarn.lock
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

fix: initial normalization
  cypress/integration/rich-text/RichTextEditor.spec.ts
  cypress/integration/rich-text/__snapshots__/RichTextEditor.spec.ts.snap
  packages/rich-text/src/RichTextEditor.tsx
  packages/rich-text/src/plugins/Normalizer/createNormalizerPlugin.ts
  packages/rich-text/src/plugins/Normalizer/withNormalizer.ts
  packages/rich-text/src/useNormalizedSlateValue.ts
Owners: @contentful/team-bauhaus, @contentful/team-shelley

test: update test to use explicit instead of snapshot
  cypress/integration/rich-text/RichTextEditor.spec.ts
  cypress/integration/rich-text/__snapshots__/RichTextEditor.spec.ts.snap
Owners: @contentful/team-bauhaus

fix: use withPlate to correctly register plugins
  packages/rich-text/src/plugins/Normalizer/createNormalizerPlugin.ts
  packages/rich-text/src/plugins/Normalizer/withNormalizer.ts
  packages/rich-text/src/useNormalizedSlateValue.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

perf: fix table normalizer
  packages/rich-text/src/helpers/extractNodes.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

perf: avoid recreating plugins twice
  packages/rich-text/src/RichTextEditor.tsx
  packages/rich-text/src/useNormalizedSlateEditor.ts
  packages/rich-text/src/useNormalizedSlateValue.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: workaround Plate bug
  packages/rich-text/src/RichTextEditor.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: workaround Plate bug
  packages/rich-text/src/RichTextEditor.tsx
  packages/rich-text/src/useNormalizedSlateEditor.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix: workaround a Plate bug
  packages/rich-text/src/RichTextEditor.tsx
  packages/rich-text/src/useNormalizedSlateValue.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

perf(rich-text): debounce value changes
  packages/rich-text/src/RichTextEditor.tsx
  packages/rich-text/src/useOnValueChanged.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

test: table cell normalization
  cypress/integration/rich-text/RichTextEditor.Pasting.spec.ts
  cypress/integration/rich-text/__snapshots__/RichTextEditor.Pasting.spec.ts.snap
Owners: @contentful/team-bauhaus

perf: fix table normalization (#1030)
  cypress/integration/rich-text/RichTextEditor.Pasting.spec.ts
  cypress/integration/rich-text/__snapshots__/RichTextEditor.Pasting.spec.ts.snap
  packages/rich-text/src/helpers/extractNodes.ts
Owners: @contentful/team-bauhaus, @contentful/team-shelley

fix: handle document with no content
  cypress/integration/rich-text/RichTextEditor.spec.ts
  cypress/integration/rich-text/document-mocks/invalidDocumentNormalizable.js
  packages/rich-text/src/useNormalizedSlateValue.ts
Owners: @contentful/team-bauhaus, @contentful/team-shelley

test: add another case
  cypress/integration/rich-text/RichTextEditor.spec.ts
  cypress/integration/rich-text/document-mocks/invalidDocumentNormalizable.js
Owners: @contentful/team-bauhaus

Update cypress/integration/rich-text/RichTextEditor.spec.ts
  cypress/integration/rich-text/RichTextEditor.spec.ts
Owners: @contentful/team-bauhaus

Update cypress/integration/rich-text/RichTextEditor.spec.ts
  cypress/integration/rich-text/RichTextEditor.spec.ts
Owners: @contentful/team-bauhaus

refactor: address comments
  cypress/integration/rich-text/RichTextEditor.spec.ts
  cypress/integration/rich-text/__snapshots__/RichTextEditor.spec.ts.snap
  packages/rich-text/src/useNormalizedSlateValue.ts
Owners: @contentful/team-bauhaus, @contentful/team-shelley

fix(rich-text): initial normalization should not trigger auto-save (#1024)
  cypress/integration/rich-text/RichTextEditor.spec.ts
  cypress/integration/rich-text/__snapshots__/RichTextEditor.spec.ts.snap
  cypress/integration/rich-text/document-mocks/invalidDocumentNormalizable.js
  packages/rich-text/src/RichTextEditor.tsx
  packages/rich-text/src/helpers/sanitizeSlateDoc.ts
  packages/rich-text/src/plugins/Normalizer/withNormalizer.ts
  packages/rich-text/src/useNormalizedSlateValue.ts
Owners: @contentful/team-bauhaus, @contentful/team-shelley

chore(release): publish rich-text@2.0.0-next.12
  apps/entry-app-collapsible/package.json
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

chore(release): publish rich-text@2.0.0-next.12 (#1032)
  apps/entry-app-collapsible/package.json
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Owners: @contentful/team-extensibility, @contentful/team-bauhaus, @contentful/team-shelley

fix(rich-text): toolbar ordering
  packages/rich-text/src/Toolbar/index.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix(rich-text): toolbar ordering (#1033)
  packages/rich-text/src/Toolbar/index.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

test: wait for debounce timeout
  cypress/integration/rich-text/RichTextEditor.spec.ts
  cypress/integration/rich-text/RichTextLists.spec.ts
  cypress/integration/rich-text/RichTextPage.ts
Owners: @contentful/team-bauhaus

fix: update toolbar status on change
  packages/rich-text/src/ContentfulEditorProvider.ts
  packages/rich-text/src/RichTextEditor.tsx
  packages/rich-text/src/plugins/Marks/Bold.tsx
  packages/rich-text/src/plugins/Marks/Code.tsx
  packages/rich-text/src/plugins/Marks/Italic.tsx
  packages/rich-text/src/plugins/Marks/Underline.tsx
  packages/rich-text/src/plugins/Marks/components/MarkToolbarButton.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus

fix(rich-text): editor can be undefined on first render
  packages/rich-text/src/helpers/editor.ts
Owners: @contentful/team-shelley, @contentful/team-bauhaus

test: refactor undo/redo test
  cypress/integration/rich-text/RichTextEditor.spec.ts
  cypress/integration/rich-text/RichTextPage.ts
Owners: @contentful/team-bauhaus

test: fix toolbar test
  packages/rich-text/src/Toolbar/_tests_/toolbar.test.tsx
Owners: @contentful/team-shelley, @contentful/team-bauhaus
