Repository contentful/field-editors, pull requests merged in 2020-12, with the labels that each got.

#520 fix: allow user to remove corrupt values in array reference fields
  packages/reference/src/common/MultipleReferenceEditor.tsx
Labels: package:reference

#529 feat: minHeight props
  packages/markdown/src/MarkdownEditor.tsx
  packages/markdown/src/components/MarkdownPreview/MarkdownPreview.tsx
  packages/markdown/src/components/MarkdownTextarea/CodeMirrorWrapper.ts
  packages/markdown/src/components/MarkdownTextarea/MarkdownTextarea.tsx
  packages/rich-text/src/RichTextEditor.jsx
Labels: package:markdown, package:rich-text

#530 feat: use access api to hide inaccessible content
  packages/reference/package.json
  packages/reference/src/__fixtures__/FakeSdk.ts
  packages/reference/src/assets/WrappedAssetCard/FetchingWrappedAssetCard.tsx
  packages/reference/src/common/MultipleReferenceEditor.tsx
  packages/reference/src/common/SingleReferenceEditor.tsx
  packages/reference/src/common/useAccessApi.ts
  packages/reference/src/common/useContentTypePermissions.ts
  packages/reference/src/common/useEditorPermissions.spec.ts
  packages/reference/src/common/useEditorPermissions.ts
  packages/reference/src/common/useEntityPermissions.ts
  packages/reference/src/components/LinkActions/LinkEntityActions.tsx
  packages/reference/src/components/LinkActions/helpers.ts
  packages/reference/src/utils/fromFieldValidations.ts
  yarn.lock
Labels: package:reference

#531 chore: bump tools for linting
  .circleci/config.yml
  .nvmrc
  extensions/entry-extension-collapsible/package.json
  extensions/markdown-extension/package.json
  extensions/rich-text-extension/package.json
  extensions/singleline-extension/package.json
  package.json
  packages/.eslintrc.js
  packages/_shared/src/FieldConnector.ts
  packages/_test/src/createFakeLocalesAPI.ts
  packages/_test/src/createFakeSpaceAPI.ts
  packages/location/src/LocationEditor.tsx
  packages/markdown/src/components/MarkdownToolbar.tsx
  packages/markdown/src/components/icons.tsx
  packages/reference/src/assets/WrappedAssetCard/AssetCardActions.tsx
  packages/reference/src/assets/WrappedAssetCard/WrappedAssetCard.tsx
  packages/reference/src/assets/WrappedAssetCard/WrappedAssetLink.tsx
  packages/reference/src/common/EntityStore.ts
  packages/reference/src/components/CreateEntryLinkButton/CreateEntryLinkButton.spec.tsx
  packages/reference/src/components/CreateEntryLinkButton/CreateEntryMenuTrigger.tsx
  packages/reference/src/components/ScheduledIconWithTooltip/ScheduleTooltip.tsx
  packages/reference/src/entries/WrappedEntryCard/WrappedEntryCard.tsx
  packages/rich-text/src/plugins/CommandPalette/CommandPanel/CommandPanelMenu.js
  yarn.lock
Labels: extension:entry-extension-collapsible, extension:markdown-extension, extension:rich-text-extension, extension:singleline-extension, package:_shared, package:_test, package:location, package:markdown, package:reference, package:rich-text, tools

#538 fix: use correct prop types
  packages/rich-text/src/RichTextEditor.jsx
Labels: package:rich-text
