Repository contentful/field-editors, pull requests merged in 2020-11, with the labels that each got.

#471 fix: 🐛 use onAction for all remove actions (including missing)
  packages/reference/src/assets/WrappedAssetCard/FetchingWrappedAssetCard.tsx
  packages/reference/src/entries/WrappedEntryCard/FetchingWrappedEntryCard.tsx
Labels: package:reference

#467 chore(deps): upgrade Forma 36 to 3.64.1
  .circleci/config.yml
  .nvmrc
  extensions/entry-extension-collapsible/package.json
  extensions/markdown-extension/package.json
  extensions/multiple-references-extension/package.json
  extensions/rich-text-extension/package.json
  extensions/singleline-extension/package.json
  package.json
  packages/boolean/package.json
  packages/checkbox/package.json
  packages/date/package.json
  packages/default-field-editors/package.json
  packages/dropdown/package.json
  packages/json/package.json
  packages/list/package.json
  packages/location/package.json
  packages/markdown/package.json
  packages/multiple-line/package.json
  packages/number/package.json
  packages/radio/package.json
  packages/rating/package.json
  packages/reference/package.json
  packages/rich-text/package.json
  packages/rich-text/src/Toolbar/Toolbar.spec.js
  packages/rich-text/src/plugins/CommandPalette/CommandPanel/index.js
  packages/rich-text/src/plugins/EntryEmbedDropdown/index.js
  packages/rich-text/src/plugins/Heading/HeadingDropdown.js
  packages/rich-text/src/plugins/shared/ToolbarDropdownListItem.js
  packages/rich-text/src/plugins/shared/ToolbarIcon.js
  packages/single-line/package.json
  packages/slug/package.json
  packages/tags/package.json
  packages/url/package.json
  packages/validation-errors/package.json
  yarn.lock
Labels: extension:entry-extension-collapsible, extension:markdown-extension, extension:multiple-references-extension, extension:rich-text-extension, extension:singleline-extension, package:boolean, package:checkbox, package:date, package:default-field-editors, package:dropdown, package:json, package:list, package:location, package:markdown, package:multiple-line, package:number, package:radio, package:rating, package:reference, package:rich-text, package:single-line, package:slug, package:tags, package:url, package:validation-errors, tools

#474 chore(deps): update Forma 36 dependencies
  extensions/entry-extension-collapsible/package.json
  extensions/markdown-extension/package.json
  extensions/multiple-references-extension/package.json
  extensions/rich-text-extension/package.json
  extensions/singleline-extension/package.json
  package.json
  packages/_shared/package.json
  packages/_test/package.json
  packages/boolean/package.json
  packages/checkbox/package.json
  packages/date/package.json
  packages/default-field-editors/package.json
  packages/default-field-editors/src/FieldWrapper.styles.ts
  packages/dropdown/package.json
  packages/json/package.json
  packages/list/package.json
  packages/location/package.json
  packages/markdown/package.json
  packages/multiple-line/package.json
  packages/number/package.json
  packages/radio/package.json
  packages/rating/package.json
  packages/reference/package.json
  packages/rich-text/package.json
  packages/single-line/package.json
  packages/slug/package.json
  packages/tags/package.json
  packages/url/package.json
  packages/validation-errors/package.json
  yarn.lock
Labels: extension:entry-extension-collapsible, extension:markdown-extension, extension:multiple-references-extension, extension:rich-text-extension, extension:singleline-extension, package:_shared, package:_test, package:boolean, package:checkbox, package:date, package:default-field-editors, package:dropdown, package:json, package:list, package:location, package:markdown, package:multiple-line, package:number, package:radio, package:rating, package:reference, package:rich-text, package:single-line, package:slug, package:tags, package:url, package:validation-errors

#479 chore: 🤖 enable autoalignment for default create reference button
  packages/reference/src/components/CreateEntryLinkButton/CreateEntryMenuTrigger.tsx
Labels: package:reference

#468 feat: "move to top", "move to bottom" reference actions
  packages/reference/src/common/MultipleReferenceEditor.tsx
  packages/reference/src/common/ReferenceEditor.tsx
  packages/reference/src/entries/SortableElements.tsx
  packages/reference/src/entries/WrappedEntryCard/FetchingWrappedEntryCard.tsx
  packages/reference/src/entries/WrappedEntryCard/WrappedEntryCard.tsx
Labels: package:reference

#481 chore: fix types imports to unblock docz production build
  packages/reference/src/components/index.ts
  packages/reference/src/entries/WrappedEntryCard/FetchingWrappedEntryCard.tsx
  packages/reference/src/index.tsx
Labels: package:reference

#482 feat(link-actions): add reference index to action props
  packages/reference/src/components/LinkActions/LinkEntityActions.tsx
  packages/reference/src/types.ts
Labels: package:reference

#483 fix(field-editors-reference): prefer default card render props to shared
  packages/reference/src/entries/WrappedEntryCard/FetchingWrappedEntryCard.tsx
Labels: package:reference

#469 feat: support custom card rendered in media ref editors
  cypress/integration/MultipleMediaEditor.spec.ts
  packages/reference/src/assets/MultipleMediaEditor.mdx
  packages/reference/src/assets/MultipleMediaEditor.tsx
  packages/reference/src/assets/SingleMediaEditor.mdx
  packages/reference/src/assets/SingleMediaEditor.tsx
  packages/reference/src/assets/WrappedAssetCard/FetchingWrappedAssetCard.tsx
  packages/reference/src/common/MultipleReferenceEditor.tsx
  packages/reference/src/common/ReferenceEditor.tsx
  packages/reference/src/common/SingleReferenceEditor.tsx
  packages/reference/src/common/customCardTypes.ts
  packages/reference/src/entries/MultipleEntryReferenceEditor.mdx
  packages/reference/src/entries/SingleEntryReferenceEditor.mdx
  packages/reference/src/entries/WrappedEntryCard/FetchingWrappedEntryCard.tsx
  packages/reference/src/index.tsx
Labels: package:reference, tests

#489 feat: export default card renderer type
  packages/reference/src/index.tsx
Labels: package:reference

#490 fix: 🐛 add missing DropdownList component
  packages/reference/src/components/LinkActions/CombinedLinkActions.tsx
  packages/reference/src/components/LinkActions/LinkActions.tsx
Labels: package:reference
