Repository contentful/field-editors, pull requests merged in 2020-10, with the labels that each got.

#464 ci: 🎡 setup auto-assignment and tweak other integrations
  .github/auto_assign-issues.yml
  .github/auto_assign.yml
  .github/labeler.yml
  .github/semantic.yml
  .github/workflows/labeler.yml
Labels: tools

#463 fix: do not call set state on unmounted rich-text
  packages/rich-text/src/Toolbar/index.js
Labels: package:rich-text

#466 chore: bump forma-36-react-components to 3.63.6
  extensions/entry-extension-collapsible/package.json
  extensions/markdown-extension/package.json
  extensions/multiple-references-extension/package.json
  extensions/rich-text-extension/package.json
  extensions/singleline-extension/package.json
  package.json
  packages/boolean/package.json
  packages/checkbox/package.json
  packages/date/package.json
  packages/default-field-editors/package.json
  packages/dropdown/package.json
  packages/json/package.json
  packages/list/package.json
  packages/location/package.json
  packages/markdown/package.json
  packages/multiple-line/package.json
  packages/number/package.json
  packages/radio/package.json
  packages/rating/package.json
  packages/reference/package.json
  packages/reference/src/components/CreateEntryLinkButton/CreateEntryMenuTrigger.tsx
  packages/rich-text/package.json
  packages/single-line/package.json
  packages/slug/package.json
  packages/tags/package.json
  packages/url/package.json
  packages/validation-errors/package.json
  yarn.lock
Labels: extension:entry-extension-collapsible, extension:markdown-extension, extension:multiple-references-extension, extension:rich-text-extension, extension:singleline-extension, package:boolean, package:checkbox, package:date, package:default-field-editors, package:dropdown, package:json, package:list, package:location, package:markdown, package:multiple-line, package:number, package:radio, package:rating, package:reference, package:rich-text, package:single-line, package:slug, package:tags, package:url, package:validation-errors
