Repository contentful/field-editors, pull requests merged in 2021-02, with the labels that each got.

#576 feat: swap ui-extension-sdk to app-sdk
  README.md
  extensions/entry-extension-collapsible/package.json
  extensions/entry-extension-collapsible/src/CollapsibleFieldGroup.tsx
  extensions/entry-extension-collapsible/src/Field.tsx
  extensions/entry-extension-collapsible/src/index.tsx
  extensions/entry-extension-collapsible/src/shared.tsx
  extensions/markdown-extension/package.json
  extensions/markdown-extension/src/index.tsx
  extensions/multiple-references-extension/package.json
  extensions/multiple-references-extension/src/index.tsx
  extensions/rich-text-extension/package.json
  extensions/rich-text-extension/src/index.tsx
  extensions/singleline-extension/package.json
  extensions/singleline-extension/src/index.tsx
  packages/_shared/package.json
  packages/_shared/src/FieldConnector.ts
  packages/_shared/src/ModalDialogLauncher.tsx
  packages/_shared/src/index.tsx
  packages/_shared/src/typesEntity.ts
  packages/_test/package.json
  packages/_test/src/createFakeFieldAPI.ts
  packages/_test/src/createFakeLocalesAPI.ts
  packages/_test/src/createFakeSpaceAPI.ts
  packages/markdown/src/MarkdownActions.ts
  packages/markdown/src/MarkdownEditor.tsx
  packages/markdown/src/components/MarkdownConstraints.tsx
  packages/markdown/src/dialogs/CheatsheetModalDialog.tsx
  packages/markdown/src/dialogs/ConfirmInsertAssetModalDialog.tsx
  packages/markdown/src/dialogs/EmdebExternalContentDialog.tsx
  packages/markdown/src/dialogs/InsertLinkModalDialog.tsx
  packages/markdown/src/dialogs/InsertTableModalDialog.tsx
  packages/markdown/src/dialogs/SpecialCharacterModalDialog.tsx
  packages/markdown/src/dialogs/ZenModeModalDialog.tsx
  packages/markdown/src/dialogs/openMarkdownDialog.tsx
  packages/markdown/src/dialogs/renderMarkdownDialog.tsx
  packages/reference/package.json
  packages/reference/src/__fixtures__/FakeSdk.ts
  packages/reference/src/assets/WrappedAssetCard/WrappedAssetCard.tsx
  packages/reference/src/common/useAccessApi.ts
  packages/reference/src/common/useEditorPermissions.spec.ts
  packages/reference/src/components/ScheduledIconWithTooltip/ScheduleTooltip.tsx
  packages/reference/src/components/ScheduledIconWithTooltip/ScheduledIconWithTooltip.tsx
  packages/reference/src/entries/WrappedEntryCard/WrappedEntryCard.tsx
  packages/reference/src/types.ts
  packages/reference/src/utils/fromFieldValidations.ts
  packages/slug/src/SlugEditor.tsx
  packages/slug/src/TrackingFieldConnector.tsx
  yarn.lock
Labels: extension:entry-extension-collapsible, extension:markdown-extension, extension:multiple-references-extension, extension:rich-text-extension, extension:singleline-extension, package:_shared, package:_test, package:markdown, package:reference, package:slug

#580 feat(reference): adjust permissions
  packages/reference/src/common/useEditorPermissions.spec.ts
  packages/reference/src/common/useEditorPermissions.ts
Labels: package:reference

#582 feat: 🎸 fallback to a default inferred widget id
  packages/default-field-editors/src/Field.tsx
  packages/default-field-editors/src/getDefaultWidgetId.ts
  packages/default-field-editors/src/index.tsx
Labels: package:default-field-editors

#583 fix: 🐛 proper resolving default fallback for references
  packages/default-field-editors/src/getDefaultWidgetId.ts
Labels: package:default-field-editors

#601 fix: 🐛 handle lack of proper acccess checks in the webapp
  packages/reference/src/common/useAccessApi.ts
  packages/reference/src/common/useContentTypePermissions.ts
  packages/reference/src/common/useEditorPermissions.spec.ts
  packages/reference/src/common/useEditorPermissions.ts
Labels: package:reference

#603 fix: 🐛 revert package bump due to failed publish
  packages/default-field-editors/package.json
Labels: package:default-field-editors

#606 feat: bump min version of forma-36
  extensions/entry-extension-collapsible/package.json
  extensions/markdown-extension/package.json
  extensions/multiple-references-extension/package.json
  extensions/rich-text-extension/package.json
  extensions/singleline-extension/package.json
  package.json
  packages/_shared/package.json
  packages/_test/package.json
  packages/boolean/package.json
  packages/checkbox/package.json
  packages/date/package.json
  packages/default-field-editors/package.json
  packages/dropdown/package.json
  packages/json/package.json
  packages/list/package.json
  packages/location/package.json
  packages/markdown/package.json
  packages/multiple-line/package.json
  packages/number/package.json
  packages/radio/package.json
  packages/rating/package.json
  packages/reference/package.json
  packages/rich-text/package.json
  packages/single-line/package.json
  packages/slug/package.json
  packages/tags/package.json
  packages/url/package.json
  packages/validation-errors/package.json
  yarn.lock
Labels: extension:entry-extension-collapsible, extension:markdown-extension, extension:multiple-references-extension, extension:rich-text-extension, extension:singleline-extension, package:_shared, package:_test, package:boolean, package:checkbox, package:date, package:default-field-editors, package:dropdown, package:json, package:list, package:location, package:markdown, package:multiple-line, package:number, package:radio, package:rating, package:reference, package:rich-text, package:single-line, package:slug, package:tags, package:url, package:validation-errors

#612 feat: default-field-editors doc improvements
  packages/default-field-editors/README.md
  packages/default-field-editors/src/DefaultFieldEditors.mdx
  packages/default-field-editors/src/FieldWrapper.tsx
  packages/reference/src/entries/MultipleEntryReferenceEditor.mdx
Labels: package:default-field-editors, package:reference
