Repository contentful/field-editors, pull requests merged in 2021-03, with the labels that each got.

#613 feat: reference editor onCreated onLinkedExisting callbacks
  packages/reference/src/__fixtures__/FakeSdk.ts
  packages/reference/src/components/LinkActions/LinkActions.tsx
  packages/reference/src/components/LinkActions/LinkEntityActions.tsx
  packages/reference/src/entries/MultipleEntryReferenceEditor.mdx
Labels: package:reference

#621 fix: 🐛 allow functional react in preview components
  packages/markdown/src/types.ts
Labels: package:markdown

#623 feat: allow rendering of custom missing entity card
  packages/reference/src/assets/WrappedAssetCard/FetchingWrappedAssetCard.tsx
  packages/reference/src/common/ReferenceEditor.tsx
  packages/reference/src/common/customCardTypes.ts
  packages/reference/src/entries/WrappedEntryCard/FetchingWrappedEntryCard.tsx
  packages/reference/src/index.tsx
Labels: package:reference

#624 fix(_test,default-field-editors): correct esm entry file
  packages/_test/package.json
  packages/default-field-editors/package.json
Labels: package:_test, package:default-field-editors

#622 chore(extensions): fix build errors [EXT-2496]
  .circleci/config.yml
  extensions/entry-extension-collapsible/.babelrc
  extensions/entry-extension-collapsible/package.json
  extensions/markdown-extension/.babelrc
  extensions/markdown-extension/package.json
  extensions/multiple-references-extension/.babelrc
  extensions/multiple-references-extension/package.json
  extensions/rich-text-extension/.babelrc
  extensions/rich-text-extension/package.json
  extensions/singleline-extension/.babelrc
  extensions/singleline-extension/package.json
  package.json
  packages/rich-text/.babelrc
  packages/rich-text/jest.config.js
  yarn.lock
Labels: extension:entry-extension-collapsible, extension:markdown-extension, extension:multiple-references-extension, extension:rich-text-extension, extension:singleline-extension, package:rich-text, tools

#629 feat(reference): performance optimizations
  packages/reference/src/assets/WrappedAssetCard/FetchingWrappedAssetCard.tsx
  packages/reference/src/common/EntityStore.ts
  packages/reference/src/common/MultipleReferenceEditor.tsx
  packages/reference/src/entries/WrappedEntryCard/FetchingWrappedEntryCard.tsx
Labels: package:reference

#630 fix: 🐛 fetching in rich text and optimize scheduled actions
  packages/reference/src/assets/WrappedAssetCard/FetchingWrappedAssetCard.tsx
  packages/reference/src/common/EntityStore.ts
  packages/reference/src/entries/WrappedEntryCard/FetchingWrappedEntryCard.tsx
  packages/reference/src/types.ts
  packages/rich-text/src/plugins/EmbeddedEntityBlock/FetchingWrappedAssetCard.js
  packages/rich-text/src/plugins/EmbeddedEntityBlock/FetchingWrappedEntryCard.js
  packages/rich-text/src/plugins/EmbeddedEntryInline/FetchingWrappedInlineEntryCard.js
Labels: package:reference, package:rich-text
