Repository contentful/field-editors, pull requests merged in 2021-07, with the labels that each got.

#765 feat: add symbol styles
  packages/rich-text/src/plugins/List/index.tsx
Labels: package:rich-text

#766 chore: added CODEOWNERS file
  .github/CODEOWNERS
  .github/auto_assign.yml
Labels: tools

#767 feat: add hyperlink (only adding regular hyperlinks)
  packages/rich-text/src/Toolbar/index.tsx
  packages/rich-text/src/helpers/editor.ts
  packages/rich-text/src/plugins/Hyperlink/HyperlinkModal.tsx
  packages/rich-text/src/plugins/Hyperlink/index.tsx
Labels: package:rich-text

#771 chore: bump app-sdk to v3.36, add missing dependency
  apps/entry-app-collapsible/package.json
  apps/markdown-app/package.json
  apps/multiple-references-app/package.json
  apps/rich-text-app/package.json
  apps/singleline-app/package.json
  packages/markdown/package.json
  packages/slug/package.json
  yarn.lock
Labels: app:entry-app-collapsible, app:markdown-app, app:multiple-references-app, app:rich-text-app, app:singleline-app, package:markdown, package:slug

#770 chore: fix reference editor showCreateEntityAction/showLink params
  packages/reference/src/assets/MultipleMediaEditor.mdx
  packages/reference/src/assets/SingleMediaEditor.mdx
  packages/reference/src/entries/MultipleEntryReferenceEditor.mdx
  packages/reference/src/entries/SingleEntryReferenceEditor.mdx
Labels: package:reference

#772 fix: orphaned text nodes
  packages/rich-text/src/RichTextEditor.tsx
  packages/rich-text/src/helpers/sanitizeSlateDoc.ts
  packages/rich-text/src/types.ts
Labels: package:rich-text

#773 feat: disable table block insertion
  cypress/integration/RichTextEditor.spec.ts
  packages/rich-text/src/Toolbar/index.tsx
  packages/rich-text/src/helpers/editor.ts
  packages/rich-text/src/plugins/Quote/index.tsx
Labels: package:rich-text, tests

#768 feat: add support for entry and asset hyperlinks
  packages/rich-text/src/helpers/editor.ts
  packages/rich-text/src/plugins/Heading/index.tsx
  packages/rich-text/src/plugins/Hr/index.tsx
  packages/rich-text/src/plugins/Hyperlink/FetchingWrappedAssetCard.tsx
  packages/rich-text/src/plugins/Hyperlink/FetchingWrappedEntryCard.tsx
  packages/rich-text/src/plugins/Hyperlink/HyperlinkModal.tsx
  packages/rich-text/src/plugins/Hyperlink/index.tsx
  packages/rich-text/src/plugins/List/index.tsx
Labels: package:rich-text

#775 feat: fix non-unique checkbox labels for multiple editors
  packages/checkbox/src/CheckboxEditor.spec.tsx
  packages/checkbox/src/CheckboxEditor.tsx
Labels: package:checkbox

#774 feat: edit hyperlinks
  cypress/integration/RichTextEditor.spec.ts
  packages/rich-text/src/RichTextEditor.mdx
  packages/rich-text/src/RichTextEditor.tsx
  packages/rich-text/src/helpers/editor.ts
  packages/rich-text/src/helpers/sanitizeSlateDoc.ts
  packages/rich-text/src/plugins/Hyperlink/HyperlinkModal.tsx
  packages/rich-text/src/plugins/Hyperlink/index.tsx
  packages/rich-text/src/types.ts
Labels: package:rich-text, tests

#781 fix: adjust rich-text version manually
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
  yarn.lock
Labels: app:rich-text-app, package:default-field-editors, package:rich-text

#777 feat: support Table Actions (add/delete rows/columns/tables)
  .circleci/config.yml
  cypress.json
  cypress/integration/DateEditor.spec.ts
  cypress/integration/RichTextEditor.spec.ts
  package.json
  packages/rich-text/src/Toolbar/index.tsx
  packages/rich-text/src/plugins/Table/TableActions.tsx
  packages/rich-text/src/plugins/Table/actions/addColumn.ts
  packages/rich-text/src/plugins/Table/actions/addRow.ts
  packages/rich-text/src/plugins/Table/actions/index.ts
  packages/rich-text/src/plugins/Table/helpers.ts
  packages/rich-text/src/plugins/Table/index.tsx
  yarn.lock
Labels: package:rich-text, tests, tools

#780 feat: add serializer plugin for marks
  packages/rich-text/package.json
  packages/rich-text/src/RichTextEditor.tsx
  packages/rich-text/src/helpers/deserializer.ts
  packages/rich-text/src/plugins/Bold/index.tsx
  packages/rich-text/src/plugins/Code/index.tsx
  packages/rich-text/src/plugins/Italic/index.tsx
  packages/rich-text/src/plugins/Underline/index.tsx
  yarn.lock
Labels: package:rich-text

#779 feat: add embedded entity block
  cypress/integration/RichTextEditor.spec.ts
  packages/rich-text/src/RichTextEditor.tsx
  packages/rich-text/src/Toolbar/index.tsx
  packages/rich-text/src/helpers/getLinkedContentTypeIdsForNodeType.ts
  packages/rich-text/src/helpers/newEntitySelectorConfigFromRichTextField.ts
  packages/rich-text/src/plugins/EmbeddedEntity/index.tsx
  packages/rich-text/src/plugins/EmbeddedEntityBlock/LinkedEntityBlock.tsx
  packages/rich-text/src/plugins/EmbeddedEntityBlock/ToolbarIcon.tsx
  packages/rich-text/src/plugins/EmbeddedEntityBlock/Util.ts
  packages/rich-text/src/plugins/EmbeddedEntityBlock/index.tsx
  packages/rich-text/src/plugins/Hyperlink/HyperlinkModal.tsx
  packages/rich-text/src/plugins/shared/FetchingWrappedAssetCard.tsx
  packages/rich-text/src/plugins/shared/FetchingWrappedEntryCard.tsx
Labels: package:rich-text, tests

#782 chore: auto publish alpha Rich Text package
  .circleci/config.yml
  lerna.json
  packages/rich-text/package.json
Labels: package:rich-text, tools

#783 chore: revert "auto publish alpha Rich Text package"
  .circleci/config.yml
  lerna.json
  packages/rich-text/package.json
Labels: package:rich-text, tools

#784 feat: add hasMoveOptions property
  packages/reference/src/entries/WrappedEntryCard/WrappedEntryCard.tsx
Labels: package:reference

#785 fix: render dropdown list or fragment
  packages/reference/src/entries/WrappedEntryCard/WrappedEntryCard.tsx
Labels: package:reference

#786 feat: add embedded entity inline
  cypress/integration/RichTextEditor.spec.ts
  packages/rich-text/package.json
  packages/rich-text/src/RichTextEditor.tsx
  packages/rich-text/src/Toolbar/index.tsx
  packages/rich-text/src/plugins/EmbeddedEntityBlock/LinkedEntityBlock.tsx
  packages/rich-text/src/plugins/EmbeddedEntityBlock/index.tsx
  packages/rich-text/src/plugins/EmbeddedEntityInline/FetchingWrappedInlineEntryCard.tsx
  packages/rich-text/src/plugins/EmbeddedEntityInline/index.tsx
  packages/rich-text/src/plugins/shared/FetchingWrappedEntryCard.tsx
  yarn.lock
Labels: package:rich-text, tests

#787 test: 💍 Enable back the "CreateEntryLinkButton" test
  apps/entry-app-collapsible/package.json
  apps/markdown-app/package.json
  apps/multiple-references-app/package.json
  apps/rich-text-app/package.json
  apps/singleline-app/package.json
  package.json
  packages/boolean/package.json
  packages/checkbox/package.json
  packages/date/package.json
  packages/default-field-editors/package.json
  packages/dropdown/package.json
  packages/json/package.json
  packages/list/package.json
  packages/location/package.json
  packages/markdown/package.json
  packages/multiple-line/package.json
  packages/number/package.json
  packages/radio/package.json
  packages/rating/package.json
  packages/reference/package.json
  packages/reference/src/components/CreateEntryLinkButton/CreateEntryLinkButton.spec.tsx
  packages/rich-text/package.json
  packages/single-line/package.json
  packages/slug/package.json
  packages/tags/package.json
  packages/url/package.json
  packages/validation-errors/package.json
  yarn.lock
Labels: app:entry-app-collapsible, app:markdown-app, app:multiple-references-app, app:rich-text-app, app:singleline-app, package:boolean, package:checkbox, package:date, package:default-field-editors, package:dropdown, package:json, package:list, package:location, package:markdown, package:multiple-line, package:number, package:radio, package:rating, package:reference, package:rich-text, package:single-line, package:slug, package:tags, package:url, package:validation-errors

#790 fix: revert prevent default
  packages/reference/src/entries/WrappedEntryCard/WrappedEntryCard.tsx
Labels: package:reference

#791 chore: bump field editor referece version
  packages/rich-text/package.json
  yarn.lock
Labels: package:rich-text
