Repository contentful/field-editors, pull requests merged in 2021-09, with the labels that each got.

#822 refactor: upgrade to Plate
  packages/rich-text/package.json
  packages/rich-text/src/RichTextEditor.tsx
  packages/rich-text/src/Toolbar/index.tsx
  packages/rich-text/src/helpers/deserializer.ts
  packages/rich-text/src/helpers/editor.ts
  packages/rich-text/src/plugins/Bold/index.tsx
  packages/rich-text/src/plugins/Code/index.tsx
  packages/rich-text/src/plugins/EmbeddedEntityBlock/LinkedEntityBlock.tsx
  packages/rich-text/src/plugins/EmbeddedEntityBlock/ToolbarIcon.tsx
  packages/rich-text/src/plugins/EmbeddedEntityBlock/Util.ts
  packages/rich-text/src/plugins/EmbeddedEntityBlock/index.tsx
  packages/rich-text/src/plugins/EmbeddedEntityInline/index.tsx
  packages/rich-text/src/plugins/Heading/index.tsx
  packages/rich-text/src/plugins/Hr/index.tsx
  packages/rich-text/src/plugins/Hyperlink/HyperlinkModal.tsx
  packages/rich-text/src/plugins/Hyperlink/index.tsx
  packages/rich-text/src/plugins/Italic/index.tsx
  packages/rich-text/src/plugins/List/index.tsx
  packages/rich-text/src/plugins/NewLine/index.tsx
  packages/rich-text/src/plugins/Paragraph/index.tsx
  packages/rich-text/src/plugins/Quote/index.tsx
  packages/rich-text/src/plugins/Table/TableActions.tsx
  packages/rich-text/src/plugins/Table/actions/addColumn.ts
  packages/rich-text/src/plugins/Table/actions/addRow.ts
  packages/rich-text/src/plugins/Table/helpers.ts
  packages/rich-text/src/plugins/Table/index.tsx
  packages/rich-text/src/plugins/Underline/index.tsx
  packages/rich-text/src/types.ts
  yarn.lock
Labels: package:rich-text

#828 feat: add contentful editor provider and remove editor key
  packages/rich-text/src/ContentfulEditorProvider.ts
  packages/rich-text/src/RichTextEditor.tsx
  packages/rich-text/src/SdkProvider.tsx
  packages/rich-text/src/Toolbar/index.tsx
  packages/rich-text/src/plugins/Bold/index.tsx
  packages/rich-text/src/plugins/Code/index.tsx
  packages/rich-text/src/plugins/EmbeddedEntityBlock/LinkedEntityBlock.tsx
  packages/rich-text/src/plugins/EmbeddedEntityBlock/ToolbarIcon.tsx
  packages/rich-text/src/plugins/EmbeddedEntityBlock/index.tsx
  packages/rich-text/src/plugins/EmbeddedEntityInline/index.tsx
  packages/rich-text/src/plugins/Heading/index.tsx
  packages/rich-text/src/plugins/Hr/index.tsx
  packages/rich-text/src/plugins/Hyperlink/index.tsx
  packages/rich-text/src/plugins/Italic/index.tsx
  packages/rich-text/src/plugins/List/index.tsx
  packages/rich-text/src/plugins/Quote/index.tsx
  packages/rich-text/src/plugins/Table/TableActions.tsx
  packages/rich-text/src/plugins/Table/index.tsx
  packages/rich-text/src/plugins/Underline/index.tsx
  packages/rich-text/src/plugins/shared/FetchingWrappedAssetCard.tsx
  packages/rich-text/src/plugins/shared/FetchingWrappedEntryCard.tsx
Labels: package:rich-text

#829 chore: bump rich text field package
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Labels: package:rich-text, package:default-field-editors, app:rich-text-app

#830 chore: add prepublishOnly hook and bump a patch to next
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Labels: package:rich-text, package:default-field-editors, app:rich-text-app

#832 chore: bump rich text
  packages/rich-text/package.json
  yarn.lock
Labels: package:rich-text

#834 fix(rich-text): keep lists when toggling blockquotes
  packages/rich-text/src/helpers/editor.ts
Labels: package:rich-text

#833 fix(rich-text): force trailing paragraph
  cypress/integration/RichTextEditor.spec.ts
  packages/rich-text/package.json
  packages/rich-text/src/RichTextEditor.tsx
  packages/rich-text/src/plugins/EmbeddedEntityBlock/Util.ts
  packages/rich-text/src/plugins/Hr/index.tsx
  packages/rich-text/src/plugins/Quote/index.tsx
  packages/rich-text/src/plugins/Table/helpers.ts
  packages/rich-text/src/plugins/Table/index.tsx
  packages/rich-text/src/plugins/TrailingParagraph/index.ts
  yarn.lock
Labels: package:rich-text, tests

#835 feat: Integrate Modal v4
  apps/entry-app-collapsible/package.json
  apps/entry-app-collapsible/src/FieldGroupsEditor.tsx
  apps/entry-app-collapsible/src/index.tsx
  package.json
  packages/_shared/src/ModalDialogLauncher.tsx
  packages/markdown/src/components/MarkdownToolbar.tsx
  packages/markdown/src/dialogs/CheatsheetModalDialog.tsx
  packages/markdown/src/dialogs/ConfirmInsertAssetModalDialog.tsx
  packages/markdown/src/dialogs/EmdebExternalContentDialog.tsx
  packages/markdown/src/dialogs/InsertLinkModalDialog.tsx
  packages/markdown/src/dialogs/InsertTableModalDialog.tsx
  packages/markdown/src/dialogs/SpecialCharacterModalDialog.tsx
  packages/markdown/src/utils/userAgent.ts
  packages/reference/src/components/CreateEntryLinkButton/CreateEntryLinkButton.spec.tsx
  packages/rich-text/src/RichTextEditor.jsx
  packages/rich-text/src/dialogs/HypelinkDialog/HyperlinkDialog.jsx
  yarn.lock
Labels: package:rich-text, package:markdown, package:reference, package:_shared, app:entry-app-collapsible

#831 chore: create insert before first void block global plugin
  cypress/integration/RichTextEditor.spec.ts
  packages/rich-text/src/RichTextEditor.tsx
  packages/rich-text/src/helpers/editor.ts
  packages/rich-text/src/plugins/InsertBeforeFirstVoidBlock/index.tsx
Labels: package:rich-text, tests

#839 refactor: use exit break plugin instead
  packages/rich-text/package.json
  packages/rich-text/src/plugins/InsertBeforeFirstVoidBlock/index.tsx
  yarn.lock
Labels: package:rich-text

#838 feat(rich-text): Table header support
  cypress/integration/RichTextEditor.spec.ts
  packages/rich-text/package.json
  packages/rich-text/src/plugins/Table/TableActions.tsx
  packages/rich-text/src/plugins/Table/actions/addColumn.ts
  packages/rich-text/src/plugins/Table/actions/addRow.ts
  packages/rich-text/src/plugins/Table/actions/index.ts
  packages/rich-text/src/plugins/Table/actions/setHeader.ts
  packages/rich-text/src/plugins/Table/helpers.ts
  packages/rich-text/src/plugins/Table/index.tsx
  yarn.lock
Labels: package:rich-text, tests

#840 chore: bump field-editor-rich-text@next to 0.23.0 [skip ci]
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Labels: package:rich-text, package:default-field-editors, app:rich-text-app

#837 test: upgrade to Cypress v8
  .circleci/config.yml
  cypress/integration/DateEditor.spec.ts
  cypress/integration/MarkdownEditorCheatsheet.spec.ts
  cypress/integration/MarkdownEditorInsertLink.spec.ts
  cypress/integration/MarkdownEditorInsertTable.spec.ts
  cypress/integration/MarkdownEditorSpecialCharacter.spec.ts
  cypress/integration/MarkdownEmbedExternal.spec.ts
  cypress/integration/MultipleMediaEditor.spec.ts
  cypress/integration/MultipleReferenceEditor.spec.ts
  cypress/integration/RichTextEditor.spec.ts
  cypress/support/commands.js
  cypress/support/index.d.ts
  package.json
  packages/rich-text/src/RichTextEditor.mdx
  packages/rich-text/src/plugins/EmbeddedEntityBlock/index.tsx
  yarn.lock
Labels: tools, package:rich-text, tests

#841 fix: hyperlink paste deserialization
  packages/rich-text/src/plugins/Hyperlink/index.tsx
Labels: package:rich-text

#842 feat: typography v4 migration
  apps/entry-app-collapsible/src/FieldGroupsEditor.tsx
  packages/markdown/src/components/MarkdownBottomBar.tsx
  packages/markdown/src/dialogs/CheatsheetModalDialog.tsx
  packages/markdown/src/dialogs/ConfirmInsertAssetModalDialog.tsx
  packages/markdown/src/dialogs/SpecialCharacterModalDialog.tsx
  packages/reference/src/components/CreateEntryLinkButton/CreateEntryLinkButton.tsx
  packages/reference/src/components/LinkActions/NoLinkPermissionsInfo.tsx
  packages/reference/src/components/MissingEntityCard/MissingEntityCard.tsx
  packages/reference/src/components/ScheduledIconWithTooltip/ScheduleTooltip.tsx
  packages/rich-text/src/plugins/CommandPalette/CommandPanel/CommandPanelMenu.js
  packages/slug/src/SlugEditorField.tsx
  packages/tags/src/TagsEditorConstraints.tsx
Labels: package:rich-text, package:markdown, package:reference, package:slug, package:tags, app:entry-app-collapsible

#846 feat: export shared util to validate images
  cypress/integration/LocationEditor.spec.ts
  packages/_shared/src/index.tsx
  packages/_shared/src/utils/isValidImage.ts
Labels: package:_shared, tests

#850 fix(rich-text): corrupted tables on paste
  packages/rich-text/package.json
  yarn.lock
Labels: package:rich-text

#848 refactor: use util from shared package to validate image type
  packages/reference/src/entries/WrappedEntryCard/WrappedEntryCard.tsx
  packages/reference/src/utils/isValidImage.ts
Labels: package:reference

#849 fix: pasted tables
  packages/rich-text/src/plugins/Table/index.tsx
Labels: package:rich-text

#852 feat: add shortenStorageUnit util to shared
  packages/_shared/src/index.tsx
  packages/_shared/src/utils/shortenStorageUnit.ts
Labels: package:_shared

#854 fix: paste issues
  packages/rich-text/src/RichTextEditor.tsx
  packages/rich-text/src/plugins/Paste/index.tsx
  packages/rich-text/src/plugins/Paste/sanitizers/helpers.tsx
  packages/rich-text/src/plugins/Paste/sanitizers/index.tsx
  packages/rich-text/src/plugins/Paste/sanitizers/removeComments.tsx
  packages/rich-text/src/plugins/Paste/sanitizers/sanitizeTables.tsx
Labels: package:rich-text

#855 refactor: use shortenStorageUnit from shared
  packages/reference/src/assets/WrappedAssetCard/AssetCardActions.tsx
  packages/reference/src/assets/WrappedAssetCard/shortenStorageUnit.ts
Labels: package:reference

#844 feat: 🎸 adopt button v4
  apps/entry-app-collapsible/src/FieldGroupsEditor.tsx
  packages/json/src/JsonEditorToobar.tsx
  packages/markdown/src/components/InsertLinkSelector.tsx
  packages/markdown/src/dialogs/ConfirmInsertAssetModalDialog.tsx
  packages/markdown/src/dialogs/EmdebExternalContentDialog.tsx
  packages/markdown/src/dialogs/InsertLinkModalDialog.tsx
  packages/markdown/src/dialogs/InsertTableModalDialog.tsx
  packages/markdown/src/dialogs/SpecialCharacterModalDialog.tsx
  packages/reference/src/components/CreateEntryLinkButton/CreateEntryLinkButton.tsx
  packages/reference/src/components/LinkActions/CombinedLinkActions.tsx
  packages/reference/src/components/LinkActions/LinkActions.tsx
  yarn.lock
Labels: package:json, package:markdown, package:reference, app:entry-app-collapsible

#858 refactor: adopt ValidationMessage from Forma36 v4 [BAU-111]
  packages/json/package.json
  packages/json/src/JsonInvalidStatus.tsx
  packages/location/src/LocationSearchInput.tsx
  packages/slug/src/SlugEditorField.tsx
Labels: package:json, package:location, package:slug

#853 refactor: implement entry card for rich text
  cypress/integration/RichTextEditor.spec.ts
  packages/rich-text/package.json
  packages/rich-text/src/plugins/EmbeddedEntityBlock/LinkedEntityBlock.tsx
  packages/rich-text/src/plugins/shared/EntityStatusIcon.tsx
  packages/rich-text/src/plugins/shared/FetchingWrappedAssetCard.tsx
  packages/rich-text/src/plugins/shared/FetchingWrappedEntryCard.tsx
  yarn.lock
Labels: package:rich-text, tests

#856 refactor: refactor HelpText to Text from Forma36 v4 [BAU-104]
  apps/entry-app-collapsible/src/CollapsibleFieldGroup.tsx
  apps/entry-app-collapsible/src/FieldGroupsEditor.tsx
  packages/default-field-editors/package.json
  packages/default-field-editors/src/DefaultFieldEditors.mdx
  packages/default-field-editors/src/FieldWrapper.tsx
  packages/markdown/src/dialogs/EmdebExternalContentDialog.tsx
Labels: package:default-field-editors, package:markdown, app:entry-app-collapsible

#857 refactor: 💡 tooltip-v4
  apps/entry-app-collapsible/package.json
  packages/markdown/src/components/MarkdownToolbar.tsx
  packages/markdown/src/dialogs/SpecialCharacterModalDialog.tsx
  packages/reference/src/components/ScheduledIconWithTooltip/ScheduleTooltip.tsx
  packages/reference/src/components/index.ts
  packages/reference/src/index.tsx
  packages/rich-text/src/plugins/Hyperlink/EntityHyperlinkTootip.js
  packages/rich-text/src/plugins/Hyperlink/Hyperlink.js
  packages/rich-text/src/plugins/Hyperlink/useRequestStatus.js
Labels: package:rich-text, package:markdown, package:reference, app:entry-app-collapsible

#864 fix: disallow table captions
  packages/rich-text/src/plugins/Paste/sanitizers/sanitizeTables.tsx
Labels: package:rich-text

#865 feat: track tables with headers outside first row
  packages/rich-text/src/plugins/Table/index.tsx
Labels: package:rich-text

#861 chore: Icon v4 adoption
  apps/entry-app-collapsible/src/CollapsibleFieldGroup.tsx
  apps/entry-app-collapsible/src/FieldGroupsEditor.tsx
  packages/json/src/JsonEditorToobar.tsx
  packages/markdown/src/components/InsertLinkSelector.tsx
  packages/markdown/src/components/MarkdownToolbar.tsx
  packages/markdown/src/dialogs/ConfirmInsertAssetModalDialog.tsx
  packages/markdown/src/dialogs/EmdebExternalContentDialog.tsx
  packages/markdown/src/dialogs/InsertLinkModalDialog.tsx
  packages/markdown/src/dialogs/InsertTableModalDialog.tsx
  packages/markdown/src/dialogs/SpecialCharacterModalDialog.tsx
  packages/markdown/src/dialogs/ZenModeModalDialog.tsx
  packages/reference/package.json
  packages/reference/src/assets/WrappedAssetCard/WrappedAssetCard.tsx
  packages/reference/src/assets/WrappedAssetCard/WrappedAssetLink.tsx
  packages/reference/src/components/CreateEntryLinkButton/CreateEntryLinkButton.tsx
  packages/reference/src/components/CreateEntryLinkButton/CreateEntryMenuTrigger.tsx
  packages/reference/src/components/LinkActions/CombinedLinkActions.tsx
  packages/reference/src/components/LinkActions/LinkActions.tsx
  packages/reference/src/components/ScheduledIconWithTooltip/ScheduleTooltip.tsx
  packages/reference/src/entries/WrappedEntryCard/WrappedEntryCard.tsx
  packages/rich-text/src/dialogs/HypelinkDialog/HyperlinkDialog.jsx
  packages/rich-text/src/plugins/CommandPalette/CommandPanel/CommandPanelMenu.js
  packages/rich-text/src/plugins/EmbeddedEntityBlock/ToolbarIcon.js
  packages/rich-text/src/plugins/EmbeddedEntryInline/FetchingWrappedInlineEntryCard.js
  packages/rich-text/src/plugins/EmbeddedEntryInline/ToolbarIcon.js
  packages/rich-text/src/plugins/EntryEmbedDropdown/index.js
  packages/rich-text/src/plugins/Heading/HeadingDropdown.js
  packages/rich-text/src/plugins/shared/ToolbarIcon.js
  packages/slug/package.json
  packages/slug/src/SlugEditorField.tsx
  packages/tags/package.json
  packages/tags/src/TagsEditor.tsx
  packages/validation-errors/src/ValidationErrors.tsx
  yarn.lock
Labels: package:rich-text, package:json, package:markdown, package:reference, package:slug, package:tags, package:validation-errors, app:entry-app-collapsible

#866 chore: small adjustments
  packages/default-field-editors/src/DefaultFieldEditors.mdx
  packages/markdown/src/MarkdownEditor.mdx
  packages/reference/src/assets/MultipleMediaEditor.mdx
  packages/reference/src/assets/SingleMediaEditor.mdx
  packages/reference/src/entries/MultipleEntryReferenceEditor.mdx
  packages/reference/src/entries/SingleEntryReferenceEditor.mdx
  packages/rich-text/src/plugins/Hyperlink/Hyperlink.js
Labels: package:rich-text, package:default-field-editors, package:markdown, package:reference

#868 chore: bump udecode packages to fix list normalizing
  packages/rich-text/package.json
  yarn.lock
Labels: package:rich-text

#862 fix: safari lost of editor selection
  packages/rich-text/src/ContentfulEditorProvider.ts
  packages/rich-text/src/RichTextEditor.tsx
  packages/rich-text/src/plugins/Bold/index.tsx
  packages/rich-text/src/plugins/Code/index.tsx
  packages/rich-text/src/plugins/EmbeddedEntityBlock/ToolbarIcon.tsx
  packages/rich-text/src/plugins/EmbeddedEntityBlock/index.tsx
  packages/rich-text/src/plugins/Heading/index.tsx
  packages/rich-text/src/plugins/Hr/index.tsx
  packages/rich-text/src/plugins/Hyperlink/index.tsx
  packages/rich-text/src/plugins/Italic/index.tsx
  packages/rich-text/src/plugins/List/index.tsx
  packages/rich-text/src/plugins/Quote/index.tsx
  packages/rich-text/src/plugins/Table/index.tsx
  packages/rich-text/src/plugins/Underline/index.tsx
Labels: package:rich-text

#870 fix: ignore divs to deserialize paragraphs
  packages/rich-text/src/plugins/Paragraph/index.tsx
Labels: package:rich-text

#867 feat: codemod for TextInput and Textarea
  packages/date/src/DatepickerInput.tsx
  packages/date/src/TimepickerInput.tsx
  packages/list/src/ListEditor.tsx
  packages/location/src/LocationSearchInput.tsx
  packages/location/src/LocationSelector.tsx
  packages/multiple-line/src/MultipleLineEditor.tsx
  packages/number/src/NumberEditor.tsx
  packages/reference/src/assets/MultipleMediaEditor.mdx
  packages/reference/src/components/CreateEntryLinkButton/CreateEntryMenuTrigger.tsx
  packages/reference/src/entries/SingleEntryReferenceEditor.mdx
  packages/single-line/src/SingleLineEditor.tsx
  packages/slug/src/SlugEditorField.tsx
  packages/tags/src/TagsEditor.tsx
  packages/url/src/UrlEditor.tsx
  yarn.lock
Labels: package:date, package:list, package:location, package:multiple-line, package:number, package:reference, package:single-line, package:slug, package:tags, package:url, tests

#871 feat: 🎸 adopt IconButton component from forma V4
  apps/entry-app-collapsible/src/FieldGroupsEditor.tsx
  packages/rating/src/RatingRibbon.tsx
  packages/reference/src/components/MissingEntityCard/MissingEntityCard.tsx
  yarn.lock
Labels: package:rating, package:reference, app:entry-app-collapsible

#873 fix: tables pasting on elements with content
  packages/rich-text/src/plugins/Table/index.tsx
Labels: package:rich-text

#872 fix: render invalid table children as text
  packages/rich-text/src/plugins/Paste/sanitizers/sanitizeTables.tsx
  packages/rich-text/src/plugins/Table/index.tsx
Labels: package:rich-text

#875 chore: bump rich-text@next
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Labels: package:rich-text, package:default-field-editors, app:rich-text-app

#874 feat: 🎸 Run Select v4 codemod
  packages/date/src/TimezonePickerInput.tsx
  packages/dropdown/src/DropdownEditor.tsx
  packages/rich-text/src/dialogs/HypelinkDialog/HyperlinkDialog.jsx
Labels: package:rich-text, package:date, package:dropdown

#876 feat: Checkbox v4 adoption
  packages/checkbox/src/CheckboxEditor.spec.tsx
  packages/checkbox/src/CheckboxEditor.tsx
  packages/markdown/src/dialogs/EmdebExternalContentDialog.tsx
Labels: package:checkbox, package:markdown
