Repository contentful/field-editors, pull requests merged in 2021-12, with the labels that each got.

#945 feat: create helper to filter out text as paragraphs from slate entries
  packages/rich-text/src/helpers/editor.spec.ts
  packages/rich-text/src/helpers/editor.ts
  packages/rich-text/src/plugins/Text/index.ts
Labels: package:rich-text

#941 feat: list node normalization
  cypress/integration/rich-text/RichTextEditor.Pasting.spec.ts
  packages/rich-text/src/plugins/List/getListInsertFragment.ts
  packages/rich-text/src/plugins/List/index.tsx
Labels: package:rich-text, tests

#948 fix: disable hyperlink text when editing []
  cypress/integration/rich-text/RichTextEditor.spec.ts
  packages/rich-text/src/plugins/Hyperlink/HyperlinkModal.tsx
Labels: package:rich-text, tests

#949 perf(rich-text): extend editor handlers once
  packages/rich-text/src/plugins/Paste/index.tsx
  packages/rich-text/src/plugins/Table/index.tsx
Labels: package:rich-text

#946 fix: markdown upload asset domain url to ctfassets.net []
  cypress/integration/MarkdownEditorInsertAssets.spec.ts
  packages/markdown/package.json
  packages/markdown/src/MarkdownEditor.mdx
  packages/markdown/src/utils/insertAssetLinks.ts
  packages/reference/src/__fixtures__/new_asset.json
  yarn.lock
Labels: package:markdown, package:reference, tests

#944 fix: normalize table nodes
  cypress/integration/rich-text/RichTextEditor.Pasting.spec.ts
  packages/rich-text/src/RichTextEditor.tsx
  packages/rich-text/src/helpers/editor.spec.ts
  packages/rich-text/src/helpers/editor.ts
  packages/rich-text/src/helpers/normalizers.ts
  packages/rich-text/src/plugins/DragAndDrop/index.tsx
  packages/rich-text/src/plugins/List/__tests__/example.test.tsx
  packages/rich-text/src/plugins/List/__tests__/normalization.test.tsx
  packages/rich-text/src/plugins/List/index.tsx
  packages/rich-text/src/plugins/Table/__tests__/normalization.test.tsx
  packages/rich-text/src/plugins/Table/index.tsx
  packages/rich-text/src/plugins/Table/normalizers.ts
  packages/rich-text/src/plugins/index.ts
  packages/rich-text/src/test-utils/createEditor.ts
  packages/rich-text/src/test-utils/index.ts
  packages/rich-text/src/test-utils/jsx.ts
Labels: package:rich-text, tests

#950 fix: replace @contentful/hostname-transformer
  packages/markdown/package.json
  packages/markdown/src/utils/insertAssetLinks.spec.ts
  packages/markdown/src/utils/insertAssetLinks.ts
  yarn.lock
Labels: package:markdown

#956 test(rich-text): add a test for pasting hyperlinks
  cypress/integration/rich-text/RichTextEditor.Pasting.spec.ts
Labels: tests

#953 chore(docz): validate against Rich Text schema
  cypress/integration/rich-text/RichTextEditor.spec.ts
  cypress/integration/rich-text/RichTextPage.ts
  packages/rich-text/package.json
  packages/rich-text/src/RichTextEditor.mdx
  packages/rich-text/src/test-utils/toContentfulError.ts
  packages/rich-text/src/test-utils/validation.ts
  yarn.lock
Labels: package:rich-text, tests

#959 fix: infinite asset loading in new rte
  packages/rich-text/src/plugins/shared/FetchingWrappedEntryCard.tsx
Labels: package:rich-text

#955 test: use snapshots in rte pasting tests
  cypress.json
  cypress/integration/rich-text/RichTextEditor.Pasting.spec.ts
  cypress/integration/rich-text/RichTextPage.ts
  cypress/integration/rich-text/__snapshots__/RichTextEditor.Pasting.spec.ts.snap
  cypress/plugins/index.js
  cypress/support/index.js
  package.json
  yarn.lock
Labels: tests

#947 fix: separate dnd action in a separate history batch
  cypress/integration/rich-text/RichTextEditor.spec.ts
  cypress/support/commands.js
  cypress/support/index.d.ts
  packages/rich-text/src/plugins/DragAndDrop/index.tsx
Labels: package:rich-text, tests

#957 chore(rich-text): update @contentful/rich-text-types
  packages/rich-text/package.json
  packages/rich-text/src/RichTextEditor.mdx
  packages/rich-text/src/test-utils/toContentfulError.ts
  packages/rich-text/src/test-utils/validation.ts
  yarn.lock
Labels: package:rich-text

#960 refactor: use individual plate packages
  packages/rich-text/package.json
  packages/rich-text/src/ContentfulEditorProvider.ts
  packages/rich-text/src/RichTextEditor.tsx
  packages/rich-text/src/helpers/deserializer.ts
  packages/rich-text/src/helpers/editor.spec.ts
  packages/rich-text/src/helpers/editor.ts
  packages/rich-text/src/plugins/Bold/index.tsx
  packages/rich-text/src/plugins/Code/index.tsx
  packages/rich-text/src/plugins/DragAndDrop/index.tsx
  packages/rich-text/src/plugins/EmbeddedEntityBlock/Util.ts
  packages/rich-text/src/plugins/EmbeddedEntityBlock/index.tsx
  packages/rich-text/src/plugins/EmbeddedEntityInline/index.tsx
  packages/rich-text/src/plugins/Heading/index.tsx
  packages/rich-text/src/plugins/Hr/index.tsx
  packages/rich-text/src/plugins/Hyperlink/HyperlinkModal.tsx
  packages/rich-text/src/plugins/Hyperlink/index.tsx
  packages/rich-text/src/plugins/InsertBeforeFirstVoidBlock/index.tsx
  packages/rich-text/src/plugins/Italic/index.tsx
  packages/rich-text/src/plugins/List/getListInsertFragment.ts
  packages/rich-text/src/plugins/List/index.tsx
  packages/rich-text/src/plugins/NewLine/index.tsx
  packages/rich-text/src/plugins/Paragraph/index.tsx
  packages/rich-text/src/plugins/Paste/index.tsx
  packages/rich-text/src/plugins/Paste/sanitizers/helpers.tsx
  packages/rich-text/src/plugins/Quote/index.tsx
  packages/rich-text/src/plugins/Table/TableActions.tsx
  packages/rich-text/src/plugins/Table/actions/addColumn.ts
  packages/rich-text/src/plugins/Table/actions/addRow.ts
  packages/rich-text/src/plugins/Table/actions/setHeader.ts
  packages/rich-text/src/plugins/Table/helpers.ts
  packages/rich-text/src/plugins/Table/index.tsx
  packages/rich-text/src/plugins/Table/normalizers.ts
  packages/rich-text/src/plugins/Text/index.ts
  packages/rich-text/src/plugins/TrailingParagraph/index.ts
  packages/rich-text/src/plugins/Underline/index.tsx
  packages/rich-text/src/plugins/index.ts
  packages/rich-text/src/test-utils/createEditor.ts
  packages/rich-text/src/types.ts
  yarn.lock
Labels: package:rich-text

#962 chore(release): rich-text v2.0.0-next.3
  apps/entry-app-collapsible/package.json
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Labels: package:rich-text, package:default-field-editors, app:entry-app-collapsible, app:rich-text-app

#961 feat: add copy & paste and drag & drop for HR
  cypress/integration/rich-text/RichTextEditor.Pasting.spec.ts
  cypress/integration/rich-text/RichTextEditor.spec.ts
  cypress/integration/rich-text/__snapshots__/RichTextEditor.Pasting.spec.ts.snap
  packages/rich-text/src/helpers/editor.ts
  packages/rich-text/src/plugins/DragAndDrop/index.tsx
  packages/rich-text/src/plugins/Hr/index.tsx
  packages/rich-text/src/plugins/InsertBeforeFirstVoidBlock/index.tsx
Labels: package:rich-text, tests

#964 chore: bump f36 dependencies
  apps/entry-app-collapsible/package.json
  apps/markdown-app/package.json
  apps/multiple-references-app/package.json
  apps/rich-text-app/package.json
  apps/singleline-app/package.json
  package.json
  packages/_shared/package.json
  packages/_test/package.json
  packages/boolean/package.json
  packages/checkbox/package.json
  packages/date/package.json
  packages/default-field-editors/package.json
  packages/dropdown/package.json
  packages/json/package.json
  packages/list/package.json
  packages/location/package.json
  packages/markdown/package.json
  packages/multiple-line/package.json
  packages/number/package.json
  packages/radio/package.json
  packages/rating/package.json
  packages/reference/package.json
  packages/rich-text/package.json
  packages/single-line/package.json
  packages/slug/package.json
  packages/tags/package.json
  packages/url/package.json
  packages/validation-errors/package.json
  yarn.lock
Labels: package:rich-text, package:boolean, package:checkbox, package:date, package:default-field-editors, package:dropdown, package:json, package:list, package:location, package:markdown, package:multiple-line, package:number, package:radio, package:rating, package:reference, package:single-line, package:slug, package:tags, package:url, package:validation-errors, package:_shared, package:_test, app:entry-app-collapsible, app:markdown-app, app:multiple-references-app, app:rich-text-app, app:singleline-app

#963 fix: disable edit/remove actions on readonly mode
  cypress/integration/rich-text/RichTextEditor.spec.ts
  cypress/integration/rich-text/RichTextPage.ts
  packages/rich-text/src/RichTextEditor.mdx
  packages/rich-text/src/Toolbar/EmbedEntityWidget.tsx
  packages/rich-text/src/Toolbar/_tests_/toolbar.test.tsx
  packages/rich-text/src/plugins/EmbeddedEntityInline/FetchingWrappedInlineEntryCard.tsx
  packages/rich-text/src/plugins/Heading/index.tsx
  packages/rich-text/src/plugins/Hyperlink/index.tsx
  packages/rich-text/src/plugins/Table/TableActions.tsx
  packages/rich-text/src/plugins/shared/FetchingWrappedAssetCard.tsx
  packages/rich-text/src/plugins/shared/FetchingWrappedEntryCard.tsx
  packages/rich-text/src/plugins/shared/__fixtures__/published_asset.json
  packages/rich-text/src/plugins/shared/__fixtures__/published_content_type.json
  packages/rich-text/src/plugins/shared/__fixtures__/published_entry.json
  packages/rich-text/src/plugins/shared/__tests__/FetchingWrappedAssetCard.test.tsx
  packages/rich-text/src/plugins/shared/__tests__/FetchingWrappedEntryCard.test.tsx
  packages/rich-text/tsconfig.json
Labels: package:rich-text, tests

#967 fix: cache content types for Hyperlink
  packages/rich-text/src/plugins/Hyperlink/useRequestStatus.js
Labels: package:rich-text

#968 fix: markdown buttons
  apps/entry-app-collapsible/package.json
  apps/markdown-app/package.json
  apps/multiple-references-app/package.json
  apps/rich-text-app/package.json
  apps/singleline-app/package.json
  package.json
  packages/_shared/package.json
  packages/_test/package.json
  packages/boolean/package.json
  packages/checkbox/package.json
  packages/date/package.json
  packages/default-field-editors/package.json
  packages/dropdown/package.json
  packages/json/package.json
  packages/list/package.json
  packages/location/package.json
  packages/markdown/package.json
  packages/markdown/src/components/MarkdownToolbar.tsx
  packages/multiple-line/package.json
  packages/number/package.json
  packages/radio/package.json
  packages/rating/package.json
  packages/reference/package.json
  packages/rich-text/package.json
  packages/single-line/package.json
  packages/slug/package.json
  packages/tags/package.json
  packages/url/package.json
  packages/validation-errors/package.json
  yarn.lock
Labels: package:rich-text, package:boolean, package:checkbox, package:date, package:default-field-editors, package:dropdown, package:json, package:list, package:location, package:markdown, package:multiple-line, package:number, package:radio, package:rating, package:reference, package:single-line, package:slug, package:tags, package:url, package:validation-errors, package:_shared, package:_test, app:entry-app-collapsible, app:markdown-app, app:multiple-references-app, app:rich-text-app, app:singleline-app

#966 fix: download image no longer opens a new tab
  cypress/integration/rich-text/RichTextEditor.spec.ts
  packages/rich-text/src/plugins/shared/FetchingWrappedAssetCard.tsx
Labels: package:rich-text, tests

#965 refactor: upgrade to Plate v9
  cypress.json
  cypress/integration/rich-text/RichTextEditor.spec.ts
  cypress/integration/rich-text/RichTextPage.ts
  package.json
  packages/rich-text/package.json
  packages/rich-text/src/RichTextEditor.tsx
  packages/rich-text/src/Toolbar/index.tsx
  packages/rich-text/src/helpers/deserializer.ts
  packages/rich-text/src/helpers/editor.ts
  packages/rich-text/src/helpers/sanitizeSlateDoc.ts
  packages/rich-text/src/plugins/Bold/index.tsx
  packages/rich-text/src/plugins/Break/exit.ts
  packages/rich-text/src/plugins/Break/index.ts
  packages/rich-text/src/plugins/Break/soft.ts
  packages/rich-text/src/plugins/CommandPalette/CommandPanel/InViewport/InViewport.js
  packages/rich-text/src/plugins/DragAndDrop/index.tsx
  packages/rich-text/src/plugins/EmbeddedEntity/index.tsx
  packages/rich-text/src/plugins/EmbeddedEntityBlock/Util.ts
  packages/rich-text/src/plugins/EmbeddedEntityBlock/index.tsx
  packages/rich-text/src/plugins/EmbeddedEntityInline/index.tsx
  packages/rich-text/src/plugins/Heading/index.tsx
  packages/rich-text/src/plugins/Hr/index.tsx
  packages/rich-text/src/plugins/Hyperlink/index.tsx
  packages/rich-text/src/plugins/InsertBeforeFirstVoidBlock/index.tsx
  packages/rich-text/src/plugins/List/__tests__/normalization.test.tsx
  packages/rich-text/src/plugins/List/getListInsertFragment.ts
  packages/rich-text/src/plugins/List/index.tsx
  packages/rich-text/src/plugins/Marks/Bold.tsx
  packages/rich-text/src/plugins/Marks/Code.tsx
  packages/rich-text/src/plugins/Marks/Italic.tsx
  packages/rich-text/src/plugins/Marks/Underline.tsx
  packages/rich-text/src/plugins/Marks/index.ts
  packages/rich-text/src/plugins/NewLine/index.tsx
  packages/rich-text/src/plugins/Paragraph/index.tsx
  packages/rich-text/src/plugins/Paste/index.tsx
  packages/rich-text/src/plugins/Quote/index.tsx
  packages/rich-text/src/plugins/Table/TableActions.tsx
  packages/rich-text/src/plugins/Table/__tests__/normalization.test.tsx
  packages/rich-text/src/plugins/Table/actions/addColumn.ts
  packages/rich-text/src/plugins/Table/actions/addRow.ts
  packages/rich-text/src/plugins/Table/actions/setHeader.ts
  packages/rich-text/src/plugins/Table/helpers.ts
  packages/rich-text/src/plugins/Table/index.tsx
  packages/rich-text/src/plugins/Text/index.ts
  packages/rich-text/src/plugins/TrailingParagraph/index.ts
  packages/rich-text/src/plugins/index.ts
  packages/rich-text/src/test-utils/createEditor.ts
  packages/rich-text/src/test-utils/jsx.ts
  packages/rich-text/src/types.ts
  yarn.lock
Labels: package:rich-text, tests

#969 refactor: drive soft-break plugin's configurations from other plugins
  cypress/integration/rich-text/RichTextEditor.spec.ts
  packages/rich-text/package.json
  packages/rich-text/src/RichTextEditor.tsx
  packages/rich-text/src/plugins/Break/createExitBreakPlugin.ts
  packages/rich-text/src/plugins/Break/createSoftBreakPlugin.test.tsx
  packages/rich-text/src/plugins/Break/createSoftBreakPlugin.ts
  packages/rich-text/src/plugins/Break/index.ts
  packages/rich-text/src/plugins/Break/soft.ts
  packages/rich-text/src/plugins/DragAndDrop/index.tsx
  packages/rich-text/src/plugins/EmbeddedEntityBlock/index.tsx
  packages/rich-text/src/plugins/EmbeddedEntityInline/index.tsx
  packages/rich-text/src/plugins/Heading/index.tsx
  packages/rich-text/src/plugins/Hr/index.tsx
  packages/rich-text/src/plugins/Hyperlink/index.tsx
  packages/rich-text/src/plugins/List/getListInsertFragment.ts
  packages/rich-text/src/plugins/List/index.tsx
  packages/rich-text/src/plugins/Marks/Bold.tsx
  packages/rich-text/src/plugins/Marks/Code.tsx
  packages/rich-text/src/plugins/Marks/Italic.tsx
  packages/rich-text/src/plugins/Marks/Underline.tsx
  packages/rich-text/src/plugins/Marks/index.ts
  packages/rich-text/src/plugins/Paragraph/Paragraph.tsx
  packages/rich-text/src/plugins/Paragraph/createParagraphPlugin.tsx
  packages/rich-text/src/plugins/Paragraph/index.tsx
  packages/rich-text/src/plugins/Paste/index.tsx
  packages/rich-text/src/plugins/Quote/index.tsx
  packages/rich-text/src/plugins/Table/index.tsx
  packages/rich-text/src/plugins/Text/index.ts
  packages/rich-text/src/plugins/index.ts
  packages/rich-text/src/plugins/types.ts
  packages/rich-text/src/test-utils/createEditor.ts
  yarn.lock
Labels: package:rich-text, tests

#971 refactor: cleaning the exitBreak plugin code
  packages/rich-text/src/plugins/Break/createExitBreakPlugin.test.tsx
  packages/rich-text/src/plugins/Break/createExitBreakPlugin.ts
  packages/rich-text/src/plugins/Heading/index.tsx
  packages/rich-text/src/plugins/types.ts
Labels: package:rich-text

#972 refactor: remove sanitizeSlateDoc helper
  packages/rich-text/src/RichTextEditor.tsx
  packages/rich-text/src/Toolbar/components/EmbedEntityWidget.tsx
  packages/rich-text/src/Toolbar/components/EmbeddedEntityDropdownButton.tsx
  packages/rich-text/src/Toolbar/components/StickyToolbarWrapper.tsx
  packages/rich-text/src/Toolbar/index.tsx
  packages/rich-text/src/helpers/sanitizeSlateDoc.ts
  packages/rich-text/src/plugins/EmbeddedEntityInline/index.tsx
  packages/rich-text/src/plugins/List/__tests__/normalization.test.tsx
  packages/rich-text/src/plugins/Normalizer/createNormalizerPlugin.test.tsx
  packages/rich-text/src/plugins/Normalizer/types.ts
  packages/rich-text/src/plugins/Normalizer/utils.ts
  packages/rich-text/src/plugins/Normalizer/withNormalizer.ts
  packages/rich-text/src/plugins/Paragraph/__tests__/createParagraphPlugin.test.tsx
  packages/rich-text/src/plugins/Paragraph/createParagraphPlugin.ts
  packages/rich-text/src/plugins/Paragraph/utils.ts
  packages/rich-text/src/plugins/Quote/__test__/createQuotePlugin.test.tsx
  packages/rich-text/src/plugins/Table/__tests__/createTablePlugin.test.tsx
  packages/rich-text/src/test-utils/hyperscript.d.ts
  packages/rich-text/src/test-utils/jsx.ts
Labels: package:rich-text

#973 build: use turborepo
  .circleci/config.yml
  .gitignore
  package.json
  yarn.lock
Labels: tools
