Repository contentful/field-editors, pull requests merged in 2021-06, with the labels that each got.

#734 feat: gracefully handle void elements
  cypress/integration/MarkdownEditorVoidElements.spec.ts
  packages/markdown/package.json
  packages/markdown/src/MarkdownEditor.tsx
  packages/markdown/src/components/MarkdownPreview/MarkdownPreview.tsx
  packages/markdown/src/components/VoidElements/VoidElements.tsx
  packages/markdown/src/components/VoidElements/VoidElementsWarning.tsx
  packages/markdown/src/components/VoidElements/index.ts
  packages/markdown/src/components/VoidElements/useVoidElements.ts
  yarn.lock
Labels: package:markdown, tests

#733 fix(default-field-editors): re-render Field children on locale change
  packages/default-field-editors/src/Field.spec.tsx
  packages/default-field-editors/src/Field.tsx
Labels: package:default-field-editors

#735 test(rich-text): history undo redo
  cypress/integration/RichTextEditor.spec.ts
Labels: tests

#737 feat: rich text blockquote plugin
  cypress/integration/RichTextEditor.spec.ts
  packages/rich-text/src/RichTextEditor.tsx
  packages/rich-text/src/Toolbar/index.tsx
  packages/rich-text/src/plugins/Editor/index.ts
  packages/rich-text/src/plugins/Quote/index.tsx
Labels: package:rich-text, tests

#742 feat: slatejs list support and port to the slatejs plugins next []
  cypress/integration/RichTextEditor.spec.ts
  packages/rich-text/package.json
  packages/rich-text/src/RichTextEditor.mdx
  packages/rich-text/src/RichTextEditor.tsx
  packages/rich-text/src/Toolbar/index.tsx
  packages/rich-text/src/helpers/editor.ts
  packages/rich-text/src/hooks/useCustomEditor.ts
  packages/rich-text/src/plugins/Bold/index.tsx
  packages/rich-text/src/plugins/Code/index.tsx
  packages/rich-text/src/plugins/Editor/index.ts
  packages/rich-text/src/plugins/Heading/index.tsx
  packages/rich-text/src/plugins/Hr/index.tsx
  packages/rich-text/src/plugins/Italic/index.tsx
  packages/rich-text/src/plugins/Leaf/index.tsx
  packages/rich-text/src/plugins/List/index.tsx
  packages/rich-text/src/plugins/Marks/index.tsx
  packages/rich-text/src/plugins/Quote/index.tsx
  packages/rich-text/src/plugins/Underline/index.tsx
  packages/rich-text/src/types.ts
  packages/rich-text/tsconfig.json
  yarn.lock
Labels: package:rich-text, tests

#744 test: add tests for lists and toolbar mark buttons []
  cypress/integration/RichTextEditor.spec.ts
  packages/rich-text/src/plugins/Bold/index.tsx
  packages/rich-text/src/plugins/Code/index.tsx
  packages/rich-text/src/plugins/Italic/index.tsx
  packages/rich-text/src/plugins/List/index.tsx
  packages/rich-text/src/plugins/Underline/index.tsx
Labels: package:rich-text, tests

#745 ci: fix auto-approve gh workflow
  .github/workflows/auto-approve.yml
Labels: tools

#747 feat: Migrate extensions into CCA (entry-extension-collapsible) [EXT-2566]
  extensions/entry-extension-collapsible/.babelrc
  extensions/entry-extension-collapsible/.eslintrc.js
  extensions/entry-extension-collapsible/.gitignore
  extensions/entry-extension-collapsible/README.md
  extensions/entry-extension-collapsible/extension.json
  extensions/entry-extension-collapsible/package.json
  extensions/entry-extension-collapsible/public/index.html
  extensions/entry-extension-collapsible/src/Field.tsx
  extensions/entry-extension-collapsible/src/FieldGroupsEditor.tsx
  extensions/entry-extension-collapsible/src/index.tsx
  extensions/entry-extension-collapsible/tsconfig.json
  yarn.lock
Labels: extension:entry-extension-collapsible

#748 feat: [EXT-2826] make app-sdk a peer depedency
  packages/_shared/package.json
  packages/_test/package.json
  packages/reference/package.json
Labels: package:_shared, package:_test, package:reference

#755 feat: [] bump app sdk
  extensions/entry-extension-collapsible/package.json
  extensions/entry-extension-collapsible/src/Field.tsx
  extensions/markdown-extension/package.json
  extensions/multiple-references-extension/package.json
  extensions/rich-text-extension/package.json
  extensions/singleline-extension/package.json
  packages/_shared/package.json
  packages/_test/package.json
  packages/reference/package.json
  yarn.lock
Labels: extension:entry-extension-collapsible, extension:markdown-extension, extension:multiple-references-extension, extension:rich-text-extension, extension:singleline-extension, package:_shared, package:_test, package:reference

#756 feat: [] bump forma tokens
  packages/_shared/package.json
  packages/_test/package.json
  packages/reference/package.json
Labels: package:_shared, package:_test, package:reference

#750 chore: Migrate extensions into CCA (markdown-extension) [EXT-2566]
  README.md
  extensions/entry-extension-collapsible/package.json
  extensions/markdown-extension/.babelrc
  extensions/markdown-extension/.eslintignore
  extensions/markdown-extension/.eslintrc.js
  extensions/markdown-extension/.gitignore
  extensions/markdown-extension/README.md
  extensions/markdown-extension/extension.json
  extensions/markdown-extension/package.json
  extensions/markdown-extension/public/index.html
  extensions/markdown-extension/src/index.tsx
  extensions/markdown-extension/tsconfig.json
  yarn.lock
Labels: extension:entry-extension-collapsible, extension:markdown-extension

#753 feat: add paragraph for slatejs next []
  packages/rich-text/package.json
  packages/rich-text/src/RichTextEditor.styles.ts
  packages/rich-text/src/RichTextEditor.tsx
  packages/rich-text/src/plugins/Heading/index.tsx
  packages/rich-text/src/plugins/Hr/index.tsx
  packages/rich-text/src/plugins/List/index.tsx
  packages/rich-text/src/plugins/Paragraph/index.tsx
  yarn.lock
Labels: package:rich-text

#743 refactor(rteditor): port quote plugin to slate-plugins
  cypress/integration/RichTextEditor.spec.ts
  packages/rich-text/src/RichTextEditor.tsx
  packages/rich-text/src/Toolbar/index.tsx
  packages/rich-text/src/plugins/Quote/index.tsx
Labels: package:rich-text, tests

#758 feat: add the new line plugin []
  cypress/integration/RichTextEditor.spec.ts
  packages/rich-text/src/RichTextEditor.tsx
  packages/rich-text/src/plugins/NewLine/index.tsx
Labels: package:rich-text, tests

#752 chore: Migrate extensions into CCA (multiple-references-extension) [EXT-2566]
  extensions/multiple-references-extension/.babelrc
  extensions/multiple-references-extension/.eslintrc.js
  extensions/multiple-references-extension/.gitignore
  extensions/multiple-references-extension/README.md
  extensions/multiple-references-extension/extension.json
  extensions/multiple-references-extension/package.json
  extensions/multiple-references-extension/public/index.html
  extensions/multiple-references-extension/src/index.tsx
  extensions/multiple-references-extension/tsconfig.json
  yarn.lock
Labels: extension:multiple-references-extension

#757 chore: Migrate extensions into CCA (rich-text-extension)
  extensions/rich-text-extension/.babelrc
  extensions/rich-text-extension/.eslintignore
  extensions/rich-text-extension/.eslintrc.js
  extensions/rich-text-extension/.gitignore
  extensions/rich-text-extension/README.md
  extensions/rich-text-extension/extension.json
  extensions/rich-text-extension/package.json
  extensions/rich-text-extension/public/index.html
  extensions/rich-text-extension/src/index.tsx
  extensions/rich-text-extension/tsconfig.json
Labels: extension:rich-text-extension

#761 chore: update packages in apps
  apps/entry-app-collapsible/package.json
  apps/markdown-app/package.json
  apps/multiple-references-app/package.json
  apps/rich-text-app/package.json
Labels: app:entry-app-collapsible, app:markdown-app, app:multiple-references-app, app:rich-text-app

#754 feat: add table markup
  cypress/integration/RichTextEditor.spec.ts
  package.json
  packages/json/src/JsonEditoField.tsx
  packages/reference/src/common/MultipleReferenceEditor.tsx
  packages/reference/src/components/LinkActions/LinkActions.tsx
  packages/reference/src/components/LinkActions/LinkEntityActions.tsx
  packages/rich-text/package.json
  packages/rich-text/src/RichTextEditor.tsx
  packages/rich-text/src/helpers/editor.ts
  packages/rich-text/src/plugins/Heading/index.tsx
  packages/rich-text/src/plugins/Hr/index.tsx
  packages/rich-text/src/plugins/Quote/index.tsx
  packages/rich-text/src/plugins/Table/helpers.ts
  packages/rich-text/src/plugins/Table/index.tsx
  packages/rich-text/src/types.ts
  yarn.lock
Labels: package:json, package:reference, package:rich-text, tests

#762 feat: create rendering for inline hyperlinks
  packages/rich-text/src/RichTextEditor.mdx
  packages/rich-text/src/RichTextEditor.tsx
  packages/rich-text/src/SdkProvider.tsx
  packages/rich-text/src/helpers/formatDateAndTime.ts
  packages/rich-text/src/helpers/truncate.ts
  packages/rich-text/src/plugins/Hyperlink/EntityStatusTag.tsx
  packages/rich-text/src/plugins/Hyperlink/EntryAssetTooltip.tsx
  packages/rich-text/src/plugins/Hyperlink/ScheduleTooltipContent.tsx
  packages/rich-text/src/plugins/Hyperlink/index.tsx
Labels: package:rich-text

#764 fix: add peer dependencies
  packages/rich-text/package.json
Labels: package:rich-text
