Repository contentful/field-editors, pull requests merged in 2021-01, with the labels that each got.

#551 fix: clear button should respect disabled state
  packages/boolean/src/Boolean.spec.tsx
  packages/boolean/src/BooleanEditor.tsx
Labels: package:boolean

#550 chore: [] Upgrade uie sdk
  extensions/entry-extension-collapsible/package.json
  extensions/markdown-extension/package.json
  extensions/multiple-references-extension/package.json
  extensions/rich-text-extension/package.json
  extensions/singleline-extension/package.json
  packages/_shared/package.json
  packages/_shared/src/FieldConnector.ts
  packages/_test/package.json
  packages/markdown/src/MarkdownActions.ts
  packages/reference/package.json
  packages/slug/src/SlugEditor.tsx
  packages/slug/src/TrackingFieldConnector.tsx
  yarn.lock
Labels: extension:entry-extension-collapsible, extension:markdown-extension, extension:multiple-references-extension, extension:rich-text-extension, extension:singleline-extension, package:_shared, package:_test, package:markdown, package:reference, package:slug

#552 feat: update minimal required Forma version to the 3.73.12
  cypress/integration/DateEditor.spec.ts
  cypress/integration/MarkdownEditorSimpleActions.spec.ts
  extensions/entry-extension-collapsible/package.json
  extensions/markdown-extension/package.json
  extensions/multiple-references-extension/package.json
  extensions/rich-text-extension/package.json
  extensions/singleline-extension/package.json
  package.json
  packages/boolean/package.json
  packages/boolean/src/BooleanEditor.tsx
  packages/checkbox/package.json
  packages/date/package.json
  packages/date/src/TimepickerInput.tsx
  packages/default-field-editors/package.json
  packages/dropdown/package.json
  packages/json/package.json
  packages/list/package.json
  packages/location/package.json
  packages/markdown/package.json
  packages/multiple-line/package.json
  packages/number/package.json
  packages/radio/package.json
  packages/rating/package.json
  packages/reference/package.json
  packages/reference/src/assets/WrappedAssetCard/WrappedAssetLink.tsx
  packages/rich-text/package.json
  packages/single-line/package.json
  packages/slug/package.json
  packages/tags/package.json
  packages/url/package.json
  packages/validation-errors/package.json
  yarn.lock
Labels: extension:entry-extension-collapsible, extension:markdown-extension, extension:multiple-references-extension, extension:rich-text-extension, extension:singleline-extension, package:boolean, package:checkbox, package:date, package:default-field-editors, package:dropdown, package:json, package:list, package:location, package:markdown, package:multiple-line, package:number, package:radio, package:rating, package:reference, package:rich-text, package:single-line, package:slug, package:tags, package:url, package:validation-errors, tests

#553 fix: use forma tokens for border radiuses
  extensions/entry-extension-collapsible/src/styles.ts
  packages/date/styles/styles.css
  packages/markdown/src/components/MarkdownBottomBar.tsx
  packages/markdown/src/components/MarkdownTabs.tsx
  packages/markdown/src/components/MarkdownToolbar.tsx
  packages/reference/src/components/LinkActions/redesignStyles.ts
  packages/rich-text/src/RichTextEditor.jsx
  packages/rich-text/src/plugins/CommandPalette/CommandPanel/CommandPanelMenu.js
  packages/rich-text/src/plugins/shared/NodeDecorator.js
Labels: extension:entry-extension-collapsible, package:date, package:markdown, package:reference, package:rich-text

#554 fix: 🐛 add copy when no action is available
  packages/reference/src/components/LinkActions/CombinedLinkActions.tsx
  packages/reference/src/components/LinkActions/LinkActions.tsx
  packages/reference/src/components/LinkActions/NoLinkPermissionsInfo.tsx
Labels: package:reference

#555 fix: 🐛 small layout adjustments
  packages/date/styles/styles.css
  packages/radio/src/RadioEditor.tsx
  packages/rating/src/RatingEditor.tsx
Labels: package:date, package:radio, package:rating

#564 feat(asset reference): add support for scheduled icon [PUL-1206]
  packages/reference/src/assets/WrappedAssetCard/FetchingWrappedAssetCard.tsx
  packages/reference/src/assets/WrappedAssetCard/WrappedAssetCard.tsx
  packages/reference/src/assets/WrappedAssetCard/WrappedAssetLink.tsx
Labels: package:reference
