Repository contentful/field-editors, pull requests merged in 2021-11, with the labels that each got.

#905 chore: bump rte next to 0.26.4-next
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Labels: package:rich-text, package:default-field-editors, app:rich-text-app

#907 fix(rich-text-editor): specify font-family
  packages/rich-text/src/RichTextEditor.jsx
Labels: package:rich-text

#900 fix: add rich-text-plain-text-renderer as rich-text dep
  packages/rich-text/package.json
  yarn.lock
Labels: package:rich-text

#908 fix: pass a unique form-control id
  packages/default-field-editors/src/FieldWrapper.tsx
Labels: package:default-field-editors

#912 chore: bump rte next to 2.0.0-next.0
  apps/entry-app-collapsible/package.json
  apps/rich-text-app/package.json
  cypress/integration/RichTextEditor.spec.ts
  package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
  packages/rich-text/src/dialogs/HypelinkDialog/HyperlinkDialog.jsx
  packages/rich-text/src/plugins/EmbeddedEntity/index.tsx
  packages/rich-text/src/plugins/EmbeddedEntityInline/FetchingWrappedInlineEntryCard.tsx
  packages/rich-text/src/plugins/Heading/index.tsx
  packages/rich-text/src/plugins/Hyperlink/HyperlinkModal.tsx
  packages/rich-text/src/plugins/Table/TableActions.tsx
  packages/rich-text/src/plugins/shared/FetchingWrappedEntryCard.tsx
  yarn.lock
Labels: package:rich-text, package:default-field-editors, tests, app:entry-app-collapsible, app:rich-text-app

#917 fix: mitigate flaky cypress tests
  cypress.json
  cypress/integration/RichTextEditor.spec.ts
  cypress/support/commands.js
Labels: tests

#920 ci: integration tests via matrix
  .circleci/config.yml
Labels: tools

#913 fix: forbid embed entries in links
  packages/rich-text/src/Toolbar/EmbedEntityWidget.tsx
Labels: package:rich-text

#921 test: basic pasting test
  cypress/integration/rich-text/README.md
  cypress/integration/rich-text/RichTextEditor.Pasting.spec.ts
  cypress/integration/rich-text/RichTextEditor.spec.ts
  cypress/integration/rich-text/getting-clipboard-data.gif
  cypress/integration/rich-text/pasting-into-test.gif
  cypress/integration/rich-text/utils.ts
  cypress/support/commands.js
  cypress/support/index.d.ts
  cypress/tsconfig.json
  package.json
  packages/rich-text/src/ClipboardCapture.mdx
  packages/rich-text/src/RichTextEditor.mdx
  patches/slate-react+0.69.0.patch
  yarn.lock
Labels: package:rich-text, tests

#911 fix: embedded block between paragraphs []
  cypress/integration/rich-text/RichTextEditor.spec.ts
  packages/rich-text/src/plugins/InsertBeforeFirstVoidBlock/index.tsx
Labels: package:rich-text, tests

#923 chore: update rich-text packages
  package.json
  packages/rich-text/package.json
  yarn.lock
Labels: package:rich-text

#918 refactor: ToolbarButton as function component
  packages/rich-text/src/plugins/Bold/index.tsx
  packages/rich-text/src/plugins/Code/index.tsx
  packages/rich-text/src/plugins/Hr/index.tsx
  packages/rich-text/src/plugins/Hyperlink/index.tsx
  packages/rich-text/src/plugins/Italic/index.tsx
  packages/rich-text/src/plugins/List/index.tsx
  packages/rich-text/src/plugins/Quote/index.tsx
  packages/rich-text/src/plugins/Table/index.tsx
  packages/rich-text/src/plugins/Underline/index.tsx
  packages/rich-text/src/plugins/shared/ToolbarButton.tsx
Labels: package:rich-text

#922 fix: no cell deletion via keyboard
  cypress/integration/rich-text/RichTextEditor.spec.ts
  packages/rich-text/src/helpers/editor.ts
  packages/rich-text/src/plugins/Table/index.tsx
Labels: package:rich-text, tests

#915 fix: deserialize different lines as multiple paragraphs
  packages/rich-text/src/plugins/Paragraph/index.tsx
Labels: package:rich-text

#916 feat: make embedded blocks draggable []
  cypress/integration/rich-text/RichTextEditor.spec.ts
  packages/rich-text/src/RichTextEditor.tsx
  packages/rich-text/src/plugins/DragAndDrop/index.tsx
  packages/rich-text/src/plugins/EmbeddedEntityBlock/LinkedEntityBlock.tsx
  packages/rich-text/src/plugins/EmbeddedEntityInline/index.tsx
Labels: package:rich-text, tests

#927 fix: card actions click issue
  apps/entry-app-collapsible/package.json
  apps/markdown-app/package.json
  apps/multiple-references-app/package.json
  apps/rich-text-app/package.json
  apps/singleline-app/package.json
  package.json
  packages/_shared/package.json
  packages/_test/package.json
  packages/boolean/package.json
  packages/checkbox/package.json
  packages/date/package.json
  packages/default-field-editors/package.json
  packages/dropdown/package.json
  packages/json/package.json
  packages/list/package.json
  packages/location/package.json
  packages/markdown/package.json
  packages/multiple-line/package.json
  packages/number/package.json
  packages/radio/package.json
  packages/rating/package.json
  packages/reference/package.json
  packages/rich-text/package.json
  packages/single-line/package.json
  packages/slug/package.json
  packages/tags/package.json
  packages/url/package.json
  packages/validation-errors/package.json
  yarn.lock
Labels: package:rich-text, package:boolean, package:checkbox, package:date, package:default-field-editors, package:dropdown, package:json, package:list, package:location, package:markdown, package:multiple-line, package:number, package:radio, package:rating, package:reference, package:single-line, package:slug, package:tags, package:url, package:validation-errors, package:_shared, package:_test, app:entry-app-collapsible, app:markdown-app, app:multiple-references-app, app:rich-text-app, app:singleline-app

#919 fix: pasting text content inside lists
  cypress/integration/rich-text/RichTextEditor.Pasting.spec.ts
  cypress/integration/rich-text/RichTextEditor.spec.ts
  cypress/integration/rich-text/RichTextPage.ts
  cypress/integration/rich-text/utils.ts
  packages/rich-text/package.json
  packages/rich-text/src/ContentfulEditorProvider.ts
  packages/rich-text/src/RichTextEditor.tsx
  packages/rich-text/src/helpers/deserializer.ts
  packages/rich-text/src/helpers/editor.ts
  packages/rich-text/src/plugins/EmbeddedEntityBlock/index.tsx
  packages/rich-text/src/plugins/EmbeddedEntityInline/FetchingWrappedInlineEntryCard.tsx
  packages/rich-text/src/plugins/Heading/index.tsx
  packages/rich-text/src/plugins/Hr/index.tsx
  packages/rich-text/src/plugins/Hyperlink/HyperlinkModal.tsx
  packages/rich-text/src/plugins/List/getListInsertFragment.ts
  packages/rich-text/src/plugins/List/index.tsx
  packages/rich-text/src/plugins/NewLine/index.tsx
  packages/rich-text/src/plugins/Paragraph/index.tsx
  packages/rich-text/src/plugins/Paste/index.tsx
  packages/rich-text/src/plugins/Paste/sanitizers/helpers.tsx
  packages/rich-text/src/plugins/Quote/index.tsx
  packages/rich-text/src/plugins/Table/TableActions.tsx
  packages/rich-text/src/plugins/Table/actions/addColumn.ts
  packages/rich-text/src/plugins/Table/actions/addRow.ts
  packages/rich-text/src/plugins/Table/actions/setHeader.ts
  packages/rich-text/src/plugins/Table/helpers.ts
  packages/rich-text/src/plugins/Table/index.tsx
  yarn.lock
Labels: package:rich-text, tests

#928 fix: internal copy and paste for firefox, chromium and safari []
  packages/rich-text/src/helpers/environment.ts
  packages/rich-text/src/plugins/EmbeddedEntityBlock/LinkedEntityBlock.tsx
  packages/rich-text/src/plugins/EmbeddedEntityInline/index.tsx
Labels: package:rich-text

#930 fix: fix list field preventing commas after forma36 v4
  packages/list/src/ListEditor.spec.tsx
  packages/list/src/ListEditor.tsx
Labels: package:list

#932 chore: bump next version to 2.0.0-next.1 []
  apps/entry-app-collapsible/package.json
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Labels: package:rich-text, package:default-field-editors, app:entry-app-collapsible, app:rich-text-app

#933 fix: h5 & h6 are incorrectly marked as h1
  packages/rich-text/src/plugins/Heading/index.tsx
Labels: package:rich-text

#935 chore(deps): bump slate & slate-react to v0.70.x
  packages/rich-text/package.json
  patches/slate-react+0.69.0.patch
  yarn.lock
Labels: package:rich-text

#934 feat: replace empty paragraphs with tables when inserted []
  cypress/integration/rich-text/RichTextEditor.spec.ts
  packages/rich-text/src/Toolbar/index.tsx
  packages/rich-text/src/plugins/Table/helpers.ts
Labels: package:rich-text, tests

#939 chore: use cypress & mocha linting rules on next branch
  cypress/.eslintrc.js
  cypress/integration/LocationEditor.spec.ts
  cypress/integration/rich-text/RichTextEditor.spec.ts
  package.json
  yarn.lock
Labels: tests

#938 test: use click again to unfocus block embeds
  cypress/integration/rich-text/RichTextEditor.spec.ts
Labels: tests

#940 chore: use cypress & mocha linting rules
  cypress/.eslintrc.js
  cypress/integration/LocationEditor.spec.ts
  cypress/integration/RichTextEditor.spec.ts
  package.json
  yarn.lock
Labels: tests

#937 feat: remove empty paragraphs when pressing delete []
  cypress/integration/LocationEditor.spec.ts
  cypress/integration/rich-text/RichTextEditor.spec.ts
  packages/rich-text/src/RichTextEditor.tsx
  packages/rich-text/src/plugins/EmbeddedEntityBlock/index.tsx
  packages/rich-text/src/plugins/Paragraph/index.tsx
  packages/rich-text/src/plugins/Text/index.ts
Labels: package:rich-text, tests

#942 fix(references): sort content types alphabetically
  cypress/integration/LocationEditor.spec.ts
  packages/reference/src/components/CreateEntryLinkButton/CreateEntryLinkButton.tsx
Labels: package:reference, tests

#943 fix: correctly determine default widget
  .circleci/config.yml
  .nvmrc
  cypress/fixtures/maps-by-address.json
  cypress/fixtures/maps-by-coordinates.json
  cypress/integration/DateEditor.spec.ts
  cypress/integration/LocationEditor.spec.ts
  cypress/integration/MarkdownEditorCheatsheet.spec.ts
  cypress/integration/MarkdownEditorInsertLink.spec.ts
  cypress/integration/MarkdownEditorInsertTable.spec.ts
  cypress/integration/MarkdownEditorSpecialCharacter.spec.ts
  cypress/integration/MarkdownEmbedExternal.spec.ts
  cypress/integration/MultipleMediaEditor.spec.ts
  cypress/integration/MultipleReferenceEditor.spec.ts
  cypress/support/commands.js
  cypress/support/index.d.ts
  package.json
  packages/default-field-editors/package.json
  packages/default-field-editors/src/getDefaultWidgetId.ts
  packages/reference/src/components/CreateEntryLinkButton/CreateEntryLinkButton.tsx
  yarn.lock
Labels: tools, package:default-field-editors, package:reference, tests
