Repository contentful/field-editors, pull requests merged in 2021-08, with the labels that each got.

#792 fix: 🐛 search on dropdown losing focus after change
  packages/reference/src/components/CreateEntryLinkButton/CreateEntryMenuTrigger.tsx
Labels: package:reference

#795 feat: 🎸 add char counter
  packages/multiple-line/src/MultipleLineEditor.mdx
  packages/multiple-line/src/MultipleLineEditor.tsx
  packages/multiple-line/src/styles.ts
Labels: package:multiple-line

#794 fix: block embeds
  packages/rich-text/src/plugins/EmbeddedEntityBlock/Util.ts
Labels: package:rich-text

#797 fix: focus on search input
  packages/reference/src/components/CreateEntryLinkButton/CreateEntryMenuTrigger.tsx
Labels: package:reference

#796 feat: add suport for deserialization
  packages/rich-text/src/helpers/deserializer.ts
  packages/rich-text/src/plugins/Bold/index.tsx
  packages/rich-text/src/plugins/Code/index.tsx
  packages/rich-text/src/plugins/EmbeddedEntityBlock/LinkedEntityBlock.tsx
  packages/rich-text/src/plugins/EmbeddedEntityBlock/index.tsx
  packages/rich-text/src/plugins/EmbeddedEntityInline/index.tsx
  packages/rich-text/src/plugins/Heading/index.tsx
  packages/rich-text/src/plugins/Hr/index.tsx
  packages/rich-text/src/plugins/Hyperlink/HyperlinkModal.tsx
  packages/rich-text/src/plugins/Hyperlink/index.tsx
  packages/rich-text/src/plugins/Paragraph/index.tsx
  packages/rich-text/src/plugins/Quote/index.tsx
Labels: package:rich-text

#799 feat: throttle slug editor uniqueness requests
  packages/slug/package.json
  packages/slug/src/SlugEditor.test.tsx
  packages/slug/src/SlugEditor.tsx
  packages/slug/src/SlugEditorField.tsx
  yarn.lock
Labels: package:slug

#806 fix(rich-text): unique editor state per field
  packages/rich-text/src/RichTextEditor.mdx
  packages/rich-text/src/RichTextEditor.tsx
Labels: package:rich-text

#803 fix: FieldConnector setValue race conditions
  packages/_shared/package.json
  packages/_shared/src/FieldConnector.test.tsx
  packages/_shared/src/FieldConnector.ts
Labels: package:_shared

#802 feat: add table tracking / remove keyboard shortcuts
  cypress/integration/RichTextEditor.spec.ts
  packages/default-field-editors/src/Field.spec.tsx
  packages/default-field-editors/src/Field.tsx
  packages/rich-text/src/RichTextEditor.mdx
  packages/rich-text/src/RichTextEditor.tsx
  packages/rich-text/src/TrackingProvider.tsx
  packages/rich-text/src/helpers/editor.ts
  packages/rich-text/src/plugins/Table/TableActions.tsx
  packages/rich-text/src/plugins/Table/helpers.ts
  packages/rich-text/src/plugins/Table/index.tsx
Labels: package:rich-text, package:default-field-editors, tests

#809 refactor: Migrate to pill v4
  packages/tags/src/TagsEditor.tsx
Labels: package:tags

#812 chore(dep): upgrade slate packages []
  packages/rich-text/package.json
  yarn.lock
Labels: package:rich-text

#813 fix(rich-text): disable block embeds inside Tables
  packages/rich-text/src/Toolbar/EmbedEntityWidget.tsx
  packages/rich-text/src/Toolbar/index.tsx
Labels: package:rich-text

#815 chore(rich-text): bump @contentful/field-editor-rich-text to 0.21.6-next
  packages/rich-text/package.json
Labels: package:rich-text

#814 fix(rich-text): set tooltip placement to bottom
  packages/rich-text/package.json
  packages/rich-text/src/plugins/Bold/index.tsx
  packages/rich-text/src/plugins/Code/index.tsx
  packages/rich-text/src/plugins/Hr/index.tsx
  packages/rich-text/src/plugins/Hyperlink/index.tsx
  packages/rich-text/src/plugins/Italic/index.tsx
  packages/rich-text/src/plugins/List/index.tsx
  packages/rich-text/src/plugins/Quote/index.tsx
  packages/rich-text/src/plugins/Table/index.tsx
  packages/rich-text/src/plugins/Underline/index.tsx
  yarn.lock
Labels: package:rich-text

#816 chore: update dependencies on RT by other packages
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
Labels: package:default-field-editors, app:rich-text-app

#817 fix(rich-text): embed entity widget dropdown glitch
  packages/rich-text/src/Toolbar/EmbedEntityWidget.tsx
Labels: package:rich-text

#818 fix(rich-text): correct inline embeds insertion
  packages/rich-text/src/plugins/EmbeddedEntityInline/Util.ts
  packages/rich-text/src/plugins/EmbeddedEntityInline/index.tsx
Labels: package:rich-text

#819 chore(rich-text): bump @contentful/field-editor-rich-text to 0.21.7-next
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Labels: package:rich-text, package:default-field-editors, app:rich-text-app

#823 chore(Note): v4 Note adoption
  packages/_shared/package.json
  packages/_shared/src/PredefinedValuesError.tsx
  yarn.lock
Labels: package:_shared

#825 test: fix google maps location address
  cypress/integration/LocationEditor.spec.ts
Labels: tests

#824 fix: blockquote wrapping/unwrapping buggy
  cypress/integration/RichTextEditor.spec.ts
  packages/rich-text/src/helpers/editor.ts
  packages/rich-text/src/plugins/Heading/index.tsx
  packages/rich-text/src/plugins/Hr/index.tsx
  packages/rich-text/src/plugins/List/index.tsx
Labels: package:rich-text, tests
