Repository contentful/field-editors, pull requests merged in 2021-10, with the labels that each got.

#878 feat: 🎸 run Radio codemod
  cypress/integration/LocationEditor.spec.ts
  packages/boolean/src/BooleanEditor.tsx
  packages/location/src/LocationSelector.tsx
  packages/markdown/src/dialogs/EmdebExternalContentDialog.tsx
  packages/radio/src/RadioEditor.tsx
Labels: package:boolean, package:location, package:markdown, package:radio, tests

#877 feat: enable block elements in list items
  package.json
  packages/rich-text/src/RichTextEditor.tsx
  packages/rich-text/src/plugins/List/index.tsx
  patches/@udecode+plate-list+3.5.1.patch
  yarn.lock
Labels: package:rich-text

#879 feat: v4 Form component adoption
  packages/checkbox/src/CheckboxEditor.tsx
  packages/markdown/src/dialogs/EmdebExternalContentDialog.tsx
  packages/markdown/src/dialogs/InsertLinkModalDialog.tsx
  packages/markdown/src/dialogs/InsertTableModalDialog.tsx
  packages/radio/src/RadioEditor.tsx
Labels: package:checkbox, package:markdown, package:radio

#882 fix: handle 'failed' entity state
  packages/reference/src/common/EntityStore.ts
  packages/rich-text/src/plugins/EmbeddedEntityInline/FetchingWrappedInlineEntryCard.tsx
  packages/rich-text/src/plugins/shared/FetchingWrappedAssetCard.tsx
  packages/rich-text/src/plugins/shared/FetchingWrappedEntryCard.tsx
Labels: package:rich-text, package:reference
