Repository contentful/field-editors, pull requests merged in 2022-03, with the labels that each got.

#1052 fix(rich-text): use sdk provider in ConnectedRichTextEditor
  packages/rich-text/src/ContentfulEditorProvider.ts
  packages/rich-text/src/RichTextEditor.tsx
Labels: package:rich-text

#1049 fix: clear rte state on unmount
  packages/rich-text/src/RichTextEditor.tsx
Labels: package:rich-text

#1053 feat: support onClick on WrappedEntryCard component
  packages/reference/src/entries/WrappedEntryCard/WrappedEntryCard.tsx
Labels: package:reference

#1041 fix(rich-text): handle list unwrapping
  cypress/integration/rich-text/RichTextLists.spec.ts
  cypress/integration/rich-text/__snapshots__/RichTextLists.spec.ts.snap
  packages/rich-text/README.md
  packages/rich-text/src/plugins/List/__tests__/insertListFragment.test.tsx
  packages/rich-text/src/plugins/List/components/ToolbarListButton.tsx
  packages/rich-text/src/plugins/List/transforms/toggleList.spec.tsx
  packages/rich-text/src/plugins/List/transforms/toggleList.ts
  packages/rich-text/src/test-utils/assertOutput.ts
Labels: package:rich-text, tests

#1051 fix(rte): reset data when adding headings and paragraphs
  cypress/integration/rich-text/RichTextEditor.spec.ts
  cypress/integration/rich-text/RichTextPage.ts
  packages/rich-text/src/helpers/editor.ts
  packages/rich-text/src/plugins/Heading/components/ToolbarHeadingButton.tsx
  packages/rich-text/src/plugins/Heading/createHeadingPlugin.ts
  packages/rich-text/src/plugins/Paragraph/createParagraphPlugin.ts
Labels: package:rich-text, tests

#1056 fix(rich-text): unhang triple selection ranges
  packages/rich-text/src/plugins/Quote/toggleQuote.ts
  packages/rich-text/src/plugins/Text/createTextPlugin.ts
Labels: package:rich-text

#1058 fix: initial normalization failing
  packages/rich-text/src/useNormalizedSlateValue.ts
Labels: package:rich-text

#1050 fix: correct selection after embedding an entity
  cypress/integration/rich-text/RichTextLists.spec.ts
  packages/rich-text/src/helpers/editor.ts
  packages/rich-text/src/plugins/EmbeddedEntityBlock/ToolbarIcon.tsx
  packages/rich-text/src/plugins/EmbeddedEntityBlock/Util.ts
  packages/rich-text/src/plugins/EmbeddedEntityInline/index.tsx
  packages/rich-text/src/plugins/Table/createTablePlugin.ts
Labels: package:rich-text, tests

#1059 chore: increase rte next version
  apps/entry-app-collapsible/package.json
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Labels: package:rich-text, package:default-field-editors, app:entry-app-collapsible, app:rich-text-app

#1061 fix(rte): pressing backspace on empty paragraphs
  packages/rich-text/src/plugins/Text/createTextPlugin.ts
Labels: package:rich-text

#1055 fix: reset empty list items & quotes on backspace
  cypress/integration/rich-text/RichTextEditor.spec.ts
  cypress/integration/rich-text/RichTextLists.spec.ts
  cypress/integration/rich-text/__snapshots__/RichTextEditor.spec.ts.snap
  cypress/integration/rich-text/__snapshots__/RichTextLists.spec.ts.snap
  packages/rich-text/package.json
  packages/rich-text/src/helpers/editor.ts
  packages/rich-text/src/plugins/Break/createResetNodePlugin.ts
  packages/rich-text/src/plugins/Break/index.ts
  packages/rich-text/src/plugins/List/transforms/deleteBackwardList.ts
  packages/rich-text/src/plugins/List/transforms/toggleList.ts
  packages/rich-text/src/plugins/List/transforms/unwrapList.ts
  packages/rich-text/src/plugins/List/withList.ts
  packages/rich-text/src/plugins/Quote/createQuotePlugin.ts
  packages/rich-text/src/plugins/Quote/shouldResetQuote.ts
  packages/rich-text/src/plugins/Quote/toggleQuote.ts
  packages/rich-text/src/plugins/Quote/withQuote.ts
  packages/rich-text/src/plugins/index.ts
  packages/rich-text/src/types.ts
  yarn.lock
Labels: package:rich-text, tests

#1062 chore(bump): rte 2.0.0-next.20
  apps/entry-app-collapsible/package.json
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Labels: package:rich-text, package:default-field-editors, app:entry-app-collapsible, app:rich-text-app

#1063 fix(rich-text): show inline entry CT as tooltip
  cypress/integration/rich-text/RichTextEditor.spec.ts
  packages/rich-text/src/plugins/EmbeddedEntityInline/FetchingWrappedInlineEntryCard.tsx
Labels: package:rich-text, tests

#1064 fix: fetch hyperlink entities only once
  packages/rich-text/src/plugins/Hyperlink/EntryAssetTooltip.tsx
  packages/rich-text/src/plugins/Hyperlink/components/EntityHyperlink.tsx
  packages/rich-text/src/plugins/Hyperlink/components/ToolbarHyperlinkButton.tsx
  packages/rich-text/src/plugins/Hyperlink/components/UrlHyperlink.tsx
  packages/rich-text/src/plugins/Hyperlink/components/styles.ts
  packages/rich-text/src/plugins/Hyperlink/createHyperlinkPlugin.ts
  packages/rich-text/src/plugins/Hyperlink/index.tsx
  packages/rich-text/src/plugins/Hyperlink/truncate.ts
  packages/rich-text/src/plugins/Hyperlink/useEntityInfo.ts
  packages/rich-text/src/plugins/Hyperlink/utils.ts
Labels: package:rich-text

#1060 test: fix flaky test
  cypress/integration/rich-text/RichTextEditor.Pasting.spec.ts
Labels: tools, tests

#1068 chore(release): publish rich-text@2.0.0-next.21
  apps/entry-app-collapsible/package.json
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Labels: package:rich-text, package:default-field-editors, app:entry-app-collapsible, app:rich-text-app

#1065 fix: update rte content on external update
  cypress/integration/rich-text/RichTextEditor.spec.ts
  cypress/support/index.d.ts
  packages/_test/src/createFakeFieldAPI.ts
  packages/rich-text/package.json
  packages/rich-text/src/RichTextEditor.tsx
  packages/rich-text/src/Toolbar/components/EmbedEntityWidget.tsx
  packages/rich-text/src/plugins/shared/FetchingWrappedEntryCard.tsx
  packages/rich-text/src/prepareDocument.ts
  packages/rich-text/src/useNormalizedSlateValue.ts
  packages/rich-text/src/useOnValueChanged.ts
Labels: package:rich-text, package:_test, tests

#1067 fix(rich-text): moving list items down
  packages/rich-text/src/plugins/List/createListPlugin.ts
  packages/rich-text/src/plugins/List/onKeyDownList.ts
  packages/rich-text/src/plugins/List/transforms/moveListItemDown.ts
  packages/rich-text/src/plugins/List/transforms/moveListItems.test.tsx
  packages/rich-text/src/plugins/List/transforms/moveListItems.ts
Labels: package:rich-text

#1073 fix(rich-text): fix entity cards alignment in <li>
  packages/rich-text/src/plugins/EmbeddedEntityBlock/LinkedEntityBlock.tsx
Labels: package:rich-text

#1074 chore(release): publish rich-text v2.0.0-next.23
  apps/entry-app-collapsible/package.json
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Labels: package:rich-text, package:default-field-editors, app:entry-app-collapsible, app:rich-text-app

#1069 fix: link data in safari
  packages/rich-text/src/helpers/editor.ts
  packages/rich-text/src/plugins/Hyperlink/HyperlinkModal.tsx
  packages/rich-text/src/plugins/Hyperlink/components/EntityHyperlink.tsx
  packages/rich-text/src/plugins/Hyperlink/components/UrlHyperlink.tsx
Labels: package:rich-text, tests

#1076 fix: list toolbar state when selection is a range
  packages/rich-text/src/plugins/List/utils.ts
Labels: package:rich-text

#1077 fix: style block elements as CSS blocks
  packages/rich-text/src/plugins/EmbeddedEntityBlock/LinkedEntityBlock.tsx
Labels: package:rich-text

#1082 fix: untoggling list
  cypress/integration/rich-text/RichTextLists.spec.ts
  cypress/integration/rich-text/__snapshots__/RichTextLists.spec.ts.snap
  packages/rich-text/src/plugins/List/transforms/toggleList.ts
  packages/rich-text/src/plugins/List/transforms/unwrapList.ts
Labels: package:rich-text, tests

#1083 chore: increase rich-text next version
  apps/entry-app-collapsible/package.json
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Labels: package:rich-text, package:default-field-editors, app:entry-app-collapsible, app:rich-text-app

#1085 fix: allow linking assets on permission rule with tags
  packages/reference/src/common/useEditorPermissions.ts
Labels: package:reference

#1086 fix(rte): pressing enter before a table
  cypress/integration/rich-text/RichTextEditor.spec.ts
  packages/rich-text/src/helpers/editor.ts
  packages/rich-text/src/plugins/Table/components/Table.tsx
  packages/rich-text/src/plugins/Table/createTablePlugin.ts
Labels: package:rich-text, tests

#1088 chore(release): publish rich-text v2.0.0-next.27
  apps/entry-app-collapsible/package.json
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Labels: package:rich-text, package:default-field-editors, app:entry-app-collapsible, app:rich-text-app

#1089 fix: pass already known entry link id to onAction
  packages/reference/src/entries/WrappedEntryCard/FetchingWrappedEntryCard.tsx
Labels: package:reference
