Repository contentful/field-editors, pull requests merged in 2022-01, with the labels that each got.

#976 chore(rich-text): update f36 packages
  packages/rich-text/package.json
  yarn.lock
Labels: package:rich-text

#977 chore(rich-text): use ajv directly for validation
  package.json
  packages/rich-text/package.json
  packages/rich-text/src/RichTextEditor.mdx
  packages/rich-text/src/test-utils/validation.ts
  yarn.lock
Labels: package:rich-text

#978 perf(rich-text): strip empty spreadsheet cols/rows
  cypress/integration/rich-text/RichTextEditor.Pasting.spec.ts
  cypress/integration/rich-text/__snapshots__/RichTextEditor.Pasting.spec.ts.snap
  packages/rich-text/src/plugins/EmbeddedEntityBlock/index.tsx
  packages/rich-text/src/plugins/EmbeddedEntityInline/index.tsx
  packages/rich-text/src/plugins/Hr/index.tsx
  packages/rich-text/src/plugins/Paste/index.tsx
  packages/rich-text/src/plugins/Paste/sanitizers/helpers.tsx
  packages/rich-text/src/plugins/Paste/sanitizers/index.tsx
  packages/rich-text/src/plugins/Paste/sanitizers/removeComments.tsx
  packages/rich-text/src/plugins/Paste/sanitizers/sanitizeEntityBlocks.tsx
  packages/rich-text/src/plugins/Paste/sanitizers/sanitizeTables.tsx
  packages/rich-text/src/plugins/PasteHTML/createPasteHTMLPlugin.ts
  packages/rich-text/src/plugins/PasteHTML/index.tsx
  packages/rich-text/src/plugins/PasteHTML/utils/sanitizeHTML.ts
  packages/rich-text/src/plugins/PasteHTML/utils/sanitizeSheets.ts
  packages/rich-text/src/plugins/Table/components/Cell.tsx
  packages/rich-text/src/plugins/Table/components/HeaderCell.tsx
  packages/rich-text/src/plugins/Table/components/Row.tsx
  packages/rich-text/src/plugins/index.ts
Labels: package:rich-text, tests

#980 fix: basic marks deserialization
  cypress/integration/rich-text/RichTextEditor.Pasting.spec.ts
  cypress/integration/rich-text/__snapshots__/RichTextEditor.Pasting.spec.ts.snap
  packages/rich-text/src/RichTextEditor.tsx
  packages/rich-text/src/plugins/index.ts
Labels: package:rich-text, tests

#983 fix: allow LIST_ITEM_BLOCKS inside list items
  cypress/integration/rich-text/RichTextEditor.spec.ts
  packages/rich-text/src/plugins/List/createListPlugin.ts
  packages/rich-text/src/plugins/List/withList.ts
  packages/rich-text/src/plugins/Quote/utils.ts
Labels: package:rich-text, tests

#984 refactor: simplify toggleQuote implementation
  packages/rich-text/src/plugins/Quote/components/ToolbarQuoteButton.tsx
  packages/rich-text/src/plugins/Quote/toggleQuote.ts
  packages/rich-text/src/plugins/Quote/utils.ts
Labels: package:rich-text

#979 fix: normalize empty links
  cypress/integration/rich-text/RichTextEditor.spec.ts
  packages/rich-text/src/plugins/Hyperlink/HyperlinkModal.tsx
  packages/rich-text/src/plugins/Hyperlink/__tests__/createHyperlinkPlugin.test.tsx
  packages/rich-text/src/plugins/Hyperlink/index.tsx
  packages/rich-text/src/plugins/Hyperlink/utils.ts
Labels: package:rich-text, tests

#981 feat: add docx deserialize plugin
  cypress/integration/rich-text/RichTextEditor.Pasting.spec.ts
  cypress/integration/rich-text/__snapshots__/RichTextEditor.Pasting.spec.ts.snap
  packages/rich-text/package.json
  packages/rich-text/src/plugins/index.ts
  yarn.lock
Labels: package:rich-text, tests

#982 fix: select embedded blocks & HR on backspace
  cypress/integration/rich-text/RichTextEditor.spec.ts
  packages/rich-text/package.json
  packages/rich-text/src/plugins/SelectOnBackspace/createSelectOnBackspacePlugin.ts
  packages/rich-text/src/plugins/SelectOnBackspace/index.ts
  packages/rich-text/src/plugins/index.ts
  packages/rich-text/src/test-utils/assertOutput.ts
  yarn.lock
Labels: package:rich-text, tests

#987 chore(rich-text): bump to version 2.0.0-next.4
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Labels: package:rich-text, package:default-field-editors

#988 feat: bump f36 packages to stable v4 [BAU-521]
  apps/entry-app-collapsible/package.json
  apps/markdown-app/package.json
  apps/multiple-references-app/package.json
  apps/rich-text-app/package.json
  apps/singleline-app/package.json
  package.json
  packages/_shared/package.json
  packages/_test/package.json
  packages/boolean/package.json
  packages/checkbox/package.json
  packages/date/package.json
  packages/default-field-editors/package.json
  packages/dropdown/package.json
  packages/json/package.json
  packages/list/package.json
  packages/location/package.json
  packages/markdown/package.json
  packages/multiple-line/package.json
  packages/number/package.json
  packages/radio/package.json
  packages/rating/package.json
  packages/reference/package.json
  packages/rich-text/package.json
  packages/single-line/package.json
  packages/slug/package.json
  packages/tags/package.json
  packages/url/package.json
  packages/validation-errors/package.json
  yarn.lock
Labels: package:rich-text, package:boolean, package:checkbox, package:date, package:default-field-editors, package:dropdown, package:json, package:list, package:location, package:markdown, package:multiple-line, package:number, package:radio, package:rating, package:reference, package:single-line, package:slug, package:tags, package:url, package:validation-errors, package:_shared, package:_test, app:entry-app-collapsible, app:markdown-app, app:multiple-references-app, app:rich-text-app, app:singleline-app

#989 fix(rich-text): correctly toggle blockquotes
  cypress/integration/rich-text/RichTextEditor.spec.ts
  cypress/integration/rich-text/__snapshots__/RichTextEditor.spec.ts.snap
  packages/rich-text/src/ClipboardCapture.mdx
  packages/rich-text/src/plugins/Quote/createQuotePlugin.ts
  packages/rich-text/src/plugins/Quote/toggleQuote.ts
Labels: package:rich-text, tests

#993 fix: render entity links as Anchors
  packages/rich-text/src/plugins/Hyperlink/index.tsx
Labels: package:rich-text

#996 chore: Bumping rich text package next version
  packages/rich-text/package.json
Labels: package:rich-text

#997 fix: remove empty text hyperlinks
  packages/rich-text/src/plugins/Hyperlink/index.js
Labels: package:rich-text

#992 feat: entry fetched callback in links
  cypress/integration/rich-text/RichTextEditor.spec.ts
  cypress/integration/rich-text/documentWithLinks.js
  cypress/support/commands.js
  cypress/support/index.d.ts
  packages/rich-text/src/RichTextEditor.mdx
  packages/rich-text/src/TrackingProvider.tsx
  packages/rich-text/src/plugins/EmbeddedEntityBlock/LinkedEntityBlock.tsx
  packages/rich-text/src/plugins/EmbeddedEntityBlock/index.tsx
  packages/rich-text/src/plugins/EmbeddedEntityInline/FetchingWrappedInlineEntryCard.tsx
  packages/rich-text/src/plugins/EmbeddedEntityInline/index.tsx
  packages/rich-text/src/plugins/Hyperlink/index.tsx
  packages/rich-text/src/plugins/index.ts
  packages/rich-text/src/plugins/links-tracking.tsx
  packages/rich-text/src/plugins/shared/FetchingWrappedAssetCard.tsx
  packages/rich-text/src/plugins/shared/FetchingWrappedEntryCard.tsx
Labels: package:rich-text, tests

#1000 fix: escape hyperlinks when typing at the end
  cypress/integration/rich-text/RichTextEditor.spec.ts
  cypress/integration/rich-text/RichTextEscapeInlines.spec.ts
  cypress/integration/rich-text/RichTextPage.ts
  cypress/integration/rich-text/__snapshots__/RichTextEscapeInlines.spec.ts.snap
  packages/rich-text/src/plugins/Text/createTextPlugin.ts
  packages/rich-text/src/plugins/Text/index.ts
Labels: package:rich-text, tests

#999 fix: move cursor to previous point after heading choice
  packages/rich-text/src/plugins/Heading/components/ToolbarHeadingButton.tsx
Labels: package:rich-text

#1004 fix: remove leading li when pasting inside a list
  apps/entry-app-collapsible/package.json
  apps/rich-text-app/package.json
  cypress/integration/rich-text/RichTextEditor.Pasting.spec.ts
  cypress/integration/rich-text/__snapshots__/RichTextEditor.Pasting.spec.ts.snap
  packages/rich-text/package.json
  packages/rich-text/src/plugins/EmbeddedEntityInline/index.tsx
  packages/rich-text/src/plugins/List/__tests__/createListPlugin.test.tsx
  packages/rich-text/src/plugins/List/__tests__/insertListBreak.test.tsx
  packages/rich-text/src/plugins/List/__tests__/insertListFragment.test.tsx
  packages/rich-text/src/plugins/List/components/List.tsx
  packages/rich-text/src/plugins/List/components/ListItem.tsx
  packages/rich-text/src/plugins/List/getListInsertFragment.ts
  packages/rich-text/src/plugins/List/insertListBreak.ts
  packages/rich-text/src/plugins/List/insertListFragment.ts
  packages/rich-text/src/plugins/List/transforms/insertListItem.ts
  packages/rich-text/src/plugins/List/withList.ts
  packages/rich-text/src/test-utils/assertOutput.ts
  yarn.lock
Labels: package:rich-text, tests, app:entry-app-collapsible, app:rich-text-app

#1005 fix: handle more edge cases in insertListItem
  packages/rich-text/src/plugins/List/__tests__/insertListBreak.test.tsx
  packages/rich-text/src/plugins/List/insertListBreak.ts
  packages/rich-text/src/plugins/List/transforms/insertListItem.ts
Labels: package:rich-text, tests, app:entry-app-collapsible, app:rich-text-app

#1009 fix(rich-text): revert back id change
  packages/rich-text/src/ContentfulEditorProvider.ts
Labels: package:rich-text

#1007 fix: enter new line in list item after entity block
  cypress/integration/rich-text/RichTextEditor.spec.ts
  cypress/integration/rich-text/__snapshots__/RichTextEditor.spec.ts.snap
  packages/rich-text/src/plugins/EmbeddedEntityBlock/LinkedEntityBlock.tsx
  packages/rich-text/src/plugins/Voids/createVoidsPlugin.ts
Labels: package:rich-text, tests

#1006 fix: scroll focus issue on safari
  packages/rich-text/src/helpers/editor.ts
  packages/rich-text/src/helpers/environment.ts
  packages/rich-text/src/plugins/EmbeddedEntityBlock/Util.ts
  packages/rich-text/src/plugins/EmbeddedEntityInline/index.tsx
  packages/rich-text/src/plugins/Heading/components/ToolbarHeadingButton.tsx
  packages/rich-text/src/plugins/Hr/index.tsx
  packages/rich-text/src/plugins/Hyperlink/HyperlinkModal.tsx
  packages/rich-text/src/plugins/List/components/ToolbarListButton.tsx
  packages/rich-text/src/plugins/Marks/Bold.tsx
  packages/rich-text/src/plugins/Marks/Code.tsx
  packages/rich-text/src/plugins/Marks/Italic.tsx
  packages/rich-text/src/plugins/Marks/Underline.tsx
  packages/rich-text/src/plugins/Quote/components/ToolbarQuoteButton.tsx
  packages/rich-text/src/plugins/Table/components/TableActions.tsx
  packages/rich-text/src/plugins/Table/components/ToolbarButton.tsx
Labels: package:rich-text

#1002 fix: remove empty paragraph at rte start
  packages/rich-text/src/plugins/Text/__tests__/createTextPlugin.test.tsx
  packages/rich-text/src/plugins/Text/createTextPlugin.ts
Labels: package:rich-text
