Repository contentful/field-editors, pull requests merged in 2022-11, with the labels that each got.

#1271 feat: isBeingDragged multiple reference field [TOL-361]
  packages/reference/src/common/MultipleReferenceEditor.tsx
  packages/reference/src/common/ReferenceEditor.tsx
  packages/reference/src/common/customCardTypes.ts
  packages/reference/src/entries/MultipleEntryReferenceEditor.tsx
  packages/reference/src/entries/WrappedEntryCard/FetchingWrappedEntryCard.tsx
Labels: package:reference

#1272 feat: expose sorting end multiple ref field
  packages/reference/src/common/ReferenceEditor.tsx
  packages/reference/src/entries/MultipleEntryReferenceEditor.tsx
Labels: package:reference

#1273 fix: on sort end multiple reference field
  packages/reference/src/common/MultipleReferenceEditor.tsx
  packages/reference/src/common/ReferenceEditor.tsx
  packages/reference/src/entries/MultipleEntryReferenceEditor.tsx
Labels: package:reference

#1276 fix: onSortEnd before array move
  packages/reference/src/common/MultipleReferenceEditor.tsx
  packages/reference/src/common/ReferenceEditor.tsx
Labels: package:reference

#1277 fix: disable search keymap option to prevent breaking on search [ZEND-2879]
  packages/json/src/JsonEditorField.tsx
Labels: package:json

#1281 fix: explicitly setting sub super styles [TOL-30]
  packages/rich-text/package.json
  packages/rich-text/src/plugins/Marks/Subscript.tsx
  packages/rich-text/src/plugins/Marks/Superscript.tsx
  yarn.lock
Labels: package:rich-text
