Repository contentful/field-editors, pull requests merged in 2022-12, with the labels that each got.

#1289 chore(deps): auto-assign dependabot PRs
  .github/dependabot.yml
Labels: tools

#1298 chore(deps): fix codeowners shadowing dependabot config
  .github/CODEOWNERS
Labels: tools

#1287 feat: dropdown toolbar rich text [TOL-764]
  cypress/integration/rich-text/RichTextEditor.Tracking.spec.ts
  cypress/integration/rich-text/RichTextEditor.spec.ts
  packages/rich-text/src/Toolbar/_tests_/toolbar.test.tsx
  packages/rich-text/src/Toolbar/index.tsx
  packages/rich-text/src/plugins/Marks/Code.tsx
  packages/rich-text/src/plugins/Marks/Subscript.tsx
  packages/rich-text/src/plugins/Marks/Superscript.tsx
  packages/rich-text/src/plugins/Marks/components/MarkToolbarButton.tsx
Labels: package:rich-text, tests

#1309 chore: adding fallback when urn not in resource link [ZEND-3052]
  packages/reference/src/resources/useResourceLinkActions.ts
Labels: package:reference
