Repository contentful/field-editors, pull requests merged in 2022-09, with the labels that each got.

#1226 test: add cypress tests for xspace reference editors
  cypress/component/reference/MultipleEntryReferenceEditor.spec.tsx
  cypress/component/reference/MultipleResourceReferenceEditor.spec.tsx
  cypress/component/reference/SingleResourceReferenceEditor.spec.tsx
  packages/reference/src/__fixtures__/FakeSdk.ts
  packages/reference/src/__fixtures__/cross_space.json
  packages/reference/src/__fixtures__/locales.json
  packages/reference/src/__fixtures__/published_content_type.json
  packages/reference/src/common/EntityStore.tsx
  packages/reference/src/components/MissingEntityCard/MissingEntityCard.tsx
  packages/reference/src/resources/Cards/ResourceCard.tsx
  packages/reference/src/resources/MultipleResourceReferenceEditor.tsx
Labels: package:reference, tests

#1227 fix(reference-editor): accept pubsub messages from alias and non-alias environments
  packages/reference/src/common/EntityStore.tsx
Labels: package:reference

#1229 chore: update CODEOWNERS
  .github/CODEOWNERS
Labels: tools

#1233 fix(reference-editor): re-introduce entity refetch when slide-in is closed
  cypress/component/reference/MultipleEntryReferenceEditor.spec.tsx
  cypress/component/reference/MultipleMediaEditor.spec.tsx
  cypress/component/reference/MultipleResourceReferenceEditor.spec.tsx
  cypress/component/reference/SingleResourceReferenceEditor.spec.tsx
  cypress/component/test-sdks.ts
  cypress/fixtures/FakeSdk.ts
  cypress/fixtures/index.ts
  cypress/fixtures/navigator.ts
  cypress/fixtures/pubsub.ts
  cypress/fixtures/utils.ts
  cypress/support/commands.js
  cypress/support/index.d.ts
  package.json
  packages/reference/src/common/EntityStore.tsx
  packages/reference/src/resources/testHelpers/resourceEditorHelpers.ts
  yarn.lock
Labels: package:reference, tests

#1225 feat: date editor with new f36 datepicker [BAU-696]
  cypress/integration/DateEditor.spec.ts
  cypress/integration/MarkdownEditorCheatsheet.spec.ts
  cypress/integration/MarkdownEditorInsertLink.spec.ts
  cypress/integration/MarkdownEditorInsertTable.spec.ts
  cypress/integration/MarkdownEditorSpecialCharacter.spec.ts
  cypress/integration/MarkdownEmbedExternal.spec.ts
  cypress/plugins/webpack.config.js
  doczrc.js
  packages/date/package.json
  packages/date/src/DatepickerInput.tsx
  packages/date/src/icons/CalendarIcon.tsx
  packages/date/src/index.tsx
  packages/date/src/utils/createPikaday.ts
  packages/date/src/utils/date.ts
  packages/date/styles/styles.css
  packages/reference/src/entries/WrappedEntryCard/WrappedEntryCard.tsx
  packages/rich-text/package.json
  yarn.lock
Labels: package:rich-text, package:date, package:reference, tests

#1235 fix: cleanup console log
  packages/date/src/DatepickerInput.tsx
Labels: package:date

#1237 fix: increase pqueue concurrency in entitystore
  packages/reference/src/common/EntityStore.tsx
Labels: package:reference

#1238 fix: fix date-editor import
  packages/date/src/DatepickerInput.tsx
Labels: package:date

#1234 feat: use urn from entries that are fetched from api
  packages/reference/package.json
  packages/reference/src/resources/useResourceLinkActions.ts
  yarn.lock
Labels: package:reference

#1239 fix: fix the way date is parsed in the DateEditor [BAU-943]
  packages/date/src/DatepickerInput.tsx
Labels: package:date

#1250 chore: bump @tanstack/react-query from 4.2.3 to 4.3.9
  packages/reference/package.json
  yarn.lock
Labels: package:reference

#1254 chore: bump rich-text-types from 15.12.1 to 15.12.3
  packages/rich-text/package.json
  yarn.lock
Labels: package:rich-text

#1255 fix(field-editor-date): fix date formatting []
  packages/date/src/DatepickerInput.tsx
Labels: package:date

#1251 test: add tests for field-editor-date timezone logic
  cypress/integration/DateEditor.spec.ts
  packages/date/package.json
  packages/date/src/DatepickerInput.spec.tsx
  yarn.lock
Labels: package:date, tests

#1256 chore: update f36-components from 4.0.33 to 4.20.6
  packages/rich-text/package.json
  yarn.lock
Labels: package:rich-text
