Repository contentful/field-editors, pull requests merged in 2022-08, with the labels that each got.

#1206 chore: add stale action
  .github/workflows/stale.yml
Labels: tools

#1209 fix: version compare [TOL-339]
  packages/reference/src/assets/WrappedAssetCard/FetchingWrappedAssetCard.tsx
Labels: package:rich-text, package:reference

#1207 fix: introduce callback to properly handle available content types [ZEND-2500]
  packages/reference/src/components/LinkActions/LinkEntityActions.tsx
Labels: package:reference

#1210 fix: version compare webapp
  packages/rich-text/src/plugins/shared/useFetchedEntity.ts
Labels: package:rich-text

#1211 fix: check store in entity fetch
  packages/rich-text/src/plugins/shared/useFetchedEntity.ts
Labels: package:rich-text

#1212 fix: update hooks deps in useFetchedEntity [TOL-339]
  packages/rich-text/src/plugins/shared/useFetchedEntity.ts
Labels: package:rich-text

#1213 fix: rollback change of deps in useFetchedEntity
  packages/rich-text/src/plugins/shared/useFetchedEntity.ts
Labels: package:rich-text

#1214 feat: moving new entity store in [TOL-282]
  cypress/integration/rich-text/RichTextEditor.spec.ts
  package.json
  packages/reference/package.json
  packages/reference/src/assets/WrappedAssetCard/FetchingWrappedAssetCard.tsx
  packages/reference/src/common/EntityStore.ts
  packages/reference/src/common/EntityStore.tsx
  packages/reference/src/common/ReferenceEditor.tsx
  packages/reference/src/components/ScheduledIconWithTooltip/ScheduledIconWithTooltip.tsx
  packages/reference/src/entries/WrappedEntryCard/FetchingWrappedEntryCard.tsx
  packages/reference/src/index.tsx
  packages/rich-text/src/plugins/EmbeddedEntityInline/FetchingWrappedInlineEntryCard.tsx
  packages/rich-text/src/plugins/shared/FetchingWrappedAssetCard.tsx
  packages/rich-text/src/plugins/shared/FetchingWrappedEntryCard.tsx
  packages/rich-text/src/plugins/shared/useFetchedEntity.ts
  packages/rich-text/src/plugins/shared/useStableCallback.ts
  yarn.lock
Labels: package:rich-text, package:reference, tests

#1203 refactor: Number field-editor [BAU-722]
  packages/number/package.json
  packages/number/src/NumberEditor.spec.tsx
  packages/number/src/NumberEditor.styles.ts
  packages/number/src/NumberEditor.tsx
  packages/number/src/parseNumber.spec.ts
  packages/number/src/parseNumber.ts
  packages/number/src/utils.ts
Labels: package:number

#1216 feat: moving resource editors from web app [TOL-282]
  cypress/integration/rich-text/RichTextEditor.spec.ts
  packages/reference/package.json
  packages/reference/src/common/EntityStore.tsx
  packages/reference/src/index.tsx
  packages/reference/src/resources/Cards/ContentfulEntryCard.tsx
  packages/reference/src/resources/Cards/ResourceCard.tsx
  packages/reference/src/resources/Cards/UnsupportedEntityCard.tsx
  packages/reference/src/resources/MultipleResourceReferenceEditor.spec.tsx
  packages/reference/src/resources/MultipleResourceReferenceEditor.tsx
  packages/reference/src/resources/SingleResourceReferenceEditor.spec.tsx
  packages/reference/src/resources/SingleResourceReferenceEditor.tsx
  packages/reference/src/resources/index.ts
  packages/reference/src/resources/testHelpers/resourceEditorHelpers.ts
  packages/reference/src/resources/useResourceLinkActions.ts
  packages/reference/src/types.ts
  yarn.lock
Labels: package:rich-text, package:reference, tests

#1220 fix: add p-queue as dependency
  packages/reference/package.json
Labels: package:reference

#1221 feat: add line wrapping to the JSON editor
  packages/json/src/JsonEditorField.tsx
Labels: package:json

#1222 fix: change the props type definitions
  packages/reference/src/assets/MultipleMediaEditor.tsx
  packages/reference/src/assets/SingleMediaEditor.tsx
Labels: package:reference

#1223 fix(EntityStore): respect environment alias
  packages/reference/src/common/EntityStore.tsx
Labels: package:reference
