Repository contentful/field-editors, pull requests merged in 2022-07, with the labels that each got.

#1169 feat: rich text commands [TOL-109]
  packages/rich-text/src/RichTextEditor.tsx
  packages/rich-text/src/plugins/CommandPalette/components/CommandList.styles.ts
  packages/rich-text/src/plugins/CommandPalette/components/CommandList.tsx
  packages/rich-text/src/plugins/CommandPalette/components/CommandPrompt.tsx
  packages/rich-text/src/plugins/CommandPalette/constants.ts
  packages/rich-text/src/plugins/CommandPalette/createCommandPalettePlugin.ts
  packages/rich-text/src/plugins/CommandPalette/hooks/useCommandList.tsx
  packages/rich-text/src/plugins/CommandPalette/index.ts
  packages/rich-text/src/plugins/CommandPalette/onKeyDown.ts
  packages/rich-text/src/plugins/CommandPalette/useCommands.ts
  packages/rich-text/src/plugins/CommandPalette/utils/createInlineEntryNode.ts
  packages/rich-text/src/plugins/CommandPalette/utils/fetchAssets.ts
  packages/rich-text/src/plugins/CommandPalette/utils/fetchEntries.ts
  packages/rich-text/src/plugins/CommandPalette/utils/insertBlock.ts
  packages/rich-text/src/plugins/CommandPalette/utils/trimLeadingSlash.ts
  packages/rich-text/src/plugins/SlashCommands/SlashCommandsPalette.tsx
  packages/rich-text/src/plugins/SlashCommands/createSlashCommandsPlugin.tsx
  packages/rich-text/src/plugins/SlashCommands/helpers.ts
  packages/rich-text/src/plugins/SlashCommands/index.tsx
  packages/rich-text/src/plugins/index.ts
  packages/rich-text/src/useOnValueChanged.ts
Labels: package:rich-text

#1176 feat: add optional space name to entry card
  packages/reference/src/components/SpaceName/SpaceName.tsx
  packages/reference/src/entries/WrappedEntryCard/WrappedEntryCard.tsx
Labels: package:reference

#1174 feat: add tracking for rich-text-commands
  cypress/integration/rich-text/RichTextEditor.Tracking.spec.ts
  packages/rich-text/src/plugins/CommandPalette/onKeyDown.ts
  packages/rich-text/src/plugins/CommandPalette/useCommands.ts
  packages/rich-text/src/plugins/Tracking/createTrackingPlugin.ts
Labels: package:rich-text, tests

#1178 fix: add validations to rt-command embedding, allow table embedding, improve click handling
  cypress/integration/rich-text/RichTextEditor.Tracking.spec.ts
  cypress/integration/rich-text/RichTextEditor.spec.ts
  packages/rich-text/package.json
  packages/rich-text/src/plugins/CommandPalette/components/CommandList.styles.ts
  packages/rich-text/src/plugins/CommandPalette/components/CommandList.tsx
  packages/rich-text/src/plugins/CommandPalette/components/CommandPrompt.tsx
  packages/rich-text/src/plugins/CommandPalette/hooks/useCommandList.tsx
  packages/rich-text/src/plugins/CommandPalette/useCommands.ts
  yarn.lock
Labels: package:rich-text, tests

#1179 feat: add simple fetching for resources
  packages/_test/package.json
  packages/_test/src/createFakeCMAAdapter.ts
  packages/_test/src/index.ts
  packages/reference/package.json
  packages/reference/src/__fixtures__/FakeSdk.ts
  packages/reference/src/assets/WrappedAssetCard/FetchingWrappedAssetCard.tsx
  packages/reference/src/common/EntityStore.ts
  packages/reference/src/entries/SortableElements.tsx
  packages/reference/src/entries/WrappedEntryCard/FetchingWrappedEntryCard.tsx
  packages/reference/src/types.ts
  packages/rich-text/src/RichTextEditor.mdx
  packages/rich-text/src/plugins/EmbeddedEntityBlock/FetchingWrappedAssetCard.js
  packages/rich-text/src/plugins/EmbeddedEntityBlock/FetchingWrappedEntryCard.js
  packages/rich-text/src/plugins/EmbeddedEntityInline/FetchingWrappedInlineEntryCard.tsx
  packages/rich-text/src/plugins/shared/__tests__/FetchingWrappedAssetCard.test.tsx
  packages/rich-text/src/plugins/shared/__tests__/FetchingWrappedEntryCard.test.tsx
  packages/rich-text/src/plugins/shared/useFetchedEntity.ts
  yarn.lock
Labels: package:rich-text, package:reference, package:_test

#1183 fix: generalise SortableLinkList into one component
  packages/reference/src/assets/MultipleMediaEditor.tsx
  packages/reference/src/assets/SortableElements.tsx
  packages/reference/src/common/SortableLinkList.tsx
  packages/reference/src/entries/MultipleEntryReferenceEditor.tsx
  packages/reference/src/entries/SortableElements.tsx
  packages/reference/src/index.tsx
Labels: package:reference

#1185 fix: fix commands not working properly inside headings
  cypress/integration/rich-text/RichTextEditor.spec.ts
  cypress/integration/rich-text/__snapshots__/RichTextEditor.spec.ts.snap
  packages/rich-text/src/plugins/Heading/createHeadingPlugin.ts
Labels: package:rich-text, tests

#1188 fix: click handler on children of sortable list
  packages/reference/src/common/SortableLinkList.tsx
Labels: package:reference

#1190 fix: drill props correctly
  packages/reference/src/assets/MultipleMediaEditor.tsx
  packages/reference/src/entries/MultipleEntryReferenceEditor.tsx
Labels: package:reference

#1189 fix(rich-text): avoid unnecessary render of reference cards
  packages/rich-text/src/plugins/EmbeddedEntityBlock/FetchingWrappedAssetCard.js
  packages/rich-text/src/plugins/EmbeddedEntityBlock/FetchingWrappedEntryCard.js
  packages/rich-text/src/plugins/shared/FetchingWrappedAssetCard.tsx
  packages/rich-text/src/plugins/shared/FetchingWrappedEntryCard.tsx
  packages/rich-text/src/plugins/shared/useStableCallback.ts
Labels: package:rich-text

#1192 fix: no embedded entries check rich text commands [TOL-273]
  packages/rich-text/src/plugins/CommandPalette/hooks/useCommandList.tsx
Labels: package:rich-text

#1194 fix: check the env alias for the field editor reference [ZEND-2488]
  packages/reference/src/common/EntityStore.ts
Labels: package:reference

#1195 style: fix missing entry card styles [TOL-188]
  packages/reference/src/components/MissingEntityCard/MissingEntityCard.tsx
  packages/reference/src/components/MissingEntityCard/styles.ts
Labels: package:reference

#1196 test: use cypress component tests
  .circleci/config.yml
  .eslintrc.js
  cypress.json
  cypress/.eslintrc.js
  cypress/component/mount.tsx
  cypress/component/reference/MultipleEntryReferenceEditor.spec.tsx
  cypress/component/reference/MultipleMediaEditor.spec.tsx
  cypress/component/test-sdks.ts
  cypress/integration/MultipleMediaEditor.spec.ts
  cypress/integration/MultipleReferenceEditor.spec.ts
  cypress/integration/rich-text/RichTextEditor.spec.ts
  cypress/plugins/index.js
  cypress/plugins/webpack.config.js
  cypress/support/index.js
  cypress/tsconfig.json
  docz.wrapper.jsx
  package.json
  packages/default-field-editors/src/Field.spec.tsx
  packages/reference/src/__fixtures__/FakeSdk.ts
  packages/rich-text/src/plugins/shared/__tests__/FetchingWrappedAssetCard.test.tsx
  packages/rich-text/src/plugins/shared/__tests__/FetchingWrappedEntryCard.test.tsx
  packages/slug/src/services/makeSlug.test.ts
  yarn.lock
Labels: tools, package:rich-text, package:default-field-editors, package:reference, package:slug, tests

#1193 feat: replace react-codemirror2 with @uiw/react-codemirror to allow codemirror 6
  cypress/integration/JsonEditor.spec.ts
  packages/json/package.json
  packages/json/src/JsonEditor.tsx
  packages/json/src/JsonEditorField.tsx
  yarn.lock
Labels: package:json, tests

#1197 feat: bump @contentful/field-editor-json from 1.1.5 to 2.1.0 in default-field-editors
  packages/default-field-editors/package.json
  yarn.lock
Labels: package:default-field-editors

#1198 fix: truncate long space names on entry card [DANTE-634]
  packages/reference/src/components/SpaceName/SpaceName.tsx
Labels: package:reference

#1199 fix: remove old codemirror imports from json editor, cleanup
  packages/json/src/JsonEditor.tsx
  packages/json/src/JsonEditorToolbar.tsx
  packages/json/src/codemirrorImports.ts
  packages/json/src/index.tsx
Labels: package:json

#1200 fix: add white background to json editor
  packages/json/src/JsonEditorField.tsx
Labels: package:json

#1201 fix: remove custom theme from jsonEditor
  packages/json/README.md
  packages/json/package.json
  packages/json/src/JsonEditorField.tsx
  yarn.lock
Labels: package:json

#1204 chore: update `contentful-management` to the latest version
  packages/_test/package.json
  packages/default-field-editors/package.json
  packages/dropdown/package.json
  packages/radio/package.json
  packages/reference/package.json
  yarn.lock
Labels: package:default-field-editors, package:dropdown, package:radio, package:reference, package:_test

#1205 chore: remove unnecessary codemirror import from json-editor
  packages/json/package.json
  yarn.lock
Labels: package:json

#1202 test: extend multipleEntryReference component tests
  cypress/component/reference/MultipleEntryReferenceEditor.spec.tsx
  cypress/component/test-sdks.ts
  cypress/tsconfig.json
  packages/_test/src/createFakeLocalesAPI.ts
  packages/_test/src/createFakeSpaceAPI.ts
  packages/reference/src/__fixtures__/FakeSdk.ts
  packages/reference/src/__fixtures__/invalid_asset.json
  packages/reference/src/__fixtures__/invalid_entry.json
  packages/reference/src/__fixtures__/published_entry.json
  packages/reference/src/components/LinkActions/LinkActions.tsx
Labels: package:reference, package:_test, tests
