Repository contentful/field-editors, pull requests merged in 2022-02, with the labels that each got.

#1012 refactor: 💡 improve help text on link title field [BAU-552]
  packages/markdown/src/dialogs/InsertLinkModalDialog.tsx
Labels: package:markdown

#1013 chore: bumping rich text next package version 8
  packages/rich-text/package.json
Labels: package:rich-text

#1014 fix(rte-list): backspace with multiple list items []
  packages/rich-text/src/plugins/List/__tests__/createListPlugin.test.tsx
  packages/rich-text/src/plugins/List/createListPlugin.ts
  packages/rich-text/src/plugins/List/utils.ts
Labels: package:rich-text

#1018 chore(bump): rte 2.0.0-next.10 [skip-ci]
  apps/entry-app-collapsible/package.json
  apps/rich-text-app/package.json
  packages/rich-text/package.json
Labels: package:rich-text, app:entry-app-collapsible, app:rich-text-app

#1019 test(list): cypress tests for list items without paragraphs []
  cypress/integration/rich-text/RichTextLists.spec.ts
  cypress/integration/rich-text/__snapshots__/RichTextLists.spec.ts.snap
Labels: tests

#1026 fix: links within safari
  cypress/fixtures/map-search-address-reply.json
  cypress/integration/LocationEditor.spec.ts
  cypress/integration/rich-text/RichTextEditor.Pasting.spec.ts
  cypress/integration/rich-text/__snapshots__/RichTextEditor.Pasting.spec.ts.snap
  cypress/support/commands.js
  cypress/support/index.d.ts
  packages/rich-text/src/plugins/Hyperlink/index.tsx
Labels: package:rich-text, tests

#1021 fix(rte): triple selection selecting the next element instead
  cypress/integration/LocationEditor.spec.ts
  packages/rich-text/src/helpers/editor.ts
  packages/rich-text/src/plugins/Quote/toggleQuote.ts
Labels: package:rich-text, tests

#1029 chore: bump rich-text-next version []
  apps/entry-app-collapsible/package.json
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
  yarn.lock
Labels: package:rich-text, package:default-field-editors, app:entry-app-collapsible, app:rich-text-app

#1024 fix: initial normalization
  cypress/integration/rich-text/RichTextEditor.spec.ts
  cypress/integration/rich-text/__snapshots__/RichTextEditor.spec.ts.snap
  cypress/integration/rich-text/document-mocks/invalidDocumentNormalizable.js
  packages/rich-text/src/RichTextEditor.tsx
  packages/rich-text/src/helpers/sanitizeSlateDoc.ts
  packages/rich-text/src/plugins/Normalizer/withNormalizer.ts
  packages/rich-text/src/useNormalizedSlateValue.ts
Labels: package:rich-text, tests

#1032 chore(release): publish rich-text@2.0.0-next.12
  apps/entry-app-collapsible/package.json
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Labels: package:rich-text, package:default-field-editors, app:entry-app-collapsible, app:rich-text-app

#1036 fix(rich-text): editor can be undefined on first render
  packages/rich-text/src/helpers/editor.ts
Labels: package:rich-text

#1038 refactor: remove unnecessary voids normalization
  packages/rich-text/src/plugins/Voids/__tests__/createVoidsPlugin.test.tsx
  packages/rich-text/src/plugins/Voids/createVoidsPlugin.ts
  packages/rich-text/src/plugins/Voids/transformVoid.ts
Labels: package:rich-text

#1031 perf(rich-text): debounce value changes
  cypress/integration/rich-text/RichTextEditor.spec.ts
  cypress/integration/rich-text/RichTextLists.spec.ts
  cypress/integration/rich-text/RichTextPage.ts
  packages/rich-text/src/ContentfulEditorProvider.ts
  packages/rich-text/src/RichTextEditor.tsx
  packages/rich-text/src/Toolbar/_tests_/toolbar.test.tsx
  packages/rich-text/src/plugins/Marks/Bold.tsx
  packages/rich-text/src/plugins/Marks/Code.tsx
  packages/rich-text/src/plugins/Marks/Italic.tsx
  packages/rich-text/src/plugins/Marks/Underline.tsx
  packages/rich-text/src/plugins/Marks/components/MarkToolbarButton.tsx
  packages/rich-text/src/useOnValueChanged.ts
Labels: package:rich-text, tests

#1037 chore(release): publish rich-text@2.0.0-next.13
  apps/entry-app-collapsible/package.json
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Labels: package:rich-text, package:default-field-editors, app:entry-app-collapsible, app:rich-text-app

#1035 fix: pasting blockquote
  cypress/integration/rich-text/RichTextEditor.Pasting.spec.ts
  cypress/integration/rich-text/__snapshots__/RichTextEditor.Pasting.spec.ts.snap
  packages/rich-text/src/plugins/Quote/createQuotePlugin.ts
Labels: package:rich-text, tests

#1039 test: fix non-passing test in ci
  cypress/integration/rich-text/RichTextEditor.Pasting.spec.ts
Labels: tools, tests

#1043 chore(release): publish rich-text@2.0.0-next.14
  apps/entry-app-collapsible/package.json
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Labels: package:rich-text, package:default-field-editors, app:entry-app-collapsible, app:rich-text-app

#1042 test(rte-tracking): add tests when cancelling embeds []
  cypress/integration/rich-text/RichTextEditor.Tracking.spec.ts
  cypress/integration/rich-text/RichTextPage.ts
Labels: tests

#1040 fix: safari paste
  cypress/integration/rich-text/RichTextEditor.Pasting.spec.ts
  cypress/integration/rich-text/__snapshots__/RichTextEditor.Pasting.spec.ts.snap
  packages/rich-text/src/plugins/PasteHTML/createPasteHTMLPlugin.ts
Labels: package:rich-text, tests

#1045 chore: bump rte next
  apps/entry-app-collapsible/package.json
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Labels: package:rich-text, package:default-field-editors, app:entry-app-collapsible, app:rich-text-app

#1047 fix(rich-text): quick fixes
  packages/rich-text/src/helpers/editor.ts
  packages/rich-text/src/plugins/Heading/components/ToolbarHeadingButton.tsx
  packages/rich-text/src/plugins/List/components/ToolbarListButton.tsx
  packages/rich-text/src/plugins/List/utils.ts
  packages/rich-text/src/plugins/Quote/__test__/createQuotePlugin.test.tsx
  packages/rich-text/src/plugins/Quote/components/Quote.tsx
  packages/rich-text/src/plugins/Quote/createQuotePlugin.ts
Labels: package:rich-text
