Repository contentful/field-editors, pull requests merged in 2022-04, with the labels that each got.

#1090 fix(rte): delete event handler for tables after implementing plates methods
  cypress/integration/rich-text/RichTextEditor.spec.ts
  packages/rich-text/src/helpers/editor.ts
  packages/rich-text/src/plugins/Table/createTablePlugin.ts
Labels: package:rich-text, tests

#1091 chore(bump): rte 2.0.0-next.28 []
  apps/entry-app-collapsible/package.json
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Labels: package:rich-text, package:default-field-editors, app:entry-app-collapsible, app:rich-text-app

#1092 chore: bump apps-scripts to v0.15.8
  .nvmrc
  CONTRIBUTING.md
  README.md
  apps/rich-text-app/package.json
  apps/singleline-app/package.json
  package.json
  yarn.lock
Labels: app:rich-text-app, app:singleline-app

#1094 fix(rich-text): unwrap pasting of single table cells
  cypress/integration/rich-text/RichTextEditor.Pasting.spec.ts
  cypress/integration/rich-text/__snapshots__/RichTextEditor.Pasting.spec.ts.snap
  packages/rich-text/src/plugins/Table/createTablePlugin.ts
  packages/rich-text/src/plugins/Table/insertTableFragment.ts
Labels: package:rich-text, tests

#1095 feat: tab key at the last table cell creates a row
  cypress/integration/rich-text/RichTextEditor.spec.ts
  cypress/support/index.js
  package.json
  packages/rich-text/src/plugins/Table/createTablePlugin.ts
  packages/rich-text/src/plugins/Table/onKeyDownTable.ts
  yarn.lock
Labels: package:rich-text, tests

#1096 chore(release): publish rich-text@2.0.0-next.29
  apps/entry-app-collapsible/package.json
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Labels: package:rich-text, package:default-field-editors, app:entry-app-collapsible, app:rich-text-app

#1097 feat: create SlashCommands plugin []
  packages/rich-text/src/RichTextEditor.tsx
  packages/rich-text/src/plugins/SlashCommands/SlashCommandsPalette.tsx
  packages/rich-text/src/plugins/SlashCommands/createSlashCommandsPlugin.tsx
  packages/rich-text/src/plugins/SlashCommands/helpers.ts
  packages/rich-text/src/plugins/SlashCommands/index.tsx
  packages/rich-text/src/plugins/index.ts
Labels: package:rich-text

#1099 style(rich-text): remove semi-bold <th> style
  packages/rich-text/src/plugins/Table/components/HeaderCell.tsx
Labels: package:rich-text

#1100 feat(rich-text): log pasting of invalid table content
  packages/rich-text/src/plugins/Table/addTableTrackingEvents.ts
  packages/rich-text/src/plugins/Tracking/createTrackingPlugin.ts
Labels: package:rich-text

#1102 fix(rich-text): soft breaks (shift + enter) doesn't work
  packages/rich-text/package.json
  packages/rich-text/src/plugins/Table/insertTableFragment.ts
  yarn.lock
Labels: package:rich-text

#1103 chore(release): publish rich-text v2.0.0-next.31
  apps/entry-app-collapsible/package.json
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Labels: package:rich-text, package:default-field-editors, app:entry-app-collapsible, app:rich-text-app

#1105 style: add th borders on firefox
  packages/rich-text/src/plugins/Table/components/HeaderCell.tsx
Labels: package:rich-text

#1106 fix: better way to track invalid table cell paste
  packages/rich-text/src/plugins/Table/addTableTrackingEvents.ts
  packages/rich-text/src/plugins/Table/createTablePlugin.ts
  packages/rich-text/src/plugins/Table/tableTracking.ts
Labels: package:rich-text

#1104 chore(tracking): pasting source
  cypress/integration/rich-text/RichTextEditor.Tracking.spec.ts
  packages/rich-text/src/plugins/Tracking/createTrackingPlugin.ts
Labels: package:rich-text, tests

#1108 chore(release): publish rich-text v2.0.0-next.32
  apps/entry-app-collapsible/package.json
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Labels: package:rich-text, package:default-field-editors, app:entry-app-collapsible, app:rich-text-app

#1107 fix: always show link existing button to account for tag based permissions [ZEND-1864]
  packages/reference/src/common/useEditorPermissions.spec.ts
  packages/reference/src/common/useEditorPermissions.ts
Labels: package:reference

#1109 refactor(tracking): add source to tablePasted paste event and return Unknown as default source []
  cypress/integration/rich-text/RichTextEditor.Tracking.spec.ts
  packages/rich-text/src/plugins/Table/tableTracking.ts
  packages/rich-text/src/plugins/Tracking/createTrackingPlugin.ts
Labels: package:rich-text, tests

#1110 chore(bump): rte 2.0.0-next.33 []
  apps/entry-app-collapsible/package.json
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Labels: package:rich-text, package:default-field-editors, app:entry-app-collapsible, app:rich-text-app

#1112 fix: change input type to number
  packages/number/src/NumberEditor.spec.tsx
  packages/number/src/NumberEditor.tsx
Labels: package:number

#1114 chore(release): publish rich-text v2.0.0-next.34
  apps/entry-app-collapsible/package.json
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Labels: package:rich-text, package:default-field-editors, app:entry-app-collapsible, app:rich-text-app

#1115 chore(release): publish rich-text v2.0.0-next.35
  apps/entry-app-collapsible/package.json
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Labels: package:rich-text, package:default-field-editors, app:entry-app-collapsible, app:rich-text-app

#1116 fix(rich-text): treat 2 consecutive line breaks as p
  packages/rich-text/src/plugins/Text/createTextPlugin.ts
Labels: package:rich-text

#1118 chore(release): publish rich-text@2.0.0-next.36
  packages/rich-text/package.json
Labels: package:rich-text

#1117 fix(rich-text): prevent editor crash on triple clicks
  packages/rich-text/package.json
  packages/rich-text/src/helpers/editor.ts
  yarn.lock
Labels: package:rich-text

#1121 fix(EmbedAsset): always assume that assets are available for linking [HOMER-829]
  packages/rich-text/src/Toolbar/components/EmbedEntityWidget.tsx
Labels: package:rich-text

#1119 chore(release): publish rich-text 2.0.0-next.37
  apps/entry-app-collapsible/package.json
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Labels: package:rich-text, package:default-field-editors, app:entry-app-collapsible, app:rich-text-app

#1122 chore(release): publish rich-text v2.0.0-next.38
  apps/entry-app-collapsible/package.json
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Labels: package:rich-text, package:default-field-editors, app:entry-app-collapsible, app:rich-text-app

#1120 feat: reference hide actions prop [DANTE-488]
  packages/reference/src/common/ReferenceEditor.tsx
  packages/reference/src/common/SingleReferenceEditor.tsx
  packages/reference/src/entries/SingleEntryReferenceEditor.tsx
  packages/reference/src/entries/WrappedEntryCard/FetchingWrappedEntryCard.tsx
  packages/reference/src/entries/WrappedEntryCard/WrappedEntryCard.tsx
Labels: package:reference

#1127 fix(rich-text): block entry cards should take full width
  packages/rich-text/src/plugins/EmbeddedEntityBlock/LinkedEntityBlock.tsx
Labels: package:rich-text

#1126 fix(rich-text): allow hyperlink viewing in readonly mode
  packages/rich-text/src/plugins/Hyperlink/HyperlinkModal.tsx
  packages/rich-text/src/plugins/Hyperlink/components/EntityHyperlink.tsx
  packages/rich-text/src/plugins/Hyperlink/components/UrlHyperlink.tsx
Labels: package:rich-text

#1123 fix(rich-text): don't disable "Edit" actions on embeds
  packages/rich-text/src/plugins/EmbeddedEntityInline/FetchingWrappedInlineEntryCard.tsx
  packages/rich-text/src/plugins/shared/FetchingWrappedAssetCard.tsx
  packages/rich-text/src/plugins/shared/FetchingWrappedEntryCard.tsx
  packages/rich-text/src/plugins/shared/__tests__/FetchingWrappedAssetCard.test.tsx
  packages/rich-text/src/plugins/shared/__tests__/FetchingWrappedEntryCard.test.tsx
Labels: package:rich-text

#1128 fix: add not allowed cursor to the disabled rich text editor
  packages/rich-text/src/RichTextEditor.styles.ts
Labels: package:rich-text

#1131 fix: use creatableContentTypes for create access check [HOMER-836]
  packages/reference/src/common/useEditorPermissions.ts
Labels: package:reference
