Repository contentful/field-editors, pull requests merged in 2022-06, with the labels that each got.

#1159 fix(reference): avoid infinite getEntityScheduledActions calls
  packages/reference/src/components/ScheduledIconWithTooltip/ScheduledIconWithTooltip.tsx
Labels: package:reference

#1161 perf(rich-text): optimize reference cards rendering
  .circleci/config.yml
  cypress/integration/rich-text/RichTextEditor.spec.ts
  packages/rich-text/package.json
  packages/rich-text/src/plugins/EmbeddedEntityBlock/LinkedEntityBlock.tsx
  packages/rich-text/src/plugins/EmbeddedEntityInline/FetchingWrappedInlineEntryCard.tsx
  packages/rich-text/src/plugins/shared/EntityStatusIcon.tsx
  packages/rich-text/src/plugins/shared/FetchingWrappedAssetCard.tsx
  packages/rich-text/src/plugins/shared/FetchingWrappedEntryCard.tsx
  packages/rich-text/src/plugins/shared/__tests__/FetchingWrappedAssetCard.test.tsx
  packages/rich-text/src/plugins/shared/__tests__/FetchingWrappedEntryCard.test.tsx
  packages/rich-text/src/plugins/shared/useFetchedEntity.ts
  yarn.lock
Labels: tools, package:rich-text, tests

#1163 fix: don't register onClick callbacks when isClickable is false
  packages/reference/src/assets/WrappedAssetCard/WrappedAssetCard.tsx
  packages/reference/src/entries/WrappedEntryCard/WrappedEntryCard.tsx
Labels: package:reference

#1166 fix: hide embed button when all actions are disabled
  packages/rich-text/src/Toolbar/components/EmbedEntityWidget.tsx
Labels: package:rich-text

#1170 fix: search input styles [HOMER-1048]
  packages/reference/src/components/CreateEntryLinkButton/CreateEntryMenuTrigger.tsx
Labels: package:reference
