Repository contentful/field-editors, pull requests merged in 2022-05, with the labels that each got.

#1132 fix: avoid disabling button if no creatable content type []
  packages/reference/src/components/CreateEntryLinkButton/CreateEntryLinkButton.tsx
Labels: package:reference

#1125 fix: reflect disabled state on fields
  packages/json/src/JsonEditoField.tsx
  packages/location/src/GoogleMapView.tsx
  packages/markdown/src/components/MarkdownTextarea/MarkdownTextarea.tsx
  packages/radio/src/RadioEditor.tsx
  packages/rich-text/src/RichTextEditor.jsx
  packages/tags/src/TagsEditor.tsx
Labels: package:rich-text, package:json, package:location, package:markdown, package:radio, package:tags

#1134 fix: only show readable / creatable CTs in reference field editor [ZEND-2154]
  packages/reference/src/components/LinkActions/LinkEntityActions.tsx
Labels: package:reference

#1135 fix(rich-text): avoid page freeze when loading entities
  cypress/integration/rich-text/RichTextEditor.spec.ts
  packages/rich-text/package.json
  packages/rich-text/src/plugins/EmbeddedEntityInline/FetchingWrappedInlineEntryCard.tsx
  packages/rich-text/src/plugins/shared/EntityStatusIcon.tsx
  packages/rich-text/src/plugins/shared/FetchingWrappedAssetCard.tsx
  packages/rich-text/src/plugins/shared/FetchingWrappedEntryCard.tsx
  packages/rich-text/src/plugins/shared/__tests__/FetchingWrappedAssetCard.test.tsx
  packages/rich-text/src/plugins/shared/__tests__/FetchingWrappedEntryCard.test.tsx
  yarn.lock
Labels: package:rich-text, tests

#1136 chore(release): publish rich-text v2.0.0-next.40
  packages/rich-text/package.json
Labels: package:rich-text

#1137 fix: fix caching in references entity store
  packages/reference/src/common/EntityStore.ts
  packages/reference/src/components/ScheduledIconWithTooltip/ScheduledIconWithTooltip.tsx
Labels: package:reference

#1138 fix(rich-text): sanitize slate content
  cypress/integration/rich-text/RichTextEditor.spec.ts
  packages/rich-text/src/helpers/sanitizeIncomingSlateDoc.ts
  packages/rich-text/src/prepareDocument.ts
Labels: package:rich-text, tests

#1139 chore(release): publish rich-text v2.0.0-next.41
  apps/entry-app-collapsible/package.json
  apps/rich-text-app/package.json
  packages/default-field-editors/package.json
  packages/rich-text/package.json
Labels: package:rich-text, package:default-field-editors, app:entry-app-collapsible, app:rich-text-app

#1143 fix: revert "fix(rich-text): avoid page freeze when loading entities"
  cypress/integration/rich-text/RichTextEditor.spec.ts
  packages/rich-text/package.json
  packages/rich-text/src/plugins/EmbeddedEntityInline/FetchingWrappedInlineEntryCard.tsx
  packages/rich-text/src/plugins/shared/EntityStatusIcon.tsx
  packages/rich-text/src/plugins/shared/FetchingWrappedAssetCard.tsx
  packages/rich-text/src/plugins/shared/FetchingWrappedEntryCard.tsx
  packages/rich-text/src/plugins/shared/__tests__/FetchingWrappedAssetCard.test.tsx
  packages/rich-text/src/plugins/shared/__tests__/FetchingWrappedEntryCard.test.tsx
  yarn.lock
Labels: package:rich-text, tests

#1142 chore: update CODEOWNERS
  .github/CODEOWNERS
Labels: tools

#1146 fix: made timezone picker match webapp, added guessing [SHE-831]
  cypress/integration/DateEditor.spec.ts
  packages/date/package.json
  packages/date/src/DateEditor.tsx
  packages/date/src/TimezonePickerInput.tsx
  packages/date/src/utils/timezones.ts
  yarn.lock
Labels: package:date, tests

#1150 fix: increased time input width in date picker to fix visual bug [TOL-122]
  packages/date/src/TimepickerInput.tsx
Labels: package:date

#1149 fix: change GMT to UTC in datepicker [TOL-60]
  packages/date/src/utils/timezones.ts
Labels: package:date

#1153 fix: temporary revert of date editor changes
  cypress/integration/DateEditor.spec.ts
  packages/date/package.json
  packages/date/src/DateEditor.tsx
  packages/date/src/TimezonePickerInput.tsx
  packages/date/src/utils/timezones.ts
  yarn.lock
Labels: package:date, tests
