Repository contentful/field-editors, pull requests merged in 2023-07, with the labels that each got.

#1436 fix(rich-text): onChange callback is not triggered [TOL-1284]
  cypress/e2e/rich-text/RichTextEditor.spec.ts
  cypress/e2e/rich-text/document-mocks/validDocumentThatRequiresNormalization.js
  packages/rich-text/src/RichTextEditor.tsx
  packages/rich-text/src/internal/misc.ts
  packages/rich-text/src/test-utils/createEditor.ts
Labels: package:rich-text, tests

#1441 feat: allow passing menuProps to the entry creation trigger [SPA-1278]
  packages/reference/src/components/CreateEntryLinkButton/CreateEntryMenuTrigger.tsx
Labels: package:reference

#1442 fix: type doesn't enforce children prop [SPA-1278]
  packages/reference/src/components/CreateEntryLinkButton/CreateEntryMenuTrigger.tsx
Labels: package:reference

#1447 feat: add max height property to rich text editor [SPA-1200]
  packages/rich-text/src/RichTextEditor.styles.ts
  packages/rich-text/src/RichTextEditor.tsx
Labels: package:rich-text

#1443 fix: skip set_selection onChange events
  cypress/e2e/rich-text/RichTextEditor.spec.ts
  packages/rich-text/src/RichTextEditor.tsx
  packages/rich-text/src/SyncEditorChanges.tsx
  packages/rich-text/src/SyncEditorValue.tsx
  packages/rich-text/src/helpers/callbacks.ts
  packages/rich-text/src/internal/misc.ts
  packages/rich-text/src/internal/transforms.ts
  packages/rich-text/src/plugins/List/transforms/moveListItemDown.ts
  packages/rich-text/src/plugins/List/transforms/moveListItems.ts
  packages/rich-text/src/plugins/List/transforms/toggleList.ts
Labels: package:rich-text, tests

#1452 fix: remove lodash-es to fix cjs issues [TOL-1346]
  .eslintrc.js
  baseJestConfig.js
  cypress/component/reference/MultipleEntryReferenceEditor.spec.tsx
  cypress/fixtures/store.ts
  package.json
  packages/_shared/package.json
  packages/_shared/src/FieldConnector.ts
  packages/_test/package.json
  packages/boolean/package.json
  packages/checkbox/package.json
  packages/default-field-editors/jest.config.js
  packages/dropdown/package.json
  packages/json/package.json
  packages/list/package.json
  packages/location/package.json
  packages/markdown/package.json
  packages/multiple-line/package.json
  packages/multiple-line/src/MultipleLineEditor.test.tsx
  packages/radio/package.json
  packages/rating/package.json
  packages/reference/package.json
  packages/single-line/package.json
  packages/single-line/src/SingleLineEditor.test.tsx
  packages/slug/package.json
  packages/slug/src/SlugEditor.test.tsx
  packages/tags/package.json
  packages/url/package.json
  packages/url/src/UrlEditor.test.tsx
  yarn.lock
Labels: package:boolean, package:checkbox, package:default-field-editors, package:dropdown, package:json, package:list, package:location, package:markdown, package:multiple-line, package:radio, package:rating, package:reference, package:single-line, package:slug, package:tags, package:url, package:_shared, package:_test, tests

#1453 refactor: replace cypress snapshot tests [TOL-1209]
  cypress.config.ts
  cypress/e2e/rich-text/RichTextEditor.Commands.spec.ts
  cypress/e2e/rich-text/RichTextEditor.Pasting.spec.ts
  cypress/e2e/rich-text/RichTextEditor.Quotes.spec.ts
  cypress/e2e/rich-text/RichTextEditor.spec.ts
  cypress/e2e/rich-text/RichTextEscapeInlines.spec.ts
  cypress/e2e/rich-text/RichTextLists.spec.ts
  cypress/e2e/rich-text/RichTextPage.ts
  cypress/e2e/rich-text/__snapshots__/RichTextEditor.Pasting.spec.ts.snap
  cypress/e2e/rich-text/__snapshots__/RichTextEditor.spec.ts.snap
  cypress/e2e/rich-text/__snapshots__/RichTextEscapeInlines.spec.ts.snap
  cypress/e2e/rich-text/__snapshots__/RichTextLists.spec.ts.snap
  cypress/e2e/rich-text/document-mocks/googleDocs.js
  cypress/e2e/rich-text/document-mocks/msWordOnline.js
  cypress/e2e/rich-text/document-mocks/newLineEntityBlockListItem.js
  cypress/e2e/rich-text/document-mocks/normalizationWithoutValueChange.js
  cypress/e2e/rich-text/document-mocks/paragraphWithoutFormattings.js
  cypress/e2e/rich-text/document-mocks/pastingListItems.js
  cypress/e2e/rich-text/document-mocks/pastingListItemsConfersParent.js
  cypress/plugins/index.ts
  cypress/support/commands.js
  cypress/support/e2e.js
  package.json
  yarn.lock
Labels: package:rich-text, tests
