Repository contentful/field-editors, pull requests merged in 2023-08, with the labels that each got.

#1463 feat: adding environment support in the WrappedEntryCard
  packages/reference/src/__fixtures__/entry/published_entry_non_master.json
  packages/reference/src/common/EntityStore.tsx
  packages/reference/src/components/SpaceName/SpaceName.tsx
  packages/reference/src/entries/WrappedEntryCard/WrappedEntryCard.tsx
  packages/reference/src/resources/Cards/ResourceCard.spec.tsx
Labels: package:reference

#1472 feat: setup polaris [TOL-1090]
  .github/workflows/sast.yaml
Labels: tools

#1468 feat(reference): enable sharing query cache between editors
  packages/reference/src/common/EntityStore.tsx
  packages/reference/src/common/queryClient.tsx
  packages/reference/src/index.tsx
Labels: package:reference

#1473 feat: switch to react-markdown, lazy loading [TOL-501]
  packages/default-field-editors/jest.config.js
  packages/markdown/package.json
  packages/markdown/src/MarkdownEditor.tsx
  packages/markdown/src/components/MarkdownPreview.tsx
  packages/markdown/src/components/MarkdownPreviewSkeleton.tsx
  packages/markdown/src/dialogs/ZenModeModalDialog.tsx
  packages/markdown/src/index.tsx
  yarn.lock
Labels: package:default-field-editors, package:markdown
