Repository contentful/field-editors, pull requests merged in 2023-04, with the labels that each got.

#1385 fix: correct misleading action origin on paste event - rich text
  cypress/integration/rich-text/RichTextEditor.Tracking.spec.ts
  packages/rich-text/src/plugins/Tracking/createTrackingPlugin.ts
Labels: package:rich-text, tests

#1394 fix(RTE): copy-paste perf issues on larger documents
  packages/rich-text/src/plugins/PasteHTML/utils/sanitizeHTML.ts
Labels: package:rich-text

#1400 fix: [RTE] embed entries in correct place when using hotkeys
  packages/rich-text/src/plugins/EmbeddedEntityBlock/Util.ts
  packages/rich-text/src/plugins/EmbeddedEntityInline/index.tsx
Labels: package:rich-text

#1401 fix: update cypress & refactor webpack [TOL-1036]
  cypress.config.ts
  cypress/component/mount.tsx
  cypress/tsconfig.json
  package.json
  webpack.config.js
  yarn.lock
Labels: tests

#1404 chore: [RTE] add comment explaining why selection is necessary before hotkey insertion
  packages/rich-text/src/plugins/EmbeddedEntityBlock/Util.ts
  packages/rich-text/src/plugins/EmbeddedEntityInline/index.tsx
Labels: package:rich-text
