Repository contentful/field-editors, pull requests merged in 2023-01, with the labels that each got.

#1313 feat: lower search and update width entry ref [TOL-247]
  packages/reference/src/components/CreateEntryLinkButton/CreateEntryLinkButton.tsx
  packages/reference/src/components/CreateEntryLinkButton/CreateEntryMenuTrigger.tsx
Labels: package:reference

#1315 fix: a11y issues focus rich text
  packages/rich-text/src/plugins/Table/onKeyDownTable.ts
Labels: package:rich-text

#1314 fix: solve multi ref drag issue [TOL-823]
  packages/reference/src/common/SortableLinkList.tsx
Labels: bug, package:reference

#1316 test: rich text keyboard navigation [TOL-141]
  cypress/integration/rich-text/RichTextEditor.spec.ts
  cypress/support/index.d.ts
  cypress/support/index.js
Labels: tests

#1322 ci: update circleci config to use vault []
  .circleci/config.yml
Labels: tools

#1317 feat: custom actions in resource reference editors [DANTE-793]
  packages/reference/src/components/LinkActions/LinkEntityActions.tsx
  packages/reference/src/resources/MultipleResourceReferenceEditor.spec.tsx
  packages/reference/src/resources/MultipleResourceReferenceEditor.tsx
  packages/reference/src/resources/SingleResourceReferenceEditor.spec.tsx
  packages/reference/src/resources/SingleResourceReferenceEditor.tsx
Labels: package:reference

#1320 fix: enter key open asset modal [TOL-889]
  cypress/component/reference/WrappedAssetCard.spec.tsx
  packages/reference/src/assets/WrappedAssetCard/WrappedAssetCard.tsx
  packages/reference/src/assets/WrappedAssetCard/WrappedAssetLink.tsx
Labels: package:reference, tests

#1326 chore: fixing flaky test [TOL-854]
  packages/reference/src/resources/MultipleResourceReferenceEditor.spec.tsx
Labels: package:reference

#1327 fix(rte): [TOL-989] command prompt not always visible and working
  packages/rich-text/src/plugins/CommandPalette/components/CommandList.styles.ts
  packages/rich-text/src/plugins/CommandPalette/components/CommandList.tsx
  packages/rich-text/src/plugins/CommandPalette/onKeyDown.spec.ts
  packages/rich-text/src/plugins/CommandPalette/onKeyDown.ts
  packages/rich-text/src/plugins/Marks/Code.tsx
Labels: package:rich-text

#1330 fix: images overlay modal in compose [TOL-921]
  packages/reference/src/common/SortableLinkList.tsx
Labels: package:reference

#1331 fix: mail to links replace ampersand [TOL-923]
  packages/markdown/src/components/MarkdownPreview.tsx
  packages/markdown/src/utils/replaceMailtoAmp.spec.ts
  packages/markdown/src/utils/replaceMailtoAmp.ts
Labels: package:markdown
