Repository contentful/field-editors, pull requests merged in 2023-02, with the labels that each got.

#1335 fix: remove command mark after space [TOL-945]
  packages/rich-text/src/plugins/CommandPalette/onKeyDown.ts
Labels: package:rich-text

#1338 fix: improve types
  packages/_shared/src/utils/entityHelpers.ts
  packages/rich-text/src/plugins/Hyperlink/useEntityInfo.ts
Labels: package:rich-text, package:_shared

#1339 fix: enable spellchecking in markdown editor
  cypress/integration/MarkdownEditorHistory.spec.ts
  cypress/integration/MarkdownEditorInsertAssets.spec.ts
  cypress/integration/MarkdownEditorInsertLink.spec.ts
  cypress/integration/MarkdownEditorInsertTable.spec.ts
  cypress/integration/MarkdownEditorSimpleActions.spec.ts
  cypress/integration/MarkdownEditorSpecialCharacter.spec.ts
  cypress/integration/MarkdownEditorVoidElements.spec.ts
  cypress/integration/MarkdownEmbedExternal.spec.ts
  cypress/integration/MarkdownOrganizeLinks.spec.ts
  packages/markdown/package.json
  packages/markdown/src/components/MarkdownTextarea/CodeMirrorWrapper.ts
  yarn.lock
Labels: package:markdown, tests

#1342 fix(rte): [TOL-960] conditional command palette plugin enablement
  cypress/integration/rich-text/RichTextEditor.spec.ts
  packages/rich-text/src/plugins/CommandPalette/useCommands.ts
  packages/rich-text/src/plugins/index.ts
  packages/rich-text/src/test-utils/createEditor.ts
Labels: package:rich-text, tests

#1347 fix: [] adds configurations to support image/avif mime type with web application previews
  packages/_shared/src/utils/isValidImage.ts
Labels: package:_shared

#1350 fix(markdown-editor): textlink sometimes not centered in help text []
  packages/markdown/src/components/MarkdownBottomBar.tsx
Labels: package:markdown
