Repository contentful/field-editors, pull requests merged in 2023-11, with the labels that each got.

#1530 fix: tooltip link placement richtext [ZEND-4296]
  packages/rich-text/src/plugins/Hyperlink/components/UrlHyperlink.tsx
Labels: package:rich-text

#1532 feat: show environment in resource inline block
  packages/rich-text/src/plugins/EmbeddedResourceInline/FetchingWrappedResourceInlineCard.tsx
  packages/rich-text/src/plugins/Hyperlink/useResourceEntityInfo.ts
  packages/rich-text/src/plugins/Hyperlink/utils.ts
  packages/rich-text/src/plugins/shared/utils.ts
Labels: package:rich-text

#1531 test: adding tests for the new rich text nodes in the pasting and quotes [DANTE-1199]
  cypress/e2e/rich-text/RichTextEditor.Pasting.spec.ts
  cypress/e2e/rich-text/RichTextEditor.Quotes.spec.ts
Labels: tests

#1536 chore: enable automerge for dependabot
  .github/workflows/auto-merge.yml
Labels: tools

#1537 fix: location null lat/lon issue []
  packages/location/src/LocationEditor.tsx
Labels: package:location

#1539 fix: show RT embed button for only inline resource
  packages/rich-text/src/Toolbar/components/EmbedEntityWidget.tsx
Labels: package:rich-text

#1542 feat: hyperlink edit popover modal
  cypress/e2e/rich-text/RichTextEditor.Links.spec.ts
  cypress/e2e/rich-text/RichTextEditor.Tracking.spec.ts
  cypress/fixtures/utils.ts
  packages/rich-text/src/plugins/Hyperlink/components/EntityHyperlink.tsx
  packages/rich-text/src/plugins/Hyperlink/components/LinkPopover.tsx
  packages/rich-text/src/plugins/Hyperlink/components/ResourceHyperlink.tsx
  packages/rich-text/src/plugins/Hyperlink/components/UrlHyperlink.tsx
  packages/rich-text/src/plugins/Hyperlink/components/linkHandlers.ts
  packages/rich-text/src/plugins/Hyperlink/components/styles.ts
Labels: package:rich-text, tests

#1544 fix: rich text link copy to google docs [TOL-1647]
  cypress/fixtures/utils.ts
  packages/rich-text/src/internal/hooks.ts
  packages/rich-text/src/plugins/Hyperlink/components/LinkPopover.tsx
  packages/rich-text/src/plugins/Hyperlink/components/UrlHyperlink.tsx
  packages/rich-text/src/plugins/Hyperlink/components/styles.ts
Labels: package:rich-text, tests

#1548 test: migrate json editor to component tests
  cypress/component/json/JsonEditor.spec.tsx
  cypress/e2e/JsonEditor.spec.ts
Labels: tests

#1550 test: migrate location editor to component tests
  cypress/component/location/LocationEditor.spec.tsx
  cypress/e2e/LocationEditor.spec.ts
Labels: tests

#1547 chore: fix dependabot automerge
  .github/workflows/auto-merge.yml
Labels: tools

#1555 fix: add plate common dependency to rich-text
  packages/rich-text/package.json
Labels: package:rich-text
