Repository contentful/field-editors, pull requests merged in 2023-10, with the labels that each got.

#1511 test: migrate date editor to component tests
  cypress/component/date/DateEditor.spec.tsx
  cypress/component/date/DatepickerInput.spec.tsx
  packages/date/src/DatepickerInput.spec.tsx
Labels: package:date, tests

#1512 fix: fixing broken hyperlink display []
  packages/rich-text/src/plugins/Hyperlink/components/styles.ts
Labels: package:rich-text

#1508 feat: [] Migrate reference editor to dnd-kit
  packages/reference/package.json
  packages/reference/src/assets/MultipleMediaEditor.tsx
  packages/reference/src/common/MultipleReferenceEditor.tsx
  packages/reference/src/common/SortableLinkList.tsx
  packages/reference/src/entries/MultipleEntryReferenceEditor.tsx
  packages/reference/src/resources/MultipleResourceReferenceEditor.tsx
  packages/reference/src/utils/useSortIDs.ts
Labels: package:reference

#1519 feat: add resource hyperlink node type
  cypress/e2e/rich-text/RichTextEditor.Links.spec.ts
  cypress/e2e/rich-text/RichTextPage.ts
  packages/rich-text/src/Toolbar/index.tsx
  packages/rich-text/src/constants/Schema.ts
  packages/rich-text/src/helpers/editor.ts
  packages/rich-text/src/plugins/EmbeddedResourceBlock/LinkedResourceBlock.tsx
  packages/rich-text/src/plugins/Heading/__tests__/createHeadingPlugin.test.tsx
  packages/rich-text/src/plugins/Hyperlink/HyperlinkModal.tsx
  packages/rich-text/src/plugins/Hyperlink/__tests__/createHyperlinkPlugin.test.tsx
  packages/rich-text/src/plugins/Hyperlink/components/ResourceHyperlink.tsx
  packages/rich-text/src/plugins/Hyperlink/createHyperlinkPlugin.ts
  packages/rich-text/src/plugins/Hyperlink/useResourceEntityInfo.ts
  packages/rich-text/src/plugins/Hyperlink/utils.ts
  packages/rich-text/src/plugins/Paragraph/__tests__/createParagraphPlugin.test.tsx
  packages/rich-text/src/plugins/Quote/__test__/createQuotePlugin.test.tsx
  packages/rich-text/src/plugins/shared/FetchingWrappedResourceCard.tsx
  packages/rich-text/src/plugins/shared/__tests__/FetchingWrappedResourceCard.test.tsx
  packages/rich-text/src/test-utils/hyperscript.d.ts
  packages/rich-text/src/test-utils/jsx.ts
Labels: package:rich-text, tests

#1520 feat: file info new UI []
  packages/reference/src/assets/WrappedAssetCard/AssetCardActions.tsx
Labels: package:reference

#1523 feat: increase space for space name
  packages/reference/src/components/SpaceName/SpaceName.tsx
Labels: package:reference
