Repository contentful/field-editors, pull requests merged in 2023-06, with the labels that each got.

#1433 feat: add more embedded resource block states
  packages/reference/src/components/MissingEntityCard/MissingEntityCard.tsx
  packages/reference/src/components/ResourceEntityErrorCard/ResourceEntityErrorCard.tsx
  packages/reference/src/components/ResourceEntityErrorCard/UnsupportedEntityCard.tsx
  packages/reference/src/components/index.ts
  packages/reference/src/index.tsx
  packages/reference/src/resources/Cards/ResourceCard.spec.tsx
  packages/reference/src/resources/Cards/ResourceCard.tsx
  packages/rich-text/src/plugins/shared/FetchingWrappedResourceCard.tsx
  packages/rich-text/src/plugins/shared/__fixtures__/space.json
  packages/rich-text/src/plugins/shared/__tests__/FetchingWrappedResourceCard.test.tsx
Labels: package:rich-text, package:reference

#1431 feat(rich-text): add preview of RTE structure in storybook
  cypress.config.ts
  cypress/e2e/rich-text/RichTextEditor.Commands.spec.ts
  cypress/e2e/rich-text/RichTextEditor.EmbeddedEntryBlocks.spec.ts
  cypress/e2e/rich-text/RichTextEditor.Tracking.spec.ts
  cypress/e2e/rich-text/RichTextEditor.spec.ts
  cypress/e2e/rich-text/RichTextPage.ts
  packages/rich-text/package.json
  packages/rich-text/stories/RichTextEditor.stories.tsx
  packages/rich-text/stories/RichTextPreview.tsx
  yarn.lock
Labels: package:rich-text, tests

#1435 chore: update app-sdk dependency for rich text
  packages/rich-text/package.json
  yarn.lock
Labels: package:rich-text
