Repository contentful/field-editors, pull requests merged in 2023-03, with the labels that each got.

#1353 fix: do not focus RTE when another slide is open [TOL-989]
  packages/rich-text/src/helpers/sdkNavigatorSlideIn.spec.ts
  packages/rich-text/src/helpers/sdkNavigatorSlideIn.ts
  packages/rich-text/src/plugins/EmbeddedEntityBlock/Util.ts
Labels: package:rich-text

#1354 fix: 🐛 do not focus RTE on inline embed + create entry
  packages/rich-text/src/helpers/sdkNavigatorSlideIn.spec.ts
  packages/rich-text/src/helpers/sdkNavigatorSlideIn.ts
  packages/rich-text/src/plugins/EmbeddedEntityInline/index.tsx
Labels: package:rich-text

#1355 chore(release): use the correct secret for publish the npm release []
  .circleci/config.yml
Labels: tools

#1356 feat: support disabling dateField []
  packages/date/src/DateEditor.tsx
Labels: package:date

#1359 fix: provide description for es-lint errors []
  packages/date/src/DatepickerInput.tsx
  packages/date/src/TimepickerInput.tsx
  packages/date/src/types.ts
  packages/date/src/utils/data.spec.ts
  packages/date/src/utils/date.ts
Labels: package:date

#1361 chore: authenticate with npm before publishing package changes
  .circleci/config.yml
  .contentful/vault-secrets.yaml
Labels: tools

#1363 fix: update eslint disable comment
  packages/date/src/TimepickerInput.tsx
Labels: package:date

#1365 feat: upgrade google-maps-react [TOL-968]
  packages/location/package.json
  packages/location/src/GoogleMapView.tsx
  packages/location/src/LocationEditor.tsx
  packages/location/src/LocationSearchInput.tsx
  packages/location/src/LocationSelector.tsx
  packages/location/src/types.ts
  yarn.lock
Labels: package:location

#1362 fix(RTE): remove whitespaces only in tables and lists [TOL-104]
  cypress/integration/rich-text/RichTextEditor.Pasting.spec.ts
  cypress/integration/rich-text/__snapshots__/RichTextEditor.Pasting.spec.ts.snap
  packages/rich-text/src/plugins/PasteHTML/utils/sanitizeHTML.ts
Labels: package:rich-text, tests

#1364 fix(rich-text): pasting hyperlinks with blocks
  packages/rich-text/src/plugins/PasteHTML/utils/__tests__/sanitizeHTML.test.ts
  packages/rich-text/src/plugins/PasteHTML/utils/sanitizeAnchors.ts
  packages/rich-text/src/plugins/PasteHTML/utils/sanitizeHTML.ts
Labels: package:rich-text

#1367 fix: support disabling single line editor
  packages/_shared/src/FieldConnector.ts
  packages/single-line/src/SingleLineEditor.tsx
Labels: package:single-line, package:_shared

#1369 build: store test results
  .circleci/config.yml
  .gitignore
  baseJestConfig.js
  cypress.json
  package.json
  packages/_shared/jest.config.js
  packages/_shared/package.json
  packages/_test/jest.config.js
  packages/_test/package.json
  packages/boolean/jest.config.js
  packages/boolean/package.json
  packages/checkbox/jest.config.js
  packages/checkbox/package.json
  packages/date/jest.config.js
  packages/date/package.json
  packages/default-field-editors/jest.config.js
  packages/default-field-editors/package.json
  packages/dropdown/jest.config.js
  packages/dropdown/package.json
  packages/json/jest.config.js
  packages/json/package.json
  packages/list/jest.config.js
  packages/list/package.json
  packages/location/jest.config.js
  packages/location/package.json
  packages/markdown/jest.config.js
  packages/markdown/package.json
  packages/multiple-line/jest.config.js
  packages/multiple-line/package.json
  packages/number/jest.config.js
  packages/number/package.json
  packages/radio/jest.config.js
  packages/radio/package.json
  packages/rating/jest.config.js
  packages/rating/package.json
  packages/reference/jest.config.js
  packages/reference/package.json
  packages/rich-text/jest.config.js
  packages/single-line/jest.config.js
  packages/single-line/package.json
  packages/slug/jest.config.js
  packages/slug/package.json
  packages/tags/jest.config.js
  packages/tags/package.json
  packages/url/jest.config.js
  packages/url/package.json
  packages/validation-errors/jest.config.js
  packages/validation-errors/package.json
  yarn.lock
Labels: tools, package:rich-text, package:boolean, package:checkbox, package:date, package:default-field-editors, package:dropdown, package:json, package:list, package:location, package:markdown, package:multiple-line, package:number, package:radio, package:rating, package:reference, package:single-line, package:slug, package:tags, package:url, package:validation-errors, package:_shared, package:_test

#1377 fix(RTE): split up sanitize regex to prevent invalid markup
  cypress/integration/rich-text/RichTextEditor.Pasting.spec.ts
  cypress/integration/rich-text/__snapshots__/RichTextEditor.Pasting.spec.ts.snap
  packages/rich-text/src/plugins/PasteHTML/utils/sanitizeHTML.ts
Labels: package:rich-text, tests

#1368 fix: pass isDisabled into FieldConnector
  packages/date/src/DateEditor.tsx
Labels: package:date

#1384 fix(rte): pasting tables from ms word or google docs freezes the page
  cypress/integration/rich-text/RichTextEditor.Pasting.spec.ts
  cypress/integration/rich-text/__snapshots__/RichTextEditor.Pasting.spec.ts.snap
  cypress/integration/rich-text/fixtures/msWordOnline.js
  packages/rich-text/src/plugins/PasteHTML/utils/sanitizeHTML.ts
Labels: package:rich-text, tests
