Repository contentful/field-editors, pull requests merged in 2023-05, with the labels that each got.

#1411 fix(markdown): toolbar overflow
  .circleci/config.yml
  packages/markdown/src/components/MarkdownToolbar.tsx
Labels: tools, package:markdown

#1412 chore(rich-text-app): update dependencies to be startable again []
  apps/rich-text-app/package.json
  apps/rich-text-app/src/index.tsx
  apps/rich-text-app/tsconfig.json
  package.json
Labels: app:rich-text-app

#1402 chore: lerna migrate to v6[NONE]
  .circleci/config.yml
  nx.json
  package.json
  yarn.lock
Labels: tools, stale

#1421 feat: add inline-comment renderer
  packages/rich-text/src/plugins/Marks/InlineComment.tsx
  packages/rich-text/src/plugins/Marks/index.ts
Labels: package:rich-text

#1423 feat: add comments to widgetSDK
  packages/rich-text/src/RichTextEditor.tsx
Labels: package:rich-text
