Repository contentful/field-editors, pull requests merged in 2023-09, with the labels that each got.

#1484 fix: show RT embed button also for resource only
  packages/rich-text/src/Toolbar/components/EmbedEntityWidget.tsx
Labels: package:rich-text

#1482 feat: [TOL-1405] Replace throttling with debounce in field editors
  packages/_shared/src/FieldConnector.test.tsx
  packages/_shared/src/FieldConnector.ts
  packages/boolean/src/BooleanEditor.tsx
  packages/checkbox/src/CheckboxEditor.tsx
  packages/date/src/DateEditor.tsx
  packages/dropdown/src/DropdownEditor.tsx
  packages/list/src/ListEditor.spec.tsx
  packages/list/src/ListEditor.tsx
  packages/markdown/src/MarkdownEditor.tsx
  packages/radio/src/RadioEditor.tsx
  packages/rating/src/RatingEditor.tsx
  packages/reference/src/common/ReferenceEditor.tsx
  packages/reference/src/resources/MultipleResourceReferenceEditor.tsx
  packages/reference/src/resources/SingleResourceReferenceEditor.tsx
  packages/rich-text/src/RichTextEditor.tsx
  packages/slug/src/SlugEditor.tsx
  packages/tags/src/TagsEditorContainer.tsx
Labels: package:rich-text, package:boolean, package:checkbox, package:date, package:dropdown, package:list, package:markdown, package:radio, package:rating, package:reference, package:slug, package:tags, package:_shared

#1486 feat: markdown sanitize changes [TOL-497]
  packages/markdown/package.json
  packages/markdown/src/MarkdownEditor.tsx
  packages/markdown/src/components/MarkdownBottomBar.tsx
  packages/markdown/src/components/MarkdownPreview.tsx
  packages/markdown/src/components/MarkdownToolbar.tsx
  packages/markdown/src/dialogs/ZenModeModalDialog.tsx
  packages/markdown/src/dialogs/renderMarkdownDialog.tsx
  yarn.lock
Labels: package:markdown

#1490 fix: reverting prettier []
  package.json
  packages/checkbox/src/CheckboxEditor.tsx
  packages/markdown/src/MarkdownEditor.tsx
  packages/markdown/src/components/MarkdownPreview.tsx
  packages/markdown/src/dialogs/ZenModeModalDialog.tsx
  packages/markdown/src/dialogs/renderMarkdownDialog.tsx
  packages/reference/src/common/ReferenceEditor.tsx
  packages/reference/src/resources/MultipleResourceReferenceEditor.tsx
  packages/reference/src/resources/SingleResourceReferenceEditor.tsx
  packages/rich-text/src/RichTextEditor.tsx
  packages/slug/src/SlugEditor.tsx
  yarn.lock
Labels: package:rich-text, package:checkbox, package:markdown, package:reference, package:slug

#1491 fix: revert #1468 [ZEND-4108]
  packages/reference/src/common/EntityStore.tsx
  packages/reference/src/common/queryClient.tsx
  packages/reference/src/index.tsx
Labels: package:reference

#1485 feat: updating plate to 23, fixing breaking imports []
  cypress/e2e/rich-text/RichTextEditor.Pasting.spec.ts
  cypress/support/e2e.js
  packages/rich-text/package.json
  packages/rich-text/src/RichTextEditor.tsx
  packages/rich-text/src/SyncEditorChanges.tsx
  packages/rich-text/src/Toolbar/_tests_/toolbar.test.tsx
  packages/rich-text/src/internal/constants.ts
  packages/rich-text/src/internal/hooks.ts
  packages/rich-text/src/internal/misc.ts
  packages/rich-text/src/internal/queries.ts
  packages/rich-text/src/internal/transforms.ts
  packages/rich-text/src/internal/types/editor.ts
  packages/rich-text/src/internal/types/plugins.ts
  packages/rich-text/src/plugins/EmbeddedEntityInline/index.tsx
  packages/rich-text/src/plugins/Hyperlink/createHyperlinkPlugin.ts
  packages/rich-text/src/plugins/Hyperlink/utils.ts
  packages/rich-text/src/plugins/List/insertListBreak.ts
  packages/rich-text/src/plugins/List/insertListFragment.ts
  packages/rich-text/src/plugins/List/onKeyDownList.ts
  packages/rich-text/src/plugins/List/transforms/toggleList.spec.tsx
  packages/rich-text/src/plugins/PasteHTML/createPasteHTMLPlugin.ts
  packages/rich-text/src/plugins/Quote/shouldResetQuote.ts
  packages/rich-text/src/plugins/index.ts
  packages/rich-text/src/plugins/shared/EmbeddedBlockUtil.ts
  packages/rich-text/src/test-utils/mockPlugin.ts
  packages/rich-text/src/test-utils/setEmptyDataAttribute.ts
  yarn.lock
Labels: package:rich-text, tests

#1494 chore: bump rich text types
  packages/rich-text/package.json
Labels: package:rich-text

#1496 fix(json-editor): consolidate tab width
  packages/json/src/JsonEditor.tsx
  packages/json/src/JsonEditorField.tsx
  packages/json/src/utils.ts
Labels: package:json

#1498 feat: set focus in link modal [TOL-1502]
  cypress/e2e/rich-text/RichTextEditor.Links.spec.ts
  cypress/fixtures/utils.ts
  packages/rich-text/src/plugins/Hyperlink/HyperlinkModal.tsx
  yarn.lock
Labels: package:rich-text, tests

#1500 chore: [] Tweak code owners
  .github/CODEOWNERS
Labels: tools

#1504 chore: upgrade to node LTS [EXT-4805]
  .circleci/config.yml
  .nvmrc
  README.md
  apps/entry-app-collapsible/package.json
  apps/markdown-app/package.json
  apps/multiple-references-app/package.json
  apps/rich-text-app/package.json
  apps/singleline-app/package.json
  package.json
  yarn.lock
Labels: tools, app:entry-app-collapsible, app:markdown-app, app:multiple-references-app, app:rich-text-app, app:singleline-app

#1503 fix: rich text commands listens to validations [TOL-1473]
  cypress/e2e/rich-text/RichTextEditor.Commands.spec.ts
  packages/rich-text/src/plugins/CommandPalette/components/CommandList.tsx
  packages/rich-text/src/plugins/CommandPalette/components/CommandPrompt.tsx
  packages/rich-text/src/plugins/CommandPalette/useCommands.ts
Labels: package:rich-text, tests

#1507 fix: rich text commands issue []
  packages/rich-text/src/plugins/CommandPalette/components/CommandList.tsx
  packages/rich-text/src/plugins/CommandPalette/useCommands.ts
Labels: package:rich-text

#1497 refactor: [] Replace `react-sortable-hoc` with `dnd-kit` (TagEditor)
  package.json
  packages/_test/src/createFakeFieldAPI.test.ts
  packages/_test/src/createFakeFieldAPI.ts
  packages/boolean/src/Boolean.spec.tsx
  packages/boolean/src/BooleanEditor.tsx
  packages/checkbox/src/CheckboxEditor.spec.tsx
  packages/date/src/DateEditor.tsx
  packages/date/stories/DateEditor.stories.tsx
  packages/location/src/LocationEditor.tsx
  packages/location/stories/LocationEditor.stories.tsx
  packages/number/src/NumberEditor.spec.tsx
  packages/number/src/parseNumber.spec.ts
  packages/rating/src/RatingEditor.spec.tsx
  packages/rating/src/RatingEditor.tsx
  packages/rating/stories/RatingEditor.stories.tsx
  packages/reference/src/utils/fromFieldValidations.ts
  packages/tags/package.json
  packages/tags/src/TagsEditor.tsx
  yarn.lock
Labels: package:boolean, package:checkbox, package:date, package:location, package:number, package:rating, package:reference, package:tags, package:_test, tests
