Repository contentful/field-editors, pull requests merged in 2023-12, with the labels that each got.

#1559 feat: support CMA.js v11
  packages/default-field-editors/package.json
  packages/reference/package.json
  yarn.lock
Labels: package:default-field-editors, package:reference

#1563 fix(rich-text): declare missing dependency []
  packages/rich-text/package.json
Labels: package:rich-text

#1564 test: pass google maps key to LocationEditor component tests
  cypress/component/location/LocationEditor.spec.tsx
Labels: tests

#1562 fix: use available CTs instead of only readable
  packages/reference/src/common/useContentTypePermissions.ts
  packages/reference/src/common/useEditorPermissions.spec.ts
  packages/reference/src/common/useEditorPermissions.ts
  packages/reference/src/components/LinkActions/helpers.ts
Labels: package:reference
