Repository contentful/field-editors, pull requests merged in 2024-08, with the labels that each got.

#1717 fix: add a missing handler for ERL click [DANTE-1735]
  packages/reference/src/resources/ExternalResourceCard/ExternalResourceCard.tsx
Labels: package:reference

#1718 feat: wrapping connected rte instead of root one with entity provider []
  packages/rich-text/src/RichTextEditor.tsx
Labels: package:rich-text

#1719 fix(rich-text): changing scroll position with \r [TOL-2365]
  packages/rich-text/src/plugins/Normalizer/baseRules.ts
Labels: package:rich-text

#1721 fix: add an ERL component to handle URLs in the editor [DANTE-1757]
  packages/reference/src/resources/Cards/ExternalEntryCard.tsx
  packages/reference/src/resources/Cards/ResourceCard.tsx
  packages/reference/src/resources/ExternalResourceCard/ExternalResourceCard.tsx
Labels: package:reference

#1724 feat: upgrade slate [TOL-2368][TOL-2389]
  packages/rich-text/package.json
  yarn.lock
Labels: package:rich-text

#1725 chore: upgrade type-fest[TOL-1741]
  package.json
  packages/_test/package.json
  packages/markdown/src/__fixtures__/content-type/published_content_type.json
  packages/reference/package.json
  packages/reference/src/__fixtures__/content-type/published_content_type.json
  packages/rich-text/src/__fixtures__/content-type/published_content_type.json
  yarn.lock
Labels: package:rich-text, package:markdown, package:reference, package:_test
