Repository contentful/field-editors, pull requests merged in 2024-04, with the labels that each got.

#1637 style: make text field styles more consistent
  packages/_shared/src/CharCounter.tsx
  packages/_shared/src/CharValidation.tsx
  packages/_shared/src/types.ts
  packages/_shared/src/utils/constraints.ts
  packages/markdown/src/components/MarkdownConstraints.tsx
  packages/multiple-line/src/MultipleLineEditor.test.tsx
  packages/multiple-line/src/MultipleLineEditor.tsx
  packages/multiple-line/src/styles.ts
  packages/single-line/src/SingleLineEditor.test.tsx
  packages/single-line/src/SingleLineEditor.tsx
  packages/single-line/src/styles.ts
Labels: package:markdown, package:multiple-line, package:single-line, package:_shared

#1638 chore: upgrade mocha [XSS-1349] [TOL-2002]
  cypress/component/date/DateEditor.spec.tsx
  cypress/component/date/DatepickerInput.spec.tsx
  cypress/component/location/LocationEditor.spec.tsx
  cypress/component/markdown/MarkdownEditorInsertAssets.spec.ts
  cypress/component/markdown/MarkdownEditorSimpleActions.spec.ts
  cypress/component/reference/MultipleMediaEditor.spec.tsx
  cypress/component/rich-text/RichTextEditor.Pasting.spec.ts
  cypress/component/rich-text/RichTextEditor.Tracking.spec.ts
  package.json
  yarn.lock
Labels: tests

#1639 fix: passing failed to fetched entry card when inaccessible []
  packages/reference/src/common/EntityStore.tsx
Labels: package:rich-text, package:reference

#1633 feat: update design of error cards for resources [DANTE-1340]
  cypress/component/reference/MultipleEntryReferenceEditor.spec.tsx
  cypress/component/reference/MultipleResourceReferenceEditor.spec.tsx
  cypress/component/reference/SingleResourceReferenceEditor.spec.tsx
  package.json
  packages/reference/src/assets/WrappedAssetCard/FetchingWrappedAssetCard.tsx
  packages/reference/src/assets/WrappedAssetCard/WrappedAssetCard.tsx
  packages/reference/src/assets/WrappedAssetCard/WrappedAssetLink.tsx
  packages/reference/src/components/MissingAssetCard/MissingAssetCard.tsx
  packages/reference/src/components/MissingAssetCard/styles.ts
  packages/reference/src/components/MissingEntityCard/MissingEntityCard.tsx
  packages/reference/src/components/ResourceEntityErrorCard/ResourceEntityErrorCard.tsx
  packages/reference/src/components/ResourceEntityErrorCard/UnsupportedEntityCard.tsx
  packages/reference/src/components/index.ts
  packages/reference/src/entries/WrappedEntryCard/FetchingWrappedEntryCard.tsx
  packages/reference/src/entries/WrappedEntryCard/WrappedEntryCard.tsx
  packages/reference/src/resources/Cards/ResourceCard.spec.tsx
  packages/reference/src/utils/getProviderName.spec.ts
  packages/reference/src/utils/getProviderName.ts
  packages/rich-text/src/plugins/EmbeddedEntityInline/FetchingWrappedInlineEntryCard.tsx
  packages/rich-text/src/plugins/EmbeddedResourceInline/FetchingWrappedResourceInlineCard.tsx
  packages/rich-text/src/plugins/Hyperlink/useResourceEntityInfo.ts
  packages/rich-text/src/plugins/shared/FetchingWrappedAssetCard.tsx
  packages/rich-text/src/plugins/shared/FetchingWrappedEntryCard.tsx
  packages/rich-text/src/plugins/shared/__tests__/FetchingWrappedResourceCard.test.tsx
  yarn.lock
Labels: package:rich-text, package:reference, tests

#1640 style: Remove CharValidation component and further simplify text editors
  packages/_shared/src/CharCounter.tsx
  packages/_shared/src/CharValidation.tsx
  packages/_shared/src/index.tsx
  packages/_shared/src/types.ts
  packages/_shared/src/utils/constraints.ts
  packages/markdown/src/components/MarkdownConstraints.tsx
  packages/multiple-line/src/MultipleLineEditor.tsx
  packages/multiple-line/src/styles.ts
  packages/single-line/src/SingleLineEditor.test.tsx
  packages/single-line/src/SingleLineEditor.tsx
  packages/single-line/src/styles.ts
  packages/validation-errors/src/styles.ts
Labels: package:markdown, package:multiple-line, package:single-line, package:validation-errors, package:_shared

#1641 fix(richtext-editor): handle failed inline entries [ZEND-4919,ZEND-4913]
  packages/reference/src/common/EntityStore.tsx
  packages/reference/src/index.tsx
  packages/rich-text/src/plugins/EmbeddedEntityInline/FetchingWrappedInlineEntryCard.tsx
  packages/rich-text/src/plugins/shared/FetchingWrappedAssetCard.tsx
  packages/rich-text/src/plugins/shared/FetchingWrappedEntryCard.tsx
Labels: package:rich-text, package:reference

#1643 refactor(rich-text): better handling for status []
  packages/reference/src/common/EntityStore.tsx
  packages/reference/src/index.tsx
  packages/rich-text/src/plugins/EmbeddedEntityInline/FetchingWrappedInlineEntryCard.tsx
  packages/rich-text/src/plugins/shared/FetchingWrappedAssetCard.tsx
  packages/rich-text/src/plugins/shared/FetchingWrappedEntryCard.tsx
Labels: package:rich-text, package:reference
