Repository contentful/field-editors, pull requests merged in 2024-11, with the labels that each got.

#1792 feat(shared): remove the "async" useAsyncLocalePublishStatus
  packages/_shared/src/LocalePublishingEntityStatusBadge/LocalePublishingPopover.tsx
  packages/_shared/src/LocalePublishingEntityStatusBadge/LocalePublishingStatus.tsx
  packages/_shared/src/LocalePublishingEntityStatusBadge/LocalePublishingStatusList.tsx
  packages/_shared/src/hooks/useAsyncLocalePublishStatus.ts
  packages/_shared/src/hooks/useLocalePublishStatus.spec.tsx
  packages/_shared/src/hooks/useLocalePublishStatus.ts
  packages/_shared/src/index.tsx
  packages/reference/src/assets/WrappedAssetCard/FetchingWrappedAssetCard.tsx
  packages/reference/src/entries/WrappedEntryCard/FetchingWrappedEntryCard.tsx
  packages/rich-text/src/plugins/shared/FetchingWrappedAssetCard.tsx
  packages/rich-text/src/plugins/shared/FetchingWrappedEntryCard.tsx
  packages/rich-text/src/plugins/shared/__tests__/FetchingWrappedAssetCard.test.tsx
  packages/rich-text/src/plugins/shared/__tests__/FetchingWrappedEntryCard.test.tsx
  packages/rich-text/src/plugins/shared/__tests__/FetchingWrappedResourceCard.test.tsx
Labels: package:rich-text, package:reference, package:_shared

#1794 feat: declare explicit locale attrs dependency
  packages/_shared/src/LocalePublishingEntityStatusBadge/LocalePublishingPopover.tsx
  packages/_shared/src/LocalePublishingEntityStatusBadge/LocalePublishingStatusList.tsx
  packages/reference/src/assets/WrappedAssetCard/WrappedAssetCard.tsx
  packages/reference/src/assets/WrappedAssetCard/WrappedAssetLink.tsx
  packages/reference/src/common/customCardTypes.ts
  packages/reference/src/components/EntityStatusBadge/EntityStatusBadge.tsx
  packages/reference/src/entries/WrappedEntryCard/WrappedEntryCard.tsx
Labels: package:reference, package:_shared

#1796 feat(shared): show stacked badge when status diff [TOL-2502]
  packages/_shared/src/utils/entityHelpers.test.ts
  packages/_shared/src/utils/entityHelpers.ts
  packages/reference/src/assets/WrappedAssetCard/FetchingWrappedAssetCard.tsx
  packages/reference/src/assets/WrappedAssetCard/WrappedAssetCard.tsx
  packages/reference/src/assets/WrappedAssetCard/WrappedAssetLink.tsx
  packages/reference/src/common/customCardTypes.ts
  packages/reference/src/components/EntityStatusBadge/EntityStatusBadge.tsx
  packages/reference/src/entries/WrappedEntryCard/FetchingWrappedEntryCard.tsx
  packages/reference/src/entries/WrappedEntryCard/WrappedEntryCard.tsx
  packages/rich-text/src/plugins/shared/FetchingWrappedAssetCard.tsx
  packages/rich-text/src/plugins/shared/FetchingWrappedEntryCard.tsx
Labels: package:rich-text, package:reference, package:_shared

#1797 chore: revert show stacked badge when status diff []
  packages/_shared/src/utils/entityHelpers.test.ts
  packages/_shared/src/utils/entityHelpers.ts
  packages/reference/src/assets/WrappedAssetCard/FetchingWrappedAssetCard.tsx
  packages/reference/src/assets/WrappedAssetCard/WrappedAssetCard.tsx
  packages/reference/src/assets/WrappedAssetCard/WrappedAssetLink.tsx
  packages/reference/src/common/customCardTypes.ts
  packages/reference/src/components/EntityStatusBadge/EntityStatusBadge.tsx
  packages/reference/src/entries/WrappedEntryCard/FetchingWrappedEntryCard.tsx
  packages/reference/src/entries/WrappedEntryCard/WrappedEntryCard.tsx
  packages/rich-text/src/plugins/shared/FetchingWrappedAssetCard.tsx
  packages/rich-text/src/plugins/shared/FetchingWrappedEntryCard.tsx
Labels: package:rich-text, package:reference, package:_shared

#1801 fix: copy of status popover [TOL-2555]
  packages/_shared/src/LocalePublishingEntityStatusBadge/LocalePublishingStatusList.tsx
Labels: package:_shared

#1802 fix: default rename copy [TOL-2555]
  packages/_shared/src/LocalePublishingEntityStatusBadge/LocalePublishingStatus.tsx
Labels: package:_shared

#1803 feat: show the error and function tab link in the entity card [FUS-97]
  packages/reference/src/__fixtures__/resource-type/resource-type.json
  packages/reference/src/common/EntityStore.tsx
  packages/reference/src/components/MissingEntityCard/MissingEntityCard.tsx
  packages/reference/src/components/ResourceEntityErrorCard/FunctionInvocationErrorCard.tsx
  packages/reference/src/components/ResourceEntityErrorCard/ResourceEntityErrorCard.tsx
  packages/reference/src/resources/Cards/ResourceCard.spec.tsx
  packages/reference/stories/ExternalReferenceCard.stories.tsx
Labels: package:reference

#1806 feat(date): allow arbitrary date range [ZEND-5700]
  packages/date/src/DatepickerInput.tsx
Labels: package:date
