Repository contentful/field-editors, pull requests merged in 2024-05, with the labels that each got.

#1646 fix: [] Consider text direction when positioning cell actions inside of Rich Text Editor
  packages/rich-text/src/plugins/Table/components/TableActions.tsx
Labels: package:rich-text

#1647 fix: add the isDisabled check to MissingEntityCard
  cypress/component/reference/SingleResourceReferenceEditor.spec.tsx
  packages/reference/src/components/MissingEntityCard/MissingEntityCard.tsx
Labels: package:reference, tests

#1652 fix: temporarily revert text editors restyling
  packages/_shared/src/CharCounter.tsx
  packages/_shared/src/CharValidation.tsx
  packages/_shared/src/index.tsx
  packages/markdown/src/components/MarkdownConstraints.tsx
  packages/multiple-line/src/MultipleLineEditor.test.tsx
  packages/multiple-line/src/MultipleLineEditor.tsx
  packages/multiple-line/src/styles.ts
  packages/single-line/src/SingleLineEditor.test.tsx
  packages/single-line/src/SingleLineEditor.tsx
  packages/single-line/src/styles.ts
  packages/validation-errors/src/styles.ts
Labels: package:markdown, package:multiple-line, package:single-line, package:validation-errors, package:_shared

#1657 feat: undo redo rich text tracking [TOL-1987]
  cypress/component/rich-text/RichTextEditor.Tracking.spec.ts
  packages/rich-text/src/Toolbar/components/ButtonRedo.tsx
  packages/rich-text/src/Toolbar/components/ButtonUndo.tsx
  packages/rich-text/src/internal/types/editor.ts
  packages/rich-text/src/plugins/Tracking/createTrackingPlugin.ts
Labels: package:rich-text, tests

#1660 fix: spaces removed for non english text [ZEND-5011]
  cypress/component/rich-text/RichTextEditor.Pasting.spec.ts
  packages/rich-text/src/plugins/DeserializeDocx/cleanHtmlEmptyElements.tsx
  packages/rich-text/src/plugins/DeserializeDocx/createDeserializeDocxPlugin.tsx
Labels: package:rich-text, tests

#1663 fix(FieldConnector): restore 'throttle' property []
  packages/_shared/src/FieldConnector.ts
Labels: package:_shared

#1666 fix(shared): disable fieldStatus handling temporary [TOL-2143]
  cypress/component/reference/MultipleEntryReferenceEditor.spec.tsx
  packages/_shared/src/utils/entityHelpers.ts
Labels: package:_shared, tests

#1665 feat: support strikethrough
  cypress/component/rich-text/RichTextEditor.Marks.spec.ts
  cypress/component/rich-text/RichTextEditor.Pasting.spec.ts
  package.json
  packages/rich-text/package.json
  packages/rich-text/src/Toolbar/index.tsx
  packages/rich-text/src/internal/types/editor.ts
  packages/rich-text/src/plugins/Marks/Strikethrough.tsx
  packages/rich-text/src/plugins/Marks/index.ts
Labels: package:rich-text, tests
