Repository contentful/field-editors, pull requests merged in 2024-02, with the labels that each got.

#1599 fix: fixing custom app rich text dnd [TOL-1742]
  packages/rich-text/package.json
  packages/rich-text/src/plugins/DragAndDrop/index.tsx
  yarn.lock
Labels: package:rich-text

#1600 chore: upgrade to TS version 5.3.2 []
  apps/entry-app-collapsible/package.json
  apps/entry-app-collapsible/tsconfig.json
  apps/markdown-app/package.json
  apps/markdown-app/tsconfig.json
  apps/multiple-references-app/package.json
  apps/multiple-references-app/tsconfig.json
  apps/rich-text-app/package.json
  apps/rich-text-app/tsconfig.json
  apps/singleline-app/package.json
  apps/singleline-app/tsconfig.json
  packages/_shared/tsconfig.json
  packages/_test/tsconfig.json
  packages/boolean/tsconfig.json
  packages/checkbox/tsconfig.json
  packages/date/tsconfig.json
  packages/default-field-editors/tsconfig.json
  packages/dropdown/tsconfig.json
  packages/json/tsconfig.json
  packages/list/tsconfig.json
  packages/location/tsconfig.json
  packages/markdown/tsconfig.json
  packages/multiple-line/tsconfig.json
  packages/number/tsconfig.json
  packages/radio/tsconfig.json
  packages/rating/tsconfig.json
  packages/reference/tsconfig.json
  packages/rich-text/tsconfig.json
  packages/single-line/tsconfig.json
  packages/slug/tsconfig.json
  packages/tags/tsconfig.json
  packages/url/tsconfig.json
  packages/validation-errors/tsconfig.json
  yarn.lock
Labels: package:rich-text, package:boolean, package:checkbox, package:date, package:default-field-editors, package:dropdown, package:json, package:list, package:location, package:markdown, package:multiple-line, package:number, package:radio, package:rating, package:reference, package:single-line, package:slug, package:tags, package:url, package:validation-errors, package:_shared, package:_test, app:entry-app-collapsible, app:markdown-app, app:multiple-references-app, app:rich-text-app, app:singleline-app

#1603 fix: fixing coding snippets for reference storybook docs [TOL-1398]
  packages/reference/src/assets/SingleMediaEditor.mdx
  packages/reference/src/entries/MultipleEntryReferenceEditor.mdx
  packages/reference/stories/MultipleEntryReferenceEditor/MultipleEntryReferenceEditor.mdx
  packages/reference/stories/MultipleEntryReferenceEditor/MultipleEntryReferenceEditor.stories.tsx
  packages/reference/stories/MultipleMediaEditor/MultipleMediaEditor.mdx
  packages/reference/stories/MultipleMediaEditor/MultipleMediaEditor.stories.tsx
  packages/reference/stories/SingleEntryReferenceEditor/SingleEntryReferenceEditor.mdx
  packages/reference/stories/SingleEntryReferenceEditor/SingleEntryReferenceEditor.stories.tsx
  packages/reference/stories/SingleMediaEditor/SingleMediaEditor.mdx
  packages/reference/stories/SingleMediaEditor/SingleMediaEditor.stories.tsx
Labels: package:reference

#1602 feat: create card component for external resources [DANTE-1330]
  packages/reference/src/index.tsx
  packages/reference/src/resources/ExternalResourceCard/ExternalResourceCard.tsx
  packages/reference/src/resources/index.ts
  packages/reference/stories/ExternalReferenceCard.stories.tsx
Labels: package:reference

#1604 chore: upgrade storybook [TOL-1763]
  .circleci/config.yml
  .storybook/main.ts
  package.json
  yarn.lock
Labels: tools

#1606 fix: use the new badge option on EntryCard for ExternalResourceCard [DANTE-1330]
  .npmrc
  packages/reference/package.json
  packages/reference/src/resources/ExternalResourceCard/ExternalResourceCard.tsx
  packages/reference/stories/ExternalReferenceCard.stories.tsx
  yarn.lock
Labels: tools, package:reference

#1605 feat: bumping plate to v30 [TOL-1834]
  cypress/e2e/rich-text/RichTextEditor.Tables.spec.ts
  cypress/e2e/rich-text/RichTextEditor.Tracking.spec.ts
  cypress/e2e/rich-text/document-mocks/paragraphWithoutFormattings.js
  packages/rich-text/package.json
  packages/rich-text/src/RichTextEditor.tsx
  packages/rich-text/src/SyncEditorChanges.tsx
  packages/rich-text/src/internal/hooks.ts
  packages/rich-text/src/plugins/List/withList.ts
  packages/rich-text/src/plugins/Table/createTablePlugin.ts
  packages/rich-text/src/plugins/Table/onKeyDownTable.ts
  packages/rich-text/src/plugins/Table/withInsertFragmentTableOverride.ts
  yarn.lock
Labels: package:rich-text, tests

#1607 fix: removing npmrc file []
  .circleci/config.yml
Labels: tools

#1608 fix: removing .npmrc to fix release step []
  .circleci/config.yml
  .npmrc
Labels: tools

#1609 fix: adjusting rich text plugin comment []
  packages/rich-text/src/plugins/Table/withInsertFragmentTableOverride.ts
Labels: package:rich-text

#1610 fix: triggering release for reference packages []
  packages/default-field-editors/src/FieldWrapper.tsx
  packages/reference/src/utils/fromFieldValidations.ts
  packages/rich-text/src/plugins/Table/withInsertFragmentTableOverride.ts
Labels: package:rich-text, package:default-field-editors, package:reference

#1614 chore: use new cross-space entity picker functions
  cypress/component/reference/MultipleResourceReferenceEditor.spec.tsx
  cypress/component/reference/SingleResourceReferenceEditor.spec.tsx
  packages/reference/src/resources/MultipleResourceReferenceEditor.spec.tsx
  packages/reference/src/resources/SingleResourceReferenceEditor.spec.tsx
  packages/reference/src/resources/testHelpers/resourceEditorHelpers.ts
  packages/reference/src/resources/useResourceLinkActions.ts
  packages/rich-text/src/plugins/Hyperlink/HyperlinkModal.tsx
  packages/rich-text/src/plugins/shared/EmbeddedBlockUtil.ts
  packages/rich-text/src/plugins/shared/EmbeddedInlineUtil.ts
  packages/rich-text/stories/RichTextEditor.stories.tsx
Labels: package:rich-text, package:reference, tests

#1565 test: [TOL-1361] Rich Text editor component tests
  .circleci/config.yml
  cypress.config.ts
  cypress/component/rich-text/README.md
  cypress/component/rich-text/RichTextEditor.Commands.spec.ts
  cypress/component/rich-text/RichTextEditor.EmbeddedAssetBlocks.spec.ts
  cypress/component/rich-text/RichTextEditor.EmbeddedEntryBlocks.spec.ts
  cypress/component/rich-text/RichTextEditor.EmbeddedEntryInlines.spec.ts
  cypress/component/rich-text/RichTextEditor.EmbeddedResourceBlocks.spec.ts
  cypress/component/rich-text/RichTextEditor.EmbeddedResourceInlines.spec.ts
  cypress/component/rich-text/RichTextEditor.HR.spec.ts
  cypress/component/rich-text/RichTextEditor.Headings.spec.ts
  cypress/component/rich-text/RichTextEditor.Links.spec.ts
  cypress/component/rich-text/RichTextEditor.Marks.spec.ts
  cypress/component/rich-text/RichTextEditor.Pasting.spec.ts
  cypress/component/rich-text/RichTextEditor.Quotes.spec.ts
  cypress/component/rich-text/RichTextEditor.Tables.spec.ts
  cypress/component/rich-text/RichTextEditor.Tracking.spec.ts
  cypress/component/rich-text/RichTextEditor.spec.ts
  cypress/component/rich-text/RichTextEscapeInlines.spec.ts
  cypress/component/rich-text/RichTextLists.spec.ts
  cypress/component/rich-text/RichTextPage.ts
  cypress/component/rich-text/document-mocks/documentWithLinks.js
  cypress/component/rich-text/document-mocks/googleDocs.js
  cypress/component/rich-text/document-mocks/msWordOnline.js
  cypress/component/rich-text/document-mocks/newLineEntityBlockListItem.js
  cypress/component/rich-text/document-mocks/normalizationWithoutValueChange.js
  cypress/component/rich-text/document-mocks/paragraphWithoutFormattings.js
  cypress/component/rich-text/document-mocks/pastingListItems.js
  cypress/component/rich-text/document-mocks/pastingListItemsConfersParent.js
  cypress/component/rich-text/document-mocks/validDocumentThatRequiresNormalization.js
  cypress/component/rich-text/fixtures/msWordOnline.js
  cypress/component/rich-text/getting-clipboard-data.gif
  cypress/component/rich-text/helpers.ts
  cypress/component/rich-text/pasting-into-test.gif
  cypress/component/rich-text/utils.tsx
  cypress/e2e/rich-text/RichTextPage.ts
  cypress/fixtures/createRichTextFakeSdk.ts
  cypress/fixtures/index.ts
  cypress/fixtures/utils.ts
  cypress/support/commands.js
  cypress/support/component.ts
  cypress/support/index.d.ts
  packages/_test/src/createFakeSpaceAPI.ts
  packages/_test/src/fakesFactory.ts
  packages/rich-text/src/__fixtures__/entry/changed_entry.json
  packages/rich-text/src/__fixtures__/entry/empty_entry.json
  packages/rich-text/src/__fixtures__/entry/published_entry.json
Labels: planned, tools, package:rich-text, package:_test, tests

#1615 fix: update status badge for scheduled entry [TOL-1801]
  packages/reference/src/entries/WrappedEntryCard/WrappedEntryCard.tsx
Labels: package:reference

#1617 test: [] Fix RTE component tests
  cypress/fixtures/createRichTextFakeSdk.ts
Labels: tests

#1616 chore: revert "fix: update status badge for scheduled entry (#1615)" [TOL-1801]
  packages/reference/src/entries/WrappedEntryCard/WrappedEntryCard.tsx
Labels: package:reference
