Repository contentful/field-editors, pull requests merged in 2024-12, with the labels that each got.

#1810 fix(reference): open function invocation error log in new window
  packages/reference/src/components/ResourceEntityErrorCard/FunctionInvocationErrorCard.tsx
Labels: package:reference

#1811 fix: show dropdown datepicker [ZEND-5711, ZEND-5710]
  packages/date/src/DatepickerInput.tsx
Labels: package:date

#1805 feat: single-line-editor add an optional prop to hide all validation messages [LUMOS-312]
  packages/single-line/src/SingleLineEditor.test.tsx
  packages/single-line/src/SingleLineEditor.tsx
  packages/single-line/stories/SingleLineEditor.stories.tsx
Labels: package:single-line

#1814 fix: rerender rich text when active locales change [TOL-2606]
  packages/rich-text/src/SdkProvider.tsx
  packages/rich-text/src/Toolbar/_tests_/toolbar.test.tsx
Labels: package:rich-text

#1813 chore: [] Clean up props
  packages/reference/src/assets/WrappedAssetCard/WrappedAssetCard.tsx
  packages/reference/src/entries/WrappedEntryCard/WrappedEntryCard.tsx
Labels: package:reference

#1815 style: remove console message [LUMOS-312]
  .eslintrc.js
  packages/single-line/src/SingleLineEditor.tsx
Labels: package:single-line

#1816 feat: properly handle isDisabled prop [BBEE-797]
  packages/markdown/src/MarkdownEditor.tsx
  packages/multiple-line/src/MultipleLineEditor.tsx
  packages/rich-text/src/RichTextEditor.tsx
Labels: package:rich-text, package:markdown, package:multiple-line
