Repository contentful/field-editors, pull requests merged in 2024-01, with the labels that each got.

#1567 chore: update f36 components [TOL-1721]
  package.json
  packages/reference/src/components/SpaceName/SpaceName.tsx
  yarn.lock
Labels: package:reference

#1568 refactor: hyperlink extract common logic [TOL-1637]
  packages/rich-text/src/plugins/Hyperlink/components/EntityHyperlink.tsx
  packages/rich-text/src/plugins/Hyperlink/components/ResourceHyperlink.tsx
  packages/rich-text/src/plugins/Hyperlink/components/UrlHyperlink.tsx
  packages/rich-text/src/plugins/Hyperlink/components/useHyperlinkCommon.tsx
Labels: package:rich-text

#1569 fix: cannot read properties of null (reading 'attributes') []
  packages/rich-text/src/plugins/Table/onKeyDownTable.ts
Labels: package:rich-text

#1579 chore: migrate to GitHub packages
  .circleci/config.yml
  .eslintrc.js
  .github/dependabot.yml
  package.json
  packages/.eslintrc.js
  packages/_shared/package.json
  packages/_shared/src/utils/entityHelpers.ts
  packages/_test/package.json
  packages/boolean/package.json
  packages/checkbox/package.json
  packages/date/package.json
  packages/default-field-editors/package.json
  packages/dropdown/package.json
  packages/json/package.json
  packages/list/package.json
  packages/location/package.json
  packages/markdown/package.json
  packages/markdown/src/utils/linkOrganizer.ts
  packages/multiple-line/package.json
  packages/number/package.json
  packages/radio/package.json
  packages/rating/package.json
  packages/reference/package.json
  packages/rich-text/package.json
  packages/rich-text/src/plugins/List/onKeyDownList.ts
  packages/single-line/package.json
  packages/slug/package.json
  packages/tags/package.json
  packages/url/package.json
  packages/validation-errors/package.json
  yarn.lock
Labels: tools, package:rich-text, package:boolean, package:checkbox, package:date, package:default-field-editors, package:dropdown, package:json, package:list, package:location, package:markdown, package:multiple-line, package:number, package:radio, package:rating, package:reference, package:single-line, package:slug, package:tags, package:url, package:validation-errors, package:_shared, package:_test

#1582 fix(rich-text): show the selected headline inside of lists
  cypress/e2e/rich-text/RichTextEditor.Headings.spec.ts
  packages/rich-text/src/plugins/Heading/components/ToolbarHeadingButton.tsx
Labels: package:rich-text, tests

#1585 chore(ci): publish a new patch for all packages
  .circleci/config.yml
Labels: tools

#1586 chore(ci): revert publishing to semantic one
  .circleci/config.yml
Labels: tools

#1587 chore: fix npm-github registry in dependabot.yml
  .github/dependabot.yml
Labels: tools
