Repository contentful/field-editors, pull requests merged in 2024-03, with the labels that each got.

#1598 feat: add rich text undo redo btns [TOL-1038]
  cypress/component/rich-text/RichTextEditor.Tables.spec.ts
  cypress/component/rich-text/RichTextEditor.spec.ts
  cypress/component/rich-text/RichTextPage.ts
  packages/rich-text/src/Toolbar/components/ButtonRedo.tsx
  packages/rich-text/src/Toolbar/components/ButtonUndo.tsx
  packages/rich-text/src/Toolbar/index.tsx
Labels: package:rich-text, tests

#1620 fix: editor focus [ZEND-4737]
  packages/rich-text/src/internal/hooks.ts
  packages/rich-text/src/plugins/Hyperlink/components/EntityHyperlink.tsx
  packages/rich-text/src/plugins/Hyperlink/components/LinkPopover.tsx
  packages/rich-text/src/plugins/Hyperlink/components/ResourceHyperlink.tsx
  packages/rich-text/src/plugins/Hyperlink/components/UrlHyperlink.tsx
  packages/rich-text/src/plugins/Hyperlink/components/useHyperlinkCommon.tsx
Labels: package:rich-text

#1621 feat: support external resources in resource links
  packages/reference/src/__fixtures__/resource-type/resource-type.json
  packages/reference/src/__fixtures__/resource/resource.json
  packages/reference/src/common/EntityStore.tsx
  packages/reference/src/resources/Cards/ResourceCard.spec.tsx
  packages/reference/src/resources/Cards/ResourceCard.tsx
  packages/reference/src/resources/ExternalResourceCard/ExternalResourceCard.tsx
  packages/reference/src/resources/MultipleResourceReferenceEditor.tsx
  packages/reference/src/resources/SingleResourceReferenceEditor.tsx
  packages/reference/src/types.ts
  packages/reference/src/utils/useSortIDs.ts
  packages/reference/stories/ExternalReferenceCard.stories.tsx
  packages/rich-text/src/plugins/EmbeddedResourceInline/FetchingWrappedResourceInlineCard.tsx
  packages/rich-text/src/plugins/EmbeddedResourceInline/LinkedResourceInline.tsx
  packages/rich-text/src/plugins/Hyperlink/useResourceEntityInfo.ts
  packages/rich-text/src/plugins/shared/LinkedBlockWrapper.tsx
  packages/rich-text/src/plugins/shared/LinkedInlineWrapper.tsx
  packages/rich-text/src/plugins/shared/utils.ts
Labels: package:rich-text, package:reference

#1622 feat: add card subtitle and Provider ID to the external card [DANTE-1407]
  packages/reference/src/__fixtures__/resource/resource.json
  packages/reference/src/resources/Cards/ResourceCard.spec.tsx
  packages/reference/src/resources/ExternalResourceCard/ExternalResourceCard.tsx
  packages/reference/stories/ExternalReferenceCard.stories.tsx
Labels: package:reference

#1625 feat: enable isSelected option on the external resource cards [DANTE-1329]
  packages/reference/src/resources/ExternalResourceCard/ExternalResourceCard.tsx
  packages/reference/stories/ExternalReferenceCard.stories.tsx
Labels: package:reference

#1628 feat: update external resource entity format
  packages/reference/src/types.ts
Labels: package:reference

#1627 test(richtext): use embed dialogs for testing the correct behaviour []
  .circleci/config.yml
  cypress.config.ts
  cypress/component/rich-text/RichTextEditor.Commands.spec.ts
  cypress/component/rich-text/RichTextEditor.EmbeddedAssetBlocks.spec.ts
  cypress/component/rich-text/RichTextEditor.EmbeddedEntryBlocks.spec.ts
  cypress/component/rich-text/RichTextEditor.EmbeddedEntryInlines.spec.ts
  cypress/component/rich-text/RichTextEditor.EmbeddedResourceBlocks.spec.ts
  cypress/component/rich-text/RichTextEditor.EmbeddedResourceInlines.spec.ts
  cypress/component/rich-text/RichTextEditor.HR.spec.ts
  cypress/component/rich-text/RichTextEditor.Headings.spec.ts
  cypress/component/rich-text/RichTextEditor.Links.spec.ts
  cypress/component/rich-text/RichTextEditor.Marks.spec.ts
  cypress/component/rich-text/RichTextEditor.Quotes.spec.ts
  cypress/component/rich-text/RichTextEditor.Tables.spec.ts
  cypress/component/rich-text/RichTextEditor.Tracking.spec.ts
  cypress/component/rich-text/RichTextEditor.spec.ts
  cypress/component/rich-text/RichTextLists.spec.ts
  cypress/component/rich-text/RichTextPage.ts
  cypress/component/rich-text/document-mocks/newLineEntityBlockListItem.js
  cypress/fixtures/createRichTextFakeSdk.tsx
  packages/rich-text/src/__fixtures__/fixtures.ts
  packages/rich-text/src/__fixtures__/resources/index.ts
Labels: tools, package:rich-text, tests

#1629 fix: remove paragraph tracking [TOL-1865]
  packages/rich-text/src/plugins/Heading/components/ToolbarHeadingButton.tsx
  packages/rich-text/src/plugins/Heading/createHeadingPlugin.ts
Labels: package:rich-text
