Repository contentful/field-editors, pull requests merged in 2024-10, with the labels that each got.

#1756 chore(dependencies): bumping plate packages and react version to 18 [TOL-2415]
  .circleci/config.yml
  apps/entry-app-collapsible/package.json
  apps/markdown-app/package.json
  apps/multiple-references-app/package.json
  apps/rich-text-app/package.json
  apps/singleline-app/package.json
  package.json
  packages/_shared/src/ModalDialogLauncher.tsx
  packages/date/src/TimepickerInput.tsx
  packages/reference/src/common/MultipleReferenceEditor.tsx
  packages/reference/src/common/SingleReferenceEditor.tsx
  packages/reference/src/resources/MultipleResourceReferenceEditor.tsx
  packages/rich-text/package.json
  packages/rich-text/src/helpers/editor.ts
  packages/rich-text/src/internal/types/editor.ts
  packages/rich-text/src/plugins/EmbeddedEntityBlock/LinkedEntityBlock.tsx
  packages/rich-text/src/plugins/EmbeddedEntityInline/LinkedEntityInline.tsx
  packages/rich-text/src/plugins/EmbeddedResourceBlock/LinkedResourceBlock.tsx
  packages/rich-text/src/plugins/EmbeddedResourceInline/LinkedResourceInline.tsx
  packages/rich-text/src/plugins/Hyperlink/components/EntityHyperlink.tsx
  packages/rich-text/src/plugins/Hyperlink/components/ResourceHyperlink.tsx
  packages/rich-text/src/plugins/Hyperlink/components/UrlHyperlink.tsx
  packages/rich-text/src/plugins/Table/createTablePlugin.ts
  packages/rich-text/src/test-utils/assertOutput.ts
  packages/rich-text/src/test-utils/createTestEditor.ts
  packages/rich-text/src/test-utils/index.ts
  packages/tags/src/TagsEditor.tsx
  yarn.lock
Labels: tools, package:rich-text, package:boolean, package:checkbox, package:date, package:default-field-editors, package:dropdown, package:json, package:list, package:location, package:markdown, package:multiple-line, package:number, package:radio, package:rating, package:reference, package:single-line, package:slug, package:tags, package:url, package:validation-errors, package:_shared, package:_test, app:entry-app-collapsible, app:markdown-app, app:multiple-references-app, app:rich-text-app, app:singleline-app

#1761 chore(dependencies): bumping forma everywhere []
  apps/entry-app-collapsible/package.json
  apps/markdown-app/package.json
  apps/multiple-references-app/package.json
  apps/rich-text-app/package.json
  apps/singleline-app/package.json
  package.json
  packages/_shared/package.json
  packages/_test/package.json
  packages/boolean/package.json
  packages/checkbox/package.json
  packages/date/package.json
  packages/default-field-editors/package.json
  packages/dropdown/package.json
  packages/json/package.json
  packages/list/package.json
  packages/location/package.json
  packages/markdown/package.json
  packages/multiple-line/package.json
  packages/number/package.json
  packages/radio/package.json
  packages/rating/package.json
  packages/reference/package.json
  packages/rich-text/package.json
  packages/single-line/package.json
  packages/slug/package.json
  packages/tags/package.json
  packages/url/package.json
  packages/validation-errors/package.json
  yarn.lock
Labels: package:rich-text, package:boolean, package:checkbox, package:date, package:default-field-editors, package:dropdown, package:json, package:list, package:location, package:markdown, package:multiple-line, package:number, package:radio, package:rating, package:reference, package:single-line, package:slug, package:tags, package:url, package:validation-errors, package:_shared, package:_test, app:entry-app-collapsible, app:markdown-app, app:multiple-references-app, app:rich-text-app, app:singleline-app

#1762 chore(dependencies): bumping storybook []
  .storybook/main.ts
  package.json
  packages/location/md/GOOGLEMAPKEY.md
  packages/location/src/LocationEditor.mdx
  packages/location/stories/LocationEditor.stories.tsx
  packages/rich-text/md/CODESNIPPET.md
  packages/rich-text/md/IMPORTSNIPPET.md
  packages/rich-text/src/RichTextEditor.mdx
  yarn.lock
Labels: package:rich-text, package:location

#1769 fix: use proper methods to fetch NER entities
  packages/reference/package.json
  packages/reference/src/common/EntityStore.tsx
  packages/reference/src/resources/Cards/ResourceCard.spec.tsx
  packages/reference/src/resources/ExternalResourceCard/ExternalResourceCard.tsx
  packages/reference/src/types.ts
  yarn.lock
Labels: package:reference

#1771 fix: reference-error by defining enum without declare [TOL-2454]
  packages/_shared/src/LocalePublishingEntityStatusBadge/ScheduledBanner.tsx
Labels: package:_shared

#1774 feat: bring useAsyncLocalePublishStatus function [TOL-2454]
  packages/_shared/package.json
  packages/_shared/src/FieldConnector.test.tsx
  packages/_shared/src/LocalePublishingEntityStatusBadge/LocalePublishingPopover.tsx
  packages/_shared/src/LocalePublishingEntityStatusBadge/LocalePublishingStatusList.tsx
  packages/_shared/src/hooks/useAsyncLocalePublishStatus.spec.tsx
  packages/_shared/src/hooks/useAsyncLocalePublishStatus.ts
  packages/_shared/src/index.tsx
  yarn.lock
Labels: package:_shared

#1773 feat: implement localized entity status badge in references [TOL-2454]
  packages/reference/src/assets/WrappedAssetCard/FetchingWrappedAssetCard.tsx
  packages/reference/src/assets/WrappedAssetCard/WrappedAssetCard.tsx
  packages/reference/src/assets/WrappedAssetCard/WrappedAssetLink.tsx
  packages/reference/src/common/customCardTypes.ts
  packages/reference/src/components/EntityStatusBadge/EntityStatusBadge.tsx
  packages/reference/src/entries/WrappedEntryCard/FetchingWrappedEntryCard.tsx
  packages/reference/src/entries/WrappedEntryCard/WrappedEntryCard.tsx
Labels: package:reference

#1775 feat: localized entity status in rich text [TOL-2454]
  packages/rich-text/src/plugins/shared/FetchingWrappedAssetCard.tsx
  packages/rich-text/src/plugins/shared/FetchingWrappedEntryCard.tsx
Labels: package:rich-text

#1776 refactor(Slug): remove z-index to prevent overlap [CFISO-1949]
  packages/slug/src/styles.ts
Labels: package:slug

#1777 fix: filter out experience entries [TOL-2503]
  packages/reference/src/components/CreateEntryLinkButton/CreateEntryMenuTrigger.spec.tsx
  packages/reference/src/components/CreateEntryLinkButton/CreateEntryMenuTrigger.tsx
Labels: package:reference

#1780 fix: prop control to filter out experience content types [TOL-2503]
  packages/reference/src/components/CreateEntryLinkButton/CreateEntryMenuTrigger.tsx
Labels: package:reference

#1782 feat(Rich Text Editor): add sticky offset property
  packages/rich-text/src/RichTextEditor.tsx
  packages/rich-text/src/Toolbar/components/StickyToolbarWrapper.tsx
Labels: package:rich-text

#1787 chore: remove unused e2e code for cypress [TOL-1868]
  cypress/plugins/index.ts
  cypress/support/e2e.js
Labels: tests

#1791 feat(rich-text): bump validation and renderer to latest version []
  package.json
  packages/rich-text/package.json
  packages/rich-text/src/test-utils/validation.ts
  packages/rich-text/stories/RichTextEditor.stories.tsx
  yarn.lock
Labels: package:rich-text
