Repository contentful/field-editors, pull requests merged in 2025-04, with the labels that each got.

#1852 fix(shared): base initial disabled state on `sdk.field.getIsDisabled()` [TOL-2914]
  packages/_shared/src/FieldConnector.test.tsx
  packages/_shared/src/FieldConnector.ts
  packages/reference/src/resources/testHelpers/resourceEditorHelpers.ts
Labels: package:reference, package:_shared

#1853 fix: disabled state for references [TOL-2914]
  cypress/component/reference/MultipleEntryReferenceEditor.spec.tsx
  cypress/component/reference/MultipleMediaEditor.spec.tsx
  cypress/component/reference/MultipleResourceReferenceEditor.spec.tsx
  cypress/component/reference/SingleResourceReferenceEditor.spec.tsx
  packages/reference/src/assets/WrappedAssetCard/AssetCardActions.tsx
  packages/reference/src/assets/WrappedAssetCard/WrappedAssetCard.tsx
  packages/reference/src/assets/WrappedAssetCard/WrappedAssetLink.tsx
  packages/reference/src/entries/WrappedEntryCard/WrappedEntryCard.tsx
  packages/reference/src/resources/MultipleResourceReferenceEditor.tsx
  packages/reference/src/resources/SingleResourceReferenceEditor.tsx
Labels: package:reference, tests

#1854 chore: change /apps codeowners to @contentful/team-marketplace []
  .github/CODEOWNERS
Labels: tools

#1856 feat: Improve Accessibility of field editors by enabling associating them with labels [UFO-1737]
  packages/boolean/src/BooleanEditor.tsx
  packages/boolean/stories/BooleanEditor.stories.tsx
  packages/dropdown/src/DropdownEditor.tsx
  packages/dropdown/stories/DropdownEditor.stories.tsx
  packages/list/src/ListEditor.tsx
  packages/list/stories/ListEditor.stories.tsx
  packages/multiple-line/src/MultipleLineEditor.tsx
  packages/multiple-line/stories/MultipleLineEditor.stories.tsx
  packages/number/src/NumberEditor.tsx
  packages/number/stories/NumberEditor.stories.tsx
  packages/single-line/src/SingleLineEditor.tsx
  packages/slug/src/SlugEditor.tsx
  packages/slug/src/SlugEditorField.tsx
  packages/slug/stories/SlugEditor.stories.tsx
  packages/tags/src/TagsEditor.tsx
  packages/tags/src/TagsEditorContainer.tsx
  packages/tags/stories/TagsEditor.stories.tsx
  packages/url/src/UrlEditor.tsx
  packages/url/stories/UrlEditor.stories.tsx
Labels: package:boolean, package:dropdown, package:list, package:multiple-line, package:number, package:single-line, package:slug, package:tags, package:url

#1859 fix: only import the used functions from lodash
  packages/_shared/src/LocalePublishingEntityStatusBadge/LocalePublishingStatusList.tsx
  packages/_shared/src/LocalePublishingEntityStatusBadge/ScheduledBanner.tsx
  packages/reference/src/common/useContentTypePermissions.ts
Labels: package:reference, package:_shared
