Repository contentful/field-editors, pull requests merged in 2025-02, with the labels that each got.

#1828 chore: use updated types from contentful-management
  packages/_shared/package.json
  packages/_shared/src/hooks/useLocalePublishStatus.spec.tsx
  packages/_shared/src/utils/entityHelpers.ts
  packages/_shared/stories/LocalePublishingStatus.stories.tsx
  packages/reference/package.json
  packages/reference/src/__fixtures__/entry/changed_entry.json
  packages/reference/src/__fixtures__/entry/empty_entry.json
  packages/reference/src/__fixtures__/entry/invalid_entry.json
  packages/reference/src/__fixtures__/entry/published_and_changed_entry.json
  packages/reference/src/__fixtures__/entry/published_entry.json
  packages/reference/src/__fixtures__/fixtures.ts
  yarn.lock
Labels: package:reference, package:_shared

#1822 feat(field-dialog): filter by locale [FUS-199]
  packages/reference/src/common/EntityStore.tsx
  packages/reference/src/resources/Cards/ResourceCard.tsx
  packages/reference/src/resources/MultipleResourceReferenceEditor.spec.tsx
  packages/reference/src/resources/SingleResourceReferenceEditor.spec.tsx
  packages/reference/src/resources/SingleResourceReferenceEditor.tsx
  packages/reference/src/resources/useResourceLinkActions.ts
  packages/rich-text/src/helpers/config.ts
  packages/rich-text/src/plugins/EmbeddedResourceInline/FetchingWrappedResourceInlineCard.tsx
  packages/rich-text/src/plugins/Hyperlink/HyperlinkModal.tsx
  packages/rich-text/src/plugins/shared/FetchingWrappedResourceCard.tsx
Labels: package:rich-text, package:reference

#1832 feat: [TOL-2595] Allow overriding error messages
  packages/validation-errors/src/ValidationErrors.tsx
Labels: package:validation-errors
