Repository contentful/field-editors, pull requests merged in 2025-07, with the labels that each got.

#1887 fix: overriding scrollselectionintoview to stop scrolling []
  packages/rich-text/src/RichTextEditor.tsx
  packages/rich-text/src/editor-overrides/index.ts
  packages/rich-text/src/editor-overrides/scroll-selection-into-view.ts
  packages/rich-text/src/internal/types/editor.ts
  yarn.lock
Labels: package:rich-text

#1892 fix: pass locale argument to ResourceCard [FUS-746]
  packages/reference/src/resources/MultipleResourceReferenceEditor.tsx
Labels: package:reference

#1893 feat: [PIC-330] Enable showing semantic suggestions when creating hyperlinks in Rich Text Editor
  cypress/component/rich-text/RichTextEditor.Links.spec.ts
  cypress/fixtures/createRichTextFakeSdk.tsx
  packages/rich-text/src/plugins/Hyperlink/HyperlinkModal.tsx
  packages/rich-text/src/plugins/Hyperlink/__tests__/recommendations-searchQuery.test.ts
Labels: package:rich-text, tests
