Repository contentful/field-editors, pull requests merged in 2025-01, with the labels that each got.

#1818 feat: permissions check for cross space reference editor [FUS-115]
  packages/reference/src/resources/MultipleResourceReferenceEditor.spec.tsx
  packages/reference/src/resources/MultipleResourceReferenceEditor.tsx
  packages/reference/src/resources/SingleResourceReferenceEditor.spec.tsx
  packages/reference/src/resources/SingleResourceReferenceEditor.tsx
  packages/reference/src/resources/useResourceLinkActions.ts
Labels: package:reference

#1819 fix: re-introduce apiUrl prop [FUS-115]
  packages/reference/src/resources/SingleResourceReferenceEditor.tsx
Labels: package:reference

#1821 fix(reference): infinite loop on permisson check for cross space references []
  packages/reference/src/common/useContentTypePermissions.ts
  packages/reference/src/common/useEditorPermissions.spec.ts
  packages/reference/src/common/useEditorPermissions.ts
Labels: package:reference

#1823 chore: bump contentful-management version to 11.41.0
  packages/_shared/package.json
  packages/reference/package.json
  yarn.lock
Labels: package:reference, package:_shared

#1825 test: [] Fix flaky tests
  cypress/component/rich-text/RichTextEditor.HR.spec.ts
  cypress/component/rich-text/RichTextEditor.Quotes.spec.ts
  cypress/component/rich-text/utils.tsx
Labels: tests

#1809 feat: 🤖 export react-query client instance with shared provider
  packages/reference/src/index.tsx
Labels: stale
