Repository contentful/field-editors, pull requests merged in 2025-03, with the labels that each got.

#1838 feat: use useActiveLocales hook instead of instance params [TOL-2887]
  packages/_shared/src/hooks/useActiveLocales.tsx
  packages/_shared/src/index.tsx
  packages/reference/src/assets/WrappedAssetCard/FetchingWrappedAssetCard.tsx
  packages/reference/src/entries/WrappedEntryCard/FetchingWrappedEntryCard.tsx
  packages/rich-text/src/SdkProvider.tsx
  packages/rich-text/src/plugins/shared/FetchingWrappedAssetCard.tsx
  packages/rich-text/src/plugins/shared/FetchingWrappedEntryCard.tsx
Labels: package:rich-text, package:reference, package:_shared

#1840 fix: dnd embedded entities in firefox [TOL-2460]
  packages/reference/src/assets/WrappedAssetCard/WrappedAssetCard.tsx
  packages/reference/src/entries/WrappedEntryCard/WrappedEntryCard.tsx
  packages/rich-text/src/plugins/shared/FetchingWrappedAssetCard.tsx
  packages/rich-text/src/plugins/shared/FetchingWrappedEntryCard.tsx
  packages/rich-text/src/plugins/shared/FetchingWrappedResourceCard.tsx
Labels: package:rich-text, package:reference

#1849 feat: update markdown editor force tab to open [BBEE-1138]
  packages/markdown/src/MarkdownEditor.tsx
  packages/markdown/src/components/MarkdownTabs.tsx
Labels: package:markdown

#1850 feat: update markdown editor force tab to open p2 [BBEE-1138]
  packages/markdown/src/MarkdownEditor.tsx
Labels: package:markdown
