Repository contentful/field-editors, pull requests merged in 2025-09, with the labels that each got.

#1924 feat: [TOL-3355] Add esm modules export
  packages/_shared/package.json
  packages/_shared/src/index.tsx
  packages/_test/package.json
  packages/boolean/package.json
  packages/checkbox/package.json
  packages/date/package.json
  packages/default-field-editors/package.json
  packages/dropdown/package.json
  packages/json/package.json
  packages/list/package.json
  packages/location/package.json
  packages/markdown/package.json
  packages/multiple-line/package.json
  packages/number/package.json
  packages/radio/package.json
  packages/rating/package.json
  packages/rich-text/package.json
  packages/single-line/package.json
  packages/slug/package.json
  packages/tags/package.json
  packages/url/package.json
  packages/validation-errors/package.json
Labels: package:rich-text, package:boolean, package:checkbox, package:date, package:default-field-editors, package:dropdown, package:json, package:list, package:location, package:markdown, package:multiple-line, package:number, package:radio, package:rating, package:single-line, package:slug, package:tags, package:url, package:validation-errors, package:_shared, package:_test

#1925 fix: [] File type import
  packages/_shared/src/index.tsx
Labels: package:_shared

#1926 fix: [] Import and export type fixes
  packages/reference/src/types.ts
Labels: package:reference

#1932 chore: unpin forma 36 components
  apps/entry-app-collapsible/package.json
  apps/markdown-app/package.json
  apps/multiple-references-app/package.json
  apps/rich-text-app/package.json
  apps/singleline-app/package.json
  package.json
  packages/_shared/package.json
  packages/_test/package.json
  packages/boolean/package.json
  packages/checkbox/package.json
  packages/date/package.json
  packages/default-field-editors/package.json
  packages/dropdown/package.json
  packages/json/package.json
  packages/list/package.json
  packages/location/package.json
  packages/markdown/package.json
  packages/multiple-line/package.json
  packages/number/package.json
  packages/radio/package.json
  packages/rating/package.json
  packages/reference/package.json
  packages/rich-text/package.json
  packages/single-line/package.json
  packages/slug/package.json
  packages/tags/package.json
  packages/url/package.json
  packages/validation-errors/package.json
  yarn.lock
Labels: package:rich-text, package:boolean, package:checkbox, package:date, package:default-field-editors, package:dropdown, package:json, package:list, package:location, package:markdown, package:multiple-line, package:number, package:radio, package:rating, package:reference, package:single-line, package:slug, package:tags, package:url, package:validation-errors, package:_shared, package:_test, app:entry-app-collapsible, app:markdown-app, app:multiple-references-app, app:rich-text-app, app:singleline-app

#1935 feat: support release aware references [TOL-3360]
  cypress/fixtures/FakeSdk.ts
  cypress/fixtures/createRichTextFakeSdk.tsx
  package.json
  packages/_shared/package.json
  packages/_shared/src/ReleaseEntityStatusBadge/ReleaseEntityStatusLocalesList.tsx
  packages/_shared/src/ReleaseEntityStatusBadge/ReleaseEntityStatusPopover.tsx
  packages/_shared/src/ReleaseEntityStatusBadge/constants.ts
  packages/_shared/src/hooks/useActiveReleaseLocalesStatuses.ts
  packages/_shared/src/hooks/useLocalePublishStatus.ts
  packages/_shared/src/hooks/useReleaseStatus.spec.ts
  packages/_shared/src/hooks/useReleaseStatus.ts
  packages/_shared/src/index.tsx
  packages/_shared/src/types.ts
  packages/_shared/src/utils/getPreviousReleaseEntity.ts
  packages/_shared/src/utils/parseReleaseParameters.ts
  packages/_shared/src/utils/sanitizeLocales.ts
  packages/markdown/src/__fixtures__/FakeSdk.ts
  packages/reference/package.json
  packages/reference/src/__fixtures__/FakeSdk.ts
  packages/reference/src/assets/WrappedAssetCard/FetchingWrappedAssetCard.tsx
  packages/reference/src/assets/WrappedAssetCard/WrappedAssetCard.tsx
  packages/reference/src/assets/WrappedAssetCard/WrappedAssetLink.tsx
  packages/reference/src/common/EntityStore.tsx
  packages/reference/src/common/customCardTypes.ts
  packages/reference/src/components/EntityStatusBadge/EntityStatusBadge.tsx
  packages/reference/src/entries/WrappedEntryCard/FetchingWrappedEntryCard.tsx
  packages/reference/src/entries/WrappedEntryCard/WrappedEntryCard.tsx
  packages/reference/src/resources/Cards/ResourceCard.spec.tsx
  packages/reference/src/resources/Cards/ResourceCard.tsx
  packages/rich-text/package.json
  packages/rich-text/src/__fixtures__/FakeSdk.ts
  packages/rich-text/src/plugins/shared/FetchingWrappedAssetCard.tsx
  packages/rich-text/src/plugins/shared/FetchingWrappedEntryCard.tsx
  packages/rich-text/src/plugins/shared/__tests__/FetchingWrappedAssetCard.test.tsx
  packages/rich-text/src/plugins/shared/__tests__/FetchingWrappedEntryCard.test.tsx
  packages/rich-text/src/plugins/shared/__tests__/FetchingWrappedResourceCard.test.tsx
  packages/rich-text/stories/RichTextEditor.stories.tsx
  packages/validation-errors/src/ValidationErrors.test.tsx
  yarn.lock
Labels: package:rich-text, package:markdown, package:reference, package:validation-errors, package:_shared, tests

#1940 fix(shared): handle remains draft correctly for release action [TOL-3393]
  packages/_shared/src/hooks/useReleaseStatus.ts
Labels: package:_shared

#1942 chore: add i18n to ReleaseEntityStatusBadge and ReleaseEntityStatusPopover [TOL-3432]
  packages/_shared/src/ReleaseEntityStatusBadge/ReleaseEntityStatusBadge.tsx
  packages/_shared/src/ReleaseEntityStatusBadge/ReleaseEntityStatusLocale.tsx
  packages/_shared/src/ReleaseEntityStatusBadge/ReleaseEntityStatusLocalesList.tsx
  packages/_shared/src/ReleaseEntityStatusBadge/ReleaseEntityStatusPopover.tsx
  packages/_shared/src/index.tsx
  packages/_shared/src/utils/getReleaseStatusBadgeConfig.ts
Labels: package:_shared

#1945 fix: improve rating field usability with trackpad [ZEND-6961]
  packages/rating/src/RatingEditor.spec.tsx
  packages/rating/src/RatingEditor.tsx
  packages/rating/src/RatingRibbon.tsx
Labels: package:rating

#1946 chore: [TOL-3461] add i18n when createReleaseLocaleStatus
  packages/_shared/src/hooks/useReleaseStatus.ts
  packages/_shared/src/utils/getReleaseStatusBadgeConfig.ts
Labels: package:_shared
