Repository contentful/field-editors, pull requests merged in 2025-06, with the labels that each got.

#1872 feat: enable read-only assets and reference cards [SPA-2702]
  packages/reference/src/assets/WrappedAssetCard/FetchingWrappedAssetCard.tsx
  packages/reference/src/assets/WrappedAssetCard/WrappedAssetCard.tsx
  packages/reference/src/assets/WrappedAssetCard/WrappedAssetLink.tsx
  packages/reference/src/common/MultipleReferenceEditor.tsx
  packages/reference/src/common/SingleReferenceEditor.tsx
  packages/reference/src/common/customCardTypes.ts
  packages/reference/src/entries/WrappedEntryCard/FetchingWrappedEntryCard.tsx
  packages/reference/src/entries/WrappedEntryCard/WrappedEntryCard.tsx
  packages/reference/stories/MultipleMediaEditor/MultipleMediaEditor.stories.tsx
  packages/reference/stories/SingleEntryReferenceEditor/SingleEntryReferenceEditor.stories.tsx
  packages/reference/stories/SingleMediaEditor/SingleMediaEditor.stories.tsx
Labels: package:reference

#1876 feat: release status in references [TOL-3103]
  packages/_shared/src/ReleaseEntityStatusBadge/ReleaseEntityStatusBadge.tsx
  packages/_shared/src/ReleaseEntityStatusBadge/ReleaseEntityStatusLocalesList.tsx
  packages/_shared/src/ReleaseEntityStatusBadge/ReleaseEntityStatusPopover.tsx
  packages/_shared/src/ReleaseEntityStatusBadge/index.ts
  packages/_shared/src/ReleaseEntityStatusBadge/types.ts
  packages/_shared/src/hooks/useActiveReleaseLocalesStatuses.spec.ts
  packages/_shared/src/hooks/useActiveReleaseLocalesStatuses.ts
  packages/_shared/src/index.tsx
  packages/_shared/src/types.ts
  packages/_shared/src/utils/getPreviousReleaseEntryVersion.ts
  packages/_shared/src/utils/parseReleaseParameters.ts
  packages/reference/src/common/customCardTypes.ts
  packages/reference/src/components/EntityStatusBadge/EntityStatusBadge.tsx
  packages/reference/src/entries/WrappedEntryCard/FetchingWrappedEntryCard.tsx
  packages/reference/src/entries/WrappedEntryCard/WrappedEntryCard.tsx
  yarn.lock
Labels: package:rich-text, package:reference, package:_shared

#1878 feat: pass correct params to show release status [TOL-3103]
  packages/_shared/src/hooks/useActiveReleaseLocalesStatuses.ts
  packages/_shared/src/utils/parseReleaseParameters.ts
  packages/rich-text/src/SdkProvider.tsx
  packages/rich-text/src/plugins/shared/FetchingWrappedEntryCard.tsx
Labels: package:rich-text, package:_shared

#1882 fix(list): listen for external value updates
  packages/list/src/ListEditor.spec.tsx
  packages/list/src/ListEditor.tsx
Labels: package:list

#1886 feat: show release action badge entry publishing [TOL-3103]
  packages/_shared/src/index.tsx
  packages/_shared/src/utils/determineReleaseAction.ts
  packages/_shared/src/utils/getEntryReleaseStatus.ts
  packages/reference/src/entries/WrappedEntryCard/FetchingWrappedEntryCard.tsx
  packages/rich-text/src/plugins/shared/FetchingWrappedEntryCard.tsx
Labels: package:rich-text, package:reference, package:_shared
